.p-orderlist {
    display: flex;
}

.p-orderlist-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-orderlist-list-container {
    flex: 1 1 auto;
}

.p-orderlist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    min-height: 12rem;
    max-height: 24rem;
}

.p-orderlist-item {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.p-orderlist-item[draggable=true] {
    cursor: move;
}

.p-orderlist.p-state-disabled .p-orderlist-item,
.p-orderlist.p-state-disabled .p-button {
    cursor: default;
}

.p-orderlist.p-state-disabled .p-orderlist-list {
    overflow: hidden;
}

.p-orderlist-filter {
    position: relative;
}

.p-orderlist-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
}

.p-orderlist-filter-input {
    width: 100%;
}

.p-orderlist-controls-right .p-orderlist-controls {
    order: 2;
}

.p-orderlist-controls-right .p-orderlist-list-container {
    order: 1;
}

.p-orderlist-droppoint {
    height: 6px;
}