.overlay-enter {
    animation: animate-overlay-enter 300ms cubic-bezier(.19,1,.22,1);
}

.overlay-leave {
    animation: animate-overlay-leave 300ms cubic-bezier(.19,1,.22,1);
}

@keyframes animate-overlay-enter {
    from {
        opacity: 0;
        transform: scale(0.93);
    }
}

@keyframes animate-overlay-leave {
    to {
        opacity: 0;
        transform: scale(0.93);
    }
}

.modal-enter {
    animation: animate-modal-enter 300ms;
}

.modal-leave {
    animation: animate-modal-leave 300ms;
}

@keyframes animate-modal-enter {
    from {
        background: transparent;
    }
    to {
        background: var(--p-mask-background)
    }
}
@keyframes animate-modal-leave {
    from {
        background: var(--p-mask-background)
    }
    to {
        background: transparent;
    }
}