.px-overlay-enter-active {
    animation: px-animate-overlay-enter 300ms cubic-bezier(.19,1,.22,1);
}

.px-overlay-leave-active {
    animation: px-animate-overlay-leave 300ms cubic-bezier(.19,1,.22,1);
}

@keyframes px-animate-overlay-enter {
    from {
        opacity: 0;
        transform: scale(0.93);
    }
}

@keyframes px-animate-overlay-leave {
    to {
        opacity: 0;
        transform: scale(0.93);
    }
}

.px-modal-enter {
    animation: px-animate-modal-enter 300ms;
}

.px-modal-leave {
    animation: px-animate-modal-leave 300ms;
}

@keyframes px-animate-modal-enter {
    from {
        background: transparent;
    }
    to {
        background: var(--p-mask-background)
    }
}
@keyframes px-animate-modal-leave {
    from {
        background: var(--p-mask-background)
    }
    to {
        background: transparent;
    }
}