html {
    font-size: 14px;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: "cv02","cv03","cv04","cv11";
    line-height: normal;
}

.material {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--ground-background);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout-wrapper {
    background-color: var(--ground-background);
}

a {
    text-decoration: none;
}

::selection {
    background-color: var(--selection-background);
    color: var(--selection-text-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: var(--high-contrast-text-color);

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .875rem;
}

p {
    line-height: 1.625;
    margin: 0 0 1rem 0;
}

.p-toast.p-toast-top-right,
.p-toast.p-toast-top-left {
    top: 7rem;
}

button {
    font-family: inherit;
    font-feature-settings: inherit;
}

textarea {
   resize: none;
}

.p-collapsible-enter {
    animation-name: p-animate-collapsible-enter;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}

.p-collapsible-leave {
    animation-name: p-animate-collapsible-leave;
    animation-duration: 450ms;
    animation-timing-function: cubic-bezier(0, 1, 0, 1);
}

.p-overlay-enter {
    animation-name: p-animate-overlay-enter;
    animation-duration: 120ms;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.p-overlay-leave {
    animation-name: p-animate-overlay-leave;
    animation-duration: 100ms;
    animation-timing-function: linear;
}

@keyframes p-animate-overlay-enter {
    from {
        opacity: 0;
        transform: scaleY(0.8);
    }
}

@keyframes p-animate-overlay-leave {
    to {
        opacity: 0;
    }
}

@keyframes p-animate-collapsible-enter {
    from {
        max-height: 0;
        overflow: hidden
    }
    to {
        max-height: 1000px;
    }
}

@keyframes p-animate-collapsible-leave {
    from {
        max-height: 1000px;
    }
    to {
        overflow: hidden;
        max-height: 0;
    }
}

.p-toggleable-content-enter-from,
    .p-toggleable-content-leave-to {
        max-height: 0;
    }

    .p-toggleable-content-enter-to,
    .p-toggleable-content-leave-from {
        max-height: 1000px;
    }

    .p-toggleable-content-leave-active {
        overflow: hidden;
        transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
    }

    .p-toggleable-content-enter-active {
        overflow: hidden;
        transition: max-height 1s ease-in-out;
    }
