.layout-sidebar {
    position: sticky;
    inset-inline-start: 0;
    top: 5.25rem;
    height: calc(100vh - 7.875rem);
    user-select: none;
    transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 0 0 250px;
    margin-inline-end: 3.5rem;
    overflow: auto;

    .logo {
        display: flex;
        justify-content: center;
    }

    nav {
        padding-block: 0;
        padding-inline: 0.875rem 0;
        margin: 0;
        flex-grow: 1;
    }

    .layout-menu {
        list-style: none;
        margin: 0;
        padding: 0;

        >li {
            margin-bottom: 0.219rem;

            >button,
            >a {
                display: flex;
                width: 100%;
                align-items: center;
                padding-block: 0.438rem;
                padding-inline: 1px;
                color: var(--text-color);
                font-weight: 500;
                transition: outline-color 0.2s;
                outline-color: transparent;
                position: relative;
                background: transparent;
                font-size: 0.875rem;
                border: 0 none;
                margin: 0;
                text-align: start;
                cursor: pointer;
                user-select: none;
                --p-focus-ring-offset: -1px;
                @include focus-visible();

                .menu-icon {
                    width: 1.75rem;
                    height: 1.75rem;
                    border-radius: 6px;
                    margin-inline-end: 0.438rem;
                    border: 1px solid var(--border-color);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .2s;
                    position: relative;
                    background-color: transparent;

                    i {
                        color: var(--text-color);
                        transition: all .2s;
                    }
                }

                .menu-toggle {
                    display: flex;
                    align-items: center;
                    gap: 0.438rem;
                    margin-inline-start: auto;

                    .p-tag {
                        position: static;
                        transform: none;
                    }
                }

                .menu-toggle-icon {
                    color: var(--text-secondary-color);
                }

                &:hover {
                    .menu-icon {
                        background-color: var(--card-background);

                        i {
                            color: var(--primary-text-color);
                        }
                    }

                    .menu-toggle-icon {
                        color: var(--text-color);
                    }
                }

                &.router-link-active {
                    color: var(--primary-text-color);

                    >.menu-icon {
                        i {
                            color: var(--primary-text-color);
                        }
                    }
                }
            }

            >div {
                overflow: hidden;

                ol {
                    margin-block: 0;
                    margin-inline: 0 0.875rem;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 1px;

                    li {
                        a {
                            transition: all .2s;
                            font-size: 0.875rem;
                            line-height: normal;
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                            height: 2rem;
                            padding-inline: 0.75rem;
                            border-radius: 8px;
                            color: var(--sidebar-item-color);
                            outline-color: transparent;
                            position: relative;
                            --p-focus-ring-offset: -1px;
                            @include focus-visible();

                            &:hover {
                                background-color: var(--sidebar-item-hover-background);
                            }

                            &.router-link-active {
                                background-color: var(--sidebar-item-hover-background);
                            }
                        }

                        ol {
                            margin: 0;
                            padding: 0;
                        }

                        &:has(.menu-child-category) {
                            margin-top: 1.75rem;
                        }

                        &:has(.menu-child-category):first-child {
                            margin-top: 0.5rem;
                        }
                    }
                }
            }
        }

        .p-tag {
            position: absolute;
            inset-inline-end: 0;
            top: 50%;
            transform: translateY(-50%);

            .p-tag-label {
                line-height: 1;
                font-size: 0.656rem;
            }
        }

        .menu-child-category {
            display: flex;
            padding: 0;
            padding-inline-start: 0.75rem;
            font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, monospace;
            font-size: 0.75rem;
            text-transform: uppercase;
            color: var(--sidebar-category-color);
            margin-bottom: 0.25rem;
        }
    }
}