.landing.layout-light {
  --home-highlight-color:#3B82F6;
  --home-highlight-darker-color:#2563eb;
  --home-highlight-fore-color:#ffffff;
  --home-bg:#F9FAFB;
  --home-border-color:rgba(0,0,0,.1);
  --home-primary-text-color:#030712;
  --home-secondary-text-color:#6b7280;
  --home-card-shadow:0px 7px 15px 0px rgba(0, 0, 0, 0.02), 0px 28px 28px 0px rgba(0, 0, 0, 0.02), 0px 63px 38px 0px rgba(0, 0, 0, 0.01);
  --home-box-bg:#ffffff;
  --home-linkbox-bg:#ffffff;
  --home-linkbox-border:1px solid rgba(0,0,0,.1);
  --home-linkbox-text-color:#030712;
  --home-linkbox-hover-bg:#e5e7eb;
  --home-blocks-bg:transparent;
  --home-blocks-block-bg:#ffffff;
  --home-blocks-block-shadow:-10px 4px 10px 0px rgba(0, 0, 0, .1), -10px 4px 25px rgba(0, 0, 0, .1);
  --home-blocks-border-left:5px solid rgba(0,0,0,.1);
  --home-blocks-border-bottom:7px solid rgba(0,0,0,.1);
  --home-blocks-border:1px solid rgba(0,0,0,.1);
  --home-blocks-sidebar-bg:#f3f4f6;
  --home-blocks-list-bg:#f9fafb;
  --home-blocks-main-bg:#ffffff;
  --home-blocks-main-border:1px solid rgba(0,0,0,.1);
  --home-blocks-item-bg:#f4f5f7;
  --home-blocks-image-bg:#e5e7eb;
  --home-blocks-text-color:#d1d5db;
  --home-blocks-active-shadow:0px 30px 50px 0px rgba(0, 0, 0, .1);
  --home-blocks-active-border-top:1px solid rgba(0,0,0,.07);
  --home-blocks-active-border-right:1px solid rgba(0,0,0,.07);
  --home-blocks-active-border-bottom:4px solid rgba(0,0,0,.07);
  --home-blocks-active-border-left:4px solid rgba(0,0,0,.07);
  --home-blocks-animation-shadow:0px 30px 50px 10px rgba(0, 0, 0, .2);
  --home-blocks-tablebar-bg:#d1d5db;
  --home-blocks-bar-bg:#d1d5db;
  --home-blocks-bar-button-bg:#ffffff;
  --home-blocks-circle-bg:#c7cad0;
  --home-templates-bg:transparent;
  --home-templates-block-shadow:0px 5px 10px 0px rgba(0,0,0,.1);
  --home-templates-block-border-left:5px solid #d1d5db;
  --home-templates-block-border-bottom:7px solid #d1d5db;
  --home-templates-line:rgba(0,0,0,.1);
  --home-templates-block-hover-bg:rgba(0, 0, 0, 0.2);
  --home-templates-btn-bg:rgba(0, 0, 0, 0.5);
  --home-templates-btn-text-color:#ffffff;
  --home-templates-btn-shadow:0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  --home-templates-btn-border-top:1px solid rgba(0,0,0,.1);
  --home-templates-btn-border-right:1px solid rgba(0,0,0,.1);
  --home-templates-btn-border-bottom:4px solid rgba(0,0,0,.1);
  --home-templates-btn-border-left:3px solid rgba(0,0,0,.1);
  --home-features-card-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.02), 0px 28px 28px 0px rgba(0, 0, 0, 0.02), 0px 63px 38px 0px rgba(0, 0, 0, 0.01);
  --home-box-ring-color: var(--primary-100);
}

.landing.layout-dark {
  --home-highlight-color:#60a5fa;
  --home-highlight-darker-color:#93c5fd;
  --home-highlight-fore-color:#030712;
  --home-bg:#111827;
  --home-border-color:#424b57;
  --home-primary-text-color:#ffffff;
  --home-secondary-text-color:rgba(255,255,255,.6);
  --home-card-shadow:0px 50px 100px rgba(0, 0, 0, 0.25);
  --home-box-bg:#1f2937;
  --home-linkbox-bg:rgba(255, 255, 255, .05);
  --home-linkbox-border:1px solid rgba(255, 255, 255, .1);
  --home-linkbox-text-color:#ffffff;
  --home-linkbox-hover-bg:rgba(255, 255, 255, .1);
  --home-blocks-bg:transparent;
  --home-blocks-block-bg:#111827;
  --home-blocks-block-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.25) , 0px 4px 25px rgba(0, 0, 0, 0.25);
  --home-blocks-border-left:5px solid #1f2937;
  --home-blocks-border-bottom:7px solid #1f2937;
  --home-blocks-border:1px solid #424b57;
  --home-blocks-sidebar-bg:#1f2937;
  --home-blocks-list-bg:#28323f;
  --home-blocks-main-bg:#111827;
  --home-blocks-main-border:1px solid #424b57;
  --home-blocks-item-bg:#1f2937;
  --home-blocks-image-bg:#28323f;
  --home-blocks-text-color:#4b5563;
  --home-blocks-active-shadow:0px 30px 50px 0px rgba(0, 0, 0, 0.25);
  --home-blocks-active-border-top:1px solid #424b57;
  --home-blocks-active-border-right:1px solid #424b57;
  --home-blocks-active-border-bottom:6px solid #424b57;
  --home-blocks-active-border-left:4px solid #424b57;
  --home-blocks-animation-shadow:0px 30px 50px 20px rgba(0, 0, 0, 0.25);
  --home-blocks-tablebar-bg:#4b5563;
  --home-blocks-bar-bg:#4b5563;
  --home-blocks-bar-button-bg:#ffffff;
  --home-blocks-circle-bg:#4b5563;
  --home-templates-bg:transparent;
  --home-templates-block-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  --home-templates-block-border-left:5px solid #424b57;
  --home-templates-block-border-bottom:7px solid #424b57;
  --home-templates-line:rgba(255,255,255,.1);
  --home-templates-block-hover-bg:rgba(255,255,255,.1);
  --home-templates-btn-bg:#1f2937;
  --home-templates-btn-text-color:#ffffff;
  --home-templates-btn-shadow:0px 10px 15px 0px rgba(0, 0, 0, 0.25);
  --home-templates-btn-border-top:1px solid #424b57;
  --home-templates-btn-border-right:1px solid #424b57;
  --home-templates-btn-border-bottom:4px solid #424b57;
  --home-templates-btn-border-left:3px solid #424b57;
  --home-features-card-shadow: none;
  --home-box-ring-color: rgba(96, 165, 250, 0.3);
}

.layout-light {
  --primary-color-default:var(--primary-600);
  --primary-color-inverse-default:var(--surface-0);
  --topbar-sticky-bg:rgba(255,255,255,.7);
  --card-border: 1px solid var(--surface-border);
  --card-bg: var(--surface-card);
  --glow-image: url(https://www.primefaces.org/cdn/primeng/images/layout/pattern.png);
  --glow-blend: hard-light, multiply;
  --topbar-border: rgba(0,0,0,.05);
  --mobile-menu-bg: var(--surface-overlay);
  --demo-code-bg: var(--surface-800);
  --demo-code-button-color: var(--surface-300);
  --demo-code-button-hover-bg: rgba(255,255,255,.1);
  --demo-code-button-hover-color: var(--surface-100);
  --doc-highlight-text-bg: var(--surface-200);
  --doc-highlight-text-color: var(--surface-700);
}

.layout-dark {
  --primary-color-default:var(--primary-400);
  --primary-color-inverse-default:var(--gray-900);
  --topbar-sticky-bg:rgba(0,0,0,.3);
  --card-border: 0 none;
  --card-bg: var(--surface-card);
  --glow-image: url(https://www.primefaces.org/cdn/primeng/images/layout/pattern.png), radial-gradient(50% 50% at center -25px, var(--primary-color) 0%, #000000 100%);
  --glow-blend: hard-light, color-dodge;
  --topbar-border: var(--surface-border);
  --mobile-menu-bg: rgba(0,0,0,.3);
  --demo-code-bg: var(--surface-card);
  --demo-code-button-color: var(--surface-500);
  --demo-code-button-hover-bg: rgba(255,255,255,.1);
  --demo-code-button-hover-color: var(--surface-700);
  --doc-highlight-text-bg: var(--surface-50);
  --doc-highlight-text-color: var(--surface-500);
}

html {
  font-size: 14px;
}

body {
  margin: 0px;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-wrapper {
  background-color: var(--surface-ground);
}

a {
  text-decoration: none;
}

::selection {
  background-color: var(--highlight-bg);
  color: var(--highlight-text-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: var(--surface-900);
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  line-height: 1.75;
  margin: 0 0 1rem 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.p-toast.p-toast-top-right,
.p-toast.p-toast-top-left {
  top: 7rem;
}

.px-link {
  font-size: 1rem;
  border-radius: var(--border-radius);
  text-align: left;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  user-select: none;
}
.px-link:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}

.px-link:disabled {
  cursor: default;
}

button {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings);
}

.landing, .layout-wrapper {
  background-image: var(--glow-image);
  background-blend-mode: var(--glow-blend);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 20rem;
}

.layout-topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - var(--scrollbar-width, 0px));
  z-index: 1100;
  transition: background-color 0.5s, border-color 0.5s;
  border-bottom: 1px solid transparent;
}
.layout-topbar.layout-topbar-sticky {
  border-bottom: 1px solid var(--surface-border);
  background-color: var(--topbar-sticky-bg);
  backdrop-filter: blur(8px);
}

.layout-topbar-inner {
  height: 4rem;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout-topbar-inner .layout-topbar-logo-container {
  width: 250px;
  margin-right: 4rem;
}
.layout-topbar-inner .layout-topbar-logo,
.layout-topbar-inner .layout-topbar-icon {
  border-radius: var(--border-radius);
}
.layout-topbar-inner .layout-topbar-logo:focus-visible,
.layout-topbar-inner .layout-topbar-icon:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}
.layout-topbar-inner .layout-topbar-logo svg,
.layout-topbar-inner .layout-topbar-icon svg {
  width: 120px;
}
.layout-topbar-inner .layout-topbar-logo {
  display: inline-flex;
}
.layout-topbar-inner .layout-topbar-logo svg {
  width: 120px;
}
.layout-topbar-inner .layout-topbar-icon {
  display: none;
}
.layout-topbar-inner .layout-topbar-icon svg {
  width: 25px;
}
.layout-topbar-inner .menu-button {
  display: none;
}

.layout-sidebar {
  position: sticky;
  left: 0;
  top: 6rem;
  height: calc(100vh - 9rem);
  user-select: none;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99), opacity 0.3s;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
  flex: 0 0 250px;
  margin-right: 4rem;
  overflow: auto;
}
.layout-sidebar .logo {
  display: flex;
  justify-content: center;
}
.layout-sidebar nav {
  padding: 0 1rem 0 0;
  margin: 0;
  flex-grow: 1;
}
.layout-sidebar .layout-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.layout-sidebar .layout-menu > li {
  margin-bottom: 0.25rem;
}
.layout-sidebar .layout-menu > li > button,
.layout-sidebar .layout-menu > li > a {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem 0;
  color: var(--surface-900);
  font-weight: 600;
  transition: all 0.2s;
  position: relative;
  border-radius: var(--border-radius);
}
.layout-sidebar .layout-menu > li > button .menu-icon,
.layout-sidebar .layout-menu > li > a .menu-icon {
  width: 2rem;
  height: 2rem;
  border-radius: var(--border-radius);
  margin-right: 0.5rem;
  border: 1px solid var(--surface-border);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  position: relative;
  background-color: transparent;
}
.layout-sidebar .layout-menu > li > button .menu-icon i,
.layout-sidebar .layout-menu > li > a .menu-icon i {
  color: var(--surface-700);
  transition: all 0.2s;
}
.layout-sidebar .layout-menu > li > button .menu-toggle-icon,
.layout-sidebar .layout-menu > li > a .menu-toggle-icon {
  color: var(--surface-700);
  margin-left: auto;
}
.layout-sidebar .layout-menu > li > button:hover .menu-icon,
.layout-sidebar .layout-menu > li > a:hover .menu-icon {
  background-color: var(--surface-card);
}
.layout-sidebar .layout-menu > li > button:hover .menu-icon i,
.layout-sidebar .layout-menu > li > a:hover .menu-icon i {
  color: var(--primary-color-default);
}
.layout-sidebar .layout-menu > li > button:hover .menu-toggle-icon,
.layout-sidebar .layout-menu > li > a:hover .menu-toggle-icon {
  color: var(--surface-900);
}
.layout-sidebar .layout-menu > li > button.router-link-active,
.layout-sidebar .layout-menu > li > a.router-link-active {
  color: var(--primary-color-default);
}
.layout-sidebar .layout-menu > li > button.router-link-active > .menu-icon i,
.layout-sidebar .layout-menu > li > a.router-link-active > .menu-icon i {
  color: var(--primary-color-default);
}
.layout-sidebar .layout-menu > li > button:focus-visible,
.layout-sidebar .layout-menu > li > a:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset var(--focus-ring);
}
.layout-sidebar .layout-menu > li > div ol {
  margin: 0 0 0 1rem;
  padding: 0.25rem 0;
  list-style: none;
}
.layout-sidebar .layout-menu > li > div ol li a {
  color: var(--surface-700);
  border-left: 1px solid var(--surface-border);
  transition: all 0.2s;
  font-weight: 450;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  color: var(--surface-700);
  transition: all 0.2s;
  position: relative;
}
.layout-sidebar .layout-menu > li > div ol li a:focus-visible {
  outline: 0 none;
  box-shadow: inset var(--focus-ring);
}
.layout-sidebar .layout-menu > li > div ol li a:hover {
  color: var(--surface-900);
  border-left-color: var(--surface-500);
}
.layout-sidebar .layout-menu > li > div ol li a.router-link-active {
  color: var(--primary-color-default);
  border-left-color: var(--primary-color-default);
}
.layout-sidebar .layout-menu > li > div ol li ol {
  margin: 0;
  padding: 0;
}
.layout-sidebar .layout-menu > li > div ol li:has(.menu-child-category) {
  margin-top: 1rem;
}
.layout-sidebar .layout-menu > li > div ol li:has(.menu-child-category):first-child {
  margin-top: 0rem;
}
.layout-sidebar .layout-menu .p-tag {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.layout-sidebar .layout-menu .p-tag .p-tag-value {
  line-height: 1;
}
.layout-sidebar .layout-menu .menu-child-category {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--surface-900);
  margin-bottom: 0.25rem;
}

.layout-content {
  padding: 6rem 4rem 0 4rem;
  display: flex;
}
.layout-content .layout-content-slot {
  flex: 1 1 auto;
  width: 1%;
  padding-top: 0.5rem;
}

.card {
  background: var(--surface-card);
  border: var(--card-border);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.layout-news {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  height: 2rem;
  padding: 0 2rem;
  background-color: var(--primary-color);
}
.layout-news .layout-news-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - var(--scrollbar-width, 0px));
  height: 100%;
}
.layout-news .layout-news-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0%;
}
.layout-news .layout-news-text {
  line-height: 1.5;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0%;
  font-weight: 500;
  color: var(--primary-color-text);
}
.layout-news .layout-news-link {
  margin-left: 0.5rem;
  line-height: 1.5;
  white-space: nowrap;
}
.layout-news .layout-news-link,
.layout-news .layout-news-link:visited,
.layout-news .layout-news-link:active {
  color: var(--primary-color-text);
  font-weight: 700;
}
.layout-news .layout-news-link:hover {
  text-decoration: underline;
}
.layout-news .layout-news-close {
  line-height: 1.5;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  transition: background-color 0.3s;
  margin-left: 0.5rem;
  color: var(--primary-color-text);
}
.layout-news .layout-news-close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.layout-news-active .layout-topbar {
  top: 2rem;
}
.layout-news-active .layout-sidebar,
.layout-news-active .doc-section-nav {
  top: 8rem;
}
.layout-news-active .layout-content {
  padding-top: 8rem;
}
.layout-news-active .doc-section-label,
.layout-news-active .doc-table tbody td .doc-option-name,
.layout-news-active .doc-table tbody td > i {
  scroll-margin-top: 8.5rem;
}

.layout-footer {
  padding: 2rem 4rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 500;
  color: var(--text-800);
  border-top: 1px solid var(--surface-border);
}
.layout-footer a {
  color: var(--primary-color);
  font-weight: 700;
  transition: all 0.3s;
  border-radius: var(--border-radius);
}
.layout-footer a:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}
.layout-footer a:hover {
  text-decoration: underline;
}

.layout-config {
  backdrop-filter: blur(20px);
  background-color: var(--mobile-menu-bg);
}
.layout-config .p-selectbutton .p-button {
  padding: 0.5rem 1rem;
}
.layout-config .p-selectbutton .p-button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.layout-config .p-selectbutton .p-button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.layout-config button:focus-visible {
  outline: 0 none;
  border-color: var(--surface-500) !important;
}
.layout-config .grid > div {
  padding: 1rem;
}
.layout-config .p-inputswitch .p-inputswitch-slider {
  border-radius: 30px;
}
.layout-config .p-inputswitch .p-inputswitch-slider:before {
  border-radius: 30px;
}

.layout-light .layout-config {
  background: var(--surface-overlay);
}

.layout-dark .layout-config {
  background: var(rgba(0, 0, 0, 0.3));
  border: 0 none;
}

code[class*=language-],
pre[class*=language-] {
  background: none;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

div.code-toolbar > .toolbar {
  display: none;
}

pre[class*=language-] {
  position: relative;
  background: transparent;
  margin: 0;
  padding: 0;
  max-height: 40rem;
  overflow: auto;
  color-scheme: dark;
}
pre[class*=language-]:before, pre[class*=language-]:after {
  display: none !important;
}
pre[class*=language-] code {
  border-left: 1rem solid transparent;
  box-shadow: none;
  margin: 0;
  font-size: 14px;
  border-radius: 10px;
  color: #ffffff;
  max-height: inherit;
  height: inherit;
  padding: 0 1rem;
  display: block;
  overflow: auto;
}
pre[class*=language-] code .token.comment,
pre[class*=language-] code .token.block-comment,
pre[class*=language-] code .token.prolog,
pre[class*=language-] code .token.doctype,
pre[class*=language-] code .token.cdata {
  color: #bbf7d0;
}
pre[class*=language-] code .token.punctuation {
  color: #bfdbfe;
}
pre[class*=language-] code .token.property,
pre[class*=language-] code .token.tag,
pre[class*=language-] code .token.boolean,
pre[class*=language-] code .token.number,
pre[class*=language-] code .token.function-name,
pre[class*=language-] code .token.constant,
pre[class*=language-] code .token.symbol,
pre[class*=language-] code .token.deleted {
  color: #93c5fd;
}
pre[class*=language-] code .token.selector,
pre[class*=language-] code .token.attr-name,
pre[class*=language-] code .token.string,
pre[class*=language-] code .token.char,
pre[class*=language-] code .token.function,
pre[class*=language-] code .token.builtin,
pre[class*=language-] code .token.inserted {
  color: #eff6ff;
}
pre[class*=language-] code .token.operator,
pre[class*=language-] code .token.entity,
pre[class*=language-] code .token.url,
pre[class*=language-] code .token.variable {
  color: #ffffff;
}
pre[class*=language-] code .token.atrule,
pre[class*=language-] code .token.attr-value,
pre[class*=language-] code .token.keyword,
pre[class*=language-] code .token.class-name {
  color: #bbf7d0;
}
pre[class*=language-] code .token.regex,
pre[class*=language-] code .token.important {
  color: #fde68a;
}
pre[class*=language-] code .language-css .token.string,
pre[class*=language-] code .style .token.string {
  color: #fde68a;
}
pre[class*=language-] code .token.important {
  font-weight: normal;
}
pre[class*=language-] code .token.bold {
  font-weight: bold;
}
pre[class*=language-] code .token.italic {
  font-style: italic;
}
pre[class*=language-] code .token.entity {
  cursor: help;
}

.copy-to-clipboard-button {
  display: none;
}

pre[class*=language-] code {
  background: var(--demo-code-bg);
}

.layout-light[data-p-theme^=md] pre[class*=language-] code {
  background: var(--surface-900);
}

.doc-tabmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 2rem;
  overflow: auto;
  position: relative;
}
.doc-tabmenu:after {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid var(--surface-border);
  content: "";
}
.doc-tabmenu li {
  position: relative;
  z-index: 1;
}
.doc-tabmenu li button {
  background-color: transparent;
  border: 0 none;
  display: block;
  padding: 0 2rem 1rem 2rem;
  text-align: center;
  color: var(--surface-700);
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 0;
  transition: all 0.2s;
  border-bottom: 1px solid transparent;
  border-top-right-radius: var(--border-round);
  border-top-left-radius: var(--border-round);
  white-space: nowrap;
}
.doc-tabmenu li button:hover {
  border-bottom-color: var(--surface-500);
}
.doc-tabmenu li button:focus {
  outline: 0 none;
}
.doc-tabmenu li button:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}
.doc-tabmenu li.doc-tabmenu-active button {
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}
.doc-tabmenu::-webkit-scrollbar {
  display: none;
}

.doc-tabpanel,
.doc {
  display: flex;
}

.doc-main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 0;
}

.doc-intro {
  margin-bottom: 1.5rem;
}
.doc-intro p {
  font-size: 1.125rem;
  color: var(--surface-900);
  margin: 0;
}

.doc-section-label {
  display: flex;
  align-items: center;
  scroll-margin-top: 6.5rem;
}
.doc-section-label > a {
  color: var(--primary-color);
  opacity: 0.7;
  margin-left: 1rem;
  display: none;
  transition: all 0.2s;
  border-radius: var(--border-radius);
}
.doc-section-label > a:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}
.doc-section-label:hover > a {
  display: block;
}
.doc-section-label:hover > a:hover {
  opacity: 1;
}

.doc-section-description > p {
  font-size: 1.125rem;
  color: var(--surface-900);
}
.doc-section-description > p i {
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  background-color: var(--doc-highlight-text-bg);
  color: var(--doc-highlight-text-color);
}
.doc-section-description > p a {
  color: var(--primary-color);
  font-weight: 500;
  transition: all 0.2s;
  border-radius: var(--border-radius);
}
.doc-section-description > p a:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}
.doc-section-description > p a:hover {
  text-decoration: underline;
}
.doc-section-description .notification {
  line-height: 1.5;
  padding: 1rem;
  font-weight: 500;
  border-radius: 10px;
  background-color: var(--doc-highlight-text-bg);
  color: var(--doc-highlight-text-color);
}

.doc-section-nav {
  position: sticky;
  top: 6rem;
  right: 0;
  width: 14rem;
  max-height: calc(100vh - 15rem);
  list-style: none;
  margin: 0;
  padding: 0.25rem 0;
  margin-left: 4rem;
  overflow-y: auto;
  overflow-x: hidden;
  align-self: flex-start;
}
.doc-section-nav > .navbar-item .navbar-item-content {
  border-left: 1px solid var(--surface-border);
  padding-left: 0.25rem;
  transition: all 0.2s;
}
.doc-section-nav > .navbar-item .navbar-item-content:hover {
  border-left-color: var(--surface-500);
}
.doc-section-nav .navbar-item > .navbar-item-content {
  display: flex;
}
.doc-section-nav .navbar-item > .navbar-item-content .px-link {
  padding: 0.25rem 1rem 0.25rem 1rem;
  color: var(--surface-800);
  font-weight: 400;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s;
}
.doc-section-nav .navbar-item > .navbar-item-content:hover .px-link {
  color: var(--surface-900);
}
.doc-section-nav .navbar-item.active-navbar-item > .navbar-item-content {
  border-color: var(--primary-color);
}
.doc-section-nav .navbar-item.active-navbar-item > .navbar-item-content .px-link {
  color: var(--primary-color);
}
.doc-section-nav .navbar-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.doc-section-nav .navbar-item ul .navbar-item .navbar-item-content {
  padding-left: 1rem;
}

.doc-section-code {
  position: relative;
}
.doc-section-code div::-webkit-scrollbar {
  width: 5px;
}
.doc-section-code:not(:last-child) {
  margin-bottom: 1rem;
}
.doc-section-code:hover .doc-section-code-buttons {
  display: flex;
}

.doc-section-code-buttons {
  position: absolute;
  align-items: center;
  justify-content: end;
  z-index: 1;
  top: 0.75rem;
  right: 0.75rem;
  gap: 0.5rem;
  display: none;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 2px;
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.doc-section-code-buttons button {
  outline: 0 none;
  border-radius: 8px;
  outline-offset: 0;
  background-color: transparent;
  transition: background-color 0.2s, box-shadow 0.2s;
  border: 0 none;
  color: var(--demo-code-button-color);
  cursor: pointer;
}
.doc-section-code-buttons button:hover {
  background-color: var(--demo-code-button-hover-bg);
  color: var(--demo-code-button-hover-color);
}
.doc-section-code-buttons button.code-active {
  color: #bbf7d0;
}

.doc-section-code-tooltip .p-tooltip-text {
  padding: 0.5rem;
  font-size: 11px;
}

.doc-tablewrapper {
  overflow: auto;
}

.doc-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 960px;
  margin-bottom: 1.5rem;
}
.doc-table th {
  border-bottom: 1px solid var(--surface-border);
  padding: 0.75rem 1rem;
  text-align: left;
  text-transform: capitalize;
}
.doc-table tbody tr:hover {
  background: var(--surface-hover);
}
.doc-table tbody td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--surface-border);
  white-space: pre-line;
  line-height: 1.5;
  scroll-margin-top: 6.5rem;
}
.doc-table tbody td:first-child {
  color: var(--primary-color);
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
  font-weight: 600;
}
.doc-table tbody td .doc-option-type {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
  color: var(--primary-500);
  font-weight: 500;
}
.doc-table tbody td .doc-option-type .doc-option-type-options-container {
  display: flex;
  align-items: center;
}
.doc-table tbody td .doc-option-type span.doc-option-type-options {
  color: var(--primary-700);
}
.doc-table tbody td .doc-option-type.doc-option-link:hover {
  text-decoration: underline;
}
.doc-table tbody td .doc-option-name,
.doc-table tbody td > i:not(.pi) {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
  position: relative;
  scroll-margin-top: 6.5rem;
  background-color: var(--doc-highlight-text-bg);
  color: var(--doc-highlight-text-color);
  border-radius: 6px;
  padding: 2px 6px;
  font-weight: 600;
  font-style: normal;
  white-space: nowrap;
}
.doc-table tbody td .doc-option-name .doc-option-link,
.doc-table tbody td > i:not(.pi) .doc-option-link {
  position: absolute;
  top: 0;
  right: -1.5rem;
  color: var(--primary-color);
  opacity: 0.7;
  display: none;
  transition: opacity 0.3s, colors 0.3s;
}
.doc-table tbody td:hover .doc-option-name .doc-option-link {
  display: inline;
}
.doc-table tbody td:hover .doc-option-name .doc-option-link:hover {
  opacity: 1;
}
.doc-table tbody td .doc-option-default,
.doc-table tbody td .doc-option-returnType {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
  font-weight: 400;
  font-style: normal;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 2px 6px;
  max-width: min-content;
}
.doc-table tbody td .doc-option-parameter-name {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
  color: var(--primary-700);
}
.doc-table tbody td .doc-option-parameter-type {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
  color: var(--primary-500);
}
.doc-table tbody td .doc-option-params {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
}
.doc-table tbody td .doc-option-light {
  background: var(--bluegray-50);
  border-color: var(--bluegray-100);
}
.doc-table tbody td .doc-option-dark {
  background: var(--bluegray-800);
  border-color: var(--bluegray-800);
}

.DocSearch-Button {
  border-radius: var(--border-radius);
  border: 1px solid var(--surface-border);
  height: 2rem;
  background-color: var(--surface-card);
  margin: 0;
  transition: all 0.3s;
  padding: 0 0.5rem;
}
.DocSearch-Button:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}
.DocSearch-Button:hover {
  border-color: var(--primary-color);
}
.DocSearch-Button:hover {
  border-color: var(--primary-color);
  box-shadow: none;
}
.DocSearch-Button .DocSearch-Search-Icon {
  width: 1rem;
  height: 1rem;
}
.DocSearch-Button .DocSearch-Button-Keys {
  overflow: hidden;
  min-width: auto;
  height: auto;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0;
  gap: 2px;
}
.DocSearch-Button .DocSearch-Button-Keys .DocSearch-Button-Key {
  background: transparent;
  display: flex;
  padding: 0;
  margin: 0;
  top: 0;
  border-radius: 0;
  height: auto;
  width: auto;
  font-family: var(--font-family);
}
.DocSearch-Button .DocSearch-Button-Keys .DocSearch-Button-Key:first-child {
  font-size: 0.75rem;
  line-height: normal;
}
.DocSearch-Button .DocSearch-Button-Keys .DocSearch-Button-Key:last-child {
  justify-content: start;
  align-items: center;
  font-size: 0.75rem;
  position: relative;
}
.DocSearch-Button .DocSearch-Button-Keys .DocSearch-Button-Key:last-child::before {
  content: "\e90d";
  display: flex;
  color: var(--text-color);
  font-family: "primeicons";
  font-size: 0.4rem;
  opacity: 0.7;
  margin-right: 2px;
  height: 13.5px;
  align-items: center;
  font-weight: 700;
}

.DocSearch-Container {
  z-index: 1101;
}

.DocSearch-Modal {
  border: 1px solid var(--surface-border);
  box-shadow: none;
}

.DocSearch-Footer {
  box-shadow: none;
  border-top: 1px solid var(--surface-border);
  background-color: var(--surface-overlay);
}

.DocSearch-Form {
  background: var(--surface-card);
  box-shadow: none;
  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
  transition: border-color 0.3s;
}
.DocSearch-Form:hover {
  border-color: var(--primary-color);
}
.DocSearch-Form .DocSearch-MagnifierLabel, .DocSearch-Form .DocSearch-Reset {
  color: var(--text-color);
}

.DocSearch-Hit {
  border-bottom: 1px solid var(--surface-border);
  padding-bottom: 0;
  margin-bottom: 0.25rem;
}

.DocSearch-Hit-source {
  color: var(--primary-color);
}

.DocSearch-Logo .cls-1, .DocSearch-Logo .cls-2 {
  fill: var(--primary-color);
}

.DocSearch-Prefill {
  color: var(--primary-color);
}

.DocSearch-Button-Placeholder {
  text-align: center;
  display: inline-block;
  font-size: 0.875rem;
}

:root {
  --docsearch-searchbox-focus-background: var(--surface-card);
  --docsearch-text-color: var(--text-color);
  --docsearch-muted-color: var(--text-color);
  --docsearch-searchbox-background: var(--surface-card);
  --docsearch-text-color: var(--text-color);
  --docsearch-modal-background: var(--surface-overlay);
  --docsearch-key-gradient: var(--surface-ground);
  --docsearch-key-shadow: none;
  --docsearch-container-background: var(--maskbg);
  --docsearch-hit-background: var(--surface-overlay);
  --docsearch-hit-shadow: none;
  --docsearch-spacing: 1rem;
  --docsearch-hit-color: var(--text-color);
  --docsearch-highlight-color: var(--primary-color);
  --docsearch-hit-active-color: var(--primary-color-text);
}

@media screen and (min-width: 1920px) {
  .layout-content {
    max-width: 1728px;
    margin: 0 auto;
  }

  .layout-topbar-inner,
.layout-footer {
    max-width: 1728px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) {
  .layout-topbar-inner {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .layout-topbar-inner .menu-button {
    display: block;
  }
  .layout-topbar-inner .layout-topbar-logo-container {
    width: auto;
    margin-right: 0;
  }
  .layout-topbar-inner .DocSearch-Button {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .layout-topbar-inner .DocSearch-Button .DocSearch-Search-Icon {
    width: 1rem;
    height: 1rem;
  }
  .layout-topbar-inner .DocSearch-Button .DocSearch-Button-Placeholder,
.layout-topbar-inner .DocSearch-Button .DocSearch-Button-Keys {
    display: none;
  }

  .layout-sidebar {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1102;
    height: 100%;
    transform: translateX(-100%);
    background-color: var(--mobile-menu-bg);
    backdrop-filter: blur(20px);
    width: 300px;
    opacity: 0;
  }
  .layout-sidebar nav {
    padding: 1rem 1rem;
  }
  .layout-sidebar.active {
    opacity: 1;
    transform: translateX(0);
  }

  .layout-news-active .layout-sidebar {
    top: 0;
  }

  .layout-mask {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .layout-mask.layout-mask-active {
    z-index: 1101;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.5s;
  }

  .doc-section-nav {
    display: none;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .layout-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .layout-footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .blocked-scroll {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
  }
}
@media (max-width: 768px) {
  .DocSearch-Container {
    position: fixed !important;
  }
}
@media screen and (max-width: 575px) {
  .layout-topbar-inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .layout-topbar-inner .layout-topbar-logo {
    display: none;
  }
  .layout-topbar-inner .layout-topbar-icon {
    display: inline-flex;
  }

  .layout-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .layout-footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .doc-tabmenu li {
    flex: 1 1 0;
  }
  .doc-tabmenu li button {
    width: 100%;
    min-width: auto;
  }

  .layout-news {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 12px;
  }
  .layout-news > i {
    display: none;
  }
}
.landing {
  background-color: var(--home-bg);
  scroll-behavior: smooth;
  padding-top: 4rem;
}
.landing .box {
  border: 1px solid var(--home-border-color);
  border-radius: 10px;
  background-color: var(--home-box-bg);
  position: relative;
  z-index: 0;
}
.landing .box::before, .landing .box::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid var(--home-box-ring-color);
  transition: all 0.5s;
  animation: clippath 3s infinite linear;
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
}
.landing .box::after {
  animation: clippath 3s infinite -1.5s linear;
}
.landing .box:hover::before, .landing .box:hover::after {
  opacity: 1;
}
@keyframes clippath {
  0%, 100% {
    clip-path: inset(0 0 98% 0);
  }
  25% {
    clip-path: inset(0 98% 0 0);
  }
  50% {
    clip-path: inset(98% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 98%);
  }
}

.landing .section-header {
  font-size: 2rem;
  color: var(--home-primary-text-color);
  font-weight: 700;
  text-align: center;
  padding: 0 2rem;
}
.landing .section-detail {
  text-align: center;
  color: var(--home-secondary-text-color);
  font-weight: 500;
  font-size: 1.25rem;
  margin: 1.5rem 0 0 0;
  padding: 0 2rem;
}
.landing .section-divider {
  border: 1px solid var(--home-border-color);
  height: 1px;
  border-bottom: 0 none;
  overflow: hidden;
}
.landing.layout-news-active {
  padding-top: 6rem;
}

.text-secondary {
  color: var(--home-secondary-text-color);
}

.hover\:surface-hover:hover {
  background-color: var(--surface-hover);
}

.landing-footer-container {
  max-width: 1250px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.animated-text {
  position: relative;
  color: var(--home-text-color);
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  display: inline-block;
  width: 14.45rem;
}
.animated-text::before {
  border-radius: var(--border-radius);
  animation: color-animation 2s linear infinite;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  content: "";
  width: 14.45rem;
  height: 1.5rem;
  position: absolute;
  z-index: 0;
  background-image: linear-gradient(-225deg, var(--blue-400) 30%, var(--cyan-400) 60%, var(--purple-400) 80%);
  filter: blur(24px);
  opacity: 0.6;
}
.animated-text > span {
  position: relative;
  z-index: 3;
  background-image: linear-gradient(-225deg, var(--blue-400) 30%, var(--cyan-400) 60%, var(--purple-400) 80%);
  animation: color-animation 2s linear infinite;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes color-animation {
  40%, 100% {
    background-position: -200% center;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 3rem));
  }
}
.landing-hero .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background: transparent;
}
.landing-hero .box {
  box-shadow: var(--home-card-shadow);
}

@media screen and (min-width: 1660px) {
  .landing-hero {
    width: 1504px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.landing-users .fade-right {
  background: linear-gradient(to left, var(--home-bg), transparent);
}
.landing-users .fade-left {
  background: linear-gradient(to right, var(--home-bg), transparent);
}
.landing-users .section-detail {
  max-width: 1250px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.landing-users .users-container {
  max-width: 1250px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.landing-users .users-container .marquee-wrapper {
  user-select: none;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.landing-users .users-container .marquee {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  min-width: 100%;
  animation: scroll 30s linear infinite;
}
.landing-users .users-container .marquee > div {
  max-width: clamp(10rem, 1rem + 28vmin, 20rem);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}
.landing-users .users-container .marquee.marquee-reverse {
  animation-direction: reverse;
  animation-delay: -15s;
}

.landing-getstarted .download-icon {
  color: var(--home-highlight-color);
}
.landing-getstarted .download-box span {
  color: var(--home-primary-text-color);
}

.landing-themes .table-container {
  width: 1250px;
  box-shadow: var(--home-card-shadow);
}

.landing-blocks {
  background: var(--home-blocks-bg);
}
.landing-blocks * {
  box-sizing: content-box;
}
.landing-blocks .prime-blocks {
  transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
  margin: -12rem 0;
}
.landing-blocks .prime-blocks.blocks-animation .prime-block .block-sidebar,
.landing-blocks .prime-blocks.blocks-animation .prime-block .block-header,
.landing-blocks .prime-blocks.blocks-animation .prime-block .block-sidebar-list,
.landing-blocks .prime-blocks.blocks-animation .prime-block .block-content {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.landing-blocks .prime-blocks .prime-block {
  background: var(--home-blocks-block-bg);
  box-shadow: var(--home-blocks-block-shadow);
  border-left: var(--home-blocks-border-left);
  border-bottom: var(--home-blocks-border-bottom);
  border-radius: 10px;
  height: 300px;
  width: 600px;
  position: relative;
  z-index: 1;
  margin: 15px;
  transition: opacity 1.3s, transform 1.3s;
}
.landing-blocks .prime-blocks .prime-block .block-sidebar,
.landing-blocks .prime-blocks .prime-block .block-header,
.landing-blocks .prime-blocks .prime-block .block-sidebar-list,
.landing-blocks .prime-blocks .prime-block .block-content {
  transition: opacity 1.3s, transform 1.3s;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
}
.landing-blocks .prime-blocks .prime-block:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  border: var(--home-blocks-border);
}
.landing-blocks .prime-blocks .prime-block .block-sidebar,
.landing-blocks .prime-blocks .prime-block .block-header {
  background: var(--home-blocks-sidebar-bg);
  border-radius: 6px;
}
.landing-blocks .prime-blocks .prime-block .block-sidebar-list {
  background: var(--home-blocks-list-bg);
}
.landing-blocks .prime-blocks .prime-block .block-content .block-main {
  border: var(--home-blocks-main-border);
  border-radius: 13px;
  background: var(--home-blocks-main-bg);
}
.landing-blocks .prime-blocks .block-item {
  background: var(--home-blocks-item-bg);
  border-radius: 6px;
  padding: 1rem;
  transition: transform 1s, box-shadow 1s;
  overflow: hidden;
  transform: translateY(0);
}
.landing-blocks .prime-blocks .block-item .box {
  border-radius: 4px;
  width: 14px;
  height: 14px;
}
.landing-blocks .prime-blocks .block-item .box.box-orange {
  background-color: #F57C00;
}
.landing-blocks .prime-blocks .block-item .box.box-pink {
  background-color: #E91E63;
}
.landing-blocks .prime-blocks .block-item .box.box-green {
  background-color: #4CAF50;
}
.landing-blocks .prime-blocks .block-item .box.box-blue {
  background-color: #2196F3;
}
.landing-blocks .prime-blocks .block-item .block-image {
  background-color: var(--home-blocks-image-bg);
  height: 44px;
}
.landing-blocks .prime-blocks .block-item .text {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: var(--home-blocks-text-color);
}
.landing-blocks .prime-blocks .block-item.block-item-active {
  box-shadow: var(--home-blocks-active-shadow);
  border-radius: 6px;
  border-top: var(--home-blocks-active-border-top);
  border-right: var(--home-blocks-active-border-right);
  border-bottom: var(--home-blocks-active-border-bottom);
  border-left: var(--home-blocks-active-border-left);
  position: relative;
  z-index: 5;
  animation: block-animation 1500ms ease-in-out alternate infinite;
}
.landing-blocks .prime-blocks .block-item.block-item-active.animation-2 {
  animation-delay: 1s;
}
.landing-blocks .prime-blocks .block-item.block-item-active.animation-3 {
  animation-delay: 1.5s;
}
.landing-blocks .prime-blocks .block-item.block-item-col {
  background: none !important;
  border: none;
  padding: 12px 0;
}
.landing-blocks .prime-blocks .block-item.block-item-table {
  border-radius: 100px;
  padding: 10px;
}
.landing-blocks .prime-blocks .block-item.block-item-table .bar {
  background: var(--home-blocks-tablebar-bg);
}
.landing-blocks .prime-blocks .bar {
  background: var(--home-blocks-bar-bg);
  height: 6px;
  border-radius: 10px;
}
.landing-blocks .prime-blocks .bar.bar-highlight {
  background: var(--home-highlight-color);
}
.landing-blocks .prime-blocks .bar.bar-highlight:before {
  background: var(--home-highlight-fore-color) !important;
}
.landing-blocks .prime-blocks .bar.bar-button {
  height: 16px;
  position: relative;
}
.landing-blocks .prime-blocks .bar.bar-button:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 10px;
  right: 10px;
  bottom: 6px;
  height: 3px;
  border-radius: 6px;
  background: var(--home-blocks-bar-button-bg);
}
.landing-blocks .prime-blocks .circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: var(--home-blocks-circle-bg);
}
.landing-blocks .prime-blocks .circle.circle-small {
  width: 8px;
  height: 8px;
}
.landing-blocks .prime-blocks .circle.circle-medium {
  width: 14px;
  height: 14px;
}
.landing-blocks .prime-blocks .circle.circle-highlight {
  background: var(--home-highlight-color);
}

@media screen and (max-width: 1199px) {
  .landing-blocks .prime-blocks {
    margin: -24rem 0;
    transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg) scale(0.6);
  }
}
@keyframes block-animation {
  to {
    transform: translateY(-10px) translateX(10px) scale(1.02);
    box-shadow: var(--home-blocks-animation-shadow);
  }
}
.landing-templates {
  overflow: hidden;
  background: var(--home-templates-bg);
}
.landing-templates .templates {
  transform: rotateX(55deg) rotateY(0deg) rotateZ(-45deg);
  position: relative;
  z-index: 1;
}
.landing-templates .templates .template-block {
  width: 504px;
  height: 257px;
  background-size: cover;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: var(--home-templates-block-shadow);
  border-left: var(--home-templates-block-border-left);
  border-bottom: var(--home-templates-block-border-bottom);
  position: relative;
  z-index: 1;
  transition: 1.5s;
  opacity: 0;
  visibility: hidden;
}
.landing-templates .templates .template-block.block-1 {
  animation: animated-block-1 2s ease-in-out alternate infinite;
}
.landing-templates .templates .template-block.block-2 {
  animation: animated-block-2 2s 0.2s ease-in-out alternate infinite;
}
.landing-templates .templates .template-block.block-middle {
  transform: scale(0.9);
}
.landing-templates .templates .template-block.block-3 {
  animation: animated-block-1 2s 0.4s ease-in-out alternate infinite;
}
.landing-templates .templates .template-block.block-4 {
  animation: animated-block-2 2s 0.6s ease-in-out alternate infinite;
}
.landing-templates .templates .template-block.block-5 {
  animation: animated-block-1 2s 0.8s ease-in-out alternate infinite;
}
.landing-templates .templates .template-block.block-6 {
  animation: animated-block-2 2s 1s ease-in-out alternate infinite;
}
.landing-templates .templates .template-block:hover:before {
  opacity: 1;
}
.landing-templates .templates .template-block:hover .templates-btn {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.landing-templates .templates .template-block:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.4s;
  opacity: 0;
  background-color: var(--home-templates-block-hover-bg);
}
.landing-templates .templates .template-block .templates-btn {
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.4);
  background: var(--home-templates-btn-bg);
  border-radius: 30px;
  padding: 8px 10px;
  color: var(--home-templates-btn-text-color);
  font-size: 14px;
  text-decoration: none;
  box-shadow: var(--home-templates-btn-shadow);
  border-top: var(--home-templates-btn-border-top);
  border-right: var(--home-templates-btn-border-right);
  border-left: var(--home-templates-btn-border-left);
  border-bottom: var(--home-templates-btn-border-bottom);
}
.landing-templates .templates .template-block.border-none {
  box-shadow: none;
}
.landing-templates .templates .template-block.border-none:before {
  display: none;
}
.landing-templates .templates .template-block .img-1 {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: scale(0.4);
  transition-delay: 0.8s;
}
.landing-templates .templates .template-block .img-2 {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: scale(0.4);
  transition-delay: 1.1s;
}
.landing-templates .templates .lines {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: 2s;
}
.landing-templates .templates .lines .top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: -1;
  display: flex;
  width: 800px;
  height: 200%;
  align-items: center;
  justify-content: space-between;
}
.landing-templates .templates .lines .top span {
  display: block;
  width: 1px;
  height: 100%;
  background: var(--home-templates-line);
}
.landing-templates .templates .lines .left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.landing-templates .templates .lines .left span {
  display: block;
  width: 100%;
  height: 1px;
  background: var(--home-templates-line);
}
.landing-templates .templates.templates-animation .template-block {
  opacity: 1;
  visibility: visible;
  transition: none !important;
}
.landing-templates .templates.templates-animation .block-middle .theme-mode, .landing-templates .templates.templates-animation .block-middle img {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: none !important;
}
.landing-templates .templates.templates-animation .lines {
  opacity: 0.5;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .landing-templates .templates .template-block {
    width: 336px;
    height: 171px;
    border: none !important;
  }
}
@media screen and (max-width: 991px) {
  .landing-templates .templates {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .landing-templates .templates .template-block {
    width: 336px;
    height: 171px;
    border: none !important;
    animation: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .landing-templates .templates .lines {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .landing-templates .templates {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .landing-templates .templates .template-block {
    width: 354px;
    height: 180px;
  }
}
@keyframes animated-block-1 {
  to {
    transform: translateX(-10px);
  }
}
@keyframes animated-block-2 {
  to {
    transform: translateX(10px);
  }
}
.landing-features .box {
  box-shadow: var(--home-features-card-shadow);
}
.landing-features .features-container {
  max-width: 1250px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.landing-footer a:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: var(--focus-ring);
}
