<div class="content-section introduction">
    <div>
        <span class="feature-title">Dynamic Dialog</span>
        <span>Dialogs can be created dynamically with any component as the content using a DialogService.</span>
    </div>
</div>

<div class="content-section implementation">
    <p-toast [style]="&#123;marginTop: '80px'&#125;"></p-toast>

    <button type="button" (click)="show()" pButton icon="pi pi-info-circle" label="Show"></button>
</div>

<div class="content-section documentation">
    <p-tabView effect="fade">
        <p-tabPanel header="Documentation">
            <h3>Import</h3>
<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;DynamicDialogModule&#125; from 'primeng/dynamicdialog';
</code>
</pre>

            <h3>Getting Started</h3>
            <p>Dynamic dialogs require an instance of a DialogService that is responsible for displaying a dialog with a component as its content. Since the dynamically
                loaded content is not defined at build time, a configuration is necessary using the entryComponents of your parent module. Example below, displays a list of cars
                using the CarsListDemo component so it needs to be configured at entryComponents along with the import of DynamicDialogModule. The configuration of the demo page is as follows;
            </p>

<pre>
<code class="language-typescript" pCode ngNonBindable>
@NgModule(&#123;
    imports: [
        CommonModule,
        DynamicDialogModule,
        ToastModule,
        TableModule,
        ButtonModule
    ],
    declarations: [
        DynamicDialogDemo,
        CarsListDemo
    ],
    entryComponents: [
        CarsListDemo
    ]
&#125;)
export class DynamicDialogDemoModule &#123;
</code>
</pre>

            <p>Next step, is injecting an instance of a DialogService to the component that will open the dialog.</p>

<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;DialogService&#125; from 'primeng/api';
import &#123;CarsListDemo&#125; from './carslistdemo';
import &#123;Car&#125; from '../../components/domain/car';

@Component(&#123;
    templateUrl: './dynamicdialogdemo.html',
    providers: [DialogService]
&#125;)
export class DynamicDialogDemo &#123;

    constructor(public dialogService: DialogService) &#123;&#125;

&#125;
</code>
</pre>

            <p>Displaying a dialog is done with the open method where the first parameter is the type of component to load and the second parameter is the configuration of the Dialog such as header, width and more.</p>
                
<pre>
<code class="language-typescript" pCode ngNonBindable>
&lt;button type="button" (click)="show()" pButton icon="pi pi-info-circle" label="Show"&gt;&lt;/button&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
show() &#123;
    const ref = this.dialogService.open(CarsListDemo, &#123;
        header: 'Choose a Car',
        width: '70%'
    &#125;);
&#125;
</code>
</pre>

            <p>In case you need to pass data to the component that is dynamically loaded, use the data property that can be access using the DynamicDialogConfig class. In additon, the loaded component can also control the Dialog using the DynamicDialogRef API.
                Both the DynamicDialogConfig and DynamicDialogRef are injectable using the constructor.
            </p>
<pre>
<code class="language-typescript" pCode ngNonBindable>
show() &#123;
    const ref = this.dialogService.open(CarsListDemo, &#123;
        data: &#123;
            id: '51gF3'
        &#125;,
        header: 'Choose a Car',
        width: '70%'
    &#125;);
&#125;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;Car&#125; from '../../components/domain/car';
import &#123;CarService&#125; from '../../service/carservice';
import &#123;DynamicDialogRef&#125; from 'primeng/api';
import &#123;DynamicDialogConfig&#125; from 'primeng/api';

@Component(&#123;
    templateUrl: './carslistdemo.html',
&#125;)
export class CarsListDemo &#123;

    cars: Car[];
            
    constructor(private carService: CarService, public ref: DynamicDialogRef, public config: DynamicDialogConfig) &#123; &#125;

    ngOnInit() &#123;
        //id: this.config.id
        this.carService.getCarsSmall(id).then(cars => this.cars = cars);
    &#125;
&#125;
</code>
</pre>

<p>Most of the time, requirement is returning a value from the dialog. DialogRef's close method is used for this purpose where the parameter passed will be available at the onClose
event at the caller. Here is an example on how to close the dialog from the CarsListDemo by passing a selected car.
</p>
<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;Car&#125; from '../../components/domain/car';
import &#123;CarService&#125; from '../../service/carservice';
import &#123;DynamicDialogRef&#125; from 'primeng/api';
import &#123;DynamicDialogConfig&#125; from 'primeng/api';

@Component(&#123;
    templateUrl: './carslistdemo.html',
&#125;)
export class CarsListDemo &#123;

    cars: Car[];
            
    constructor(private carService: CarService, public ref: DynamicDialogRef, public config: DynamicDialogConfig) &#123; &#125;

    ngOnInit() &#123;
        //id: this.config.id
        this.carService.getCarsSmall(id).then(cars => this.cars = cars);
    &#125;

    selectCar(car: Car) &#123;
        this.ref.close(car);
    &#125;
&#125;
</code>
</pre>

            <p>Now at the class that opens the dialog, the selected car gets passed to the Observable.</p>
<pre>
<code class="language-typescript" pCode ngNonBindable>
show() &#123;
    const ref = this.dialogService.open(CarsListDemo, &#123;
        header: 'Choose a Car',
        width: '70%'
    &#125;);

    ref.onClose.subscribe((car: Car) => &#123;
        if (car) &#123;
            this.messageService.add(&#123;severity:'info', summary: 'Car Selected', detail:'Vin:' + car.vin&#125;);
        &#125;
    &#125;);
&#125;
</code>
</pre>
            <h3>Properties for DynamicDialog</h3>
            <p>Dynamic Dialogs provide the following customization options.</p>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>any</td>
                            <td>null</td>
                            <td>An object to pass to the component loaded inside the Dialog.</td>
                        </tr>
                        <tr>
                            <td>header</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Header text of the dialog.</td>
                        </tr>
                        <tr>
                            <td>footer</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Footer text of the dialog.</td>
                        </tr>
                        <tr>
                            <td>width</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Width of the dialog.</td>
                        </tr>
                        <tr>
                            <td>height</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Height of the dialog.</td>
                        </tr>
                        <tr>
                            <td>closeOnEscape</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Specifices if pressing escape key should hide the dialog.</td>
                        </tr>
                        <tr>
                            <td>baseZIndex</td>
                            <td>number</td>
                            <td>0</td>
                            <td>Base zIndex value to use in layering.</td>
                        </tr>
                        <tr>
                            <td>autoZIndex</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether to automatically manage layering.</td>
                        </tr>
                        <tr>
                            <td>dismissableMask</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>Specifices if clicking the modal background should hide the dialog.</td>
                        </tr>
                        <tr>
                            <td>rtl</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>When enabled dialog is displayed in RTL direction.</td>
                        </tr>
                        <tr>
                            <td>style</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Inline style of the component.</td>
                        </tr>
                        <tr>
                            <td>contentStyle</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Inline style of the content section.</td>
                        </tr>
                        <tr>
                            <td>styleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Style class of the component.</td>
                        </tr>
                        <tr>
                            <td>transitionOptions</td>
                            <td>string</td>
                            <td>400ms cubic-bezier(0.25, 0.8, 0.25, 1)</td>
                            <td>Transition options of the animation.</td>
                        </tr>
                        <tr>
                            <td>closable</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Adds a close icon to the header to hide the dialog.</td>
                        </tr>
                        <tr>
                            <td>showHeader</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether to show the header or not.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Events</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameters</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>onShow</td>
                            <td>event: Event object</td>
                            <td>Callback to invoke when dialog is shown.</td>
                        </tr>
                        <tr>
                            <td>onHide</td>
                            <td>event: Event object</td>
                            <td>Callback to invoke when dialog is hidden.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Styling</h3>
            <p>Following is the list of structural style classes, for theming classes visit <a href="#" [routerLink]="['/theming']">theming page</a>.</p>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Element</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ui-dialog</td>
                            <td>Container element</td>
                        </tr>
                        <tr>
                            <td>ui-dynamicdialog</td>
                            <td>Container element</td>
                        </tr>
                        <tr>
                            <td>ui-dialog-titlebar</td>
                            <td>Container of header.</td>
                        </tr>
                        <tr>
                            <td>ui-dialog-title</td>
                            <td>Header element.</td>
                        </tr>
                        <tr>
                            <td>ui-dialog-titlebar-icon</td>
                            <td>Icon container inside header.</td>
                        </tr>
                        <tr>
                            <td>ui-dialog-titlebar-close</td>
                            <td>Close icon element.</td>
                        </tr>
                        <tr>
                            <td>ui-dialog-content</td>
                            <td>Content element.</td>
                        </tr>
                        <tr>
                            <td>ui-dialog-footer</td>
                            <td>Footer element.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Dependencies</h3>
            <p>None.</p>
        </p-tabPanel>

        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/dynamicdialog" class="btn-viewsource" target="_blank">
                <i class="fa fa-github"></i>
                <span>View on GitHub</span>
            </a>

            <h3>DynamicDialogDemo</h3>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-toast [style]="&#123;marginTop: '80px'&#125;"&gt;&lt;/p-toast&gt;

&lt;button type="button" (click)="show()" pButton icon="pi pi-info-circle" label="Show">&lt;/button&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class DynamicDialogDemo &#123;

    constructor(public dialogService: DialogService, public messageService: MessageService) &#123;&#125;

    show() &#123;
        const ref = this.dialogService.open(CarsListDemo, &#123;
            header: 'Choose a Car',
            width: '70%',
            contentStyle: &#123;"max-height": "350px", "overflow": "auto"&#125;
        &#125;);

        ref.onClose.subscribe((car: Car) =>&#123;
            if (car) &#123;
                this.messageService.add(&#123;severity:'info', summary: 'Car Selected', detail:'Vin:' + car.vin&#125;);
            &#125;
        &#125;);
    &#125;

&#125;
</code>
</pre>

            <h3>CarsListDemo</h3>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-table [value]="cars" [paginator]="true" [rows]="5" [responsive]="true"&gt;
    &lt;ng-template pTemplate="header"&gt;
        &lt;tr&gt;
            &lt;th pSortableColumn="vin"&gt;Vin &lt;p-sortIcon field="vin"&gt;&lt;/p-sortIcon&gt;&lt;/th&gt;
            &lt;th pSortableColumn="year"&gt;Year &lt;p-sortIcon field="year"&gt;&lt;/p-sortIcon&gt;&lt;/th&gt;
            &lt;th pSortableColumn="brand"&gt;Brand &lt;p-sortIcon field="brand"&gt;&lt;/p-sortIcon&gt;&lt;/th&gt;
            &lt;th pSortableColumn="color"&gt;Color &lt;p-sortIcon field="color"&gt;&lt;/p-sortIcon&gt;&lt;/th&gt;
            &lt;th style="width:4em"&gt;&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
    &lt;ng-template pTemplate="body" let-car&gt;
        &lt;tr&gt;
            &lt;td&gt;&lt;span class="ui-column-title"&gt;Vin&lt;/span&gt;&#123;&#123;car.vin&#125;&#125;&lt;/td&gt;
            &lt;td&gt;&lt;span class="ui-column-title"&gt;Year&lt;/span&gt;&#123;&#123;car.year&#125;&#125;&lt;/td&gt;
            &lt;td&gt;&lt;span class="ui-column-title"&gt;Brand&lt;/span&gt;&#123;&#123;car.brand&#125;&#125;&lt;/td&gt;
            &lt;td&gt;&lt;span class="ui-column-title"&gt;Color&lt;/span&gt;&#123;&#123;car.color&#125;&#125;&lt;/td&gt;
            &lt;td&gt;
                &lt;button pButton icon="pi pi-search" (click)="selectCar(car)"&gt;&lt;/button&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/ng-template&gt;
&lt;/p-table&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class CarsListDemo &#123;

    cars: Car[];
            
    constructor(private carService: CarService, public ref: DynamicDialogRef, public config: DynamicDialogConfig) &#123; &#125;

    ngOnInit() &#123;
        this.carService.getCarsSmall().then(cars => this.cars = cars);
    &#125;

    selectCar(car: Car) &#123;
        this.ref.close(car);
    &#125;

&#125;
</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>
