.ui-overlaypanel {
    padding: 0;
    margin: 0;
    position: absolute;
}

.ui-overlaypanel-content {
    padding: 0.5em 1em;
}

.ui-overlaypanel-close {
    position: absolute;
    top: -1em;
    right: -1em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.ui-overlaypanel-close-icon {
    line-height: inherit;
}