@layer primeng {
    .p-overlaypanel {
        position: absolute;
        margin-top: 10px;
        top: 0;
        inset-inline-start: 0;
    }

    .p-overlaypanel-flipped {
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .p-overlaypanel-close {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

    .p-overlaypanel:after,
    .p-overlaypanel:before {
        bottom: 100%;
        inset-inline-start: calc(var(--overlayArrowStart, 0) + 1.25rem);
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .p-overlaypanel:after {
        border-width: 8px;
        margin-inline-start: -8px;
    }

    .p-overlaypanel:before {
        border-width: 10px;
        margin-inline-start: -10px;
    }

    .p-overlaypanel-shifted:after,
    .p-overlaypanel-shifted:before {
        inset-inline-start: auto;
        inset-inline-end: 1.25em;
        margin-inline-start: auto;
    }

    .p-overlaypanel-flipped:after,
    .p-overlaypanel-flipped:before {
        bottom: auto;
        top: 100%;
    }

    .p-overlaypanel.p-overlaypanel-flipped:after {
        border-bottom-color: transparent;
    }

    .p-overlaypanel.p-overlaypanel-flipped:before {
        border-bottom-color: transparent;
    }
}
