.ui-overlaypanel {
    padding: 0;
    margin: 0;
    position: absolute;
}

.ui-overlaypanel-content {
    padding: 0.5em 1em;
}

.ui-overlaypanel-close {
    position: absolute;
    top: -.5em;
    right: -.5em;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}