<div>
    <div class="doc-intro">
        <h1>Templates</h1>
        <p>Highly customizable application templates to get started in no time with style. Designed and implemented by PrimeTek.</p>
    </div>

    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://apollo.primeng.org" rel="noopener noreferrer" target="_blank">
                    <img alt="Apollo" src="https://primefaces.org/cdn/primeng/images/layouts/apollo-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://apollo.primeng.org" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a [routerLink]="'/templates/apollo'" class="flex-1 p-button p-component p-button-outlined" rel="noopener noreferrer">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://sakai.primeng.org" rel="noopener noreferrer" target="_blank">
                    <img alt="sakai" src="https://primefaces.org/cdn/primeng/images/layouts/sakai-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://sakai.primeng.org" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a [routerLink]="'/templates/sakai'" class="flex-1 p-button p-component p-button-outlined">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://atlantis.primeng.org" rel="noopener noreferrer" target="_blank">
                    <img alt="Atlantis" src="https://primefaces.org/cdn/primeng/images/layouts/atlantis-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://atlantis.primeng.org" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a [routerLink]="'/templates/atlantis'" class="flex-1 p-button p-component p-button-outlined">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://ultima.primeng.org" rel="noopener noreferrer" target="_blank">
                    <img alt="Ultima" src="https://primefaces.org/cdn/primeng/images/layouts/ultima-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://ultima.primeng.org" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a [routerLink]="'/templates/ultima'" class="flex-1 p-button p-component p-button-outlined">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://freya.primeng.org" rel="noopener noreferrer" target="_blank">
                    <img alt="Freya" src="https://primefaces.org/cdn/primeng/images/layouts/freya-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://freya.primeng.org" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a [routerLink]="'/templates/freya'" class="flex-1 p-button p-component p-button-outlined">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://diamond.primeng.org" rel="noopener noreferrer" target="_blank">
                    <img alt="Diamond" src="https://primefaces.org/cdn/primeng/images/layouts/diamond-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://diamond.primeng.org" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a [routerLink]="'/templates/diamond'" class="flex-1 p-button p-component p-button-outlined">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://verona.primeng.org" rel="noopener noreferrer" target="_blank">
                    <img alt="Verona" src="https://primefaces.org/cdn/primeng/images/layouts/verona-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://verona.primeng.org" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a [routerLink]="'/templates/verona'" class="flex-1 p-button p-component p-button-outlined">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://poseidon.primeng.org" rel="noopener noreferrer" target="_blank">
                    <img alt="Poseidon" src="https://primefaces.org/cdn/primeng/images/layouts/poseidon-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://poseidon.primeng.org" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a [routerLink]="'/templates/poseidon'" class="flex-1 p-button p-component p-button-outlined">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <a href="https://avalon.primeng.org" rel="noopener noreferrer" target="_blank">
                    <img alt="Avalon" src="https://primefaces.org/cdn/primeng/images/layouts/avalon-ng.jpg" class="w-full" />
                </a>
                <div class="flex gap-3 mt-3">
                    <a href="https://avalon.primeng.org" class="flex-1 p-button p-component" rel="noopener noreferrer" target="_blank">
                        <span class="p-button-label white-space-nowrap">Preview</span>
                    </a>
                    <a [routerLink]="'/templates/avalon'" class="flex-1 p-button p-component p-button-outlined">
                        <span class="p-button-label white-space-nowrap">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
