<div class="content-section introduction">
    <div>
        <span class="feature-title">Grid CSS - Deprecated</span>
        <span>Grid CSS is a lightweight responsive and fluid layout utility optimized for mobile devices, tablets and desktops.</span>
        <span> Grid CSS is deprecated, use <a [routerLink]="['/flexgrid']">FlexGrid</a> instead.</span>
    </div>
</div>

<div class="content-section implementation GridDemo">
    <h3 class="first">Basic</h3>
    <div class="ui-g">
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
        <div class="ui-g-1">1</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-3">3</div>
        <div class="ui-g-3">3</div>
        <div class="ui-g-3">3</div>
        <div class="ui-g-3">3</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-4">4</div>
        <div class="ui-g-4">4</div>
        <div class="ui-g-4">4</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-6">6</div>
        <div class="ui-g-6">6</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">12</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-4">4</div>
        <div class="ui-g-8">8</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-3">3</div>
        <div class="ui-g-9">9</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-3">3</div>
        <div class="ui-g-5">5</div>
        <div class="ui-g-4">4</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-4">4</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-2">2</div>
        <div class="ui-g-3">3</div>
        <div class="ui-g-1">1</div>
    </div>
    
    <h3>Responsive</h3>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
    </div>
    
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-4">ui-g-12 ui-md-6 ui-lg-4</div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">ui-g-12 ui-md-6 ui-lg-4</div>
        <div class="ui-g-12 ui-lg-4">ui-g-12 ui-lg-4</div>
    </div>
    
    <h3>Nested</h3>
    <div class="ui-g">
        <div class="ui-g-8 ui-g-nopad">
            <div class="ui-g-6">6</div>
            <div class="ui-g-6">6</div>
            <div class="ui-g-12">12</div>
        </div>
        <div class="ui-g-4">4</div>
    </div>
    
    <h3>Offset</h3>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-4">ui-g-12 ui-md-4</div>
        <div class="ui-g-12 ui-md-4 ui-md-offset-4">ui-g-12 ui-md-4 ui-md-offset-4</div>
    </div>
    
    <h3>Sample Layout</h3>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-2">Menu</div>
        <div class="ui-g-12 ui-md-10 ui-g-nopad">
            <div class="ui-g-12">
                Bar
            </div>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, orci nec dictum convallis, ligula mauris vestibulum turpis, nec varius tortor quam at diam. Nullam a viverra nibh. In tincidunt tempor lectus quis vulputate. Pellentesque nec dui aliquam, lobortis est in, lobortis ante</div>
                    <div class="ui-g-12 ui-md-4">Maecenas vel nisi aliquet, vulputate tortor id, laoreet massa. Maecenas mattis tristique bibendum. Suspendisse vel mi dictum, vestibulum lacus quis, pulvinar quam. Proin vulputate, nibh at finibus varius, leo eros lacinia elit, nec blandit odio tellus a justo. Donec nec ex auctor, tristique nulla nec, rutrum sapien.</div>
                    <div class="ui-g-12 ui-md-4">Proin efficitur in leo eget ornare. Nam vestibulum neque sed velit sagittis sodales. Sed scelerisque hendrerit magna a hendrerit. Cras tempor sem at justo pharetra convallis. Curabitur vel sodales purus. Vestibulum interdum facilisis nulla imperdiet suscipit. Quisque lectus felis, condimentum eget hendrerit sit amet.</div>
                </div>
                
                <div class="ui-g">
                    <div class="ui-g-6 ui-md-3"><img src="assets/showcase/images/demo/galleria/galleria1.jpg" style="width:100%"></div>  
                    <div class="ui-g-6 ui-md-3"><img src="assets/showcase/images/demo/galleria/galleria2.jpg" style="width:100%"></div> 
                    <div class="ui-g-6 ui-md-3"><img src="assets/showcase/images/demo/galleria/galleria3.jpg" style="width:100%"></div>    
                    <div class="ui-g-6 ui-md-3"><img src="assets/showcase/images/demo/galleria/galleria4.jpg" style="width:100%"></div>      
                </div>
                
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-6">Phasellus faucibus purus volutpat mauris lacinia sodales. Ut sit amet sapien facilisis, commodo dui non, fringilla tellus. Quisque tempus facilisis nisi sodales finibus. Pellentesque neque orci, ullamcorper vitae ligula quis, dignissim euismod augue.</div>
                    <div class="ui-g-12 ui-md-6">Fusce ullamcorper congue massa, eget ullamcorper nunc lobortis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices dui eget dolor feugiat dapibus. Aliquam pretium leo et egestas luctus. Nunc facilisis gravida tellus.</div>
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            Footer
        </div>
    </div>
</div>

<div class="content-section documentation">
    <p-tabView effect="fade">
        <p-tabPanel header="Documentation">
            <h3>Getting Started</h3>
            <p>Grid CSS is based on a 12 column layout. Columns are prefixed with <i>ui-g-*</i> and they should be a descendant of a container having <i>ui-g</i> class.
                 A simple 3 column layout can be defined as;</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-4"&gt;Col1&lt;/div&gt;
    &lt;div class="ui-g-4"&gt;Col2&lt;/div&gt;
    &lt;div class="ui-g-4"&gt;Col3&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

<div class="ui-g">
    <div class="ui-g-4">Col1</div>
    <div class="ui-g-4">Col2</div>
    <div class="ui-g-4">Col3</div>
</div>
        
        <h3>Multi Line</h3>
            <p>When the number of columns exceed 12, columns wrap to a new line.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-6"&gt;Col1&lt;/div&gt;
    &lt;div class="ui-g-6"&gt;Col2&lt;/div&gt;
    &lt;div class="ui-g-6"&gt;Col3&lt;/div&gt;
    &lt;div class="ui-g-6"&gt;Col4&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

<div class="ui-g">
    <div class="ui-g-6">Col1</div>
    <div class="ui-g-6">Col2</div>
    <div class="ui-g-6">Col3</div>
    <div class="ui-g-6">Col3</div>
</div>

        <p>Same can also be achieved by having two <i>ui-g</i> containers to semantically define a row.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-6"&gt;Col1&lt;/div&gt;
    &lt;div class="ui-g-6"&gt;Col2&lt;/div&gt;
&lt;/div&gt;
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-6"&gt;Col3&lt;/div&gt;
    &lt;div class="ui-g-6"&gt;Col4&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

<div class="ui-g">
    <div class="ui-g-6">Col1</div>
    <div class="ui-g-6">Col2</div>
</div>
<div class="ui-g">
    <div class="ui-g-6">Col3</div>
    <div class="ui-g-6">Col4</div>
</div>

        <h3>Nested</h3>
        <p>Columns can be nested to create more complex layouts.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-8 ui-g-nopad"&gt;
        &lt;div class="ui-g-6"&gt;6&lt;/div&gt;
        &lt;div class="ui-g-6"&gt;6&lt;/div&gt;
        &lt;div class="ui-g-12"&gt;12&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="ui-g-4"&gt;4&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

<div class="ui-g">
    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-6">6</div>
        <div class="ui-g-6">6</div>
        <div class="ui-g-12">12</div>
    </div>
    <div class="ui-g-4">4</div>
</div>

        <p>Direct children of <i>ui-g</i> has the same height automatically, in example above if the inside columns is likely to have different height with different content.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-8 ui-g-nopad"&gt;
        &lt;div class="ui-g-6"&gt;6 &lt;br /&gt;&lt;br /&gt;&lt;br /&gt; Content &lt;/div&gt;
        &lt;div class="ui-g-6"&gt;6&lt;/div&gt;
        &lt;div class="ui-g-12"&gt;12&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="ui-g-4"&gt;4&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
<div class="ui-g">
    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-6">6 <br /><br /><br /> Content </div>
        <div class="ui-g-6">6</div>
        <div class="ui-g-12">12</div>
    </div>
    <div class="ui-g-4">4</div>
</div>

        <p>Solution is wrapping the internal divs inside a ui-g as well.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-8 ui-g-nopad"&gt;
        &lt;div class="ui-g"&gt;
            &lt;div class="ui-g-6"&gt;6 &lt;br /&gt;&lt;br /&gt;&lt;br /&gt; Content &lt;/div&gt;
            &lt;div class="ui-g-6"&gt;6&lt;/div&gt;
            &lt;div class="ui-g-12"&gt;12&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="ui-g-4"&gt;4&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
<div class="ui-g">
    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g">
            <div class="ui-g-6">6 <br /><br /><br /> Content </div>
            <div class="ui-g-6">6</div>
            <div class="ui-g-12">12</div>
        </div>
    </div>
    <div class="ui-g-4">4</div>
</div>

        <h3>Responsive</h3>
        <p>Responsive layout is achieved by applying additional classes to the columns whereas <i>ui-g-*</i> define the default behavior. Four screen sizes are supported
        with different breakpoints.</p>
        
        <div class="doc-tablewrapper">
            <table class="doc-table">
                <thead>
                    <tr>
                        <th>Prefix</th>
                        <th>Devices</th>
                        <th>Media Query</th>
                        <th>Example</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ui-sm-*</td>
                        <td>Small devices like phones</td>
                        <td>max-width: 40em (640px)</td>
                        <td>ui-sm-6, ui-sm-4</td>
                    </tr>
                    <tr>
                        <td>ui-md-*</td>
                        <td>Medium sized devices such as tablets</td>
                        <td>min-width: 40.063em (641px)</td>
                        <td>ui-md-2, ui-sm-8</td>
                    </tr>
                    <tr>
                        <td>ui-lg-*</td>
                        <td>Devices with large screen like desktops</td>
                        <td>min-width: 64.063em (1025px)</td>
                        <td>ui-lg-6, ui-sm-12</td>
                    </tr>
                    <tr>
                        <td>ui-xl-*</td>
                        <td>Big screen monitors</td>
                        <td>min-width: 90.063em (1441px)</td>
                        <td>ui-xl-2, ui-sm-10</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <p>Most of the time, ui-md-* styles are used with default ui-g-* classes, to customize small or large screens apply ui-sm, ui-lg and ui-xl can be utilized.</p>
        
        <p>In example below, large screens display 4 columns, medium screens display 2 columns in 2 rows and default behavior gets only displayed in a mobile phone
        where each column is rendered in a separate row.</p>
        
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-3"&gt;ui-g-12 ui-md-6 ui-lg-3&lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-3"&gt;ui-g-12 ui-md-6 ui-lg-3&lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-3"&gt;ui-g-12 ui-md-6 ui-lg-3&lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-3"&gt;ui-g-12 ui-md-6 ui-lg-3&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">ui-g-12 ui-md-6 ui-lg-3</div>
</div>

    <p>In this second example below, 3 columns are displayed in large screens and in medium screens first two columns are placed side by side where the last column displayed
    below them. In a mobile phone, they all get displayed in a separate row.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-4"&gt;ui-g-12 ui-md-6 ui-lg-4&lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-4"&gt;ui-g-12 ui-md-6 ui-lg-4&lt;/div&gt;
    &lt;div class="ui-g-12 ui-lg-4"&gt;ui-g-12 ui-lg-4&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-4">ui-g-12 ui-md-6 ui-lg-4</div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">ui-g-12 ui-md-6 ui-lg-4</div>
    <div class="ui-g-12 ui-lg-4">ui-g-12 ui-lg-4</div>
</div>

        <h3>Padding</h3>
        <p>A column has a default padding by default, to remove it you may apply <i>ui-g-nopad</i> style class.</p>
        
        <h3>Offset</h3>
        <p>Offset classes allow defining a left margin on a column. Following sample adds a margin left to the second column for medium sized screens.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-12 ui-md-4"&gt;ui-g-12 ui-md-4&lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-4 ui-md-offset-4"&gt;ui-g-12 i-md-4 ui-md-offset-4&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

        <p>The list of offset classes varying within a range of 1 to 12.</p>
        <div class="doc-tablewrapper">
            <table class="doc-table">
                <thead>
                    <tr>
                        <th>Prefix</th>
                        <th>Devices</th>
                        <th>Media Query</th>
                        <th>Example</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ui-g-offset-*</td>
                        <td>All devices</td>
                        <td>All screens</td>
                        <td>ui-g-offset-6, ui-g-offset-4</td>
                    </tr>
                    <tr>
                        <td>ui-sm-offset-*</td>
                        <td>Small devices like phones</td>
                        <td>max-width: 40em (640px)</td>
                        <td>ui-sm-offset-6, ui-sm-offset-4</td>
                    </tr>
                    <tr>
                        <td>ui-md-offset-*</td>
                        <td>Medium sized devices such as tablets</td>
                        <td>min-width: 40.063em (641px)</td>
                        <td>ui-md-offset-6, ui-md-offset-4</td>
                    </tr>
                    <tr>
                        <td>ui-lg-offset-*</td>
                        <td>Devices with large screen like desktops</td>
                        <td>min-width: 64.063em (1025px)</td>
                        <td>ui-lg-offset-6, ui-lg-offset-4</td>
                    </tr>
                    <tr>
                        <td>ui-xl-offset-*</td>
                        <td>Big screen monitors</td>
                        <td>min-width: 90.063em (1441px)</td>
                        <td>ui-xl-offset-6, ui-xl-offset-4</td>
                    </tr>
                </tbody>
            </table>
        </div>

        </p-tabPanel>

        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/grid" class="btn-viewsource" target="_blank">
                <i class="fa fa-github"></i>
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;h3 class="first"&gt;Basic&lt;/h3&gt;
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
&lt;/div&gt;

&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-2"&gt;2&lt;/div&gt;
    &lt;div class="ui-g-2"&gt;2&lt;/div&gt;
    &lt;div class="ui-g-2"&gt;2&lt;/div&gt;
    &lt;div class="ui-g-2"&gt;2&lt;/div&gt;
    &lt;div class="ui-g-2"&gt;2&lt;/div&gt;
    &lt;div class="ui-g-2"&gt;2&lt;/div&gt;
&lt;/div&gt;

&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-3"&gt;3&lt;/div&gt;
    &lt;div class="ui-g-3"&gt;3&lt;/div&gt;
    &lt;div class="ui-g-3"&gt;3&lt;/div&gt;
    &lt;div class="ui-g-3"&gt;3&lt;/div&gt;
&lt;/div&gt;

&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-4"&gt;4&lt;/div&gt;
    &lt;div class="ui-g-4"&gt;4&lt;/div&gt;
    &lt;div class="ui-g-4"&gt;4&lt;/div&gt;
&lt;/div&gt;

&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-6"&gt;6&lt;/div&gt;
    &lt;div class="ui-g-6"&gt;6&lt;/div&gt;
&lt;/div&gt;

&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-12"&gt;12&lt;/div&gt;
&lt;/div&gt;

&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-4"&gt;4&lt;/div&gt;
    &lt;div class="ui-g-8"&gt;8&lt;/div&gt;
&lt;/div&gt;

&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-3"&gt;3&lt;/div&gt;
    &lt;div class="ui-g-9"&gt;9&lt;/div&gt;
&lt;/div&gt;

&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-3"&gt;3&lt;/div&gt;
    &lt;div class="ui-g-5"&gt;5&lt;/div&gt;
    &lt;div class="ui-g-4"&gt;4&lt;/div&gt;
&lt;/div&gt;

&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-4"&gt;4&lt;/div&gt;
    &lt;div class="ui-g-2"&gt;2&lt;/div&gt;
    &lt;div class="ui-g-2"&gt;2&lt;/div&gt;
    &lt;div class="ui-g-3"&gt;3&lt;/div&gt;
    &lt;div class="ui-g-1"&gt;1&lt;/div&gt;
&lt;/div&gt;

&lt;h3&gt;Responsive&lt;/h3&gt;
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-3"&gt;ui-g-12 ui-md-6 ui-lg-3&lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-3"&gt;ui-g-12 ui-md-6 ui-lg-3&lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-3"&gt;ui-g-12 ui-md-6 ui-lg-3&lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-3"&gt;ui-g-12 ui-md-6 ui-lg-3&lt;/div&gt;
&lt;/div&gt;

&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-4"&gt;ui-g-12 ui-md-6 ui-lg-4&lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-6 ui-lg-4"&gt;ui-g-12 ui-md-6 ui-lg-4&lt;/div&gt;
    &lt;div class="ui-g-12 ui-lg-4"&gt;ui-g-12 ui-lg-4&lt;/div&gt;
&lt;/div&gt;

&lt;h3&gt;Nested&lt;/h3&gt;
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-8 ui-g-nopad"&gt;
        &lt;div class="ui-g-6"&gt;6&lt;/div&gt;
        &lt;div class="ui-g-6"&gt;6&lt;/div&gt;
        &lt;div class="ui-g-12"&gt;12&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="ui-g-4"&gt;4&lt;/div&gt;
&lt;/div&gt;

&lt;h3&gt;Offset&lt;/h3&gt;
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-12 ui-md-4"&gt;ui-g-12 ui-md-4&lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-4 ui-md-offset-4"&gt;ui-g-12 i-md-4 ui-md-offset-4&lt;/div&gt;
&lt;/div&gt;

&lt;h3&gt;Sample Layout&lt;/h3&gt;
&lt;div class="ui-g"&gt;
    &lt;div class="ui-g-12 ui-md-2"&gt;Menu&lt;/div&gt;
    &lt;div class="ui-g-12 ui-md-10 ui-g-nopad"&gt;
        &lt;div class="ui-g-12"&gt;
            Bar
        &lt;/div&gt;
        &lt;div class="ui-g-12 ui-g-nopad"&gt;
            &lt;div class="ui-g"&gt;
                &lt;div class="ui-g-12 ui-md-4"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, orci nec dictum convallis, ligula mauris vestibulum turpis, nec varius tortor quam at diam. Nullam a viverra nibh. In tincidunt tempor lectus quis vulputate. Pellentesque nec dui aliquam, lobortis est in, lobortis ante&lt;/div&gt;
                &lt;div class="ui-g-12 ui-md-4"&gt;Maecenas vel nisi aliquet, vulputate tortor id, laoreet massa. Maecenas mattis tristique bibendum. Suspendisse vel mi dictum, vestibulum lacus quis, pulvinar quam. Proin vulputate, nibh at finibus varius, leo eros lacinia elit, nec blandit odio tellus a justo. Donec nec ex auctor, tristique nulla nec, rutrum sapien.&lt;/div&gt;
                &lt;div class="ui-g-12 ui-md-4"&gt;Proin efficitur in leo eget ornare. Nam vestibulum neque sed velit sagittis sodales. Sed scelerisque hendrerit magna a hendrerit. Cras tempor sem at justo pharetra convallis. Curabitur vel sodales purus. Vestibulum interdum facilisis nulla imperdiet suscipit. Quisque lectus felis, condimentum eget hendrerit sit amet.&lt;/div&gt;
            &lt;/div&gt;
            
            &lt;div class="ui-g"&gt;
                &lt;div class="ui-g-6 ui-md-3"&gt;&lt;img src="assets/showcase/images/demo/galleria/galleria1.jpg" style="width:100%"&gt;&lt;/div&gt;  
                &lt;div class="ui-g-6 ui-md-3"&gt;&lt;img src="assets/showcase/images/demo/galleria/galleria1.jpg" style="width:100%"&gt;&lt;/div&gt; 
                &lt;div class="ui-g-6 ui-md-3"&gt;&lt;img src="assets/showcase/images/demo/galleria/galleria1.jpg" style="width:100%"&gt;&lt;/div&gt;    
                &lt;div class="ui-g-6 ui-md-3"&gt;&lt;img src="assets/showcase/images/demo/galleria/galleria1.jpg" style="width:100%"&gt;&lt;/div&gt;      
            &lt;/div&gt;
            
            &lt;div class="ui-g"&gt;
                &lt;div class="ui-g-12 ui-md-6"&gt;Phasellus faucibus purus volutpat mauris lacinia sodales. Ut sit amet sapien facilisis, commodo dui non, fringilla tellus. Quisque tempus facilisis nisi sodales finibus. Pellentesque neque orci, ullamcorper vitae ligula quis, dignissim euismod augue.&lt;/div&gt;
                &lt;div class="ui-g-12 ui-md-6"&gt;Fusce ullamcorper congue massa, eget ullamcorper nunc lobortis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices dui eget dolor feugiat dapibus. Aliquam pretium leo et egestas luctus. Nunc facilisis gravida tellus.&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="ui-g-12"&gt;
        Footer
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>



