.ui-colorpicker {
    display: inline-block;
    position: relative;
    width: 193px;
    height: 166px;
} 

.ui-colorpicker .ui-colorpicker-color-selector {
    width: 150px;
    height: 150px;
    top: 8px;
    left: 8px;
    position: absolute;
}

.ui-colorpicker .ui-colorpicker-color {
     width: 150px;
     height: 150px;
     background: transparent url("./images/color.png") no-repeat left top; 
}

.ui-colorpicker .ui-colorpicker-color-handle {
     position: absolute;
     top: 0px;
     left: 150px;
     border-radius: 100%;
     width: 10px;
     height: 10px;
     border: 2px solid lightblue;
     margin: -5px 0 0 -5px;
}

.ui-colorpicker .ui-colorpicker-hue {
    background: transparent url("./images/hue.png") no-repeat left top; 
    width: 17px;
    height: 150px;
    top: 8px;
    left: 167px;
    position: absolute;
}

 .ui-colorpicker .ui-colorpicker-hue-handle {
     position: absolute;
     top: 150px;
     left: 0px;
     width: 21px;
     margin-left: -2px;
     margin-top: -5px;
     height: 10px;
     border: 2px solid lightblue;
     opacity: .7;
 }