<div class="content-section introduction">
    <div class="feature-intro">
        <h1>Charts</h1>
        <p>Chart components are based on <a style="color:#68d4f9" href="http://www.chartjs.org/">Charts.js</a> 2.7.x, an open source HTML5 based charting library.</p>
    </div>
</div>

<div class="content-section documentation">
    <h5 style="margin-top:0px">Charts.js</h5>
    <p>To begin with, first you must install the charts.js package using npm and then include 
        it in your project. An example with CLI would be;</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
npm install chart.js --save
</app-code>
        
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
"scripts": [
    "../node_modules/chart.js/dist/Chart.js",
    //..others
],
</app-code>

    <h5>Chart Component</h5>
    <p>Chart component is used to display a chart on page. The classname is UIChart and element tag is p-chart.</p>
    
<h5>Import</h5>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;ChartModule&#125; from 'primeng/chart';
</app-code>

    <h5>Change Detection</h5>
    <p>In order to chart to redraw itself, a new data object needs to be created. Changing the array contents without creating a new
    array instance does not trigger change detection.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-chart type="pie" [data]="data"&gt;&lt;/p-chart&gt;
&lt;button type="button" pButton (click)="update($event)"&gt;&lt;/button&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
update(event: Event) &#123;
    this.data = //create new data
&#125;
</app-code>

    <h5>Properties</h5>
    <div class="doc-tablewrapper">
        <table class="doc-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>type</td>
                    <td>string</td>
                    <td>null</td>
                    <td>Type of the chart.</td>
                </tr>
                <tr>
                    <td>data</td>
                    <td>any</td>
                    <td>null</td>
                    <td>Data to display.</td>
                </tr>
                <tr>
                    <td>options</td>
                    <td>any</td>
                    <td>null</td>
                    <td>Options to customize the chart.</td>
                </tr>
                <tr>
                    <td>plugins</td>
                    <td>any[]</td>
                    <td>null</td>
                    <td>Array of per-chart plugins to customize the chart behaviour.</td>
                </tr>
                <tr>
                    <td>width</td>
                    <td>string</td>
                    <td>null</td>
                    <td>Width of the chart.</td>
                </tr>
                <tr>
                    <td>height</td>
                    <td>string</td>
                    <td>null</td>
                    <td>Height of the chart.</td>
                </tr>
                <tr>
                    <td>responsive</td>
                    <td>boolean</td>
                    <td>true</td>
                    <td>Whether the chart is redrawn on screen size change.</td>
                </tr>
                <tr>
                    <td>onDataSelect</td>
                    <td>function</td>
                    <td>null</td>
                    <td>Callback to execute when an element on chart is clicked.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h5>Methods</h5>
    <div class="doc-tablewrapper">
        <table class="doc-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Parameters</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>refresh</td>
                    <td>-</td>
                    <td>Redraws the graph with new data.</td>
                </tr>
                <tr>
                    <td>reinit</td>
                    <td>-</td>
                    <td>Destroys the graph first and then creates it again.</td>
                </tr>
                <tr>
                    <td>generateLegend</td>
                    <td>-</td>
                    <td>Returns an HTML string of a legend for that chart. The legend is generated from the legendCallback in the options.</td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <h5>Chart Types</h5>
    <p>Chart type is defined using the type property. Currently there are 6 options available; pie, doughtnut, line(line or horizontalBar), bar, radar and polarArea.</p>

    <h5>Data</h5>
    <p>Data of a chart is provided using a binding to the data property, each type has its own format of data. Here is an example of a line chart.</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-chart type="line" [data]="data"&gt;&lt;/p-chart&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class LineChartDemo &#123;

    data: any;
    
    constructor() &#123;
        this.data = &#123;
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [
                &#123;
                    label: 'First Dataset',
                    data: [65, 59, 80, 81, 56, 55, 40]
                &#125;,
                &#123;
                    label: 'Second Dataset',
                    data: [28, 48, 40, 19, 86, 27, 90]
                &#125;
            ]
        &#125;
    &#125;
&#125;
</app-code>

    <h5>Options</h5>
    <p>While a series can be customized per dataset, general chart options are defined with options property. 
        Example below adds a title and customizes the legend position of the chart. For all available options refer to the charts.js documentation.</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-chart type="line" [data]="data" [options]="options"&gt;&lt;/p-chart&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class LineChartDemo &#123;

    data: any;
    
    options: any;
    
    constructor() &#123;
        this.data = &#123;
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [
                &#123;
                    label: 'First Dataset',
                    data: [65, 59, 80, 81, 56, 55, 40]
                &#125;,
                &#123;
                    label: 'Second Dataset',
                    data: [28, 48, 40, 19, 86, 27, 90]
                &#125;
            ]
        &#125;
        
        this.options = &#123;
            title: &#123;
                display: true,
                text: 'My Title',
                fontSize: 16
            &#125;,
            legend: &#123;
                position: 'bottom'
            &#125;
        &#125;;
    &#125;
&#125;
</app-code>

    <h5>Events</h5>
    <p>When data is selected with click event, chart component provides onDataSelect callback to process the selected data.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"&gt;&lt;/p-chart&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
selectData(event) &#123;
    //event.dataset = Selected dataset
    //event.element = Selected element
    //event.element._datasetIndex = Index of the dataset in data
    //event.element._index = Index of the data in dataset
&#125;
</app-code>  

    <h5>Responsive</h5>
    <p>Charts are responsive by default and vw-vh units should be used when customizing the width and height of the chart.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-chart type="line" [data]="data" width="40vw" height="80vh"&gt;&lt;/p-chart&gt;
</app-code>

<p>If the chart is not responsive, other units should be preferred.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-chart type="line" [data]="data" width="400px" height="400px" [responsive]="false"&gt;&lt;/p-chart&gt;
</app-code>


</div>
