.layout-config {
    backdrop-filter: blur(20px);
    background-color: var(--mobile-menu-bg);

    .p-selectbutton {
        .p-button {
            padding: 0.5rem 1rem;

            &:first-child {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
    
            &:last-child {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }

    button {
        &:focus-visible {
            outline: 0 none;
            border-color: var(--surface-500) !important;
        }
    }

    .grid {
        > div {
            padding: 1rem;
        }
    }

    .p-inputswitch {
        .p-inputswitch-slider {
            border-radius: 30px;
            
            &:before {
                border-radius: 30px;
            }
        }
    }
}


.layout-light {
    .layout-config {
        background: var(--surface-overlay);
    }
}

.layout-dark {
    .layout-config {
        background: var(rgba(0,0,0,.3));
        border: 0 none;
    }
}

.config-panel {
    padding: .75rem;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    
    .config-panel-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .config-panel-label {
        font-size: .875rem;
        color: var(--text-secondary-color);
        font-weight: 600;
        line-height: 1;
    }

    .config-panel-colors {
        > div {
            padding-top: .5rem;
            display: flex;
            gap: .5rem;
            flex-wrap: wrap;
            justify-content: space-between;

            button {
                border: none;
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 50%;
                padding: 0;
                cursor: pointer;
                outline-color: transparent;
                outline-width: 2px;
                outline-style: solid;
                outline-offset: 1px;

                &.active-color {
                    outline-color: var(--primary-color);
                }
            }
        }
    }

    .config-panel-settings {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}
