.layout-config {
    backdrop-filter: blur(20px);
    background-color: var(--mobile-menu-bg);

    .p-selectbutton {
        .p-button {
            padding: 0.5rem 1rem;

            &:first-child {
                border-start-start-radius: 30px;
                border-end-start-radius: 30px;
            }
    
            &:last-child {
                border-start-end-radius: 30px;
                border-end-end-radius: 30px;
            }
        }
    }

    button {
        &:focus-visible {
            outline: 0 none;
            border-color: var(--surface-500) !important;
        }
    }

    .grid {
        > div {
            padding: 1rem;
        }
    }

    .p-inputswitch {
        .p-inputswitch-slider {
            border-radius: 30px;
            
            &:before {
                border-radius: 30px;
            }
        }
    }
}


.layout-light {
    .layout-config {
        background: var(--surface-overlay);
    }
}

.layout-dark {
    .layout-config {
        background: var(rgba(0,0,0,.3));
        border: 0 none;
    }
}