html {
    font-size: 14px;
}

body {
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-ground);
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: var(--surface-900);

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .875rem;
}

p {
    line-height: 1.5;
    margin: 0 0 1rem 0;
}

input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.p-toast.p-toast-top-right,
.p-toast.p-toast-top-left {
    top: 7rem;
}

.px-link {
    font-size: 1rem;
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    text-align: left;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: none;
    cursor: pointer;
    user-select: none;
}

.px-link:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
}

.px-link:disabled {
	cursor: default;
}