.landing, .layout-wrapper {
    background-blend-mode: var(--glow-blend);
    background-image: var(--glow-image);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 20rem;
}