@media screen and (min-width: 1729px) {
    .layout-content-inner {
        max-width: 1478px;
        margin: 0 auto;
    }

    .layout-topbar-inner {
        max-width: 1478px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 991px) {
    .layout-wrapper {    
        .layout-topbar {
            left: 0;
            width: 100%;
    
            .menu-button {
                display: flex;
            }
            
            #docsearch {
                margin-left: auto;
                margin-right: .5rem;
            }

            .DocSearch-Button {
                width: 2rem;
                height: 2rem;
                overflow: hidden;
                padding: 0;
                justify-content: center;
                align-items: center;

                .DocSearch-Search-Icon {
                    width: 1rem;
                    height: 1rem;
                }

                .DocSearch-Button-Placeholder,
                .DocSearch-Button-Keys {
                    display: none;
                }
            }
        }
    
        .layout-sidebar {
            top: 0;
            z-index: 1102;
            height: 100%;
            transform: translateX(-100%);
    
            &.active {
                transform: translateX(0);
            }
        }
    
        .layout-content {
            margin-left: 0;            
        }
    
        .layout-mask {
            background-color: rgba(0, 0, 0, 0.1);
    
            &.layout-mask-active {
                z-index: 1101;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.4);
                transition: background-color .5s;
            }
        }

        .doc-section-nav {
            display: none;
        }

        .video-container {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .blocked-scroll {
        overflow: hidden;
        padding-right: var(--scrollbar-width);
    }
}

@media screen and (max-width: 575px) {
    .layout-wrapper {
        .layout-topbar-inner {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .layout-topbar {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .layout-content {
            .layout-content-inner {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        .layout-footer {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .layout-news {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 12px;

        > i {
            display: none;
        }
    }
}