<div class="content-section introduction">
    <div>
        <span class="feature-title">ProgressSpinner</span>
        <span>ProgressSpinner is a process status indicator.</span>
    </div>
</div>

<div class="content-section implementation">
    <h3 class="first">Basic</h3>
    <p-progressSpinner></p-progressSpinner>

    <h3>Custom</h3>
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
</div>

<div class="content-section documentation">
    <p-tabView effect="fade">
        <p-tabPanel header="Documentation">
            <h3>Import</h3>
<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;ProgressSpinnerModule&#125; from 'primeng/progressspinner';
</code>
</pre>

            <h3>Getting Started</h3>
            <p>ProgressSpinner is defined using p-progressSpinner element.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-progressSpinner&gt;&lt;/p-progressSpinner&gt;
</code>
</pre>
            <h3>Colors</h3>
            <p>Colors of the spinner can be changed by overriding the keyframes animation</p>
<pre>
<code class="language-css" pCode ngNonBindable>
@keyframes ui-progress-spinner-color &#123;
    100%,
    0% &#123;
        stroke: #d62d20;
    &#125;
    40% &#123;
        stroke: #0057e7;
    &#125;
    66% &#123;
        stroke: #008744;
    &#125;
    80%,
    90% &#123;
        stroke: #ffa700;
    &#125;
&#125;
</code>
</pre>
            


            <h3>Properties</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>strokeWidth</td>
                            <td>string</td>
                            <td>2</td>
                            <td>Width of the circle stroke.</td>
                        </tr>
                        <tr>
                            <td>fill</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Color for the background of the circle.</td>
                        </tr>
                        <tr>
                            <td>animationDuration</td>
                            <td>string</td>
                            <td>2s</td>
                            <td>Duration of the rotate animation.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Styling</h3>
            <p>Following is the list of structural style classes, for theming classes visit <a href="#" [routerLink]="['/theming']">theming page</a>.</p>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Element</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ui-progress-spinner</td>
                            <td>Container element.</td>
                        </tr>
                        <tr>
                            <td>ui-progress-circle</td>
                            <td>SVG element.</td>
                        </tr>
                        <tr>
                            <td>ui-progress-path</td>
                            <td>Circle element.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Dependencies</h3>
            <p>None.</p>
        </p-tabPanel>

        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/progressbar" class="btn-viewsource" target="_blank">
                <i class="fa fa-github"></i>
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;h3&gt;Basic&lt;/h3&gt;
&lt;p-progressSpinner&gt;&lt;/p-progressSpinner&gt;

&lt;h3&gt;Custom&lt;/h3&gt;
&lt;p-progressSpinner [style]="&#123;width: '50px', height: '50px'&#125;" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"&gt;&lt;/p-progressSpinner&gt;
</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>
