@layer primeng {
    .p-checkbox {
        position: relative;
        display: inline-flex;
        user-select: none;
        vertical-align: bottom;
    }
    
    .p-checkbox-input {
        cursor: pointer;
    }
    
    .p-checkbox-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
