<div class="content-section introduction">
    <div class="feature-intro">
        <h1>Table <span>ContextMenu</span></h1>
        <p>Table has exclusive integration with ContextMenu.</p>
    </div>
</div>

<div class="content-section implementation">
    <p-toast></p-toast>

    <p-contextMenu #cm [model]="items"></p-contextMenu>

    <div class="card">
        <p-table [value]="products" [(contextMenuSelection)]="selectedProduct" [contextMenu]="cm" dataKey="code">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr [pContextMenuRow]="product">
                    <td>{{product.code}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.price | currency: 'USD'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/table/" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
            <a href="https://stackblitz.com/edit/primeng-tablecontextmenu-demo" class="btn-viewsource" style="margin-left: .5em;" target="_blank">
                <span>Edit in StackBlitz</span>
            </a>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-toast&gt;&lt;/p-toast&gt;

&lt;p-contextMenu #cm [model]="items"&gt;&lt;/p-contextMenu&gt;

&lt;div class="card"&gt;
    &lt;p-table [value]="products" [(contextMenuSelection)]="selectedProduct" [contextMenu]="cm" dataKey="code"&gt;
        &lt;ng-template pTemplate="header"&gt;
            &lt;tr&gt;
                &lt;th&gt;Code&lt;/th&gt;
                &lt;th&gt;Name&lt;/th&gt;
                &lt;th&gt;Category&lt;/th&gt;
                &lt;th&gt;Price&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/ng-template&gt;
        &lt;ng-template pTemplate="body" let-product&gt;
            &lt;tr [pContextMenuRow]="product"&gt;
                &lt;td&gt;&#123;&#123;product.code&#125;&#125;&lt;/td&gt;
                &lt;td&gt;&#123;&#123;product.name&#125;&#125;&lt;/td&gt;
                &lt;td&gt;&#123;&#123;product.category&#125;&#125;&lt;/td&gt;
                &lt;td&gt;&#123;&#123;product.price | currency: 'USD'&#125;&#125;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/ng-template&gt;
    &lt;/p-table&gt;
&lt;/div&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; Product &#125; from '../../domain/product';
import &#123; ProductService &#125; from '../../service/productservice';
import &#123; MenuItem, MessageService &#125; from 'primeng/api';

@Component(&#123;
    templateUrl: './tablecontextmenudemo.html',
    providers: [MessageService]
&#125;)
export class TableContextMenuDemo implements OnInit &#123;

    products: Product[];

    selectedProduct: Product;

    items: MenuItem[];

    constructor(private productService: ProductService, private messageService: MessageService) &#123; &#125;

    ngOnInit() &#123;
        this.productService.getProductsSmall().then(data =&gt; this.products = data);

        this.items = [
            &#123;label: 'View', icon: 'pi pi-fw pi-search', command: () =&gt; this.viewProduct(this.selectedProduct)&#125;,
                &#123;label: 'Delete', icon: 'pi pi-fw pi-times', command: () =&gt; this.deleteProduct(this.selectedProduct)&#125;
        ];
    &#125;

    viewProduct(product: Product) &#123;
        this.messageService.add(&#123;severity: 'info', summary: 'Product Selected', detail: product.name &#125;);
    &#125;

    deleteProduct(product: Product) &#123;
        this.products = this.products.filter((p) =&gt; p.id !== product.id);
        this.messageService.add(&#123;severity: 'info', summary: 'Product Deleted', detail: product.name&#125;);
        this.selectedProduct = null;
    &#125;

&#125;
</app-code>

        </p-tabPanel>

        <p-tabPanel header="StackBlitz">
            <ng-template pTemplate="content">
                <iframe src="https://stackblitz.com/edit/primeng-tablecontextmenu-demo?embed=1" style="width: 100%; height: 768px; border: none;"></iframe>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>
