<div class="content-section introduction">
    <div class="feature-intro">
        <h1>DataTable <span>Scroll</span></h1>
        <span>Scrollable view is available horizontally, vertically or both.</span>
    </div>
</div>

<div class="content-section implementation">
    <div class="card">
        <h5>Vertical with Fixed Viewport</h5>
        <p-table [value]="customers" [scrollable]="true" scrollHeight="200px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Company</th>
                    <th>Representative</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>{{customer.name}}</td>
                    <td>{{customer.country.name}}</td>
                    <td>{{customer.company}}</td>
                    <td>{{customer.representative.name}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
    <div class="card">
        <h5>Flexible Viewport</h5>
        <p>Flex scroll feature makes the scrollable viewport section dynamic so that it can grow or shrink relative to the parent size of the table. Click the button below
            to display a resizable and maximizable Dialog where data viewport adjusts itself according to the size changes.</p>
    
        <button type="button" (click)="showDialog()" pButton icon="pi pi-external-link" label="View"></button>
        <p-dialog header="Flexible ScrollHeight" [(visible)]="dialogVisible" [style]="{width: '50vw'}" [baseZIndex]="10000" [maximizable]="true" [modal]="true" [resizable]="true" [contentStyle]="{height: '300px'}">
            <p-table [value]="customers" [scrollable]="true" scrollHeight="flex">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Company</th>
                        <th>Representative</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.country.name}}</td>
                        <td>{{customer.company}}</td>
                        <td>{{customer.representative.name}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-footer>
                <button type="button" pButton pRipple icon="pi pi-times" (click)="dialogVisible=false" label="Dismiss" class="p-button-text"></button>
            </p-footer>        
        </p-dialog>

        <h5>Full Page Scroll</h5>
        <p>FlexScroll can also be used for cases where scrollable viewport should be responsive with respect to the window size. See the <a [routerLink]="['/table/flexscroll']">Full Page</a> demo for an example.</p>
    </div>

    <div class="card">
        <h5>Horizontal and Vertical</h5>
        <p-table [value]="customers" [scrollable]="true" [style]="{width:'600px'}" scrollHeight="200px">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:250px">
                    <col style="width:250px">
                    <col style="width:250px">
                    <col style="width:250px">
                    <col style="width:250px">
                    <col style="width:250px">
                    <col style="width:250px">
                    <col style="width:250px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Date</th>
                    <th>Company</th>
                    <th>Status</th>
                    <th>Activity</th>
                    <th>Representative</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>{{customer.id}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.country.name}}</td>
                    <td>{{customer.date}}</td>
                    <td>{{customer.company}}</td>
                    <td>{{customer.status}}</td>
                    <td>{{customer.activity}}</td>
                    <td>{{customer.representative.name}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="card">
        <h5>Frozen Rows</h5>
        <p-table [value]="customers" [frozenValue]="frozenValue" [scrollable]="true" scrollHeight="200px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Company</th>
                    <th>Representative</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td>{{customer.name}}</td>
                    <td>{{customer.country.name}}</td>
                    <td>{{customer.company}}</td>
                    <td>{{customer.representative.name}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="frozenrows" let-customer>
                <tr>
                    <td class="p-text-bold">{{customer.name}}</td>
                    <td class="p-text-bold">{{customer.country.name}}</td>
                    <td class="p-text-bold">{{customer.company}}</td>
                    <td class="p-text-bold">{{customer.representative.name}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="card">
        <h5>Frozen Columns</h5>
        <p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="customers" [scrollable]="true" scrollHeight="200px" frozenWidth="300px">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" style="width:300px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{customer[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/table/" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
            <a href="https://stackblitz.com/edit/primeng-tablescroll-demo" class="btn-viewsource" style="margin-left: .5em;" target="_blank">
                <span>Edit in StackBlitz</span>
            </a>
<app-code lang="markup" ngNonBindable>
</app-code>

<app-code lang="typescript" ngNonBindable>
</app-code>
        </p-tabPanel>

        <p-tabPanel header="StackBlitz">
            <ng-template pTemplate="content">
                <iframe src="https://stackblitz.com/edit/primeng-tablescroll-demo?embed=1" style="width: 100%; height: 768px; border: none;"></iframe>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>
