<div class="content-section implementation" style="height: calc(100vh - 149px)">
    <p-table [columns]="cols" [value]="virtualCars" [scrollable]="true" [rows]="100" scrollHeight="flex" 
        [virtualScroll]="true" [virtualRowHeight]="46" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)">
        <ng-template pTemplate="caption">
            Virtual Scrolling with Lazy Loading and Full Page Viewport 
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr style="height:34px">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody" let-columns="columns">
            <tr style="height:34px">
                <td *ngFor="let col of columns">
                    <div class="loading-text"></div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>