<table-submenu></table-submenu>

<div class="content-section introduction">
    <div>
        <span class="feature-title">Table - Style</span>
        <span>Table displays data in tabular format.</span>
    </div>
</div>

<div class="content-section implementation">
    <p-table [value]="cars">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col>
                <col>
                <col>
                <col style="background-color:#FFD54F !important">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [ngClass]="rowData.year > 2010 ? 'old-car' : null">
                <td *ngFor="let col of columns" [ngClass]="rowData[col.field] < 2000 ? 'very-old-car' : null">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>