<table-submenu></table-submenu>

<div class="content-section introduction">
    <div>
        <span class="feature-title">Table - RowGroup</span>
        <span>It is easy to implement row grouping using the flexible template driven approach of the p-table. In this example, sorting
            is enabled by default to sort the data by brand initially and then a rowGroupMetadata object is created to
            represent how many rows a brand should span along with the rowIndex of the group. Similarly multiple field grouping can be implemented as well.
        </span>
    </div>
</div>

<div class="content-section implementation">
    <p-table [value]="cars" sortField="brand" sortMode="single" (onSort)="onSort()">
        <ng-template pTemplate="header">
            <tr>
                <th>Brand</th>
                <th>Vin</th>
                <th>Year</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td *ngIf="rowGroupMetadata[rowData.brand].index === rowIndex" [attr.rowspan]="rowGroupMetadata[rowData.brand].size">
                     {{rowData.brand}}
                </td>
                <td>{{rowData.vin}}</td>
                <td>{{rowData.year}}</td>
                <td>{{rowData.color}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>