.ui-listbox {
    overflow:auto;
    padding:2px;
    width:130px;
}

.ui-listbox .ui-listbox-list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.ui-listbox .ui-listbox-item {
    padding:2px;
    border:0 none;
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 1px;
}

.ui-listbox .ui-listbox-item:last-child {
    margin-bottom: 0px;
}

.ui-listbox.ui-state-disabled .ui-listbox-item {
    cursor: default;
}

.ui-listbox-header {
    margin-bottom: 0.3em;
    padding: 0.2em 0 0.2em 0.2em;
    position: relative;
}

.ui-listbox-header .ui-chkbox {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.ui-listbox-header .ui-listbox-filter-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.ui-listbox-header .ui-listbox-filter-container .fa {
    position: absolute;
    top: 3px;
    left: 2px;
}

.ui-listbox-header .ui-inputtext {
    padding: 1px 1px 1px 20px;
    width: 95px;
}

/* Fluid */
.ui-fluid .ui-listbox .ui-listbox-filter-container,
.ui-fluid .ui-listbox .ui-listbox-filter-container input {
    width: calc(100% - 32px);
}