<datatable-demos></datatable-demos>

<div class="content-section introduction">
    <div>
        <span class="feature-title">DataTable - Scroll</span>
        <span>Data scrolling with fixed header is available horizontally, vertically or both. ScrollHeight and ScrollWidth values can either
        be fixed pixels or percentages. Virtual Scrolling mode is available to deal with large datasets by loading data on demand during scrolling. 
        In additon certain columns and rows can be fixed as well. </span>
    </div>
</div>

<div class="content-section implementation">
    <p-dataTable [value]="cars" scrollable="true" scrollHeight="200px">
        <p-header>Vertical</p-header>
        <p-column field="vin" header="Vin"></p-column>
        <p-column field="year" header="Year"></p-column>
        <p-column field="brand" header="Brand"></p-column>
        <p-column field="color" header="Color"></p-column>
    </p-dataTable>
    
    <p-dataTable [value]="carsLarge" scrollable="true" scrollHeight="200px" [rows]="20" virtualScroll="virtualScroll" [style]="{'margin-top':'30px'}" 
        [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)" [loading]="loading">
        <p-header>Virtual Scrolling - 250K Rows</p-header>
        <p-column field="vin" header="Vin"></p-column>
        <p-column field="year" header="Year"></p-column>
        <p-column field="brand" header="Brand"></p-column>
        <p-column field="color" header="Color"></p-column>
    </p-dataTable>

    <p-dataTable [value]="cars" scrollable="true" scrollHeight="200px" scrollWidth="600px" [style]="{'margin-top':'30px'}">
        <p-header>Vertical and Horizontal</p-header>
        <p-column field="vin" header="Vin" [style]="{'width':'250px'}"></p-column>
        <p-column field="year" header="Year" [style]="{'width':'250px'}"></p-column>
        <p-column field="brand" header="Brand" [style]="{'width':'250px'}"></p-column>
        <p-column field="color" header="Color" [style]="{'width':'250px'}"></p-column>
    </p-dataTable>
    
    <p-dataTable [value]="cars" [frozenValue]="frozenCars" scrollable="true" scrollHeight="200px" [style]="{'margin-top':'30px'}">
        <p-header>Frozen Rows</p-header>
        <p-column field="vin" header="Vin"></p-column>
        <p-column field="year" header="Year"></p-column>
        <p-column field="brand" header="Brand"></p-column>
        <p-column field="color" header="Color"></p-column>
    </p-dataTable>
    
    <p-dataTable [value]="cars" scrollable="true" scrollHeight="200px" frozenWidth="200px" unfrozenWidth="600px" [style]="{'margin-top':'30px'}">
        <p-header>Frozen Columns</p-header>
        <p-column field="vin" header="Vin" [style]="{'width':'200px'}" frozen="true"></p-column>
        <p-column field="year" header="Year" [style]="{'width':'250px'}"></p-column>
        <p-column field="brand" header="Brand" [style]="{'width':'250px'}"></p-column>
        <p-column field="color" header="Color" [style]="{'width':'250px'}"></p-column>
        <p-column field="year" header="Year" [style]="{'width':'250px'}"></p-column>
        <p-column field="brand" header="Brand" [style]="{'width':'250px'}"></p-column>
        <p-column field="color" header="Color" [style]="{'width':'250px'}"></p-column>
    </p-dataTable>
    
    <p-dataTable [value]="cars" [frozenValue]="frozenCars" scrollable="true" scrollHeight="200px" frozenWidth="200px" unfrozenWidth="600px" [style]="{'margin-top':'30px'}">
        <p-header>Frozen Rows and Columns</p-header>
        <p-column field="vin" header="Vin" [style]="{'width':'200px'}" frozen="true"></p-column>
        <p-column field="year" header="Year" [style]="{'width':'250px'}"></p-column>
        <p-column field="brand" header="Brand" [style]="{'width':'250px'}"></p-column>
        <p-column field="color" header="Color" [style]="{'width':'250px'}"></p-column>
        <p-column field="year" header="Year" [style]="{'width':'250px'}"></p-column>
        <p-column field="brand" header="Brand" [style]="{'width':'250px'}"></p-column>
        <p-column field="color" header="Color" [style]="{'width':'250px'}"></p-column>
    </p-dataTable>
    
    <p-dataTable [value]="sales" scrollable="true" scrollHeight="200px" frozenWidth="300px" unfrozenWidth="400px" [style]="{'margin-top':'30px'}">
        <p-header>Column Group and Frozen Columss</p-header>
        <p-headerColumnGroup frozen="true">
            <p-row>
                <p-column header="Brand" rowspan="2"  [style]="{'width':'300px', height:'56px'}"></p-column>
            </p-row>
        </p-headerColumnGroup>
        
        <p-headerColumnGroup>
            <p-row>
                <p-column header="Last Year" colspan="2" [style]="{'width':'250px'}" ></p-column>
                <p-column header="This Year" colspan="2" [style]="{'width':'250px'}"></p-column>
            </p-row>
            <p-row>
                <p-column header="Last Year" [style]="{'width':'125px'}"></p-column>
                <p-column header="This Year" [style]="{'width':'125px'}"></p-column>
                <p-column header="Last Year" [style]="{'width':'125px'}"></p-column>
                <p-column header="This Year" [style]="{'width':'125px'}"></p-column>
            </p-row>
        </p-headerColumnGroup>
        
        <p-column field="brand" [style]="{'width':'200px'}" frozen="true"></p-column>
        <p-column field="lastYearSale" [style]="{'width':'125px'}"></p-column>
        <p-column field="thisYearSale" [style]="{'width':'125px'}"></p-column>
        <p-column field="lastYearProfit" [style]="{'width':'125px'}"></p-column>
        <p-column field="thisYearProfit" [style]="{'width':'125px'}"></p-column>
    </p-dataTable>
</div>

<div class="content-section documentation">
    <p-tabView effect="fade">
        <p-tabPanel header="datatablescrolldemo.ts">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/datatable/datatablescrolldemo.ts" class="btn-viewsource" target="_blank">
                <i class="fa fa-github"></i>
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-typescript" pCode ngNonBindable>
export class DataTableScrollDemo implements OnInit &#123;

    cars: Car[];
    
    frozenCars: Car[];
    
    carsLarge: Car[];
    
    totalRecords: number;
    
    sales: any[];
    
    loading: boolean;

    constructor(private carService: CarService) &#123; &#125;

    ngOnInit() &#123;
        this.loading = true;
        this.carService.getCarsMedium().then(cars => this.cars = cars);
        this.frozenCars = [
            &#123;"brand": "BMW", "year": 2013, "color": "Grey", "vin": "fh2uf23"&#125;,
            &#123;"brand": "Chevrolet", "year": 2011, "color": "Black", "vin": "4525g23"&#125;
        ];
        
        this.sales = [
            &#123;brand: 'Apple', lastYearSale: '51%', thisYearSale: '40%', lastYearProfit: '$54,406.00', thisYearProfit: '$43,342'&#125;,
            &#123;brand: 'Samsung', lastYearSale: '83%', thisYearSale: '96%', lastYearProfit: '$423,132', thisYearProfit: '$312,122'&#125;,
            &#123;brand: 'Microsoft', lastYearSale: '38%', thisYearSale: '5%', lastYearProfit: '$12,321', thisYearProfit: '$8,500'&#125;,
            &#123;brand: 'Philips', lastYearSale: '49%', thisYearSale: '22%', lastYearProfit: '$745,232', thisYearProfit: '$650,323,'&#125;,
            &#123;brand: 'Song', lastYearSale: '17%', thisYearSale: '79%', lastYearProfit: '$643,242', thisYearProfit: '500,332'&#125;,
            &#123;brand: 'LG', lastYearSale: '52%', thisYearSale: ' 65%', lastYearProfit: '$421,132', thisYearProfit: '$150,005'&#125;,
            &#123;brand: 'Sharp', lastYearSale: '82%', thisYearSale: '12%', lastYearProfit: '$131,211', thisYearProfit: '$100,214'&#125;,
            &#123;brand: 'Panasonic', lastYearSale: '44%', thisYearSale: '45%', lastYearProfit: '$66,442', thisYearProfit: '$53,322'&#125;,
            &#123;brand: 'HTC', lastYearSale: '90%', thisYearSale: '56%', lastYearProfit: '$765,442', thisYearProfit: '$296,232'&#125;,
            &#123;brand: 'Toshiba', lastYearSale: '75%', thisYearSale: '54%', lastYearProfit: '$21,212', thisYearProfit: '$12,533'&#125;
        ];
        
        this.totalRecords = 250000;
    &#125;
    
    loadCarsLazy(event: LazyLoadEvent) &#123;
        this.loading = true;
        
        //for demo purposes keep loading the same dataset 
        //in a real production application, this data should come from server by building the query with LazyLoadEvent options 
        setTimeout(() => &#123;
            this.loading = false;
            this.carsLarge = [
                &#123;"brand": "VW", "year": 2012, "color": "Orange", "vin": event.first&#125;,
                &#123;"brand": "Audi", "year": 2011, "color": "Black", "vin": event.first + 1&#125;,
                &#123;"brand": "Renault", "year": 2005, "color": "Gray", "vin": event.first + 2&#125;,
                &#123;"brand": "BMW", "year": 2003, "color": "Blue", "vin": event.first + 3&#125;,
                &#123;"brand": "Mercedes", "year": 1995, "color": "Orange", "vin": event.first + 4&#125;,
                &#123;"brand": "Volvo", "year": 2005, "color": "Black", "vin": event.first + 5&#125;,
                &#123;"brand": "Honda", "year": 2012, "color": "Yellow", "vin": event.first + 6&#125;,
                &#123;"brand": "Jaguar", "year": 2013, "color": "Orange", "vin": event.first + 7&#125;,
                &#123;"brand": "Ford", "year": 2000, "color": "Black", "vin": event.first + 8&#125;,
                &#123;"brand": "Fiat", "year": 2013, "color": "Red", "vin": event.first + 9&#125;,
                &#123;"brand": "VW", "year": 2012, "color": "Orange", "vin": event.first + 10&#125;,
                &#123;"brand": "Audi", "year": 2011, "color": "Black", "vin": event.first + 11&#125;,
                &#123;"brand": "Renault", "year": 2005, "color": "Gray", "vin": event.first + 12&#125;,
                &#123;"brand": "BMW", "year": 2003, "color": "Blue", "vin": event.first + 13&#125;,
                &#123;"brand": "Mercedes", "year": 1995, "color": "Orange", "vin": event.first + 14&#125;,
                &#123;"brand": "Volvo", "year": 2005, "color": "Black", "vin": event.first + 15&#125;,
                &#123;"brand": "Honda", "year": 2012, "color": "Yellow", "vin": event.first + 16&#125;,
                &#123;"brand": "Jaguar", "year": 2013, "color": "Orange", "vin": event.first + 17&#125;,
                &#123;"brand": "Ford", "year": 2000, "color": "Black", "vin": event.first + 18&#125;,
                &#123;"brand": "Fiat", "year": 2013, "color": "Red", "vin": event.first + 19&#125;,
                &#123;"brand": "VW", "year": 2012, "color": "Orange", "vin": event.first + 20&#125;,
                &#123;"brand": "Audi", "year": 2011, "color": "Black", "vin": event.first + 21&#125;,
                &#123;"brand": "Renault", "year": 2005, "color": "Gray", "vin": event.first + 22&#125;,
                &#123;"brand": "BMW", "year": 2003, "color": "Blue", "vin": event.first + 23&#125;,
                &#123;"brand": "Mercedes", "year": 1995, "color": "Orange", "vin": event.first + 24&#125;,
                &#123;"brand": "Volvo", "year": 2005, "color": "Black", "vin": event.first + 25&#125;,
                &#123;"brand": "Honda", "year": 2012, "color": "Yellow", "vin": event.first + 26&#125;,
                &#123;"brand": "Jaguar", "year": 2013, "color": "Orange", "vin": event.first + 27&#125;,
                &#123;"brand": "Ford", "year": 2000, "color": "Black", "vin": event.first + 28&#125;,
                &#123;"brand": "Fiat", "year": 2013, "color": "Red", "vin": event.first + 29&#125;,
                &#123;"brand": "VW", "year": 2012, "color": "Orange", "vin": event.first + 30&#125;,
                &#123;"brand": "Audi", "year": 2011, "color": "Black", "vin": event.first + 31&#125;,
                &#123;"brand": "Renault", "year": 2005, "color": "Gray", "vin": event.first + 32&#125;,
                &#123;"brand": "BMW", "year": 2003, "color": "Blue", "vin": event.first + 33&#125;,
                &#123;"brand": "Mercedes", "year": 1995, "color": "Orange", "vin": event.first + 34&#125;,
                &#123;"brand": "Volvo", "year": 2005, "color": "Black", "vin": event.first + 35&#125;,
                &#123;"brand": "Honda", "year": 2012, "color": "Yellow", "vin": event.first + 36&#125;,
                &#123;"brand": "Jaguar", "year": 2013, "color": "Orange", "vin": event.first + 37&#125;,
                &#123;"brand": "Ford", "year": 2000, "color": "Black", "vin": event.first + 38&#125;,
                &#123;"brand": "Fiat", "year": 2013, "color": "Red", "vin": event.first + 39&#125;
            ];  
        &#125;, 2000);    
    &#125;
    
&#125;
</code>
</pre>
        </p-tabPanel>

        <p-tabPanel header="datatablescrolldemo.html">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/datatable/datatablescrolldemo.html" class="btn-viewsource" target="_blank">
                <i class="fa fa-github"></i>
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-dataTable [value]="cars" scrollable="true" scrollHeight="200px"&gt;
    &lt;p-header&gt;Vertical&lt;/p-header&gt;
    &lt;p-column field="vin" header="Vin"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;

&lt;p-dataTable [value]="carsLarge" scrollable="true" scrollHeight="200px" [rows]="20" virtualScroll="virtualScroll" [style]="&#123;'margin-top':'30px'&#125;" 
    [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)" [loading]="loading"&gt;
    &lt;p-header&gt;Virtual Scrolling - 250K Rows&lt;/p-header&gt;
    &lt;p-column field="vin" header="Vin"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;

&lt;p-dataTable [value]="cars" scrollable="true"  scrollHeight="200px" scrollWidth="600px" [style]="&#123;'margin-top':'30px'&#125;"&gt;
    &lt;p-header&gt;Vertical and Horizontal&lt;/p-header&gt;
    &lt;p-column field="vin" header="Vin" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;

&lt;p-dataTable [value]="cars" [frozenValue]="frozenCars" scrollable="true" scrollHeight="200px" [style]="&#123;'margin-top':'30px'&#125;"&gt;
    &lt;p-header&gt;Frozen Rows&lt;/p-header&gt;
    &lt;p-column field="vin" header="Vin"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;

&lt;p-dataTable [value]="cars" scrollable="true" scrollHeight="200px" frozenWidth="200px" unfrozenWidth="600px" [style]="&#123;'margin-top':'30px'&#125;"&gt;
    &lt;p-header&gt;Frozen Columns&lt;/p-header&gt;
    &lt;p-column field="vin" header="Vin" [style]="&#123;'width':'250px'&#125;" frozen="true"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;

&lt;p-dataTable [value]="cars" [frozenValue]="frozenCars" scrollable="true" scrollHeight="200px" frozenWidth="200px" unfrozenWidth="600px" [style]="&#123;'margin-top':'30px'&#125;"&gt;
    &lt;p-header&gt;Frozen Rows and Columns&lt;/p-header&gt;
    &lt;p-column field="vin" header="Vin" [style]="&#123;'width':'250px'&#125;" frozen="true"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="year" header="Year" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="brand" header="Brand" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="color" header="Color" [style]="&#123;'width':'250px'&#125;"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;

&lt;p-dataTable [value]="sales" scrollable="true" scrollHeight="200px" frozenWidth="300px" unfrozenWidth="400px" [style]="&#123;'margin-top':'30px'}"&gt;
    &lt;p-header&gt;Column Group and Frozen Columss&lt;/p-header&gt;
    &lt;p-headerColumnGroup frozen="true"&gt;
        &lt;p-row&gt;
            &lt;p-column header="Brand" rowspan="2"  [style]="&#123;'width':'300px', height:'56px'}"&gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
    &lt;/p-headerColumnGroup&gt;
    
    &lt;p-headerColumnGroup&gt;
        &lt;p-row&gt;
            &lt;p-column header="Last Year" colspan="2" [style]="&#123;'width':'250px'}" &gt;&lt;/p-column&gt;
            &lt;p-column header="This Year" colspan="2" [style]="&#123;'width':'250px'}"&gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
        &lt;p-row&gt;
            &lt;p-column header="Last Year" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
            &lt;p-column header="This Year" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
            &lt;p-column header="Last Year" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
            &lt;p-column header="This Year" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
        &lt;/p-row&gt;
    &lt;/p-headerColumnGroup&gt;
    
    &lt;p-column field="brand" [style]="&#123;'width':'200px'&#125;" frozen="true"&gt;&lt;/p-column&gt;
    &lt;p-column field="lastYearSale" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="thisYearSale" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="lastYearProfit" [style]="&#123;'width':'125px'&#125;"&gt;&lt;/p-column&gt;
    &lt;p-column field="thisYearProfit" [style]="&#123;'width':'125px'}"&gt;&lt;/p-column&gt;
&lt;/p-dataTable&gt;
</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>