# dependencies
node_modules

# demo
showcase
index.html
upload.php

# typescript
*.ts
!*.d.ts

# git
.git
.gitignore

# config
tsconfig.json
tsconfig-aot.json
webpack.config.js
config
gulpfile.js

# aot
aot

# misc
.github
*.log
prod
.editorconfig



