# compiled output
/dist
/tmp
/out-tsc
/aot

# source
src

# test
e2e
karma.conf.js
protractor.conf.js
*.spec.d.ts
*.spec.js
*.spec.js.map
*.spec.metadata.json
*.spec.ngsummary.json

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.editorconfig

# IDE - VSCode
/.vscode

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.gitignore
exports
CHANGELOG.md
.travis.yml

# config
.angular-cli.json
angular.json
tsconfig*.json
tslint.json
gulpfile.js
.github

# System Files
.DS_Store
Thumbs.db

# aot
*.ngfactory.js
*.ngfactory.js.map
*.ngsummary.json