language: node_js
sudo: required
node_js:
   - node

before_script:
   - "sudo chown root /opt/google/chrome/chrome-sandbox"
   - "sudo chmod 4755 /opt/google/chrome/chrome-sandbox"

before_install:
   - export CHROME_BIN=chromium-browser
   - export DISPLAY=:99.0
   - sh -e /etc/init.d/xvfb start

script: # the build step
   - node_modules/.bin/ng test --watch=false


cache:
  yarn: true
  directories:
     - ./node_modules
     - ./.chrome/chromium
