.ui-slidemenu {
    width: 12.5em;
    padding: .25em;
}

.ui-slidemenu.ui-slidemenu-dynamic {
    position: absolute;
}

.ui-slidemenu .ui-menu-separator {
    border-width: 1px 0 0 0;
}

.ui-slidemenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-slidemenu .ui-slidemenu-rootlist {
    position: absolute;
    top: 0;
}

.ui-slidemenu .ui-submenu-list {
    display: none;
    position: absolute;
    top: 0;
    width: 12.5em;
    padding: .25em;
}

.ui-slidemenu .ui-menuitem-link {
    padding: .25em;
    display: block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.ui-slidemenu .ui-menuitem-icon {
    margin-right: .25em;
    vertical-align: middle;
}

.ui-slidemenu .ui-menuitem-text {
    vertical-align: middle;
}


.ui-slidemenu .ui-menuitem {
    position: relative;
    margin: .125em 0;
}

.ui-slidemenu .ui-menuitem-link .ui-submenu-icon {
    position: absolute;
    margin-top: -.5em;
    right: 0;
    top: 50%;
}

.ui-slidemenu .ui-slidemenu-wrapper {
    position: relative;
}

.ui-slidemenu .ui-slidemenu-content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.ui-slidemenu-backward {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.25em;
    cursor: pointer;
    display: none;
}

.ui-slidemenu-backward .ui-slidemenu-backward-icon {
    vertical-align: middle;
}

.ui-slidemenu-backward span {
    vertical-align: middle;
}

.ui-slidemenu .ui-menuitem-active {
    position: static;
}

.ui-slidemenu .ui-menuitem-active > .ui-submenu > .ui-submenu-list {
    display: block;
}

.ui-slidemenu ul:not(.ui-active-submenu) > .ui-menuitem:not(.ui-menuitem-active),
.ui-slidemenu .ui-active-submenu > .ui-menuitem-active > .ui-submenu > .ui-submenu-list {
    display: none;
}

.ui-slidemenu .ui-active-submenu > .ui-menuitem-active ~ .ui-menuitem {
    display: block;
}