.p-slidemenu .p-slidemenu-root-list {
    position: relative;
    top: 0;
}

.p-slidemenu-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.p-slidemenu .p-menuitem-active {
    position: static;
}

.p-slidemenu .p-slidemenu-wrapper {
    position: relative;
}

.p-slidemenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.p-slidemenu .p-submenu-list {
    position: absolute;
    min-width: 100%;
    z-index: 1;
    display: none;
}

.p-slidemenu .p-slidemenu-content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 100%;
}

.p-slidemenu .p-menuitem-link:not(.p-slidemenu-backward) {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.p-slidemenu .p-menuitem-text {
    line-height: 1;
}

.p-slidemenu .p-menuitem {
    position: relative;
}

.p-slidemenu .p-menuitem-link .p-submenu-icon:not(svg) {
    margin-left: auto;
}

.p-slidemenu .p-menuitem-link .p-icon-wrapper {
    margin-left: auto;
}

.p-slidemenu .p-menuitem-active > p-slidemenusub > .p-submenu-list {
    display: block;
    left: 100%;
    top: 0;
}

.p-slidemenu .p-menuitem-active > .p-menuitem-content > .p-submenu > .p-submenu-list {
    display: block;
}

.p-slidemenu ul:not(.p-active-submenu) > .p-menuitem:not(.p-menuitem-active),
.p-slidemenu .p-active-submenu > .p-menuitem-active > .p-menuitem-content > .p-submenu > .p-submenu-list {
    display: none;
}

.p-slidemenu .p-active-submenu > .p-menuitem-active ~ .p-menuitem {
    display: block;
}

.p-slidemenu-backward {
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    display: none;
}

.p-slidemenu-backward .p-slidemenu-backward-icon {
    vertical-align: middle;
}

.p-slidemenu-backward span {
    vertical-align: middle;
}
