.ui-galleria-content {
    display: flex;
    flex-direction: column;
}

.ui-galleria-item-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.ui-galleria-item-container {
    position: relative;
    display: flex;
    height: 100%;
}

.ui-galleria-item-nav {
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ui-galleria-item-prev {
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ui-galleria-item-next {
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-galleria-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ui-galleria-item-nav-onhover .ui-galleria-item-nav {
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.ui-galleria-item-nav-onhover .ui-galleria-item-wrapper:hover .ui-galleria-item-nav {
    pointer-events: all;
    opacity: 1;
}

.ui-galleria-item-nav-onhover .ui-galleria-item-wrapper:hover .ui-galleria-item-nav.ui-state-disabled {
    pointer-events: none;
}

.ui-galleria-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Thumbnails */
.ui-galleria-thumbnail-wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-shrink: 0;
}

.ui-galleria-thumbnail-prev,
.ui-galleria-thumbnail-next {
    align-self: center;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
	align-items: center;
}

.ui-galleria-thumbnail-prev span,
.ui-galleria-thumbnail-next span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-galleria-thumbnail-container {
    display: flex;
    flex-direction: row;
}

.ui-galleria-thumbnail-items-container {
    overflow: hidden;
}

.ui-galleria-thumbnail-items {
    display: flex;
}

.ui-galleria-thumbnail-item {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .5;
    transition: opacity .3s;
}

.ui-galleria-thumbnail-item:hover,
.ui-galleria-thumbnail-item-current {
    opacity: 1;
}

/* Positions */
/* Thumbnails */
.ui-galleria-thumbnails-left .ui-galleria-content,
.ui-galleria-thumbnails-right .ui-galleria-content {
    flex-direction: row;
}

.ui-galleria-thumbnails-left .ui-galleria-item-wrapper,
.ui-galleria-thumbnails-right .ui-galleria-item-wrapper {
    flex-direction: row;
}

.ui-galleria-thumbnails-left .ui-galleria-item-wrapper,
.ui-galleria-thumbnails-top .ui-galleria-item-wrapper {
    order: 2;
}

.ui-galleria-thumbnails-left .ui-galleria-thumbnail-wrapper,
.ui-galleria-thumbnails-top .ui-galleria-thumbnail-wrapper {
    order: 1;
}

.ui-galleria-thumbnails-left .ui-galleria-thumbnail-wrapper,
.ui-galleria-thumbnails-right .ui-galleria-thumbnail-wrapper {
    height: 100%;
}

.ui-galleria-thumbnails-left .ui-galleria-thumbnail-container,
.ui-galleria-thumbnails-right .ui-galleria-thumbnail-container {
    flex-direction: column;
    flex-grow: 1;
}

.ui-galleria-thumbnails-left .ui-galleria-thumbnail-items,
.ui-galleria-thumbnails-right .ui-galleria-thumbnail-items {
    flex-direction: column;
    height: 100%;
}

/* Indicators */
.ui-galleria-indicators {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-galleria-indicator > button {
    display: inline-flex;
    align-items: center;
}

.ui-galleria-indicators-left .ui-galleria-item-wrapper,
.ui-galleria-indicators-right .ui-galleria-item-wrapper {
    flex-direction: row;
    align-items: center;
}

.ui-galleria-indicators-left .ui-galleria-item-container,
.ui-galleria-indicators-top .ui-galleria-item-container {
    order: 2;
}

.ui-galleria-indicators-left .ui-galleria-indicators,
.ui-galleria-indicators-top .ui-galleria-indicators {
    order: 1;
}

.ui-galleria-indicators-left .ui-galleria-indicators,
.ui-galleria-indicators-right .ui-galleria-indicators {
    flex-direction: column;
}

.ui-galleria-indicator-onitem .ui-galleria-indicators {
    position: absolute;
    display: flex;
}

.ui-galleria-indicator-onitem.ui-galleria-indicators-top .ui-galleria-indicators {
    top: 0;
    left: 0;
    width: 100%;
    align-items: flex-start;
}

.ui-galleria-indicator-onitem.ui-galleria-indicators-right .ui-galleria-indicators {
    right: 0;
    top: 0;
    height: 100%;
    align-items: flex-end;
}

.ui-galleria-indicator-onitem.ui-galleria-indicators-bottom .ui-galleria-indicators {
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: flex-end;
}

.ui-galleria-indicator-onitem.ui-galleria-indicators-left .ui-galleria-indicators {
    left: 0;
    top: 0;
    height: 100%;
    align-items: flex-start;
}

/* FullScreen */
.ui-galleria-mask {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.ui-galleria-close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-galleria-mask .ui-galleria-item-nav {
    position: fixed;
    top: 50%;
    margin-top: -.5rem;
}

/* Keyboard Support */
.ui-items-hidden .ui-galleria-thumbnail-item {
    visibility: hidden;
}

.ui-items-hidden .ui-galleria-thumbnail-item.ui-galleria-thumbnail-item-active {
    visibility: visible;
}