<div class="content-section introduction">
    <div class="feature-intro">
        <h1>Line Chart</h1>
        <p>A line chart or line graph is a type of chart which displays information as a series of data points called 'markers' connected by straight line segments.</p>
    </div>
</div>

<div class="content-section implementation">
    <p-toast></p-toast>

    <p-chart type="line" [data]="data" [options]="chartOptions" (onDataSelect)="selectData($event)"></p-chart>
</div>

<div class="content-section documentation">

    <p-tabView>
        <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/chart/linechart" class="btn-viewsource" target="_blank">
            <span>View on GitHub</span>
        </a>
        <p-tabPanel header="Source">
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-toast [style]="&#123;marginTop: '80px'&#125;"&gt;&lt;/p-toast&gt;

&lt;p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"&gt;&lt;/p-chart&gt;
</app-code>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class LineChartDemo &#123;

    data: any;

    constructor(private messageService: MessageService) &#123;
        this.data = &#123;
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [
                &#123;
                    label: 'First Dataset',
                    data: [65, 59, 80, 81, 56, 55, 40],
                    fill: false,
                    borderColor: '#4bc0c0'
                &#125;,
                &#123;
                    label: 'Second Dataset',
                    data: [28, 48, 40, 19, 86, 27, 90],
                    fill: false,
                    borderColor: '#565656'
                &#125;
            ]
        &#125;
    &#125;

    selectData(event) &#123;
        this.messageService.add(&#123;severity: 'info', summary: 'Data Selected', 'detail': this.data.datasets[event.element._datasetIndex].data[event.element._index]&#125;);
    &#125;
&#125;
</app-code>
        </p-tabPanel>
    </p-tabView>
</div>
