<div class="content-section introduction">
    <div class="feature-intro">
        <h1>Listbox</h1>
        <p>Listbox is used to select one or more values from a list of items.</p>
    </div>
    <app-inputStyleSwitch></app-inputStyleSwitch>
</div>

<div class="content-section implementation">
    <div class="card">
        <h5>Single</h5>
        <p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [style]="{'width':'15rem'}"></p-listbox>
        
        <h5>Advanced with Templating, Filtering and Multiple Selection</h5>
        <p-listbox [options]="countries" [(ngModel)]="selectedCountries" [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
            <ng-template let-country pTemplate="item">
                <div class="country-item">
                    <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.value.code.toLowerCase()" />
                    <div>{{country.value.name}}</div>
                </div>
            </ng-template>
        </p-listbox>
    </div>
</div>

<div class="content-section documentation">
  <p-tabView>
    <p-tabPanel header="Documentation">
      <h5>Import</h5>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;ListboxModule&#125; from 'primeng/listbox';
</app-code>


      <h5>Getting Started</h5>
      <p>Listbox requires a value to bind and a collection of options. There are two alternatives of how to define the options property; one way is providing a collection of SelectItem
      instances whereas other way is providing an array of arbitrary objects along with the optionLabel property to specify the field name of the option. SelectItem API is designed to have more control on how
      the options are displayed such as grouping and disabling however in most cases an arbitrary object collection will suffice. Example below demonstrates both cases.</p>
      
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-listbox [options]="cities1" [(ngModel)]="selectedCity1"&gt;&lt;/p-listbox&gt;

&lt;p-listbox [options]="cities2" [(ngModel)]="selectedCity2" optionLabel="name"&gt;&lt;/p-listbox&gt;
</app-code>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;SelectItem&#125; from 'primeng/api';

export class MyModel &#123;

    cities1: SelectItem[];

    cities2: City[];

    selectedCity1: City;

    selectedCity2: City;

    constructor() &#123;
        //SelectItem API with label-value pairs
        this.cities1 = [
            &#123;label:'Select City', value:null&#125;,
            &#123;label:'New York', value:&#123;id:1, name: 'New York', code: 'NY'&#125;&#125;,
            &#123;label:'Rome', value:&#123;id:2, name: 'Rome', code: 'RM'&#125;&#125;,
            &#123;label:'London', value:&#123;id:3, name: 'London', code: 'LDN'&#125;&#125;,
            &#123;label:'Istanbul', value:&#123;id:4, name: 'Istanbul', code: 'IST'&#125;&#125;,
            &#123;label:'Paris', value:&#123;id:5, name: 'Paris', code: 'PRS'&#125;&#125;
        ];

        //An array of cities
        this.cities2 = [
            &#123;name: 'New York', code: 'NY'&#125;,
            &#123;name: 'Rome', code: 'RM'&#125;,
            &#123;name: 'London', code: 'LDN'&#125;,
            &#123;name: 'Istanbul', code: 'IST'&#125;,
            &#123;name: 'Paris', code: 'PRS'&#125;
        ];
    &#125;

&#125;
</app-code>


      <h5>Selection</h5>
      <p>Listbox allows selection of either single or multiple items whereas checkbox option displays a checkbox to indicate multiple selection.
        In single case, model should be a single object reference whereas in multiple case should be an array. Multiple items can either be selected
        using metaKey or toggled individually depending on the value of <i>metaKeySelection</i> property value which is true by default. On touch enabled
        devices metaKeySelection is turned off automatically.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-listbox [options]="cities" [(ngModel)]="selectedCities"&gt;&lt;/p-listbox&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;SelectItem&#125; from 'primeng/api';

export class MyModel &#123;

    cities: SelectItem[];

    selectedCities: string[];

    constructor() &#123;
        this.cities = [
            &#123;label:'Select City', value:null&#125;,
            &#123;label:'New York', value:&#123;id:1, name: 'New York', code: 'NY'&#125;&#125;,
            &#123;label:'Rome', value:&#123;id:2, name: 'Rome', code: 'RM'&#125;&#125;,
            &#123;label:'London', value:&#123;id:3, name: 'London', code: 'LDN'&#125;&#125;,
            &#123;label:'Istanbul', value:&#123;id:4, name: 'Istanbul', code: 'IST'&#125;&#125;
            &#123;label:'Paris', value:&#123;id:5, name: 'Paris', code: 'PRS'&#125;&#125;
        ];
    &#125;

&#125;
</app-code>


        <h5>Updating Options</h5>
        <p>When itemLabel property is used, Listbox does not detect changes in the options so provide a new reference when you need to update the options such as adding a new option.</p>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
addOption() &#123;
    //fails
    this.options.push(&#123;name:'New York', code: 'NY'&#125;);

    //correct
    this.options = [...this.cities, &#123;name:'New York', code: 'NY'&#125;];
&#125;
</app-code>


        <h5>Disabled Options</h5>
        <p>Particular options can be prevented from selection using the <i>disabled</i> property of SelectItem API.</p>

      <h5>Filter</h5>
      <p>Filtering allows searching items in the list using an input field at the header. In order to use filtering, enable filter property. Default filtering
        mode is "contains" and alternative is "startsWith" configuted by <i>filterMode</i> property.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-listbox [options]="cities" [(ngModel)]="selectedCities" filter="filter"&gt;&lt;/p-listbox&gt;
</app-code>

      <h5>Model Driven Forms</h5>
      <p>Listbox can be used in a model driven form as well.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-listbox [options]="cities" formControlName="cities"&gt;&lt;/p-listbox&gt;
</app-code>

      <h5>Custom Content</h5>
      <p>Label of an option is used as the display text of an item by default, for custom content support define a ng-template where
        the local ng-template variable refers to an option in the options collection. Additionally a custom header and footer can be provided
        using <i>p-header</i> and <i>p-footer</i> element.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-listbox [options]="cars" [(ngModel)]="selectedCar"&gt;
    &lt;p-header&gt;
      List of Car
    &lt;/p-header&gt;
    &lt;ng-template let-car let-i="index" pTemplate="item"&gt;
        &lt;div&gt;
            &lt;img src="assets/showcase/images/demo/car/{{car.label}}.png" style="display:inline-block;margin:5px 0 0 5px" width="48"&gt;
            &lt;span style="float:right;margin:20px 10px 0 0"&gt;&#123;&#123;i&#125;&#125; - &#123;&#123;car.value&#125;&#125;&lt;/span&gt;
        &lt;/div&gt;
    &lt;/ng-template&gt;
    &lt;p-footer&gt;
        Selected: &#123;&#123;selectedCar||'none'&#125;&#125;
    &lt;/p-footer&gt;
&lt;/p-listbox&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;SelectItem&#125; from 'primeng/api';

export class MyModel &#123;

    cars: SelectItem[];

    selectedCar: string;

    constructor() &#123;
        this.cars = [
            &#123;label: 'Audi', value: 'Audi'&#125;,
            &#123;label: 'BMW', value: 'BMW'&#125;,
            &#123;label: 'Fiat', value: 'Fiat'&#125;,
            &#123;label: 'Ford', value: 'Ford'&#125;,
            &#123;label: 'Honda', value: 'Honda'&#125;,
            &#123;label: 'Jaguar', value: 'Jaguar'&#125;,
            &#123;label: 'Mercedes', value: 'Mercedes'&#125;,
            &#123;label: 'Renault', value: 'Renault'&#125;,
            &#123;label: 'VW', value: 'VW'&#125;,
            &#123;label: 'Volvo', value: 'Volvo'&#125;
        ];
    &#125;
&#125;
</app-code>


    <h5>Properties</h5>
    <div class="doc-tablewrapper">
        <table class="doc-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>options</td>
                    <td>array</td>
                    <td>null</td>
                    <td>An array of selectitems to display as the available options.</td>
                </tr>
                <tr>
                    <td>optionLabel</td>
                    <td>string</td>
                    <td>null</td>
                    <td>Name of the label field of an option when an arbitrary objects instead of SelectItems are used as
                        options.</td>
                </tr>
                <tr>
                    <td>multiple</td>
                    <td>boolean</td>
                    <td>false</td>
                    <td>When specified, allows selecting multiple values.</td>
                </tr>
                <tr>
                    <td>checkbox</td>
                    <td>boolean</td>
                    <td>false</td>
                    <td>When specified, allows selecting items with checkboxes.</td>
                </tr>
                <tr>
                    <td>filter</td>
                    <td>boolean</td>
                    <td>false</td>
                    <td>When specified, displays a filter input at header.</td>
                </tr>
                <tr>
                    <td>filterMode</td>
                    <td>string</td>
                    <td>contains</td>
                    <td>Defines how the items are filtered, valid values are "contains" (default) "startsWith", "endsWith", "equals", "notEquals", "in", "lt", "lte", "gt" and "gte".</td>
                </tr>
                <tr>
                    <td>filterValue</td>
                    <td>string</td>
                    <td>null</td>
                    <td>When specified, filter displays with this value.</td>
                </tr>
                <tr>
                    <td>filterLocale</td>
                    <td>string</td>
                    <td>undefined</td>
                    <td>Locale to use in filtering. The default locale is the host environment's current locale.</td>
                </tr>
                <tr>
                    <td>readonly</td>
                    <td>boolean</td>
                    <td>false</td>
                    <td>When present, it specifies that the element value cannot be changed.</td>
                </tr>
                <tr>
                    <td>disabled</td>
                    <td>boolean</td>
                    <td>false</td>
                    <td>When present, it specifies that the element should be disabled.</td>
                </tr>
                <tr>
                    <td>style</td>
                    <td>string</td>
                    <td>null</td>
                    <td>Inline style of the container.</td>
                </tr>
                <tr>
                    <td>styleClass</td>
                    <td>string</td>
                    <td>null</td>
                    <td>Style class of the container.</td>
                </tr>
                <tr>
                    <td>listStyle</td>
                    <td>string</td>
                    <td>null</td>
                    <td>Inline style of the list element.</td>
                </tr>
                <tr>
                    <td>listStyleClass</td>
                    <td>string</td>
                    <td>null</td>
                    <td>Style class of the list element.</td>
                </tr>
                <tr>
                    <td>metaKeySelection</td>
                    <td>boolean</td>
                    <td>true</td>
                    <td>Defines how multiple items can be selected, when true metaKey needs to be pressed to select or
                        unselect an item and when set to false selection of each item
                        can be toggled individually. On touch enabled devices, metaKeySelection is turned off
                        automatically.</td>
                </tr>
                <tr>
                    <td>dataKey</td>
                    <td>string</td>
                    <td>null</td>
                    <td>A property to uniquely identify a value in options.</td>
                </tr>
                <tr>
                    <td>showToggleAll</td>
                    <td>boolean</td>
                    <td>true</td>
                    <td>Whether header checkbox is shown in multiple mode.</td>
                </tr>
                <tr>
                    <td>ariaFilterLabel</td>
                    <td>string</td>
                    <td>null</td>
                    <td>Defines a string that labels the filter input.</td>
                </tr>
                <tr>
                    <td>filterPlaceHolder</td>
                    <td>string</td>
                    <td>null</td>
                    <td>Defines placeholder of the filter input.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h5>Events</h5>
    <div class="doc-tablewrapper">
        <table class="doc-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Parameters</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>onChange</td>
                    <td>event.originalEvent: browser event<br />
                        event.value: single value or an array of values that are selected
                    </td>
                    <td>Callback to invoke when value of listbox changes.</td>
                </tr>
                <tr>
                    <td>onDblClick</td>
                    <td>event.originalEvent: browser event<br />
                        event.value: single value or an array of values that are selected
                        event.option: option that are clicked
                    </td>
                    <td>Callback to invoke when an item is double clicked.</td>
                </tr>
                <tr>
                    <td>onClick</td>
                    <td>event.originalEvent: browser event<br />
                        event.value: single value or an array of values that are selected
                        event.option: option that are clicked
                    </td>
                    <td>Callback to invoke when listbox option clicks.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h5>Styling</h5>
    <p>Following is the list of structural style classes, for theming classes visit <a href="#" [routerLink]="['/theming']">theming
            page</a>.</p>
    <div class="doc-tablewrapper">
        <table class="doc-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Element</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>p-listbox</td>
                    <td>Container element.</td>
                </tr>
                <tr>
                    <td>p-listbox-list</td>
                    <td>List container.</td>
                </tr>
                <tr>
                    <td>p-listbox-item</td>
                    <td>An item in the list.</td>
                </tr>
                <tr>
                    <td>p-listbox-header</td>
                    <td>Header element.</td>
                </tr>
                <tr>
                    <td>p-listbox-filter-container</td>
                    <td>Container of filter input in header.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h5>Dependencies</h5>
    <p>None.</p>
    </p-tabPanel>

    <p-tabPanel header="Source">
      <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/listbox" class="btn-viewsource" target="_blank">
        <span>View on GitHub</span>
      </a>
      <a href="https://stackblitz.com/edit/primeng-listbox-demo" class="btn-viewsource" style="margin-left: .5em;" target="_blank">
        <span>Edit in StackBlitz</span>
      </a>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;h5&gt;Single&lt;/h5&gt;
&lt;p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [style]="&#123;'width':'15rem'&#125;"&gt;&lt;/p-listbox&gt;

&lt;h5&gt;Advanced with Templating, Filtering and Multiple Selection&lt;/h5&gt;
&lt;p-listbox [options]="countries" [(ngModel)]="selectedCountries" [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name" [listStyle]="&#123;'max-height':'250px'&#125;" [style]="&#123;'width':'15rem'&#125;"&gt;
    &lt;ng-template let-country pTemplate="item"&gt;
        &lt;div class="country-item"&gt;
            &lt;img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.value.code.toLowerCase()" /&gt;
            &lt;div&gt;&#123;&#123;country.value.name&#125;&#125;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-listbox&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class ListboxDemo &#123;

    cities: City[];

    countries: any[];

    selectedCity: City;

    selectedCountries: any[];

    constructor() &#123;
        this.cities = [
            &#123;name: 'New York', code: 'NY'&#125;,
            &#123;name: 'Rome', code: 'RM'&#125;,
            &#123;name: 'London', code: 'LDN'&#125;,
            &#123;name: 'Istanbul', code: 'IST'&#125;,
            &#123;name: 'Paris', code: 'PRS'&#125;
        ];

        this.countries = [
            &#123;name: 'Australia', code: 'AU'&#125;,
            &#123;name: 'Brazil', code: 'BR'&#125;,
            &#123;name: 'China', code: 'CN'&#125;,
            &#123;name: 'Egypt', code: 'EG'&#125;,
            &#123;name: 'France', code: 'FR'&#125;,
            &#123;name: 'Germany', code: 'DE'&#125;,
            &#123;name: 'India', code: 'IN'&#125;,
            &#123;name: 'Japan', code: 'JP'&#125;,
            &#123;name: 'Spain', code: 'ES'&#125;,
            &#123;name: 'United States', code: 'US'&#125;
        ];
    &#125;
    
&#125;
</app-code>

    </p-tabPanel>
    <p-tabPanel header="StackBlitz">
        <ng-template pTemplate="content">
            <iframe src="https://stackblitz.com/edit/primeng-listbox-demo?embed=1" style="width: 100%; height: 768px; border: none;"></iframe>
        </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>

