.ui-notify {
	position: fixed;
	top: 20px;
	right: 20px;
    width: 20em;
}

.ui-notify-message {
    position: relative;
	display: block;
    margin-bottom: .75em;
    overflow: hidden;
}

.ui-notify-message-content {
    padding: .5em 1em;
}

.ui-notify-close-icon {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor: pointer;
}

.ui-notify-summary {
	font-weight: bold;
	padding: 0 0 .5em 0;
	display: block;
}

.ui-notify-icon {
    position: absolute;
    display: inline-block;
    left: .5em;
    top: .25em;
    padding: 0;
    font-size: 2em;
}

.ui-notify-message-text-content {
	padding: 0 0 .25em 0;
    margin-left: 2.5em;
}

.ui-notify-message-info {
    color: #1765A3;
    background-color: #BFE0FA;
    border-color: #BFE0FA;
}

.ui-notify-message-info .ui-notify-close-icon {
    color: #1765A3;
}

.ui-notify-message-success {
    color: #2C832f;
    background-color: #B4F0B6;
    border-color: #B4F0B6;
}

.ui-notify-message-success .ui-notify-close-icon {
    color: #2C832f;
}

.ui-notify-message-warn {
    color: #8A6714;
    background-color: #FFE9B5;
    border-color: #FFE9B5;
}

.ui-notify-message-warn .ui-notify-close-icon {
    color: #8A6714;
}

.ui-notify-message-error {
    color: #AB1A0F;
    background-color: #FFCBC8;
    border-color: #FFCBC8;
}

.ui-notify-message-error .ui-notify-close-icon {
    color: #AB1A0F;
}