.ui-chkbox {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.ui-chkbox .ui-chkbox-box {
    float: left;
    width: 16px;
    height: 16px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-right: 3px;
}

.ui-chkbox .ui-chkbox-icon {
    margin-top: 1px;
    margin-left: -1px;
}

.ui-chkbox-label {
    vertical-align: middle;    
}

