.ui-inplace .ui-inplace-display {
    display: inline;
    cursor: pointer;
    border: 0 none;
    padding: .25em;
    font-weight: normal;
}

.ui-inplace .ui-inplace-content {
    display: inline;
}