<div class="layout-wrapper" [ngClass]="{'layout-news-active': newsActive}">
    <div class="layout-news" *ngIf="newsActive">
        <div class="layout-news-container">
            <span class="layout-news-details">
                Introducing PRIME<span style="color: #DD0031;">NG</span>&nbsp;LTS
            </span>
            <a [routerLink]="['/lts']" target="_blank" class="layout-news-button">
                LEARN MORE<i class="pi pi-angle-right"></i>
            </a>
            <a href="#" class="layout-news-close" (click)="hideNews($event)">
                <i class="pi pi-times"></i>
            </a>
        </div>
    </div>

    <div class="layout-topbar">
        <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
            <i class="pi pi-bars"></i>
        </a>

        <a class="logo" [routerLink]="['/']">
            <img alt="logo" src="assets/showcase/images/primeng-logo.svg" />
        </a>

        <ul class="topbar-menu" #topbarMenu>
            <li>
                <a tabindex="0" (click)="toggleTopbarSubmenu($event, 0)">Themes</a>
                <ul [@topbarSubmenu]="'visible'" *ngIf="activeTopbarSubmenu === 0" (@topbarSubmenu.start)="onTopbarSubmenuAnimationStart($event)">
                    <li class="topbar-submenu-header">Theming</li>
                    <li><a [routerLink]="['./theming']"><span class="topbar-submenu-icon pi pi-fw pi-file"></span>Guide</a></li>
                    <li><a href="https://www.primefaces.org/designer/primeng"><span class="topbar-submenu-icon pi pi-fw pi-cog"></span>Designer</a></li>
                    <li><a [routerLink]="['./icons']"><span class="topbar-submenu-icon pi pi-fw pi-search"></span>Icons</a></li>
                    <li class="topbar-submenu-header">Free Themes</li>
                    <li><a href="#" (click)="changeTheme($event, 'nova-light', false)"><img src="assets/showcase/images/themeswitcher-nova-light.png" alt="Nova Light"><span class="ui-text">Nova Light</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'nova-dark', false)"><img src="assets/showcase/images/themeswitcher-nova-dark.png" alt="Nova Dark"><span class="ui-text">Nova Dark</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'nova-colored', false)"><img src="assets/showcase/images/themeswitcher-nova-colored.png" alt="Nova Colored"><span class="ui-text">Nova Colored</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'luna-amber', true)"><img src="assets/showcase/images/themeswitcher-luna-amber.png" alt="Luna Amber"><span class="ui-text">Luna Amber</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'luna-blue', true)"><img src="assets/showcase/images/themeswitcher-luna-blue.png" alt="Luna Blue"><span class="ui-text">Luna Blue</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'luna-green', true)"><img src="assets/showcase/images/themeswitcher-luna-green.png" alt="Luna Green"><span class="ui-text">Luna Green</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'luna-pink', true)"><img src="assets/showcase/images/themeswitcher-luna-pink.png" alt="Luna Pink"><span class="ui-text">Luna Pink</span></a></li>
                    <li><a href="#" (click)="changeTheme($event, 'rhea', false)"><img src="assets/showcase/images/themeswitcher-rhea.png" alt="Luna Pink"><span class="ui-text">Rhea</span></a></li>
                </ul>
            </li>
            <li>
                <a tabindex="0" (click)="toggleTopbarSubmenu($event, 1)">Templates</a>
                <ul [@topbarSubmenu]="'visible'" *ngIf="activeTopbarSubmenu === 1" (@topbarSubmenu.start)="onTopbarSubmenuAnimationStart($event)">
                    <li class="topbar-submenu-header">Premium CLI Templates</li>
                    <li><a href="http://www.primefaces.org/layouts/mirage-ng"><img src="assets/showcase/images/themeswitcher-mirage.png" alt="Mirage"><span class="ui-text">Mirage </span><span class="theme-badge bootstrap">bootstrap</span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/prestige-ng"><img src="assets/showcase/images/themeswitcher-prestige.png" alt="Prestige"><span class="ui-text">Prestige </span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/sapphire-ng"><img src="assets/showcase/images/themeswitcher-sapphire.png" alt="Sapphire (Material)"><span class="ui-text">Sapphire <span class="theme-badge material">material</span></span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/avalon-ng"><img src="assets/showcase/images/themeswitcher-avalon.png" alt="Avalon (Bootstrap)"><span class="ui-text">Avalon <span class="theme-badge bootstrap">bootstrap</span></span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/serenity-ng"><img src="assets/showcase/images/themeswitcher-serenity.png" alt="Serenity (Material)"><span class="ui-text">Serenity <span class="theme-badge material">material</span></span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/ultima-ng"><img src="assets/showcase/images/themeswitcher-ultima.png" alt="Ultima (Material)"><span class="ui-text">Ultima <span class="theme-badge material">material</span></span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/barcelona-ng"><img src="assets/showcase/images/themeswitcher-barcelona.png" alt="Barcelona (Material)"><span class="ui-text">Barcelona <span class="theme-badge material">material</span></span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/babylon-ng"><img src="assets/showcase/images/themeswitcher-babylon.png" alt="Babylon"><span class="ui-text">Babylon </span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/roma-ng"><img src="assets/showcase/images/themeswitcher-roma.jpg" alt="Roma"><span class="ui-text">Roma </span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/olympia-ng"><img src="assets/showcase/images/themeswitcher-olympia.png" alt="Olympia"><span class="ui-text">Olympia </span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/california-ng"><img src="assets/showcase/images/themeswitcher-california.png" alt="Harmony"><span class="ui-text">California </span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/ecuador-ng"><img src="assets/showcase/images/themeswitcher-ecuador.png" alt="Ecuador"><span class="ui-text">Ecuador </span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/apollo-ng"><img src="assets/showcase/images/themeswitcher-apollo.png" alt="Apollo"><span class="ui-text">Apollo</span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/manhattan-ng"><img src="assets/showcase/images/themeswitcher-manhattan.png" alt="Manhattan"><span class="ui-text">Manhattan</span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/harmony-ng"><img src="assets/showcase/images/themeswitcher-harmony.png" alt="Harmony"><span class="ui-text">Harmony</span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/verona-ng"><img src="assets/showcase/images/themeswitcher-verona.png" alt="Verona"><span class="ui-text">Verona</span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/paradise-ng"><img src="assets/showcase/images/themeswitcher-paradise.png" alt="Paradise"><span class="ui-text">Paradise</span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/morpheus-ng"><img src="assets/showcase/images/themeswitcher-morpheus.png" alt="Morpheus"><span class="ui-text">Morpheus</span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/atlantis-ng"><img src="assets/showcase/images/themeswitcher-atlantis.png" alt="Atlantis"><span class="ui-text">Atlantis</span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/poseidon-ng"><img src="assets/showcase/images/themeswitcher-poseidon.png" alt="Poseidon"><span class="ui-text">Poseidon</span></a></li>
                    <li><a href="http://www.primefaces.org/layouts/omega-ng"><img src="assets/showcase/images/themeswitcher-omega.png" alt="Omega"><span class="ui-text">Omega</span></a></li>
                </ul>
            </li>
            <li>
                <a tabindex="0" (click)="toggleTopbarSubmenu($event, 2)">Resources</a>
                <ul [@topbarSubmenu]="'visible'" *ngIf="activeTopbarSubmenu === 2" (@topbarSubmenu.start)="onTopbarSubmenuAnimationStart($event)">
                    <li><a [routerLink]="['/lts']"><span>Long Term Support</span></a></li>
                    <li><a [routerLink]="['/support']"><span>PRO Support</span></a></li>
                    <li><a href="https://forum.primefaces.org/viewforum.php?f=35"><span>Community Support</span></a></li>
                    <li><a href="https://github.com/primefaces/primeng" target="_blank"><span>Source Code</span></a></li>
                    <li><a href="https://www.primefaces.org/store" target="_blank"><span>PrimeStore</span></a></li>
                    <li><a href="https://www.primefaces.org/category/primeng/" target="_blank"><span>Blog</span></a></li>
                    <li><a href="https://twitter.com/prime_ng?lang=en" target="_blank"><span>Twitter</span></a></li>
                    <li><a href="https://www.primefaces.org/whouses" target="_blank"><span>Who Uses</span></a></li>
                    <li><a href="https://www.primefaces.org/newsletter" target="_blank"><span>Newsletter</span></a></li>
                    <li><a href="https://www.primetek.com.tr" target="_blank"><span>About PrimeTek</span></a></li>
                </ul>
            </li>
            <li>
                <a tabindex="0" (click)="toggleTopbarSubmenu($event, 3)">{{versions ? versions[0].version : 'Latest'}}</a>
                <ul [@topbarSubmenu]="'visible'" *ngIf="activeTopbarSubmenu === 3" class="topbar-submenu-versions" (@topbarSubmenu.start)="onTopbarSubmenuAnimationStart($event)">
                    <li *ngFor="let v of versions">
                        <a [href]="v.url">{{v.version}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="layout-sidebar" [ngClass]="{'active': menuActive}">
        <div class="layout-menu">
            <div class="layout-menu-search ui-fluid">
                <p-autoComplete [(ngModel)]="searchText" [suggestions]="filteredRoutes" (completeMethod)="filterRoutes($event)"
                    (onSelect)="selectRoute($event)" placeholder="Search"></p-autoComplete>
                <i class="pi pi-search"></i>
            </div>
            <span>
                <i class="pi pi-home"></i>
                <span>General</span>
            </span>
            <div>
                <a [routerLink]="['/setup']" routerLinkActive="router-link-active">Get Started</a>
                <a [routerLink]="['/theming']" routerLinkActive="router-link-active">Theming</a>
                <a href="https://www.primefaces.org/designer/primeng">Designer</a>
                <a [routerLink]="['/flexgrid']" routerLinkActive="router-link-active">PrimeFlex</a>
                <a [routerLink]="['/icons']" routerLinkActive="router-link-active">Icons</a>
            </div>

            <span>
                <i class="pi pi-id-card"></i>
                <span>Form</span>
            </span>
            <div>
                <a [routerLink]="['/autocomplete']" routerLinkActive="router-link-active">AutoComplete</a>
                <a [routerLink]="['/calendar']" routerLinkActive="router-link-active">Calendar</a>
                <a [routerLink]="['/checkbox']" routerLinkActive="router-link-active">Checkbox</a>
                <a [routerLink]="['/chips']" routerLinkActive="router-link-active">Chips</a>
                <a [routerLink]="['/colorpicker']" routerLinkActive="router-link-active">ColorPicker</a>
                <a [routerLink]="['/dropdown']" routerLinkActive="router-link-active">Dropdown</a>
                <a [routerLink]="['/editor']" routerLinkActive="router-link-active">Editor</a>
                <a [routerLink]="['/formlayout']" routerLinkActive="router-link-active">FormLayout</a>
                <a [routerLink]="['/inputgroup']" routerLinkActive="router-link-active">InputGroup</a>
                <a [routerLink]="['/inputmask']" routerLinkActive="router-link-active">InputMask</a>
                <a [routerLink]="['/inputswitch']" routerLinkActive="router-link-active">InputSwitch</a>
                <a [routerLink]="['/inputtext']" routerLinkActive="router-link-active">InputText</a>
                <a [routerLink]="['/inputtextarea']" routerLinkActive="router-link-active">InputTextArea</a>
                <a [routerLink]="['/inputnumber']" routerLinkActive="router-link-active">InputNumber</a>
                <a [routerLink]="['/keyfilter']" routerLinkActive="router-link-active">KeyFilter</a>
                <a [routerLink]="['/listbox']" routerLinkActive="router-link-active">Listbox</a>
                <a [routerLink]="['/multiselect']" routerLinkActive="router-link-active">MultiSelect</a>
                <a [routerLink]="['/password']" routerLinkActive="router-link-active">Password</a>
                <a [routerLink]="['/radiobutton']" routerLinkActive="router-link-active">RadioButton</a>
                <a [routerLink]="['/rating']" routerLinkActive="router-link-active">Rating</a>
                <a [routerLink]="['/slider']" routerLinkActive="router-link-active">Slider</a>
                <a [routerLink]="['/spinner']" routerLinkActive="router-link-active">Spinner</a>
                <a [routerLink]="['/selectbutton']" routerLinkActive="router-link-active">SelectButton</a>
                <a [routerLink]="['/togglebutton']" routerLinkActive="router-link-active">ToggleButton</a>
                <a [routerLink]="['/tristatecheckbox']" routerLinkActive="router-link-active">TriCheckbox</a>
            </div>

            <span>
                <i class="pi pi-mobile" style="transform: rotate(90deg);"></i>
                <span>Button</span>
            </span>
            <div>
                <a [routerLink]="['/button']" routerLinkActive="router-link-active">Button</a>
                <a [routerLink]="['/splitbutton']" routerLinkActive="router-link-active">SplitButton</a>
            </div>

            <span>
                <i class="pi pi-list"></i>
                <span>Data</span>
            </span>
            <div>
                <a [routerLink]="['/carousel']" routerLinkActive="router-link-active">Carousel</a>
                <a [routerLink]="['/dataview']" routerLinkActive="router-link-active">DataView</a>
                <a [routerLink]="['/fullcalendar']" routerLinkActive="router-link-active">FullCalendar</a>
                <a [routerLink]="['/gmap']" routerLinkActive="router-link-active">GMap</a>
                <a [routerLink]="['/orderlist']" routerLinkActive="router-link-active">OrderList</a>
                <a [routerLink]="['/organizationchart']" routerLinkActive="router-link-active">Org Chart</a>
                <a [routerLink]="['/paginator']" routerLinkActive="router-link-active">Paginator</a>
                <a [routerLink]="['/picklist']" routerLinkActive="router-link-active">PickList</a>
                <div>
                    <a tabindex="0" (click)="toggleSubmenu($event, '/table')">Table</a>
                    <div [@submenu]="isSubmenuActive('/table') ? 'visible': 'hidden'">
                        <ul>
                            <li><a [routerLink]="['/table']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Documentation</a></li>
                            <li><a [routerLink]="['/table/basic']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Basic</a></li>
                            <li><a [routerLink]="['/table/dynamic']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Dynamic</a></li>
                            <li><a [routerLink]="['/table/sections']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Sections</a></li>
                            <li><a [routerLink]="['/table/page']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Page</a></li>
                            <li><a [routerLink]="['/table/sort']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Sort</a></li>
                            <li><a [routerLink]="['/table/selection']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Selection</a></li>
                            <li><a [routerLink]="['/table/filter']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Filter</a></li>
                            <li><a [routerLink]="['/table/colgroup']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">ColGroup</a></li>
                            <li><a [routerLink]="['/table/lazy']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Lazy</a></li>
                            <li><a [routerLink]="['/table/edit']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Edit</a></li>
                            <li><a [routerLink]="['/table/scroll']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Scroll</a></li>
                            <li><a [routerLink]="['/table/virtualscroll']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">VirtualScroll</a></li>
                            <li><a [routerLink]="['/table/flexscroll']" target="_blank" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">FlexScroll</a></li>
                            <li><a [routerLink]="['/table/rowexpansion']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">RowExpand</a></li>
                            <li><a [routerLink]="['/table/rowgroup']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">RowGroup</a></li>
                            <li><a [routerLink]="['/table/colresize']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Resize</a></li>
                            <li><a [routerLink]="['/table/reorder']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Reorder</a></li>
                            <li><a [routerLink]="['/table/coltoggle']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Toggle</a></li>
                            <li><a [routerLink]="['/table/style']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Style</a></li>
                            <li><a [routerLink]="['/table/export']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Export</a></li>
                            <li><a [routerLink]="['/table/contextmenu']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">ContextMenu</a></li>
                            <li><a [routerLink]="['/table/responsive']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Responsive</a></li>
                            <li><a [routerLink]="['/table/crud']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Crud</a></li>
                            <li><a [routerLink]="['/table/state']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">State</a></li>
                            <li><a [routerLink]="['/table/sticky']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Sticky</a></li>
                        </ul>
                    </div>
                </div>

                <div>
                    <a tabindex="0" (click)="toggleSubmenu($event, '/tree')">Tree</a>
                    <div [@submenu]="isSubmenuActive('/tree') ? 'visible': 'hidden'">
                        <ul>
                            <li><a [routerLink]="['/tree']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Documentation</a></li>
                            <li><a [routerLink]="['/tree/templating']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Templating</a></li>
                            <li><a [routerLink]="['/tree/selection']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Selection</a></li>
                            <li><a [routerLink]="['/tree/filter']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Filter</a></li>
                            <li><a [routerLink]="['/tree/lazy']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Lazy</a></li>
                            <li><a [routerLink]="['/tree/scroll']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Scroll</a></li>
                            <li><a [routerLink]="['/tree/contextmenu']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">ContextMenu</a></li>
                            <li><a [routerLink]="['/tree/dragdrop']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">DragDrop</a></li>
                            <li><a [routerLink]="['/tree/horizontal']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Horizontal</a></li>
                        </ul>
                    </div>
                </div>

                <div>
                    <a tabindex="0" (click)="toggleSubmenu($event, '/treetable')">TreeTable</a>
                    <div [@submenu]="isSubmenuActive('/treetable') ? 'visible': 'hidden'">
                        <ul>
                            <li><a [routerLink]="['/treetable']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Documentation</a></li>
                            <li><a [routerLink]="['/treetable/sections']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Sections</a></li>
                            <li><a [routerLink]="['/treetable/page']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Page</a></li>
                            <li><a [routerLink]="['/treetable/sort']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Sort</a></li>
                            <li><a [routerLink]="['/treetable/selection']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Selection</a></li>
                            <li><a [routerLink]="['/treetable/colgroup']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">ColGroup</a></li>
                            <li><a [routerLink]="['/treetable/lazy']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Lazy</a></li>
                            <li><a [routerLink]="['/treetable/edit']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Edit</a></li>
                            <li><a [routerLink]="['/treetable/scroll']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Scroll</a></li>
                            <li><a [routerLink]="['/treetable/colresize']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Resize</a></li>
                            <li><a [routerLink]="['/treetable/reorder']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Reorder</a></li>
                            <li><a [routerLink]="['/treetable/coltoggle']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Toggle</a></li>
                            <li><a [routerLink]="['/treetable/style']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Style</a></li>
                            <li><a [routerLink]="['/treetable/contextmenu']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">ContextMenu</a></li>
                            <li><a [routerLink]="['/treetable/responsive']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Responsive</a></li>
                            <li><a [routerLink]="['/treetable/filter']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Filter</a></li>
                        </ul>
                    </div>
                </div>

                <a [routerLink]="['/virtualscroller']" routerLinkActive="router-link-active">VirtualScroller</a>
            </div>

            <span>
                <i class="pi pi-th-large"></i>
                 <span>Panel</span>
             </span>
            <div>
                <a [routerLink]="['/accordion']" routerLinkActive="router-link-active">Accordion</a>
                <a [routerLink]="['/card']" routerLinkActive="router-link-active">Card</a>
                <a [routerLink]="['/fieldset']" routerLinkActive="router-link-active">Fieldset</a>
                <a [routerLink]="['/panel']" routerLinkActive="router-link-active">Panel</a>
                <a [routerLink]="['/scrollpanel']" routerLinkActive="router-link-active">ScrollPanel</a>
                <a [routerLink]="['/tabview']" routerLinkActive="router-link-active">TabView</a>
                <a [routerLink]="['/toolbar']" routerLinkActive="router-link-active">Toolbar</a>
            </div>

            <span>
                <i class="pi pi-clone"></i>
                <span>Overlay</span>
            </span>
            <div>
                <a [routerLink]="['/confirmdialog']" routerLinkActive="router-link-active">ConfirmDialog</a>
                <a [routerLink]="['/dialog']" routerLinkActive="router-link-active">Dialog</a>
                <a [routerLink]="['/dynamicdialog']" routerLinkActive="router-link-active">DynamicDialog</a>
                <a [routerLink]="['/lightbox']" routerLinkActive="router-link-active">Lightbox</a>
                <a [routerLink]="['/overlaypanel']" routerLinkActive="router-link-active">OverlayPanel</a>
                <a [routerLink]="['/sidebar']" routerLinkActive="router-link-active">Sidebar</a>
                <a [routerLink]="['/tooltip']" routerLinkActive="router-link-active">Tooltip</a>
            </div>

            <span>
                <i class="pi pi-file-o"></i>
                <span>File</span>
            </span>
            <div>
                <a [routerLink]="['/fileupload']" routerLinkActive="router-link-active">Upload</a>
            </div>

            <span>
                <i class="pi pi-bars"></i>
                <span>Menu</span>
            </span>
            <div>
                <a [routerLink]="['/menumodel']" routerLinkActive="router-link-active">MenuModel</a>
                <a [routerLink]="['/breadcrumb']" routerLinkActive="router-link-active">Breadcrumb</a>
                <a [routerLink]="['/contextmenu']" routerLinkActive="router-link-active">ContextMenu</a>
                <a [routerLink]="['/megamenu']" routerLinkActive="router-link-active">MegaMenu</a>
                <a [routerLink]="['/menu']" routerLinkActive="router-link-active">Menu</a>
                <a [routerLink]="['/menubar']" routerLinkActive="router-link-active">Menubar</a>
                <a [routerLink]="['/panelmenu']" routerLinkActive="router-link-active">PanelMenu</a>
                <a [routerLink]="['/slidemenu']" routerLinkActive="router-link-active">SlideMenu</a>
                <a [routerLink]="['/steps']" routerLinkActive="router-link-active">Steps</a>
                <a [routerLink]="['/tabmenu']" routerLinkActive="router-link-active">TabMenu</a>
                <a [routerLink]="['/tieredmenu']" routerLinkActive="router-link-active">TieredMenu</a>
            </div>

            <span>
                <i class="pi pi-chart-bar"></i>
                <span>Chart</span>
            </span>
            <div>
                <a [routerLink]="['/chart']" routerLinkActive="router-link-active">ChartModel</a>
                <a [routerLink]="['/chart/bar']" routerLinkActive="router-link-active">Bar</a>
                <a [routerLink]="['/chart/doughnut']" routerLinkActive="router-link-active">Doughnut</a>
                <a [routerLink]="['/chart/line']" routerLinkActive="router-link-active">Line</a>
                <a [routerLink]="['/chart/polararea']" routerLinkActive="router-link-active">PolarArea</a>
                <a [routerLink]="['/chart/pie']" routerLinkActive="router-link-active">Pie</a>
                <a [routerLink]="['/chart/radar']" routerLinkActive="router-link-active">Radar</a>
            </div>

            <span>
                <i class="pi pi-comment"></i>
                <span>Messages</span>
            </span>
            <div>
                <a [routerLink]="['/messages']" routerLinkActive="router-link-active">Messages</a>
                <a [routerLink]="['/toast']" routerLinkActive="router-link-active">Toast</a>
            </div>

            <span>
                <i class="pi pi-image"></i>
                <span>Image</span>
            </span>
            <div>
                <div>
                    <a tabindex="0" (click)="toggleSubmenu($event, '/galleria')">Galleria</a>
                    <div [@submenu]="isSubmenuActive('/galleria') ? 'visible': 'hidden'">
                        <ul>
                            <li><a [routerLink]="['/galleria']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Documentation</a></li>
                            <li><a [routerLink]="['/galleria/programmatic']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Programmatic</a></li>
                            <li><a [routerLink]="['/galleria/indicator']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Indicator</a></li>
                            <li><a [routerLink]="['/galleria/thumbnail']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Thumbnail</a></li>
                            <li><a [routerLink]="['/galleria/navigator']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Navigator</a></li>
                            <li><a [routerLink]="['/galleria/responsive']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Responsive</a></li>
                            <li><a [routerLink]="['/galleria/fullscreen']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Fullscreen</a></li>
                            <li><a [routerLink]="['/galleria/autoplay']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">AutoPlay</a></li>
                            <li><a [routerLink]="['/galleria/caption']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Caption</a></li>
                            <li><a [routerLink]="['/galleria/advanced']" routerLinkActive="router-link-active"[routerLinkActiveOptions]="{exact:true}">Advanced</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <span>
                <i class="pi pi-copy"></i>
                <span>DragDrop</span>
            </span>
            <div>
                <a [routerLink]="['/dragdrop']" routerLinkActive="router-link-active">Drag&amp;Drop</a>
            </div>
            
            <span>
                <i class="pi pi-share-alt"></i>
                <span>Misc</span>
            </span>
            <div>
                <a [routerLink]="['/blockui']" routerLinkActive="router-link-active">BlockUI</a>
                <a [routerLink]="['/captcha']" routerLinkActive="router-link-active">Captcha</a>
                <a [routerLink]="['/codehighlighter']" routerLinkActive="router-link-active">CodeHighlighter</a>
                <a [routerLink]="['/defer']" routerLinkActive="router-link-active">Defer</a>
                <a [routerLink]="['/filterutils']" routerLinkActive="router-link-active">FilterUtils</a>
                <a [routerLink]="['/focustrap']" routerLinkActive="router-link-active">FocusTrap</a>
                <a [routerLink]="['/inplace']" routerLinkActive="router-link-active">Inplace</a>
                <a [routerLink]="['/progressbar']" routerLinkActive="router-link-active">ProgressBar</a>
                <a [routerLink]="['/progressspinner']" routerLinkActive="router-link-active">ProgressSpinner</a>
                <a [routerLink]="['/responsive']" routerLinkActive="router-link-active">Responsive</a>
                <a [routerLink]="['/rtl']" routerLinkActive="router-link-active">RTL</a>
                <a [routerLink]="['/validation']" routerLinkActive="router-link-active">Validation</a>
                <a [routerLink]="['/terminal']" routerLinkActive="router-link-active">Terminal</a>
            </div>
        </div>
    </div>

    <div class="layout-mask" *ngIf="menuActive" (click)="menuActive = false">
    </div>

    <app-config></app-config>
    <div class="layout-content">
        <div>
            <router-outlet></router-outlet>
        </div>

        <div class="content-section layout-footer clearfix">
            <span>PrimeNG 10.0.0-beta.1 on Angular 10.0.0</span>
            <div class="footer-links">
            <div>
        </div>
    </div>

</div>
