$fontFamily: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
$fontSize: 1em;
$borderRadius: 4px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #e78f08;
$headerBgColor: #f6a828;
$headerTextColor: #ffffff;
$headerFontWeight: bold;
$headerIconTextColor: #ffffff;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #dddddd;
$contentBgColor: #eeeeee;
$contentTextColor: #333333;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #cccccc;
$stateDefaultBgColor: #f6f6f6;
$stateDefaultTextColor: #1c94c4;

//Active State
$stateActiveBorderColor: #fbd850;
$stateActiveBgColor: #ffffff;
$stateActiveTextColor: #eb8f00;

//Highlight State
$stateHighlightBorderColor: #fed22f;
$stateHighlightBgColor: #ffe45c;
$stateHighlightTextColor: #363636;

//Focus State
$stateFocusBorderColor: #fbcb09;
$stateFocusBgColor: #fdf5ce;
$stateFocusTextColor: #c77405;

//Error State
$stateErrorBorderColor: #cd0a0a;
$stateErrorBgColor: #b81900;
$stateErrorTextColor: #ffffff;

//Hover State
$stateHoverBorderColor: #fbcb09;
$stateHoverBgColor: #fdf5ce;
$stateHoverTextColor: #c77405;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #333333;
$invalidInputBorderColor: #cd0a0a;

@import '../_theme';