.layout-dark {
    --primary-color-default:var(--primary-400);
    --primary-color-inverse-default:var(--gray-900);
    --topbar-sticky-bg:rgba(0,0,0,.3);
    --card-border: 0 none;
    --card-bg: var(--surface-card);
    --glow-image: url(https://www.primefaces.org/cdn/primeng/images/layout/pattern.png), radial-gradient(50% 50% at center -25px, var(--primary-color) 0%, #000000 100%);
    --glow-blend: hard-light, color-dodge;
    --topbar-border: var(--surface-border);
    --mobile-menu-bg: rgba(0,0,0,.3);
    --demo-code-bg: var(--surface-card);
    --demo-code-button-color: var(--surface-500);
    --demo-code-button-hover-bg: rgba(255,255,255,.1);
    --demo-code-button-hover-color: var(--surface-700);
    --doc-highlight-text-bg: var(--surface-50);
    --doc-highlight-text-color: var(--surface-500);
}