.layout-light {
    --primary-color-default:var(--primary-600);
    --primary-color-inverse-default:var(--surface-0);
    --topbar-sticky-bg:rgba(255,255,255,.7);
    --card-border: 1px solid var(--surface-border);
    --card-bg: var(--surface-card);
    --glow-image: url(https://www.primefaces.org/cdn/primeng/images/layout/pattern.png), radial-gradient(50% 50% at center top, var(--primary-100) 0%, #ffffff 100%);
    --glow-blend: hard-light, multiply;
    --topbar-border: rgba(0,0,0,.05);
    --mobile-menu-bg: var(--surface-overlay);
    --demo-code-bg: var(--surface-800);
    --demo-code-button-color: var(--surface-300);
    --demo-code-button-hover-bg: rgba(255,255,255,.1);
    --demo-code-button-hover-color: var(--surface-100);
    --doc-highlight-text-bg: var(--surface-200);
    --doc-highlight-text-color: var(--surface-700);
}