:host ::ng-deep {
    .custom-galleria {
        &.p-galleria {
            &.fullscreen {
                display: flex;
                flex-direction: column;

                .p-galleria-content {
                    flex-grow: 1;
                    justify-content: center;
                }
            }
        }
    }
}
