.designer-image,
.architecture-image {
    width: 75%;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
    .designer-image,
    .architecture-image {
        width: 100%;
    }
}