.p-badge {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.p-tag {
    display: inline-block;
    text-align: center;
    line-height: 1.5;
}

.p-tag.p-tag-rounded {
    border-radius: 10rem;
}

.p-overlay-badge {
    position: relative;
    display: inline-block;
}

.p-overlay-badge .p-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(1em, -1em);
    margin: 0;
}