<div class="home">
    <div class="introduction">
        <h1>The Most Complete User Interface Suite</h1>
        <h2>for Angular</h2>

        <a class="home-button" [routerLink]="['/setup']">
            GET STARTED
        </a>
    </div>

    <div class="features">
        <h3>Why PrimeNG?</h3>
        <p class="features-tagline">Congratulations! 🎉 Your quest to find the UI library for Angular is complete.</p>

        <p style="features-description">PrimeNG is a collection of rich UI components for Angular. All widgets are open source and free to use under MIT License. PrimeNG is developed by <a href="http://www.primetek.com.tr">PrimeTek Informatics</a>,
            a vendor with years of expertise in developing open source UI solutions. For project news and updates, please follow us on <a href="https://twitter.com/prime_ng">twitter</a> and visit our <a href="https://www.primefaces.org/category/primeng/">blog</a>.</p>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
                <img src="assets/showcase/images/home/icon-component.svg" />
                <span class="feature-name">80+ COMPONENTS</span>
                <p>The most complete set of native widgets featuring 80+ easy to use components for all your UI requirements.</p>
            </div>
            <div class="ui-g-12 ui-md-4">
                <img src="assets/showcase/images/home/icon-opensource.svg" />
                <span class="feature-name">OPEN SOURCE</span>
                <p>Hosted at <a href="https://github.com/primefaces/primeng">GitHub</a>, all widgets are open source and free to use under MIT license. Feel the power of open source.</p>
            </div>
            <div class="ui-g-12 ui-md-4">
                <img src="assets/showcase/images/home/icon-themes.svg" />
                <span class="feature-name">PRODUCTIVITY</span>
                <p>Allocate your valuable time to business logic rather than dealing with the complex user interface requirements.</p>
            </div>
            <div class="ui-g-12 ui-md-4">
                <img src="assets/showcase/images/home/icon-productive.svg" />
                <span class="feature-name">THEMES</span>
                <p>Don’t get tied up in just one look & feel. Choose from a variety of options including material and flat design.</p>
            </div>
            <div class="ui-g-12 ui-md-4">
                <img src="assets/showcase/images/home/icon-mobile.svg" />
                <span class="feature-name">TEMPLATES</span>
                <p>Professionally designed highly customizable native Angular CLI application templates to get you started in no time. </p>
            </div>
            <div class="ui-g-12 ui-md-4">
                <img src="assets/showcase/images/home/icon-templates.svg" />
                <span class="feature-name">MOBILE</span>
                <p>Enhanced mobile user experience with  touch optimized responsive design elements.</p>
            </div>
        </div>
    </div>

    <div class="whouses">
        <h3>Key Users</h3>
        <p>Open source products of <a href="http://www.primetek.com.tr">PrimeTek</a> are used all around the world by 1M+ developers in Fortune 500 companies, corporations, government and educational
            institutions.</p>
        <div class="ui-g">
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/airbus.svg"></div>
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/amex.svg"></div>
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/bmw.svg"></div>
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/ebay.svg"></div>
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/ford.svg"></div>
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/fox.svg"></div>
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/lufthansa.svg"></div>
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/mercedes.svg"></div>
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/sap.svg"></div>
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/unicredit.svg"></div>
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/verizon.svg"></div>
            <div class="ui-g-6 ui-md-2"><img src="assets/showcase/images/home/viacom.svg"></div>
        </div>

        <div class="testimonials">
            <h3>Testimonials</h3>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/showcase/images/home/quote.svg">
                    <p>"We have selected PrimeNG among the others because we feel it’s currently the most mature and complete Angular library out there! We were simply searching the component library not a directive library."</p>
                    <i>Frank Kolar - SAP Ariba</i>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/showcase/images/home/quote.svg">
                    <p>"PrimeNG! They keep adding new features/components and stay current with Angular releases. Haven’t found a UI problem I couldn’t solve with their library."</p>
                    <i>Chris Kelley</i>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/showcase/images/home/quote.svg">
                    <p>"Some awesome components are available in PrimeNG and personally prefer this than Google Material."</p>
                    <i>Saravana Kumar</i>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/showcase/images/home/quote.svg">
                    <p>"We released our application, written with Angular and PrimeNG, last week. All the users said that they loved it, especially dragdrop feature of file upload component of PrimeNG."</p>
                    <i>Bunyamin Coskuner</i>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/showcase/images/home/quote.svg">
                    <p>"When I found your components it was like the Sun came out after a year of pouring rain. Thanks and congratulations."</p>
                    <i>Gerard Lanphear</i>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/showcase/images/home/quote.svg">
                    <p>"Hearty thanks PrimeNG. Perfect angular components."</p>
                    <i>Ramprit Sahani</i>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/showcase/images/home/quote.svg">
                    <p>"Thank you PrimeNG for beautiful Angular components."</p>
                    <i>Santhosh Krisnamurthy</i>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/showcase/images/home/quote.svg">
                    <p>"Fantastic framework that gives you a lot of options and tools for your solution or prototype."</p>
                    <i>Benjamin Andersen</i>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <img src="assets/showcase/images/home/quote.svg">
                    <p>"Did I ever mention how much I love PrimeNG."</p>
                    <i>Fikaye Adepoju</i>
                </div>
            </div>

        </div>
    </div>

    <div class="templates">
        <h3>Premium Application Templates for PrimeNG</h3>
        <p>Powered by Angular CLI, create awesome applications in no time using the premium templates of PrimeNG and impress your users.</p>

        <div class="ui-g">
            <div class="ui-g-6">
                <a href="https://www.primefaces.org/layouts/harmony-ng">
                    <img alt="Avalon" src="assets/showcase/images/layouts/harmony-ng.png">
                </a>
            </div>
            <div class="ui-g-6">
                <a href="https://www.primefaces.org/layouts/apollo-ng">
                    <img alt="Avalon" src="assets/showcase/images/layouts/apollo-ng.png">
                </a>
            </div>
            <div class="ui-g-6">
                <a href="https://www.primefaces.org/layouts/serenity-ng">
                    <img alt="Avalon" src="assets/showcase/images/layouts/serenity-ng.jpg">
                </a>
            </div>
            <div class="ui-g-6">
                <a href="https://www.primefaces.org/layouts/avalon-ng">
                    <img alt="Avalon" src="assets/showcase/images/layouts/avalon-ng.jpg">
                </a>
            </div>
            <div class="ui-g-12 ui-md-4">
                <a href="https://www.primefaces.org/layouts/verona-ng">
                    <img alt="Paradise" src="assets/showcase/images/layouts/verona-ng.png">
                </a>
            </div>
            <div class="ui-g-12 ui-md-4">
                <a href="https://www.primefaces.org/layouts/manhattan-ng">
                    <img alt="Manhattan" src="assets/showcase/images/layouts/manhattan-ng.png">
                </a>
            </div>
            <div class="ui-g-12 ui-md-4">
                <a href="https://www.primefaces.org/layouts/paradise-ng">
                    <img alt="Paradise" src="assets/showcase/images/layouts/paradise-ng.png">
                </a>
            </div>
            <div class="ui-g-12 ui-md-4">
                <a href="https://www.primefaces.org/layouts/ultima-ng">
                    <img alt="Ultima" src="assets/showcase/images/layouts/ultima-ng.jpg">
                </a>
            </div>
            <div class="ui-g-12 ui-md-4">
                <a href="https://www.primefaces.org/layouts/barcelona-ng">
                    <img alt="Barcelona" src="assets/showcase/images/layouts/barcelona-ng.jpg">
                </a>
            </div>
            <div class="ui-g-12 ui-md-4">
                <a href="https://www.primefaces.org/layouts/morpheus-ng">
                    <img alt="Morpheus" src="assets/showcase/images/layouts/morpheus-ng.jpg">
                </a>
            </div>
            <div class="ui-g-12 ui-md-4">
                <a href="https://www.primefaces.org/layouts/atlantis-ng">
                    <img alt="Atlantis" src="assets/showcase/images/layouts/atlantis-ng.jpg">
                </a>
            </div>
            <div class="ui-g-12 ui-md-4">
                <a href="https://www.primefaces.org/layouts/poseidon-ng">
                    <img alt="Poseidon" src="assets/showcase/images/layouts/poseidon-ng.jpg">
                </a>
            </div>
            <div class="ui-g-12 ui-md-4">
                <a href="https://www.primefaces.org/layouts/omega-ng">
                    <img alt="Omega" src="assets/showcase/images/layouts/omega-ng.jpg">
                </a>
            </div>
        </div>
    </div>

    <div class="why-templates">
        <div class="ui-g">
            <div class="ui-g-12">
                <img alt="Why You Should PrimeNG" src="assets/showcase/images/home/why-you-should-ng.jpg">
                <p>PrimeNG offers premium Angular CLI templates designed by our professional design team and implemented by the PrimeNG team.
                 Various other 3rd party Angular templates are actually ports from other technologies and they bring the burden of a <strong>dependency hell</strong>.
                 PrimeNG templates on the other hand utilize native Angular APIs, distributed as a CLI project, have a single dependency that is PrimeNG featuring top notch quality resulting in easier maintenance and unified look.</p>

                <p>Wondering about how PrimeNG premium templates are implemented? Check out the <a href="https://github.com/primefaces/primeng-blueprint">primeng-blueprint</a> project at GitHub and the <a href="https://www.primefaces.org/primeng-blueprint">live demo</a> for details.</p>
            </div>
            <div class="ui-g-12 ui-md-6">
                <h3>PrimeNG</h3>
                <hr>
                <ul>
                    <li>Single Dependency: PrimeNG</li>
                    <li>Developed by a Single Vendor with 10+ Years of UI Expertise</li>
                    <li>Unlimited Free Support and Updates</li>
                    <li>Implemented as a native Angular application</li>
                    <li>Flawless maintenance</li>
                    <li>Updated periodically after PrimeNG / Angular releases</li>
                    <li>No license restrictions on usage in multiple applications</li>
                    <li>Distributed as an Angular CLI Project</li>
                </ul>
            </div>
            <div class="ui-g-12 ui-md-6">
                <h3>Others</h3>
                <hr>
                <ul>
                    <li>Multiple 3rd Party Dependencies</li>
                    <li>Dependencies from different vendors</li>
                    <li>Paid Support</li>
                    <li>Port from another technology e.g. jQuery</li>
                    <li>Maintenance issues due to dependencies</li>
                    <li>No clear release cycle of updates</li>
                    <li>License restrictions to usage in multiple applications</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="primeng-designer">
        <h3>PrimeNG Designer API</h3>
        <div class="ui-g">
            <div class="ui-g-12">
                <img alt="Why You Should PrimeNG" src="assets/showcase/images/primeng-designer.jpg">
                <p><a href="https://www.primefaces.org/designer/primeng">Designer API</a> is a SASS based theme engine to create PrimeNG themes easily featuring over 500 variables, 
                    a demo application and a base sample theme. Whether you have your own style guide or just need a custom theme, Designer API is the right tool to design and bring them to existence.</p>

                <p>Visit <a href="https://www.primefaces.org/designer/primeng">Designer API HomePage</a> for more information, live demos and access to a trial version.</p>
            </div>
        </div>
    </div>

    <div class="prosupport">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
                <h3 class="pro-title">PrimeNG PRO Support</h3>
                <p>With PrimeNG PRO, it's easy to support, tune and add features to PrimeNG as if it were an in-house framework.</p>
                <p>PrimeNG PRO is a term based commercial support service. With the exclusive services of a Pro account, you no longer need to post your questions in the community forum and your issues to community issue tracker.</p>
                <a class="home-button" [routerLink]="['./support']">READ MORE</a>
            </div>
            <div class="ui-g-12 ui-md-6">
                <img alt="PRO" src="assets/showcase/images/home/icon-pro.svg">
            </div>
        </div>
    </div>

    <div class="book">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
                <h3>Angular UI Development with PrimeNG Book</h3>
                <p>Unleash the power of PrimeNG components to design compelling user interfaces for your Angular applications.</p>
                <a class="home-button" href="https://www.packtpub.com/web-development/angular-ui-development-primeng">
                    MORE INFO
                </a>
            </div>
            <div class="ui-g-12 ui-md-6">
                <a href="https://www.packtpub.com/web-development/angular-ui-development-primeng">
                    <img src="assets/showcase/images/book.png" />
                </a>
            </div>
        </div>
    </div>

</div>
