.ui-radiobutton {
    display:inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-right: .25em;
}

.ui-radiobutton-box {
    width: 1.125em;
    height: 1.125em;
    line-height: 1.125em;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
}

.ui-radiobutton-icon {
    display: block;
    font-size: .6em;
    line-height: inherit;
}
 
.ui-radiobutton, .ui-radiobutton-label {
    vertical-align: middle;
    display: inline-block;
}