<div class="content-section introduction">
    <div class="feature-intro">
        <h1>InputGroup</h1>
        <p>Text, icon, buttons and other content can be grouped next to an input.</p>
    </div>
    <app-inputStyleSwitch></app-inputStyleSwitch>
</div>

<div class="content-section implementation">
    <div class="card">
        <h5>Addons</h5>
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" pInputText placeholder="Username">         
                </div>
            </div>
            
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">$</span>
                    <input type="text" pInputText placeholder="Price">   
                    <span class="p-inputgroup-addon">.00</span>      
                </div>
            </div>
                    
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">www</span>
                    <input type="text" pInputText placeholder="Website">      
                </div>
            </div>
        </div>
            
        <h5>Multiple Addons</h5>
        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-tags" style="line-height: 1.25;"></i></span>  
                    <span class="p-inputgroup-addon"><i class="pi pi-shopping-cart" style="line-height: 1.25;"></i></span>   
                    <input type="text" pInputText placeholder="Price"> 
                    <span class="p-inputgroup-addon">$</span>  
                    <span class="p-inputgroup-addon">.00</span>      
                </div>
            </div>
        </div>
        
        <h5>Button Addons</h5>
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <button type="button" pButton pRipple label="Search"></button>
                    <input type="text" pInputText placeholder="Keyword">         
                </div>
            </div>
            
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <input type="text" pInputText placeholder="Keyword">   
                    <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn"></button>      
                </div>
            </div>
                    
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <button type="button" pButton pRipple icon="pi pi-check" styleClass="p-button-success"></button>    
                    <input type="text" pInputText placeholder="Vote">   
                    <button type="button" pButton pRipple icon="pi pi-times" styleClass="p-button-danger"></button>      
                </div>
            </div>
        </div>

        <h5>Checkbox and RadioButton</h5>
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><p-checkbox></p-checkbox></span>
                    <input type="text" pInputText placeholder="Username">         
                </div>
            </div>
            
            <div class="p-col-12 p-md-12">
                <div class="p-inputgroup">
                    <input type="text" pInputText placeholder="Price">   
                    <span class="p-inputgroup-addon"><p-radioButton></p-radioButton></span>      
                </div>
            </div>
                    
            <div class="p-col-12 p-md-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><p-checkbox></p-checkbox></span>
                    <input type="text" pInputText placeholder="Website">      
                    <span class="p-inputgroup-addon"><p-radioButton></p-radioButton></span> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="inputgroupdemo.html">
<a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/inputgroup" class="btn-viewsource" target="_blank">
    <span>View on GitHub</span>
</a>
<a href="https://stackblitz.com/edit/primeng-inputgroup-demo" class="btn-viewsource" style="margin-left: .5em;" target="_blank">
    <span>Edit in StackBlitz</span>
</a>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;h5&gt;Addons&lt;/h5&gt;
&lt;div class="p-grid p-fluid"&gt;
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;div class="p-inputgroup"&gt;
            &lt;span class="p-inputgroup-addon"&gt;&lt;i class="pi pi-user"&gt;&lt;/i&gt;&lt;/span&gt;
            &lt;input type="text" pInputText placeholder="Username"&gt;         
        &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;div class="p-inputgroup"&gt;
            &lt;span class="p-inputgroup-addon"&gt;$&lt;/span&gt;
            &lt;input type="text" pInputText placeholder="Price"&gt;   
            &lt;span class="p-inputgroup-addon"&gt;.00&lt;/span&gt;      
        &lt;/div&gt;
    &lt;/div&gt;
            
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;div class="p-inputgroup"&gt;
            &lt;span class="p-inputgroup-addon"&gt;www&lt;/span&gt;
            &lt;input type="text" pInputText placeholder="Website"&gt;      
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
    
&lt;h5&gt;Multiple Addons&lt;/h5&gt;
&lt;div class="p-grid"&gt;
    &lt;div class="p-col-12"&gt;
        &lt;div class="p-inputgroup"&gt;
            &lt;span class="p-inputgroup-addon"&gt;&lt;i class="pi pi-tags" style="line-height: 1.25;"&gt;&lt;/i&gt;&lt;/span&gt;  
            &lt;span class="p-inputgroup-addon"&gt;&lt;i class="pi pi-shopping-cart" style="line-height: 1.25;"&gt;&lt;/i&gt;&lt;/span&gt;   
            &lt;input type="text" pInputText placeholder="Price"&gt; 
            &lt;span class="p-inputgroup-addon"&gt;$&lt;/span&gt;  
            &lt;span class="p-inputgroup-addon"&gt;.00&lt;/span&gt;      
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;h5&gt;Button Addons&lt;/h5&gt;
&lt;div class="p-grid p-fluid"&gt;
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;div class="p-inputgroup"&gt;
            &lt;button type="button" pButton pRipple label="Search"&gt;&lt;/button&gt;
            &lt;input type="text" pInputText placeholder="Keyword"&gt;         
        &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;div class="p-inputgroup"&gt;
            &lt;input type="text" pInputText placeholder="Keyword"&gt;   
            &lt;button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn"&gt;&lt;/button&gt;      
        &lt;/div&gt;
    &lt;/div&gt;
            
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;div class="p-inputgroup"&gt;
            &lt;button type="button" pButton pRipple icon="pi pi-check" styleClass="p-button-success"&gt;&lt;/button&gt;    
            &lt;input type="text" pInputText placeholder="Vote"&gt;   
            &lt;button type="button" pButton pRipple icon="pi pi-times" styleClass="p-button-danger"&gt;&lt;/button&gt;      
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;h5&gt;Checkbox and RadioButton&lt;/h5&gt;
&lt;div class="p-grid p-fluid"&gt;
    &lt;div class="p-col-12 p-md-12"&gt;
        &lt;div class="p-inputgroup"&gt;
            &lt;span class="p-inputgroup-addon"&gt;&lt;p-checkbox&gt;&lt;/p-checkbox&gt;&lt;/span&gt;
            &lt;input type="text" pInputText placeholder="Username"&gt;         
        &lt;/div&gt;
    &lt;/div&gt;
    
    &lt;div class="p-col-12 p-md-12"&gt;
        &lt;div class="p-inputgroup"&gt;
            &lt;input type="text" pInputText placeholder="Price"&gt;   
            &lt;span class="p-inputgroup-addon"&gt;&lt;p-radioButton&gt;&lt;/p-radioButton&gt;&lt;/span&gt;      
        &lt;/div&gt;
    &lt;/div&gt;
            
    &lt;div class="p-col-12 p-md-12"&gt;
        &lt;div class="p-inputgroup"&gt;
            &lt;span class="p-inputgroup-addon"&gt;&lt;p-checkbox&gt;&lt;/p-checkbox&gt;&lt;/span&gt;
            &lt;input type="text" pInputText placeholder="Website"&gt;      
            &lt;span class="p-inputgroup-addon"&gt;&lt;p-radioButton&gt;&lt;/p-radioButton&gt;&lt;/span&gt; 
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</app-code>
        </p-tabPanel>
        
        <p-tabPanel header="inputgroupdemo.ts">
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class InputGroupDemo &#123;

&#125;
</app-code>
        </p-tabPanel>
        <p-tabPanel header="StackBlitz">
            <ng-template pTemplate="content">
                <iframe src="https://stackblitz.com/edit/primeng-inputgroup-demo?embed=1" style="width: 100%; height: 768px; border: none;"></iframe>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>