.ui-dataview {
    position: relative;
}

.ui-dataview .ui-paginator {
	text-align: center;
}

.ui-dataview-column {
	padding: .25em;
}

.ui-dataview-content-empty {
    padding: .25em .625em;
}

.ui-dataview .ui-dataview-header,
.ui-dataview .ui-dataview-footer {
	padding: .5em .75em;
}

.ui-dataview .ui-dataview-header {
    border-bottom: 0 none;
}

.ui-dataview .ui-dataview-footer {
    border-top: 0 none;
}

.ui-dataview .ui-paginator-top {
    border-bottom: 0 none;
}

.ui-dataview .ui-paginator-bottom {
    border-top: 0 none;
}

.ui-dataview .ui-dataview-emptymessage {
    padding: .5em .75em;
}

/* Loader */
.ui-dataview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    opacity: 0.1;
    z-index: 1;
}

.ui-dataview-loading-content {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    margin-top: -1em;
    margin-left: -1em;
}

.ui-dataview-loading-icon {
    font-size: 2em;
}
