<div class="content-section introduction">
    <div>
        <span class="feature-title">Panel</span>
        <span>Panel is a grouping component providing with content toggle feature.</span>
    </div>
</div>

<div class="content-section implementation">
    <p-toast [style]="{marginTop: '80px'}"></p-toast>

    <p-panel header="Godfather I" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
        The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
    </p-panel>

    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="display:inline-block;margin-top:.4em">Custom Header</span>

                <p-splitButton [style]="{'float':'right'}" label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton>
            </div>
        </p-header>
        The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
        <p-footer>
            <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" style="margin-right: .25em"></button>
            <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"></button>
        </p-footer>
    </p-panel>
</div>

<div class="content-section documentation">
    <p-tabView effect="fade">
        <p-tabPanel header="Documentation">
            <h3>Import</h3>
<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;PanelModule&#125; from 'primeng/panel';
</code>
</pre>

            <h3>Getting Started</h3>
            <p>Panel is defined with p-panel element.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-panel header="Title"&gt;
    Content
&lt;/p-panel&gt;
</code>
</pre>
            <h3>Toggleable</h3>
            <p>Content of the panel can be expanded and collapsed using toggleable option, default state is defined with collapsed option. By default, toggle icon
                is used to toggle the contents whereas setting toggler to "header" enables clicking anywhere in the header to trigger a toggle.
            </p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-panel header="Title" [toggleable]="true"&gt;
    Content
&lt;/p-panel&gt;
</code>
</pre>

            <h3>Header and Footer Content</h3>
            <p>Header and Footers sections can be customized using p-header and p-footer components.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-panel &gt;
    &lt;p-header&gt;
        Header content here
    &lt;/p-header&gt;
    Body Content
    &lt;p-footer&gt;
        Footer content here
    &lt;/p-footer&gt;
&lt;/p-panel&gt;
</code>
</pre>

            <h3>Animation Configuration</h3>
            <p>Transition of the toggle animation can be customized using the transitionOptions property with a default value as <b>400ms cubic-bezier(0.86, 0, 0.07, 1)</b>, 
                example below disables the animation altogether.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-panel [transitionOptions]="'0ms'"&gt;
&lt;/p-panel&gt;
</code>
</pre>
            <h3>Properties</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>header</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Header text of the panel.</td>
                        </tr>
                        <tr>
                            <td>toggleable</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>Defines if content of panel can be expanded and collapsed.</td>
                        </tr>
                        <tr>
                            <td>collapsed</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>Defines the initial state of panel content, supports one or two-way binding as well.</td>
                        </tr>
                        <tr>
                            <td>style</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Inline style of the component.</td>
                        </tr>
                        <tr>
                            <td>styleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Style class of the component.</td>
                        </tr>
                        <tr>
                            <td>expandIcon</td>
                            <td>string</td>
                            <td>pi pi-plus</td>
                            <td>Expand icon of the toggle button.</td>
                        </tr>
                        <tr>
                            <td>collapseIcon</td>
                            <td>string</td>
                            <td>pi pi-minus</td>
                            <td>Collapsed icon of the toggle button.</td>
                        </tr>
                        <tr>
                            <td>showHeader</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Specifies if header of panel cannot be displayed.</td>
                        </tr>
                        <tr>
                            <td>transitionOptions</td>
                            <td>string</td>
                            <td>400ms cubic-bezier(0.86, 0, 0.07, 1)</td>
                            <td>Transition options of the animation.</td>
                        </tr>
                        <tr>
                            <td>toggler</td>
                            <td>string</td>
                            <td>icon</td>
                            <td>Specifies the toggler element to toggle the panel content, valid values are "icon" and "header".</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Events</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameters</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>onBeforeToggle</td>
                            <td>event.originalEvent: browser event<br>
                                event.collapsed: state as a boolean</td>
                            <td>Callback to invoke before content toggle.</td>
                        </tr>
                        <tr>
                            <td>onAfterToggle</td>
                            <td>event.originalEvent: browser event<br>
                                event.collapsed: state as a boolean</td>
                            <td>Callback to invoke after content toggle.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Styling</h3>
            <p>Following is the list of structural style classes, for theming classes visit <a href="#" [routerLink]="['/theming']">theming page</a>.</p>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Element</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ui-panel</td>
                            <td>Container element.</td>
                        </tr>
                        <tr>
                            <td>ui-panel-titlebar</td>
                            <td>Header section.</td>
                        </tr>
                        <tr>
                            <td>ui-panel-title</td>
                            <td>Title text of panel.</td>
                        </tr>
                        <tr>
                            <td>ui-panel-titlebar-toggler</td>
                            <td>Toggle icon.</td>
                        </tr>
                        <tr>
                            <td>ui-panel-content</td>
                            <td>Content of panel.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Dependencies</h3>
            <p>None.</p>
        </p-tabPanel>

        <p-tabPanel header="Source">
        <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/panel" class="btn-viewsource" target="_blank">
            <i class="fa fa-github"></i>
            <span>View on GitHub</span>
        </a>

<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-toast [style]="&#123;marginTop: '80px'&#125;"&gt;&lt;/p-toast&gt;

&lt;p-panel header="Godfather I" [toggleable]="true" [style]="&#123;'margin-bottom':'20px'&#125;"&gt;
    The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
    His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
    Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
    kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
&lt;/p-panel&gt;

&lt;p-panel&gt;
    &lt;p-header&gt;
        &lt;div class="ui-helper-clearfix"&gt;
            &lt;span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px"&gt;Custom Header&lt;/span&gt;
            &lt;p-splitButton [style]="&#123;'float':'right'&#125;" label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"&gt;&lt;/p-splitButton&gt;
        &lt;/div&gt;
    &lt;/p-header&gt;
        The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
    &lt;p-footer&gt;
        &lt;button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" style="margin-right: .25em"&gt;&lt;/button&gt;
        &lt;button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"&gt;&lt;/button&gt;
    &lt;/p-footer&gt;
&lt;/p-panel&gt;
</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>
