<div>
    <div class="doc-intro">
        <h1>Meet the Team</h1>
        <p>
            <a href="https://www.primetek.com.tr" class="text-primary hover:underline font-semibold">
                PrimeTek
            </a>
            is a world renowned vendor of popular UI Component suites including
            <a href="https://primefaces.org" class="text-primary hover:underline font-semibold">
                PrimeFaces
            </a>
            ,
            <a href="https://primeng.org" class="text-primary hover:underline font-semibold">
                PrimeNG
            </a>
            ,
            <a href="https://primereact.org" class="text-primary hover:underline font-semibold">
                PrimeReact
            </a>
            and
            <a href="https://primevue.org" class="text-primary hover:underline font-semibold">
                PrimeVue
            </a>
            . All the members in our team are full time employees of PrimeTek who share the same passion and vision for open source to create awesome UI libraries.
        </p>
    </div>

    <div class="card p-8">
        <div class="flex flex-wrap gap-8">
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/cagatay.jpg" class="border-circle mb-4" alt="Cagatay Civici" />
                <span class="mb-2 text-xl font-bold">Çağatay Çivici</span>
                <span>Founder</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/mert.jpg" class="border-circle mb-4" alt="Mert Sincan" />
                <span class="mb-2 text-xl font-bold">Mert Sincan</span>
                <span>CTO</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/onur.jpg" class="border-circle mb-4" alt="Onur Şentüre" />
                <span class="mb-2 text-xl font-bold">Onur Şentüre</span>
                <span>Design Lead</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/yigit.jpg" class="border-circle mb-4" alt="Yiğit Fındıklı" />
                <span class="mb-2 text-xl font-bold">Yiğit Fındıklı</span>
                <span>Technical Lead</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/dilara.jpg" class="border-circle mb-4" alt="Dilara Can" />
                <span class="mb-2 text-xl font-bold">Dilara Güngenci</span>
                <span>Business Administration</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/cetin.jpg" class="border-circle mb-4" alt="Çetin Çakıroğlu" />
                <span class="mb-2 text-xl font-bold">Çetin Çakıroğlu</span>
                <span>Front-End Developer</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/tugce.jpg" class="border-circle mb-4" alt="Tuğçe Küçükoğlu" />
                <span class="mb-2 text-xl font-bold">Tuğçe Küçükoğlu</span>
                <span>Front-End Developer</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/atakan.jpg" class="border-circle mb-4" alt="Atakan Tepe" />
                <span class="mb-2 text-xl font-bold">Atakan Tepe</span>
                <span>Front-End Developer</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/kerem.jpg" class="border-circle mb-4" alt="Kerem Yıldan" />
                <span class="mb-2 text-xl font-bold">Kerem Yıldan</span>
                <span>UI/UX Designer</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/ulas.jpg" class="border-circle mb-4" alt="Ulaş Turan" />
                <span class="mb-2 text-xl font-bold">Ulaş Turan</span>
                <span>Front-End Developer</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/bugra.jpg" class="border-circle mb-4" alt="Buğra Beydüz" />
                <span class="mb-2 text-xl font-bold">Buğra Beydüz</span>
                <span>Front-End Developer</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/aliriza.jpg" class="border-circle mb-4" alt="Alirıza Gücal" />
                <span class="mb-2 text-xl font-bold">Ali Rıza Gücal</span>
                <span>Front-End Developer</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/furkan.jpg" class="border-circle mb-4" alt="Furkan Seziş" />
                <span class="mb-2 text-xl font-bold">Furkan Seziş</span>
                <span>Front-End Developer</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/burak.jpg" class="border-circle mb-4" alt="Burak Sağlam" />
                <span class="mb-2 text-xl font-bold">Burak Sağlam</span>
                <span>Front-End Developer</span>
            </div>
            <div class="flex flex-column align-items-center flex-auto">
                <img src="https://primefaces.org/cdn/primeng/images/team/umit.jpg" class="border-circle mb-4" alt="Ümit Çelik" />
                <span class="mb-2 text-xl font-bold">Ümit Çelik</span>
                <span>UI/UX Designer</span>
            </div>
        </div>
    </div>
</div>