.landing-dark {
    --home-highlight-color:#1876d1;
    --home-highlight-darker-color:#135ea7;
    --home-highlight-fore-color:#ffffff;
    --home-bg:#030B17;
    --home-intro-bg:linear-gradient(180deg, #061730 0%, #030B17 100%);
    --home-border-color:#183E71;
    --home-primary-text-color:#ffffff;
    --home-secondary-text-color:#B6C4D6;
    --home-card-shadow:0px 50px 100px rgba(0, 0, 0, 0.25);
    --home-box-bg:rgba(11, 33, 63, 0.55);
    --home-linkbox-bg:rgba(11, 33, 63, 0.55);
    --home-linkbox-border:1px solid #183E71;
    --home-linkbox-text-color:#ffffff;
    --home-linkbox-hover-bg:rgba(11, 33, 63, 0.9);
    --home-header-bg:rgba(11, 33, 63, 0.65);
    --home-menu-link-text-color:#ffffff;
    --home-menu-link-hover-bg:rgba(11, 33, 63, 0.9);
    --home-herobox-bg:#0B213F;
    --home-herobox-shadow:0px 50px 100px rgba(0, 0, 0, 0.25);
    --home-herobox-strip-top-bg:linear-gradient(360deg, rgba(3, 11, 23, 0) 0%, rgba(11, 37, 73, 0.913125) 53.83%, rgba(7, 24, 48, 0) 101.32%);
    --home-herobox-strip-bottom-bg:linear-gradient(90deg, rgba(3, 11, 23, 0) 0%, #0C284E 50%, rgba(3, 11, 23, 0) 100%);
    --home-herobox-logo-shadow:0px 50px 100px 0px #000000;
    --home-components-strip-bg:linear-gradient(90deg, rgba(3, 11, 23, 0) 0%, #071934 100%);
    --home-blocks-bg:linear-gradient(180deg, #040B17 0%, #061B38 58.33%, #030B17 100%);
    --home-blocks-block-bg:#0B213F8C;
    --home-blocks-block-shadow:0px 4.787564754486084px 10px 0px #0000001A , 0px 4px 25px rgba(0, 0, 0, 0.288);
    --home-blocks-border-left:5px solid #0E294D;
    --home-blocks-border-bottom:7px solid #0E294D;
    --home-blocks-border:1px solid #183E71;
    --home-blocks-sidebar-bg:#0D264A;
    --home-blocks-list-bg:#0C2242;
    --home-blocks-main-bg:#0B213F8C;
    --home-blocks-main-border:1px solid #183E71;
    --home-blocks-item-bg:#0D264A;
    --home-blocks-image-bg:#102F5B;
    --home-blocks-text-color:#133667;
    --home-blocks-active-shadow:0px 30px 50px 0px #00000049;
    --home-blocks-active-border-top:1px solid #183E71;
    --home-blocks-active-border-right:1px solid #183E71;
    --home-blocks-active-border-bottom:6px solid #112d52;
    --home-blocks-active-border-left:4px solid #183E71;
    --home-blocks-animation-shadow:0px 30px 50px 20px #00000059;
    --home-blocks-tablebar-bg:#194686;
    --home-blocks-bar-bg:#15386B;
    --home-blocks-bar-button-bg:#0C2E56;
    --home-blocks-circle-bg:#15386B;
    --home-templates-bg:linear-gradient(180deg,#040b17 0%,#061b38 58.33%,#030b17 100%);
    --home-templates-block-shadow:0px 4.787564754486084px 10px 0px #0000001a;
    --home-templates-block-border-left:5px solid rgb(13, 35, 65);
    --home-templates-block-border-bottom:7px solid #09182d;
    --home-templates-line:linear-gradient(rgba(10, 35, 70, 0),#0e3163 50%,rgba(10, 35, 70, 0));
    --home-templates-block-hover-bg:rgba(11, 33, 63, 0.699);
    --home-templates-btn-bg:rgb(11, 33, 63);
    --home-templates-btn-text-color:#ffffff;
    --home-templates-btn-shadow:0px 10px 15px 0px #00000040;
    --home-templates-btn-border-top:1px solid rgb(13, 40, 78);
    --home-templates-btn-border-right:1px solid rgb(13, 40, 78);
    --home-templates-btn-border-bottom:4px solid rgb(13, 40, 78);
    --home-templates-btn-border-left:3px solid rgb(13, 40, 78);
    --home-features-card-shadow: none;
    --glow-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png), radial-gradient(50% 50% at center -25px, var(--primary-color) 0%, #000000 100%);
    --glow-blend: hard-light, color-dodge;

}