:host ::ng-deep {
    &.custom-indicator-galleria {
        &.ui-galleria-indicators-left {
            .ui-galleria-item-wrapper {
                .ui-galleria-indicators {
                    display: flex;
                    justify-content: space-between;
                    padding: 0;

                    .ui-galleria-indicator-item {
                        margin-left: 0;
                        height: 100%;
                        padding-left: .5em !important;
                        padding-right: .5em !important;
                        background-color: rgba(0, 0, 0, 0.6);
                        color: #ffffff;
                        border-top-width: 0 !important;
                        border-radius: 0;
                        min-width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        transition: all .2s;

                        &:first-child {
                            border-top-width: 1px !important;
                        }

                        &.ui-state-highlight {
                            color: var(--primaryTextColor);
                            background-color: var(--primaryColor);
                            border-color: var(--primaryColor);
                        }
                    }
                }
            }
        }

        &:not(.ui-galleria-indicator-onitem) {
            &.ui-galleria-indicators-left {
                .ui-galleria-item-wrapper {
                    align-items: stretch;

                    .ui-galleria-item-container {
                        border: 1px solid #c8c8c8; /* for IE */
                        border: var(--panelContentBorder);
                        border-left-width: 0;
                    }

                    .ui-galleria-indicators {
                        .ui-galleria-indicator-item {
                            background-color: #ffffff;
                            border: 1px solid #c8c8c8; /* for IE */
                            border: var(--panelContentBorder);
                            color: #333333;

                            &.ui-state-highlight {
                                color: var(--primaryTextColor);
                                background-color: var(--primaryColor);
                                border-color: var(--primaryColor);
                            }
                        }
                    }
                }
            }
        }
    }

    &.custom-indicator-galleria2 {
        &.ui-galleria-indicators-left {
            .ui-galleria-content {
                .ui-galleria-item-wrapper {
                    .ui-galleria-indicators {
                        .ui-galleria-indicator-item {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}