:host ::ng-deep .custom-galleria {
    &.ui-galleria {
        .ui-galleria-content {
            height: 95%;
            overflow: hidden;
            position: relative;

            .ui-galleria-thumbnail-content {
                position: absolute;
                width: 100%;
                bottom: 0;
                background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 70%);

                .ui-galleria-thumbnail-container {
                    .ui-galleria-thumbnail-items-content {
                        .ui-galleria-thumbnail-items-container {
                            .ui-galleria-thumbnail-item {
                                opacity: .6;

                                &.ui-galleria-thumbnail-item-current {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        .ui-galleria-footer {
            padding: 0;
            background-color: rgba(0, 0, 0, .9);
            border: rgba(0, 0, 0, .9);

            .custom-galleria-footer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: stretch;
                color: #ffffff;

                > .ui-button {
                    background-color: transparent;
                    padding: .3em;
                    margin: .2em;
                    border: 0 none;
                    border-radius: 0;
                    color: #ffffff;

                    &:hover {
                        background-color: transparent;
                    }
                }

                > span {
                    flex-grow: 1;

                    > span {
                        font-size: .8em;
                        padding-left: .829em;

                        &.title {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        &.preview-fullscreen {
            .ui-galleria-preview-container {
                .ui-galleria-preview-nav-button {
                    top: 50%;
                    height: 20em;
                    width: 4em;
                    margin-top: -10em;
                }
            }
        }
    }
}