.ui-paginator {
    margin:0px;
    text-align: center;
    padding:2px;
}

.ui-paginator .ui-paginator-top {
    border-bottom:0px none;
}

.ui-paginator .ui-paginator-bottom {
    border-top:0px none;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-pages,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev,
.ui-paginator .ui-paginator-current {
	display: inline-block;
	padding: 2px 6px;
	zoom: 1;
	margin-left: 1px;
	margin-right: 1px;
	text-decoration: none;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev{
    cursor: pointer;
}

.ui-paginator .ui-paginator-current,
.ui-paginator .ui-paginator-rpp-options {
	margin-left: 1em;
	margin-right: 1em;
    background-image: none;
}

.ui-paginator .ui-paginator-jtp-select option,
.ui-paginator .ui-paginator-rpp-options option {
    background-image: none;
    border:0 none;
    box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}