<div class="content-section introduction">
    <div  class="feature-intro">
        <h1>KeyFilter</h1>
        <p>KeyFilter directive restricts user input based on a regular expression.</p>
    </div>
    <app-inputStyleSwitch></app-inputStyleSwitch>
</div>

<div class="content-section implementation">
    <div class="card">
        <h5>Filtering</h5>
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <input type="text" pInputText pKeyFilter="int" placeholder="Integers">
            </div>
            <div class="p-col-12 p-md-4">
                <input type="text" pInputText pKeyFilter="num" placeholder="Numbers">
            </div>
            <div class="p-col-12 p-md-4">
                <input type="text" pInputText pKeyFilter="money" placeholder="Money">
            </div>
            <div class="p-col-12 p-md-4">
                <input type="text" pInputText pKeyFilter="hex" placeholder="Hex">
            </div>
            <div class="p-col-12 p-md-4">
                <input type="text" pInputText pKeyFilter="alpha" placeholder="Alphabetic">
            </div>
            <div class="p-col-12 p-md-4">
                <input type="text" pInputText pKeyFilter="alphanum" placeholder="Alphanumeric">
            </div>
            <div class="p-col-12 p-md-4">
                <input type="text" pInputText [pKeyFilter]="blockSpecial" placeholder="Block # < > * !">
            </div>
            <div class="p-col-12 p-md-4">
                <input type="text" pInputText [pKeyFilter]="blockSpace" placeholder="Block space key">
            </div>
        </div>

        <h5>Validation Mode</h5>
        <form #form="ngForm">
            <label for="cc" style="display:block;margin-bottom:4px">Credit Card</label>
            <input id="cc" type="text" name="cc" [(ngModel)]="cc" pInputText [pKeyFilter]="ccRegex" [pValidateOnly]="true" placeholder="1234-1234-1234-1234" style="margin-right: .5em">
            <p-message severity="error" text="Not a valid number" [@errorState]="form.dirty && !form.valid ? 'visible' : 'hidden'"></p-message>
        </form>
    </div>
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="Documentation">
                    <h5>Import</h5>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;KeyFilterModule&#125; from 'primeng/keyfilter';
</app-code>

            <h5>Getting Started</h5>
            <p>KeyFilter directive is applied to an input text element using pKeyFilter attribute whose value is either a built-in regular expression name or a custom one.
                Following input only accepts integers.</p>
            
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;input type="text" pKeyFilter="int"&gt;
</app-code>

            <h5>Built-in Filters</h5>
            <p>Commonly used cases have their own built-in shortcuts.</p>
            <ul>
                <li>pint: Positive integers</li>
                <li>int: Integers</li>
                <li>pnum: Positive numbers</li>
                <li>num: Numbers</li>
                <li>hex: Hexadecimal</li>
                <li>email: Email</li>
                <li>alpha: Alphabetic</li>
                <li>alphanum: Alphanumeric</li>
            </ul>

            <h5>Custom Filter</h5>
            <p>A custom filter is provided by binding a regular expression, here is an example that blocks special characters including "< > * !"</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;input type="text" [pKeyFilter]="noSpecial"&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class KeyFilterDemo &#123;

     noSpecial: RegExp = /^[^&lt;&gt;*!]+$/

&#125;
</app-code>

            <h5>Validate Mode</h5>
            <p>Instead of blocking a single keypress, the alternative validation mode which is enabled with pValidateOnly property validates the whole input
                with a built-in Angular validator.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;form #form="ngForm"&gt; 
    &lt;label for="cc"&gt;Credit Card&lt;/label&gt; 
    &lt;input id="cc" type="text" name="cc" [(ngModel)]="cc" pInputText [pKeyFilter]="ccRegex" [pValidateOnly]="true" placeholder="1234-1234-1234-1234"&gt;
    &lt;p-message severity="error" text="Not a valid number" [@errorState]="form.dirty && !form.valid ? 'visible' : 'hidden'"&gt;&lt;/p-message&gt;
&lt;/form&gt;
</app-code>

            <h5>Properties</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>pValidateOnly</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>When enabled, instead of blocking keys, input is validated internally to test against the regular expression.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>Styling</h5>
            <p>This directive does not apply any styling.</p>
            
            <h5>Dependencies</h5>
            <p>None.</p>
        </p-tabPanel>
        
        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/keyfilter" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
            <a href="https://stackblitz.com/edit/primeng-keyfilter-demo" class="btn-viewsource" style="margin-left: .5em;" target="_blank">
                <span>Edit in StackBlitz</span>
            </a>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;h5&gt;Filtering&lt;/h5&gt;
&lt;div class="p-grid p-fluid"&gt;
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;input type="text" pInputText pKeyFilter="int" placeholder="Integers"&gt;
    &lt;/div&gt;
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;input type="text" pInputText pKeyFilter="num" placeholder="Numbers"&gt;
    &lt;/div&gt;
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;input type="text" pInputText pKeyFilter="money" placeholder="Money"&gt;
    &lt;/div&gt;
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;input type="text" pInputText pKeyFilter="hex" placeholder="Hex"&gt;
    &lt;/div&gt;
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;input type="text" pInputText pKeyFilter="alpha" placeholder="Alphabetic"&gt;
    &lt;/div&gt;
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;input type="text" pInputText pKeyFilter="alphanum" placeholder="Alphanumberic"&gt;
    &lt;/div&gt;
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;input type="text" pInputText [pKeyFilter]="blockSpecial" placeholder="Block # &lt; &gt; * !"&gt;
    &lt;/div&gt;
    &lt;div class="p-col-12 p-md-4"&gt;
        &lt;input type="text" pInputText [pKeyFilter]="blockSpace" placeholder="Block space key"&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;h5&gt;Validation Mode&lt;/h5&gt;
&lt;form #form="ngForm"&gt;
    &lt;label for="cc" style="display:block;margin-bottom:4px"&gt;Credit Card&lt;/label&gt;
    &lt;input id="cc" type="text" name="cc" [(ngModel)]="cc" pInputText [pKeyFilter]="ccRegex" [pValidateOnly]="true" placeholder="1234-1234-1234-1234" style="margin-right: .5em"&gt;
    &lt;p-message severity="error" text="Not a valid number" [@errorState]="form.dirty && !form.valid ? 'visible' : 'hidden'"&gt;&lt;/p-message&gt;
&lt;/form&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class KeyFilterDemo &#123;

    blockSpecial: RegExp = /^[^&lt;&gt;*!]+$/ 
    
    blockSpace: RegExp = /[^\s]/; 
    
    ccRegex: RegExp = /[0-9]&#123;4&#125;-[0-9]&#123;4&#125;-[0-9]&#123;4&#125;-[0-9]&#123;4&#125;$/; 
    
    cc: string; 
    
&#125;
</app-code>

        </p-tabPanel>
        <p-tabPanel header="StackBlitz">
            <ng-template pTemplate="content">
                <iframe src="https://stackblitz.com/edit/primeng-keyfilter-demo?embed=1" style="width: 100%; height: 768px; border: none;"></iframe>
            </ng-template>
        </p-tabPanel>
     </p-tabView >
</div>
