@layer primeng {
    .p-inputmask-clear-icon {
        position: absolute;
        inset-block-start: 50%;
        margin-block-start: -0.5rem;
        cursor: pointer;
    }

    .p-inputmask-clearable {
        position: relative;
    }
}
