.scroller-demo {
    .scroll-item {
        display: flex;
        align-items: center;
    }

    .custom-scroll-item {
        flex-direction: column;
        align-items: stretch;
    }

    .odd {
        background-color: var(--surface-b);
    }

    .p-scroller {
        height: 200px;
        width: 200px;
        border: 1px solid var(--surface-d);
    }

    .p-horizontal-scroll {
        .p-scroller-content {
            display: flex;
            flex-direction: row;
        }

        .scroll-item {
            writing-mode: vertical-lr;
        }
    }

    p-skeleton {
        width: 100%;
    }
}
