.ui-chips > ul {
    clear: left;
    cursor: text;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.ui-chips > ul.ui-inputtext {
    margin: .125em 0 0 .125em;
    padding: .063em;
}

.ui-chips-token {
    cursor: default;
    float: left;
    overflow: hidden;
    padding: .063em .18em;
    white-space: nowrap;
    position: relative;
    margin-right: .125em;
}

.ui-chips-token .ui-chips-token-label {
    display: block;
    margin-right: 2em;
}

.ui-chips-token .ui-chips-token-icon {
    margin-top: -.5em;
    position: absolute;
    right: 0.2em;
    top: 50%;
    cursor: pointer;
}

.ui-chips-input-token {
    float: left;
    list-style-type: none;
    margin: .125em 0 0 .125em;
    padding: .063em;
}

.ui-chips-input-token .ui-inputtext {
    border: 0 none;
    width: 10em;
    outline: medium none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
}