@layer primeng {
    .p-password {
        position: relative;
        display: inline-flex;
    }

    .p-password-panel {
        position: absolute;
        top: 0;
        left: 0;
    }

    .p-password .p-password-panel {
        min-width: 100%;
    }

    .p-password-meter {
        height: 10px;
    }

    .p-password-strength {
        height: 100%;
        width: 0%;
        transition: width 1s ease-in-out;
    }

    .p-fluid .p-password {
        display: flex;
    }

    .p-password-input::-ms-reveal,
    .p-password-input::-ms-clear {
        display: none;
    }

    .p-password-clear-icon {
        position: absolute;
        top: 50%;
        margin-top: -0.5rem;
        cursor: pointer;
    }

    .p-password .p-icon {
        cursor: pointer;
    }

    .p-password-clearable.p-password-mask .p-password-clear-icon {
        margin-top: unset;
    }

    .p-password-clearable {
        position: relative;
    }
}
