/* Error: Undefined variable.
 *    ,
 * 29 |             border-color: $primaryColor;
 *    |                           ^^^^^^^^^^^^^
 *    '
 *   ../github/primeng-sass-theme/theme-base/components/file/_fileupload.scss 29:27  @import
 *   ../github/primeng-sass-theme/theme-base/_components.scss 70:13                  @import
 *   ../github/primeng-sass-theme/themes/fluent/fluent-light/theme.scss 3:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 29 \2502              border-color: $primaryColor;\a    \2502                            ^^^^^^^^^^^^^\a    \2575 \a   ../github/primeng-sass-theme/theme-base/components/file/_fileupload.scss 29:27  @import\a   ../github/primeng-sass-theme/theme-base/_components.scss 70:13                  @import\a   ../github/primeng-sass-theme/themes/fluent/fluent-light/theme.scss 3:9          root stylesheet";
}
