<div class="content-section introduction">
    <div>
        <span class="feature-title">PickList</span>
        <span>PickList is used to reorder items between differents lists.</span>
    </div>
</div>

<div class="content-section implementation">
    
    <p-pickList [source]="sourceCars" [target]="targetCars" sourceHeader="Available" targetHeader="Selected" dragdrop="true" dragdropScope="cars"
        [responsive]="true" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" filterBy="brand" 
        sourceFilterPlaceholder="Search by brand" targetFilterPlaceholder="Search by brand">
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix">
                <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.brand}} - {{car.year}} - {{car.color}}</div>
            </div>
        </ng-template>
    </p-pickList>
</div>

<div class="content-section documentation">
    <p-tabView effect="fade">
        <p-tabPanel header="Documentation">
            <h3>Import</h3>
<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;PickListModule&#125; from 'primeng/picklist';
</code>
</pre>

            <h3>Getting Started</h3>
            <p>PickList requires two arrays as its lists and a ng-template for the item content where each item in the array 
                can be accessed inside the ng-template using a local ng-template variable.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-pickList [source]="list1" [target]="list2"&gt;
    &lt;ng-template let-car pTemplate="item"&gt;
        &lt;div class="ui-helper-clearfix"&gt;
            &lt;img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48"&gt;
            &lt;div style="font-size:14px;float:right;margin:15px 5px 0 0"&gt;{{car.brand}} - {{car.year}} - {{car.color}}&lt;/div&gt;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-pickList&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class MyComponent &#123;

    list1: any[];
    
    list2: any[];
    
    ngOnInit() &#123;
        this.list1 = //initialize list 1
        this.list2 = //initialize list 2
    &#125;
&#125;
</code>
</pre>
            <h3>Responsive</h3>
            <p>In responsive mode, picklist adjusts its controls based on screen size. To activate this mode, set responsive as true.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-pickList [responsive]="true"&gt;
</code>
</pre>

            <h3>Headers</h3>
            <p>sourceHeader and targetHeader attributes are used to define captions for the lists.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-pickList sourceHeader="Source List" targetHeader="Target List"&gt;
</code>
</pre>

            <h3>Multiple Selection</h3>
            <p>Multiple items can either be selected using metaKey or toggled individually depending on the value of metaKeySelection property value which is true by default. On touch enabled
            devices metaKeySelection is turned off automatically.</p>
            
            <h3>Filtering</h3>
            <p>Options can be filtered using an input field in the overlay by enabling the filterBy property.
                This filterBy property decides which field to search(Accepts multiple fields with a comma).</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-pickList [source]="sourceCars" [target]="targetCars" filterBy="brand"&gt;&lt;/p-pickList&gt;
</code>
</pre>

<h3>DragDrop</h3>
<p>Items can be reordered using drag and drop by enabling dragdrop property along with dragdropScope to avoid conflict with other drag drop events on view.
This dragdrop property also supports cross list actions.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-pickList [source]="sourceCars" [target]="targetCars" dragdrop="true"&gt;&lt;/p-pickList&gt;
</code>
</pre>

            <h3>Properties</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>source</td>
                            <td>array</td>
                            <td>null</td>
                            <td>An array of objects for the source list.</td>
                        </tr>
                        <tr>
                            <td>target</td>
                            <td>array</td>
                            <td>null</td>
                            <td>An array of objects for the target list.</td>
                        </tr>
                        <tr>
                            <td>sourceHeader</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Text for the source list caption</td>
                        </tr>
                        <tr>
                            <td>targetHeader</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Text for the target list caption</td>
                        </tr>
                        <tr>
                            <td>filterBy</td>
                            <td>string</td>
                            <td>null</td>
                            <td>When specified displays an input field to filter the items on keyup and decides which field to search (Accepts multiple fields with a comma).</td>
                        </tr>
                        <tr>
                            <td>trackBy</td>
                            <td>Function</td>
                            <td>null</td>
                            <td>Function to optimize the dom operations by delegating to ngForTrackBy, default algoritm checks for object identity.</td>
                        </tr>
                        <tr>
                            <td>showSourceFilter</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether to show filter input for source list when filterBy is enabled.</td>
                        </tr>
                        <tr>
                            <td>targetSourceFilter</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether to show filter input for target list when filterBy is enabled.</td>
                        </tr>
                        <tr>
                            <td>dragdrop</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>Whether to enable dragdrop based reordering.</td>
                        </tr>
                        <tr>
                            <td>dragdropScope</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Unique key of drag drop events to avoid conflict with other drag drop events on the page.</td>
                        </tr>
                        <tr>
                            <td>style</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Inline style of the component.</td>
                        </tr>
                        <tr>
                            <td>styleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Style class of the component.</td>
                        </tr>
                        <tr>
                            <td>sourceStyle</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Inline style of the source list element.</td>
                        </tr>
                        <tr>
                            <td>targetStyle</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Inline style of the target list element.</td>
                        </tr>
                        <tr>
                            <td>responsive</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>When enabled orderlist adjusts its controls based on screen size.</td>
                        </tr>
                        <tr>
                            <td>showSourceControls</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether to show buttons of source list.</td>
                        </tr>
                        <tr>
                            <td>showTargetControls</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether to show buttons of target list.</td>
                        </tr>
                        <tr>
                            <td>metaKeySelection</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Defines how multiple items can be selected, when true metaKey needs to be pressed to select or unselect an item and when set to false selection of each item
                            can be toggled individually. On touch enabled devices, metaKeySelection is turned off automatically.</td>
                        </tr>
                        <tr>
                            <td>sourceFilterPlaceholder</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Placeholder text on source filter input.</td>
                        </tr>
                        <tr>
                            <td>targetFilterPlaceholder</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Placeholder text on target filter input.</td>
                        </tr>
                        <tr>
                            <td>disabled</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>When present, it specifies that the component should be disabled.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <h3>Events</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameters</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>onMoveToTarget</td>
                            <td>event.items: Moved items array</td>
                            <td>Callback to invoke when items are moved from source to target.</td>
                        </tr>
                        <tr>
                            <td>onMoveToSource</td>
                            <td>event.items: Moved items array</td>
                            <td>Callback to invoke when items are moved from target to source.</td>
                        </tr>
                        <tr>
                            <td>onMoveAllToTarget</td>
                            <td>event.items: Moved items array</td>
                            <td>Callback to invoke when all items are moved from source to target.</td>
                        </tr>
                        <tr>
                            <td>onMoveAllToSource</td>
                            <td>event.items: Moved items array</td>
                            <td>Callback to invoke when all items are moved from target to source.</td>
                        </tr>
                        <tr>
                            <td>onSourceReorder</td>
                            <td>event.items: Moved items array</td>
                            <td>Callback to invoke when items are reordered within source list.</td>
                        </tr>
                        <tr>
                            <td>onTargetReorder</td>
                            <td>event.items: Moved items array</td>
                            <td>Callback to invoke when items are reordered within target list.</td>
                        </tr>
                        <tr>
                            <td>onSourceSelect</td>
                            <td>event.originalEvent: Browser event <br />
                                items: Selected items array</td>
                            <td>Callback to invoke when items are selected within source list.</td>
                        </tr>
                        <tr>
                            <td>onTargetSelect</td>
                            <td>event.originalEvent: Browser event <br />
                                items: Selected items array</td>
                            <td>Callback to invoke when items are selected within target list.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Methods</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameters</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>resetFilter</td>
                            <td>-</td>
                            <td>Resets the filters.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

<pre>
<code #dt class="language-markup" pCode ngNonBindable>
&lt;p-pickList #pl [source]="sourceCars" [target]="targetCars" filterBy="brand"&gt;&lt;/p-pickList&gt;

&lt;button type="button" pButton (click)="pl.resetFilter()" label="Reset"&gt;&lt;/button&gt;
</code>
</pre>

            <h3>Styling</h3>
            <p>Following is the list of structural style classes, for theming classes visit <a href="#" [routerLink]="['/theming']">theming page</a>.</p>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Element</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ui-picklist</td>
                            <td>Container element.</td>
                        </tr>
                        <tr>
                            <td>ui-picklist-source-controls</td>
                            <td>Container of source list buttons.</td>
                        </tr>
                        <tr>
                            <td>ui-picklist-target-controls</td>
                            <td>Container of target list buttons.</td>
                        </tr>
                        <tr>
                            <td>ui-picklist-buttons</td>
                            <td>Container of buttons.</td>
                        </tr>
                        <tr>
                            <td>ui-picklist-listwrapper</td>
                            <td>Parent of a list element.</td>
                        </tr>
                        <tr>
                            <td>ui-picklist-list</td>
                            <td>List element.</td>
                        </tr>
                        <tr>
                            <td>ui-picklist-item</td>
                            <td>An item in the list.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Dependencies</h3>
            <p>None.</p>
        </p-tabPanel>

        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/picklist" class="btn-viewsource" target="_blank">
                <i class="fa fa-github"></i>
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-pickList [source]="sourceCars" [target]="targetCars" sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="brand" 
        dragdrop="true" dragdropScope="cars" sourceFilterPlaceholder="Search by brand" targetFilterPlaceholder="Search by brand" [sourceStyle]="&#123;'height':'300px'&#125;" [targetStyle]="&#123;'height':'300px'&#125;"&gt;
    &lt;ng-template let-car pTemplate="item"&gt;
        &lt;div class="ui-helper-clearfix"&gt;
            &lt;img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48"&gt;
            &lt;div style="font-size:14px;float:right;margin:15px 5px 0 0"&gt;{{car.brand}} - {{car.year}} - {{car.color}}&lt;/div&gt;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-pickList&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class PickListDemo &#123;

    sourceCars: Car[];
    
    targetCars: Car[];
    
    constructor(private carService: CarService) &#123; &#125;

    ngOnInit() &#123;
        this.carService.getCarsSmall().then(cars => this.sourceCars = cars);
        this.targetCars = [];
    &#125;
&#125;
</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>
