<div class="content-section introduction">
    <div>
        <span class="feature-title">Tiered Menu</span>
        <span>TieredMenu displays submenus in nested overlays.</span>
    </div>
</div>

<div class="content-section implementation">
    <h3 class="first">Default</h3>
    <p-tieredMenu [model]="items"></p-tieredMenu>

    <h3>Popup</h3>
    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
    <button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
</div>

<div class="content-section documentation">
    <p-tabView effect="fade">
        <p-tabPanel header="Documentation">
            <h3>Import</h3>
<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;TieredMenuModule&#125; from 'primeng/tieredmenu';
import &#123;MenuItem&#125; from 'primeng/api';
</code>
</pre>

            <h3>MenuModel API</h3>
            <p>TieredMenu uses the common menumodel api to define its items, visit <a [routerLink]="['/menumodel']">MenuModel API</a> for details.</p>

            <h3>Getting Started</h3>
            <p>TieredMenu requires nested menuitems as its model.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tieredMenu [model]="items"&gt;&lt;/p-tieredMenu&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class TieredMenuDemo &#123;

    items: MenuItem[];

    ngOnInit() &#123;
        this.items = [
            &#123;
                label: 'File',
                items: [&#123;
                        label: 'New', 
                        icon: 'pi pi-fw pi-plus',
                        items: [
                            &#123;label: 'Project'&#125;,
                            &#123;label: 'Other'&#125;,
                        ]
                    &#125;,
                    &#123;label: 'Open'&#125;,
                    &#123;label: 'Quit'&#125;
                ]
            &#125;,
            &#123;
                label: 'Edit',
                icon: 'pi pi-fw pi-pencil',
                items: [
                    &#123;label: 'Delete', icon: 'pi pi-fw pi-trash'&#125;,
                    &#123;label: 'Refresh', icon: 'pi pi-fw pi-refresh'&#125;
                ]
            &#125;
        ];
    &#125;
&#125;
</code>
</pre>

            <h3>Popup Mode</h3>
            <p>Menu is inline by default, popup mode is also supported by enabling popup property and calling toggle method by passing the event 
                    from the anchor element.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tieredMenu #menu [model]="items" [popup]="true"&gt;&lt;/p-tieredMenu&gt;
&lt;button #btn type="button" pButton icon="fa fa fa-fw fa-list" label="Show" (click)="menu.toggle($event)"&gt;&lt;/button&gt;
</code>
</pre>

            <h3>Animation Configuration</h3>
            <p>Transition of the open and hide animations can be customized using the showTransitionOptions and hideTransitionOptions properties, 
                example below disables the animations altogether.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tieredMenu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu [model]="items" [popup]="true"&gt;&lt;/p-tieredMenu&gt;
&lt;button #btn type="button" pButton icon="fa fa fa-fw fa-list" label="Show" (click)="menu.toggle($event)"&gt;&lt;/button&gt;
</code>
</pre>
            <h3>Properties</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>model</td>
                            <td>array</td>
                            <td>null</td>
                            <td>An array of menuitems.</td>
                        </tr>
                        <tr>
                            <td>popup</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>Defines if menu would displayed as a popup.</td>
                        </tr>
                        <tr>
                            <td>appendTo</td>
                            <td>any</td>
                            <td>null</td>
                            <td>Target element to attach the overlay, valid values are "body" or a local ng-template variable
                                of another element.</td>
                        </tr>
                        <tr>
                            <td>style</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Inline style of the component.</td>
                        </tr>
                        <tr>
                            <td>styleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Style class of the component.</td>
                        </tr>
                        <tr>
                            <td>baseZIndex</td>
                            <td>number</td>
                            <td>0</td>
                            <td>Base zIndex value to use in layering.</td>
                        </tr>
                        <tr>
                            <td>autoZIndex</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether to automatically manage layering.</td>
                        </tr>
                        <tr>
                            <td>hideDelay</td>
                            <td>number</td>
                            <td>250</td>
                            <td>Delay in milliseconds to hide the menu on mouse leave.</td>
                        </tr>
                        <tr>
                            <td>showTransitionOptions</td>
                            <td>string</td>
                            <td>225ms ease-out</td>
                            <td>Transition options of the show animation.</td>
                        </tr>
                        <tr>
                            <td>hideTransitionOptions</td>
                            <td>string</td>
                            <td>195ms ease-in</td>
                            <td>Transition options of the hide animation.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <h3>Methods</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameters</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>toggle</td>
                            <td>event: browser event</td>
                            <td>Toggles the visibility of the popup menu.</td>
                        </tr>
                        <tr>
                            <td>show</td>
                            <td>event: browser event</td>
                            <td>Displays the popup menu.</td>
                        </tr>
                        <tr>
                            <td>hide</td>
                            <td>-</td>
                            <td>Hides the popup menu.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Styling</h3>
            <p>Following is the list of structural style classes, for theming classes visit <a href="#" [routerLink]="['/theming']">theming page</a>.</p>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Element</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>ui-tieredmenu</td>
                        <td>Container element.</td>
                    </tr>
                    <tr>
                        <td>ui-menu-list</td>
                        <td>List element.</td>
                    </tr>
                    <tr>
                        <td>ui-menuitem</td>
                        <td>Menuitem element.</td>
                    </tr>
                    <tr>
                        <td>ui-menuitem-text</td>
                        <td>Label of a menuitem.</td>
                    </tr>
                    <tr>
                        <td>ui-menuitem-icon</td>
                        <td>Icon of a menuitem.</td>
                    </tr>
                    <tr>
                        <td>ui-submenu-icon</td>
                        <td>Arrow icon of a submenu.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h3>Dependencies</h3>
            <p>None.</p>
        </p-tabPanel>

        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/tieredmenu" class="btn-viewsource" target="_blank">
                <i class="fa fa-github"></i>
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;h3 class="first"&gt;Default&lt;/h3&gt;
&lt;p-tieredMenu [model]="items"&gt;&lt;/p-tieredMenu&gt;

&lt;h3&gt;Popup&lt;/h3&gt;
&lt;p-tieredMenu #menu [model]="items" [popup]="true"&gt;&lt;/p-tieredMenu&gt;
&lt;button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"&gt;&lt;/button&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class TieredMenuDemo &#123;

    items: MenuItem[];

    ngOnInit() &#123;
        this.items = [
            &#123;
                label: 'File',
                icon: 'pi pi-fw pi-file',
                items: [&#123;
                        label: 'New', 
                        icon: 'pi pi-fw pi-plus',
                        items: [
                            &#123;label: 'Project'&#125;,
                            &#123;label: 'Other'&#125;,
                        ]
                    &#125;,
                    &#123;label: 'Open'&#125;,
                    &#123;separator:true&#125;,
                    &#123;label: 'Quit'&#125;
                ]
            &#125;,
            &#123;
                label: 'Edit',
                icon: 'pi pi-fw pi-pencil',
                items: [
                    &#123;label: 'Delete', icon: 'pi pi-fw pi-trash'&#125;,
                    &#123;label: 'Refresh', icon: 'pi pi-fw pi-refresh'&#125;
                ]
            &#125;,
            &#123;
                label: 'Help',
                icon: 'pi pi-fw pi-question',
                items: [
                    &#123;
                        label: 'Contents'
                    &#125;,
                    &#123;
                        label: 'Search', 
                        icon: 'pi pi-fw pi-search', 
                        items: [
                            &#123;
                                label: 'Text', 
                                items: [
                                    &#123;
                                        label: 'Workspace'
                                    &#125;
                                ]
                            &#125;,
                            &#123;
                                label: 'File'
                            &#125;
                    ]&#125;
                ]
            &#125;,
            &#123;
                label: 'Actions',
                icon: 'pi pi-fw pi-cog',
                items: [
                    &#123;
                        label: 'Edit',
                        icon: 'pi pi-fw pi-pencil',
                        items: [
                            &#123;label: 'Save', icon: 'pi pi-fw pi-save'&#125;,
                            &#123;label: 'Update', icon: 'pi pi-fw pi-save'&#125;,
                        ]
                    &#125;,
                    &#123;
                        label: 'Other',
                        icon: 'pi pi-fw pi-tags',
                        items: [
                            &#123;label: 'Delete', icon: 'pi pi-fw pi-minus'&#125;
                        ]
                    &#125;
                ]
            &#125;,
            &#123;separator:true&#125;,
            &#123;
                label: 'Quit', icon: 'pi pi-fw pi-times'
            &#125;
        ];
    &#125;
&#125;
</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>