<div class="content-section introduction">
    <div>
        <span class="feature-title">RTL</span>
        <span>RTL is enabled by adding <b>"ui-rtl"</b> style class along with <b>dir="rtl"</b> to an ancestor element of PrimeNG components.</span>
    </div>
</div>

<div class="content-section implementation">
    <div class="ui-rtl" dir="rtl">
        <h3 class="first">Input</h3>
        <input id="in" type="text" size="30" pInputText>
        
        <h3>Dialog</h3>
        <p-dialog header="Godfather I" [(visible)]="visible" modal="modal" width="350" [responsive]="true">
            <span>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
               His beloved son Michael has just come home from the war, but does not intend to become part of his father's business. 
               Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, 
               kind and benevolent to those who give respect,
               but given to ruthless violence whenever anything stands against the good of the family.</span>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button type="button" pButton icon="pi pi-times" (click)="visible=false" label="No"></button>
                    <button type="button" pButton icon="pi pi-check" (click)="visible=false" label="Yes"></button>
                </div>
            </p-footer>
        </p-dialog>

        <button type="button" (click)="visible=true" pButton icon="fa fa-plus" label="Show"></button>
        
        <h3>Accordion</h3>
        <p-accordion>
            <p-accordionTab header="Godfather I" [selected]="true">
                The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
            </p-accordionTab>
            <p-accordionTab header="Godfather II">
                Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
            </p-accordionTab>
            <p-accordionTab header="Godfather III">
                After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
            </p-accordionTab>
        </p-accordion>
        
        <h3>TabView</h3>
        <p-tabView>
            <p-tabPanel header="Godfather I">
                The story begi ns as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
            </p-tabPanel>
            <p-tabPanel header="Godfather II">
                Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
            </p-tabPanel>
            <p-tabPanel header="Godfather III">
                After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<div class="content-section documentation">
    <p-tabView effect="fade">
        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/rtl" class="btn-viewsource" target="_blank">
                <i class="fa fa-github"></i>
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;div class="ui-rtl" dir="rtl"&gt;
    &lt;h3 class="first"&gt;Input&lt;/h3&gt;
    &lt;input id="in" type="text" size="30" pInputText&gt;

    &lt;h3&gt;Dialog&lt;/h3&gt;
    &lt;p-dialog header="Godfather I" [(visible)]="visible" modal="modal" width="350" [responsive]="true"&gt;
        &lt;span&gt;The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. 
           His beloved son Michael has just come home from the war, but does not intend to become part of his father's business. 
           Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, 
           kind and benevolent to those who give respect,
           but given to ruthless violence whenever anything stands against the good of the family.&lt;/span&gt;
        &lt;p-footer&gt;
            &lt;div class="ui-dialog-buttonpane ui-helper-clearfix"&gt;
                &lt;button type="button" pButton icon="pi pi-times" (click)="visible=false" label="No"&gt;&lt;/button&gt;
                &lt;button type="button" pButton icon="pi pi-check" (click)="visible=false" label="Yes"&gt;&lt;/button&gt;
            &lt;/div&gt;
        &lt;/p-footer&gt;
    &lt;/p-dialog&gt;

    &lt;button type="text" (click)="showDialog()" pButton icon="pi pi-plus" label="Show"&gt;&lt;/button&gt;
    
    &lt;h3&gt;Accordion&lt;/h3&gt;
    &lt;p-accordion&gt;
        &lt;p-accordionTab header="Godfather I" [selected]="true"&gt;
            The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
        &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="Godfather II"&gt;
            Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
        &lt;/p-accordionTab&gt;
        &lt;p-accordionTab header="Godfather III"&gt;
            After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
        &lt;/p-accordionTab&gt;
    &lt;/p-accordion&gt;
    
    &lt;h3&gt;TabView&lt;/h3&gt;
    &lt;p-tabView&gt;
        &lt;p-tabPanel header="Godfather I"&gt;
            The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
        &lt;/p-tabPanel&gt;
        &lt;p-tabPanel header="Godfather II"&gt;
            Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.
        &lt;/p-tabPanel&gt;
        &lt;p-tabPanel header="Godfather III"&gt;
            After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
        &lt;/p-tabPanel&gt;
    &lt;/p-tabView&gt;
&lt;/div&gt;
</code>
</pre>

<pre>
<code class="language-markup" pCode ngNonBindable>
    export class RTLDemo &#123;
    
        visible: boolean;
    
    &#125;
</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>