:host ::ng-deep .p-button {
    margin-inline-end: .5rem;
}

:host ::ng-deep .p-buttonset {
    .p-button {
        margin-inline-end: 0;
    }
}

:host ::ng-deep .sizes {
    .button {
        margin-block-end: .5rem;
        display: block;

        &:last-child {
            margin-block-end: 0;
        }
    }
}

@media screen and (max-width: 960px) {
    .p-button {
        margin-block-end: .5rem;

        &:not(.p-button-icon-only) {
            display: flex;
            width: 100%;
        }
    }

    .p-buttonset {
        .p-button {
            margin-block-end: 0;
        }
    }
}