.landing-themes .p-component {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  font-weight: normal;
}

.landing-themes .p-text-secondary {
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes .pi {
  font-size: 1rem;
}
.landing-themes .p-icon {
  width: 1rem;
  height: 1rem;
}
.landing-themes .p-link {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  border-radius: 6px;
}
.landing-themes .p-link:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(96, 165, 250, 0.2);
}
.landing-themes .p-checkbox {
  width: 22px;
  height: 22px;
}
.landing-themes .p-checkbox .p-checkbox-box {
  border: 2px solid #424b57;
  background: #111827;
  width: 22px;
  height: 22px;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.landing-themes .p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: 0.2s;
  color: #030712;
  font-size: 14px;
}
.landing-themes .p-checkbox .p-checkbox-box .p-icon {
  width: 14px;
  height: 14px;
}
.landing-themes .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #60a5fa;
  background: #60a5fa;
}
.landing-themes .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: #60a5fa;
}
.landing-themes .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(96, 165, 250, 0.2);
  border-color: #60a5fa;
}
.landing-themes .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: #bfdbfe;
  background: #bfdbfe;
  color: #030712;
}
.landing-themes p-checkbox.ng-dirty.ng-invalid > .p-checkbox > .p-checkbox-box {
  border-color: #FCA5A5;
}
.landing-themes .p-input-filled .p-checkbox .p-checkbox-box {
  background-color: #424b57;
}
.landing-themes .p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
  background: #60a5fa;
}
.landing-themes .p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  background-color: #424b57;
}
.landing-themes .p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  background: #bfdbfe;
}
.landing-themes .p-checkbox-label {
  margin-inline-start: 0.5rem;
}
.landing-themes .p-inputtext {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
  background: #111827;
  padding: 0.75rem 0.75rem;
  border: 1px solid #424b57;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}
.landing-themes .p-inputtext:enabled:hover {
  border-color: #60a5fa;
}
.landing-themes .p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(96, 165, 250, 0.2);
  border-color: #60a5fa;
}
.landing-themes .p-inputtext.ng-dirty.ng-invalid {
  border-color: #FCA5A5;
}
.landing-themes .p-inputtext.p-inputtext-sm {
  font-size: 0.875rem;
  padding: 0.65625rem 0.65625rem;
}
.landing-themes .p-inputtext.p-inputtext-lg {
  font-size: 1.25rem;
  padding: 0.9375rem 0.9375rem;
}
.landing-themes .p-float-label > label {
  left: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 0.2s;
}
.landing-themes .p-float-label > .ng-invalid.ng-dirty + label {
  color: #FCA5A5;
}
.landing-themes .p-input-icon-left > .p-icon-wrapper.p-icon,
.landing-themes .p-input-icon-left > i:first-of-type {
  left: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes .p-input-icon-left > .p-inputtext {
  padding-inline-start: 2.5rem;
}
.landing-themes .p-input-icon-left.p-float-label > label {
  left: 2.5rem;
}
.landing-themes .p-input-icon-right > .p-icon-wrapper,
.landing-themes .p-input-icon-right > i:last-of-type {
  right: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes .p-input-icon-right > .p-inputtext {
  padding-inline-end: 2.5rem;
}
.landing-themes ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes :-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes .p-input-filled .p-inputtext {
  background-color: #424b57;
}
.landing-themes .p-input-filled .p-inputtext:enabled:hover {
  background-color: #424b57;
}
.landing-themes .p-input-filled .p-inputtext:enabled:focus {
  background-color: #424b57;
}
.landing-themes .p-inputtext-sm .p-inputtext {
  font-size: 0.875rem;
  padding: 0.65625rem 0.65625rem;
}
.landing-themes .p-inputtext-lg .p-inputtext {
  font-size: 1.25rem;
  padding: 0.9375rem 0.9375rem;
}
.landing-themes .p-button {
  color: #030712;
  background: #60a5fa;
  border: 1px solid #60a5fa;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}
.landing-themes .p-button:enabled:hover {
  background: #93c5fd;
  color: #030712;
  border-color: #93c5fd;
}
.landing-themes .p-button:enabled:active {
  background: #bfdbfe;
  color: #030712;
  border-color: #bfdbfe;
}
.landing-themes .p-button.p-button-outlined {
  background-color: transparent;
  color: #60a5fa;
  border: 1px solid;
}
.landing-themes .p-button.p-button-outlined:enabled:hover {
  background: rgba(96, 165, 250, 0.04);
  color: #60a5fa;
  border: 1px solid;
}
.landing-themes .p-button.p-button-outlined:enabled:active {
  background: rgba(96, 165, 250, 0.16);
  color: #60a5fa;
  border: 1px solid;
}
.landing-themes .p-button.p-button-outlined.p-button-plain {
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
}
.landing-themes .p-button.p-button-outlined.p-button-plain:enabled:hover {
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes .p-button.p-button-outlined.p-button-plain:enabled:active {
  background: rgba(255, 255, 255, 0.16);
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes .p-button.p-button-text {
  background-color: transparent;
  color: #60a5fa;
  border-color: transparent;
}
.landing-themes .p-button.p-button-text:enabled:hover {
  background: rgba(96, 165, 250, 0.04);
  color: #60a5fa;
  border-color: transparent;
}
.landing-themes .p-button.p-button-text:enabled:active {
  background: rgba(96, 165, 250, 0.16);
  color: #60a5fa;
  border-color: transparent;
}
.landing-themes .p-button.p-button-text.p-button-plain {
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes .p-button.p-button-text.p-button-plain:enabled:hover {
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes .p-button.p-button-text.p-button-plain:enabled:active {
  background: rgba(255, 255, 255, 0.16);
  color: rgba(255, 255, 255, 0.6);
}
.landing-themes .p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(96, 165, 250, 0.2);
}
.landing-themes .p-button .p-button-label {
  transition-duration: 0.2s;
}
.landing-themes .p-button .p-button-icon-left {
  margin-inline-end: 0.5rem;
}
.landing-themes .p-button .p-button-icon-right {
  margin-inline-start: 0.5rem;
}
.landing-themes .p-button .p-button-icon-bottom {
  margin-block-start: 0.5rem;
}
.landing-themes .p-button .p-button-icon-top {
  margin-block-end: 0.5rem;
}
.landing-themes .p-button .p-badge {
  margin-inline-start: 0.5rem;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
  color: #60a5fa;
  background-color: #030712;
}
.landing-themes .p-button.p-button-raised {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.landing-themes .p-button.p-button-rounded {
  border-radius: 2rem;
}
.landing-themes .p-button.p-button-icon-only {
  width: 3rem;
  padding: 0.75rem 0;
}
.landing-themes .p-button.p-button-icon-only .p-button-icon-left,
.landing-themes .p-button.p-button-icon-only .p-button-icon-right {
  margin: 0;
}
.landing-themes .p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 3rem;
}
.landing-themes .p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.65625rem 1.09375rem;
}
.landing-themes .p-button.p-button-sm .p-button-icon {
  font-size: 0.875rem;
}
.landing-themes .p-button.p-button-lg {
  font-size: 1.25rem;
  padding: 0.9375rem 1.5625rem;
}
.landing-themes .p-button.p-button-lg .p-button-icon {
  font-size: 1.25rem;
}
.landing-themes .p-button.p-button-loading-label-only .p-button-label {
  margin-inline-start: 0.5rem;
}
.landing-themes .p-button.p-button-loading-label-only .p-button-loading-icon {
  margin-inline-end: 0;
}
.landing-themes .p-fluid .p-button {
  width: 100%;
}
.landing-themes .p-fluid .p-button-icon-only {
  width: 3rem;
}
.landing-themes .p-fluid .p-buttonset {
  display: flex;
}
.landing-themes .p-fluid .p-buttonset .p-button {
  flex: 1;
}
.landing-themes .p-button.p-button-secondary, .landing-themes .p-buttonset.p-button-secondary > .p-button, .landing-themes .p-splitbutton.p-button-secondary > .p-button {
  color: #020617;
  background: #94a3b8;
  border: 1px solid #94a3b8;
}
.landing-themes .p-button.p-button-secondary:enabled:hover, .landing-themes .p-buttonset.p-button-secondary > .p-button:enabled:hover, .landing-themes .p-splitbutton.p-button-secondary > .p-button:enabled:hover {
  background: #cbd5e1;
  color: #020617;
  border-color: #cbd5e1;
}
.landing-themes .p-button.p-button-secondary:enabled:focus, .landing-themes .p-buttonset.p-button-secondary > .p-button:enabled:focus, .landing-themes .p-splitbutton.p-button-secondary > .p-button:enabled:focus {
  box-shadow: 0 0 0 1px #b4bfcd;
}
.landing-themes .p-button.p-button-secondary:enabled:active, .landing-themes .p-buttonset.p-button-secondary > .p-button:enabled:active, .landing-themes .p-splitbutton.p-button-secondary > .p-button:enabled:active {
  background: #e2e8f0;
  color: #020617;
  border-color: #e2e8f0;
}
.landing-themes .p-button.p-button-secondary.p-button-outlined, .landing-themes .p-buttonset.p-button-secondary > .p-button.p-button-outlined, .landing-themes .p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
  background-color: transparent;
  color: #94a3b8;
  border: 1px solid;
}
.landing-themes .p-button.p-button-secondary.p-button-outlined:enabled:hover, .landing-themes .p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:hover, .landing-themes .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:hover {
  background: rgba(148, 163, 184, 0.04);
  color: #94a3b8;
  border: 1px solid;
}
.landing-themes .p-button.p-button-secondary.p-button-outlined:enabled:active, .landing-themes .p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:active, .landing-themes .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:active {
  background: rgba(148, 163, 184, 0.16);
  color: #94a3b8;
  border: 1px solid;
}
.landing-themes .p-button.p-button-secondary.p-button-text, .landing-themes .p-buttonset.p-button-secondary > .p-button.p-button-text, .landing-themes .p-splitbutton.p-button-secondary > .p-button.p-button-text {
  background-color: transparent;
  color: #94a3b8;
  border-color: transparent;
}
.landing-themes .p-button.p-button-secondary.p-button-text:enabled:hover, .landing-themes .p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:hover, .landing-themes .p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:hover {
  background: rgba(148, 163, 184, 0.04);
  border-color: transparent;
  color: #94a3b8;
}
.landing-themes .p-button.p-button-secondary.p-button-text:enabled:active, .landing-themes .p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:active, .landing-themes .p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:active {
  background: rgba(148, 163, 184, 0.16);
  border-color: transparent;
  color: #94a3b8;
}
.landing-themes .p-button.p-button-info, .landing-themes .p-buttonset.p-button-info > .p-button, .landing-themes .p-splitbutton.p-button-info > .p-button {
  color: #082f49;
  background: #38bdf8;
  border: 1px solid #38bdf8;
}
.landing-themes .p-button.p-button-info:enabled:hover, .landing-themes .p-buttonset.p-button-info > .p-button:enabled:hover, .landing-themes .p-splitbutton.p-button-info > .p-button:enabled:hover {
  background: #7dd3fc;
  color: #082f49;
  border-color: #7dd3fc;
}
.landing-themes .p-button.p-button-info:enabled:focus, .landing-themes .p-buttonset.p-button-info > .p-button:enabled:focus, .landing-themes .p-splitbutton.p-button-info > .p-button:enabled:focus {
  box-shadow: 0 0 0 1px #74d1fa;
}
.landing-themes .p-button.p-button-info:enabled:active, .landing-themes .p-buttonset.p-button-info > .p-button:enabled:active, .landing-themes .p-splitbutton.p-button-info > .p-button:enabled:active {
  background: #bae6fd;
  color: #082f49;
  border-color: #bae6fd;
}
.landing-themes .p-button.p-button-info.p-button-outlined, .landing-themes .p-buttonset.p-button-info > .p-button.p-button-outlined, .landing-themes .p-splitbutton.p-button-info > .p-button.p-button-outlined {
  background-color: transparent;
  color: #38bdf8;
  border: 1px solid;
}
.landing-themes .p-button.p-button-info.p-button-outlined:enabled:hover, .landing-themes .p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:hover, .landing-themes .p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:hover {
  background: rgba(56, 189, 248, 0.04);
  color: #38bdf8;
  border: 1px solid;
}
.landing-themes .p-button.p-button-info.p-button-outlined:enabled:active, .landing-themes .p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:active, .landing-themes .p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:active {
  background: rgba(56, 189, 248, 0.16);
  color: #38bdf8;
  border: 1px solid;
}
.landing-themes .p-button.p-button-info.p-button-text, .landing-themes .p-buttonset.p-button-info > .p-button.p-button-text, .landing-themes .p-splitbutton.p-button-info > .p-button.p-button-text {
  background-color: transparent;
  color: #38bdf8;
  border-color: transparent;
}
.landing-themes .p-button.p-button-info.p-button-text:enabled:hover, .landing-themes .p-buttonset.p-button-info > .p-button.p-button-text:enabled:hover, .landing-themes .p-splitbutton.p-button-info > .p-button.p-button-text:enabled:hover {
  background: rgba(56, 189, 248, 0.04);
  border-color: transparent;
  color: #38bdf8;
}
.landing-themes .p-button.p-button-info.p-button-text:enabled:active, .landing-themes .p-buttonset.p-button-info > .p-button.p-button-text:enabled:active, .landing-themes .p-splitbutton.p-button-info > .p-button.p-button-text:enabled:active {
  background: rgba(56, 189, 248, 0.16);
  border-color: transparent;
  color: #38bdf8;
}
.landing-themes .p-button.p-button-success, .landing-themes .p-buttonset.p-button-success > .p-button, .landing-themes .p-splitbutton.p-button-success > .p-button {
  color: #052e16;
  background: #4ade80;
  border: 1px solid #4ade80;
}
.landing-themes .p-button.p-button-success:enabled:hover, .landing-themes .p-buttonset.p-button-success > .p-button:enabled:hover, .landing-themes .p-splitbutton.p-button-success > .p-button:enabled:hover {
  background: #86efac;
  color: #052e16;
  border-color: #86efac;
}
.landing-themes .p-button.p-button-success:enabled:focus, .landing-themes .p-buttonset.p-button-success > .p-button:enabled:focus, .landing-themes .p-splitbutton.p-button-success > .p-button:enabled:focus {
  box-shadow: 0 0 0 1px #80e8a6;
}
.landing-themes .p-button.p-button-success:enabled:active, .landing-themes .p-buttonset.p-button-success > .p-button:enabled:active, .landing-themes .p-splitbutton.p-button-success > .p-button:enabled:active {
  background: #bbf7d0;
  color: #052e16;
  border-color: #bbf7d0;
}
.landing-themes .p-button.p-button-success.p-button-outlined, .landing-themes .p-buttonset.p-button-success > .p-button.p-button-outlined, .landing-themes .p-splitbutton.p-button-success > .p-button.p-button-outlined {
  background-color: transparent;
  color: #4ade80;
  border: 1px solid;
}
.landing-themes .p-button.p-button-success.p-button-outlined:enabled:hover, .landing-themes .p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:hover, .landing-themes .p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:hover {
  background: rgba(74, 222, 128, 0.04);
  color: #4ade80;
  border: 1px solid;
}
.landing-themes .p-button.p-button-success.p-button-outlined:enabled:active, .landing-themes .p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:active, .landing-themes .p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:active {
  background: rgba(74, 222, 128, 0.16);
  color: #4ade80;
  border: 1px solid;
}
.landing-themes .p-button.p-button-success.p-button-text, .landing-themes .p-buttonset.p-button-success > .p-button.p-button-text, .landing-themes .p-splitbutton.p-button-success > .p-button.p-button-text {
  background-color: transparent;
  color: #4ade80;
  border-color: transparent;
}
.landing-themes .p-button.p-button-success.p-button-text:enabled:hover, .landing-themes .p-buttonset.p-button-success > .p-button.p-button-text:enabled:hover, .landing-themes .p-splitbutton.p-button-success > .p-button.p-button-text:enabled:hover {
  background: rgba(74, 222, 128, 0.04);
  border-color: transparent;
  color: #4ade80;
}
.landing-themes .p-button.p-button-success.p-button-text:enabled:active, .landing-themes .p-buttonset.p-button-success > .p-button.p-button-text:enabled:active, .landing-themes .p-splitbutton.p-button-success > .p-button.p-button-text:enabled:active {
  background: rgba(74, 222, 128, 0.16);
  border-color: transparent;
  color: #4ade80;
}
.landing-themes .p-button.p-button-warning, .landing-themes .p-buttonset.p-button-warning > .p-button, .landing-themes .p-splitbutton.p-button-warning > .p-button {
  color: #431407;
  background: #fb923c;
  border: 1px solid #fb923c;
}
.landing-themes .p-button.p-button-warning:enabled:hover, .landing-themes .p-buttonset.p-button-warning > .p-button:enabled:hover, .landing-themes .p-splitbutton.p-button-warning > .p-button:enabled:hover {
  background: #fdba74;
  color: #431407;
  border-color: #fdba74;
}
.landing-themes .p-button.p-button-warning:enabled:focus, .landing-themes .p-buttonset.p-button-warning > .p-button:enabled:focus, .landing-themes .p-splitbutton.p-button-warning > .p-button:enabled:focus {
  box-shadow: 0 0 0 1px #fcb377;
}
.landing-themes .p-button.p-button-warning:enabled:active, .landing-themes .p-buttonset.p-button-warning > .p-button:enabled:active, .landing-themes .p-splitbutton.p-button-warning > .p-button:enabled:active {
  background: #fed7aa;
  color: #431407;
  border-color: #fed7aa;
}
.landing-themes .p-button.p-button-warning.p-button-outlined, .landing-themes .p-buttonset.p-button-warning > .p-button.p-button-outlined, .landing-themes .p-splitbutton.p-button-warning > .p-button.p-button-outlined {
  background-color: transparent;
  color: #fb923c;
  border: 1px solid;
}
.landing-themes .p-button.p-button-warning.p-button-outlined:enabled:hover, .landing-themes .p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:hover, .landing-themes .p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:hover {
  background: rgba(251, 146, 60, 0.04);
  color: #fb923c;
  border: 1px solid;
}
.landing-themes .p-button.p-button-warning.p-button-outlined:enabled:active, .landing-themes .p-buttonset.p-button-warning > .p-button.p-button-outlined:enabled:active, .landing-themes .p-splitbutton.p-button-warning > .p-button.p-button-outlined:enabled:active {
  background: rgba(251, 146, 60, 0.16);
  color: #fb923c;
  border: 1px solid;
}
.landing-themes .p-button.p-button-warning.p-button-text, .landing-themes .p-buttonset.p-button-warning > .p-button.p-button-text, .landing-themes .p-splitbutton.p-button-warning > .p-button.p-button-text {
  background-color: transparent;
  color: #fb923c;
  border-color: transparent;
}
.landing-themes .p-button.p-button-warning.p-button-text:enabled:hover, .landing-themes .p-buttonset.p-button-warning > .p-button.p-button-text:enabled:hover, .landing-themes .p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:hover {
  background: rgba(251, 146, 60, 0.04);
  border-color: transparent;
  color: #fb923c;
}
.landing-themes .p-button.p-button-warning.p-button-text:enabled:active, .landing-themes .p-buttonset.p-button-warning > .p-button.p-button-text:enabled:active, .landing-themes .p-splitbutton.p-button-warning > .p-button.p-button-text:enabled:active {
  background: rgba(251, 146, 60, 0.16);
  border-color: transparent;
  color: #fb923c;
}
.landing-themes .p-button.p-button-help, .landing-themes .p-buttonset.p-button-help > .p-button, .landing-themes .p-splitbutton.p-button-help > .p-button {
  color: #3b0764;
  background: #c084fc;
  border: 1px solid #c084fc;
}
.landing-themes .p-button.p-button-help:enabled:hover, .landing-themes .p-buttonset.p-button-help > .p-button:enabled:hover, .landing-themes .p-splitbutton.p-button-help > .p-button:enabled:hover {
  background: #d8b4fe;
  color: #3b0764;
  border-color: #d8b4fe;
}
.landing-themes .p-button.p-button-help:enabled:focus, .landing-themes .p-buttonset.p-button-help > .p-button:enabled:focus, .landing-themes .p-splitbutton.p-button-help > .p-button:enabled:focus {
  box-shadow: 0 0 0 1px #d3a9fd;
}
.landing-themes .p-button.p-button-help:enabled:active, .landing-themes .p-buttonset.p-button-help > .p-button:enabled:active, .landing-themes .p-splitbutton.p-button-help > .p-button:enabled:active {
  background: #e9d5ff;
  color: #3b0764;
  border-color: #e9d5ff;
}
.landing-themes .p-button.p-button-help.p-button-outlined, .landing-themes .p-buttonset.p-button-help > .p-button.p-button-outlined, .landing-themes .p-splitbutton.p-button-help > .p-button.p-button-outlined {
  background-color: transparent;
  color: #c084fc;
  border: 1px solid;
}
.landing-themes .p-button.p-button-help.p-button-outlined:enabled:hover, .landing-themes .p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:hover, .landing-themes .p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:hover {
  background: rgba(192, 132, 252, 0.04);
  color: #c084fc;
  border: 1px solid;
}
.landing-themes .p-button.p-button-help.p-button-outlined:enabled:active, .landing-themes .p-buttonset.p-button-help > .p-button.p-button-outlined:enabled:active, .landing-themes .p-splitbutton.p-button-help > .p-button.p-button-outlined:enabled:active {
  background: rgba(192, 132, 252, 0.16);
  color: #c084fc;
  border: 1px solid;
}
.landing-themes .p-button.p-button-help.p-button-text, .landing-themes .p-buttonset.p-button-help > .p-button.p-button-text, .landing-themes .p-splitbutton.p-button-help > .p-button.p-button-text {
  background-color: transparent;
  color: #c084fc;
  border-color: transparent;
}
.landing-themes .p-button.p-button-help.p-button-text:enabled:hover, .landing-themes .p-buttonset.p-button-help > .p-button.p-button-text:enabled:hover, .landing-themes .p-splitbutton.p-button-help > .p-button.p-button-text:enabled:hover {
  background: rgba(192, 132, 252, 0.04);
  border-color: transparent;
  color: #c084fc;
}
.landing-themes .p-button.p-button-help.p-button-text:enabled:active, .landing-themes .p-buttonset.p-button-help > .p-button.p-button-text:enabled:active, .landing-themes .p-splitbutton.p-button-help > .p-button.p-button-text:enabled:active {
  background: rgba(192, 132, 252, 0.16);
  border-color: transparent;
  color: #c084fc;
}
.landing-themes .p-button.p-button-danger, .landing-themes .p-buttonset.p-button-danger > .p-button, .landing-themes .p-splitbutton.p-button-danger > .p-button {
  color: #450a0a;
  background: #f87171;
  border: 1px solid #f87171;
}
.landing-themes .p-button.p-button-danger:enabled:hover, .landing-themes .p-buttonset.p-button-danger > .p-button:enabled:hover, .landing-themes .p-splitbutton.p-button-danger > .p-button:enabled:hover {
  background: #fca5a5;
  color: #450a0a;
  border-color: #fca5a5;
}
.landing-themes .p-button.p-button-danger:enabled:focus, .landing-themes .p-buttonset.p-button-danger > .p-button:enabled:focus, .landing-themes .p-splitbutton.p-button-danger > .p-button:enabled:focus {
  box-shadow: 0 0 0 1px #fa9c9c;
}
.landing-themes .p-button.p-button-danger:enabled:active, .landing-themes .p-buttonset.p-button-danger > .p-button:enabled:active, .landing-themes .p-splitbutton.p-button-danger > .p-button:enabled:active {
  background: #fecaca;
  color: #450a0a;
  border-color: #fecaca;
}
.landing-themes .p-button.p-button-danger.p-button-outlined, .landing-themes .p-buttonset.p-button-danger > .p-button.p-button-outlined, .landing-themes .p-splitbutton.p-button-danger > .p-button.p-button-outlined {
  background-color: transparent;
  color: #f87171;
  border: 1px solid;
}
.landing-themes .p-button.p-button-danger.p-button-outlined:enabled:hover, .landing-themes .p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:hover, .landing-themes .p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:hover {
  background: rgba(248, 113, 113, 0.04);
  color: #f87171;
  border: 1px solid;
}
.landing-themes .p-button.p-button-danger.p-button-outlined:enabled:active, .landing-themes .p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:active, .landing-themes .p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:active {
  background: rgba(248, 113, 113, 0.16);
  color: #f87171;
  border: 1px solid;
}
.landing-themes .p-button.p-button-danger.p-button-text, .landing-themes .p-buttonset.p-button-danger > .p-button.p-button-text, .landing-themes .p-splitbutton.p-button-danger > .p-button.p-button-text {
  background-color: transparent;
  color: #f87171;
  border-color: transparent;
}
.landing-themes .p-button.p-button-danger.p-button-text:enabled:hover, .landing-themes .p-buttonset.p-button-danger > .p-button.p-button-text:enabled:hover, .landing-themes .p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:hover {
  background: rgba(248, 113, 113, 0.04);
  border-color: transparent;
  color: #f87171;
}
.landing-themes .p-button.p-button-danger.p-button-text:enabled:active, .landing-themes .p-buttonset.p-button-danger > .p-button.p-button-text:enabled:active, .landing-themes .p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:active {
  background: rgba(248, 113, 113, 0.16);
  border-color: transparent;
  color: #f87171;
}
.landing-themes .p-button.p-button-link {
  color: #60a5fa;
  background: transparent;
  border: transparent;
}
.landing-themes .p-button.p-button-link:enabled:hover {
  background: transparent;
  color: #60a5fa;
  border-color: transparent;
}
.landing-themes .p-button.p-button-link:enabled:hover .p-button-label {
  text-decoration: underline;
}
.landing-themes .p-button.p-button-link:enabled:focus {
  background: transparent;
  box-shadow: 0 0 0 1px rgba(96, 165, 250, 0.2);
  border-color: transparent;
}
.landing-themes .p-button.p-button-link:enabled:active {
  background: transparent;
  color: #60a5fa;
  border-color: transparent;
}
.landing-themes .p-datatable .p-paginator-top {
  border-width: 0;
  border-radius: 0;
}
.landing-themes .p-datatable .p-paginator-bottom {
  border-width: 0;
  border-radius: 0;
}
.landing-themes .p-datatable .p-datatable-header {
  background: #1f2937;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid #424b57;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 700;
}
.landing-themes .p-datatable .p-datatable-footer {
  background: #1f2937;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #424b57;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 700;
}
.landing-themes .p-datatable .p-datatable-thead > tr > th {
  text-align: start ;
  padding: 1rem 1rem;
  border: 1px solid #424b57;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.87);
  background: #1f2937;
  transition: box-shadow 0.2s;
}
.landing-themes .p-datatable .p-datatable-tfoot > tr > td {
  text-align: start ;
  padding: 1rem 1rem;
  border: 1px solid #424b57;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.87);
  background: #1f2937;
}
.landing-themes .p-datatable .p-sortable-column .p-sortable-column-icon {
  color: rgba(255, 255, 255, 0.6);
  margin-inline-start: 0.5rem;
}
.landing-themes .p-datatable .p-sortable-column .p-sortable-column-badge {
  border-radius: 50%;
  height: 1.143rem;
  min-width: 1.143rem;
  line-height: 1.143rem;
  color: rgba(255, 255, 255, 0.87);
  background: rgba(96, 165, 250, 0.16);
  margin-inline-start: 0.5rem;
}
.landing-themes .p-datatable .p-sortable-column:not(.p-highlight):hover {
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-datatable .p-sortable-column.p-highlight {
  background: rgba(96, 165, 250, 0.16);
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-datatable .p-sortable-column.p-highlight:hover {
  background: rgba(96, 165, 250, 0.16);
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-datatable .p-sortable-column:focus-visible {
  box-shadow: inset 0 0 0 0.15rem rgba(96, 165, 250, 0.2);
  outline: 0 none;
}
.landing-themes .p-datatable .p-datatable-tbody > tr {
  background: #1f2937;
  color: rgba(255, 255, 255, 0.87);
  transition: box-shadow 0.2s;
}
.landing-themes .p-datatable .p-datatable-tbody > tr > td {
  text-align: start ;
  border: 1px solid #424b57;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-toggler,
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-editor-init,
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-editor-save,
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel {
  width: 2rem;
  height: 2rem;
  color: rgba(255, 255, 255, 0.6);
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-toggler:enabled:hover,
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:enabled:hover,
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:enabled:hover,
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:enabled:hover {
  color: rgba(255, 255, 255, 0.87);
  border-color: transparent;
  background: rgba(255, 255, 255, 0.03);
}
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-toggler:focus-visible,
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:focus-visible,
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:focus-visible,
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(96, 165, 250, 0.2);
}
.landing-themes .p-datatable .p-datatable-tbody > tr > td .p-row-editor-save {
  margin-inline-end: 0.5rem;
}
.landing-themes .p-datatable .p-datatable-tbody > tr:focus-visible {
  outline: 0.15rem solid rgba(96, 165, 250, 0.2);
  outline-offset: -0.15rem;
}
.landing-themes .p-datatable .p-datatable-tbody > tr.p-highlight {
  background: rgba(96, 165, 250, 0.16);
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-top > td {
  box-shadow: inset 0 2px 0 0 rgba(96, 165, 250, 0.16);
}
.landing-themes .p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom > td {
  box-shadow: inset 0 -2px 0 0 rgba(96, 165, 250, 0.16);
}
.landing-themes .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-datatable .p-column-resizer-helper {
  background: #60a5fa;
}
.landing-themes .p-datatable .p-datatable-scrollable-header,
.landing-themes .p-datatable .p-datatable-scrollable-footer {
  background: #1f2937;
}
.landing-themes .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-thead,
.landing-themes .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-datatable-table > .p-datatable-tfoot, .landing-themes .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-scroller-viewport > .p-scroller > .p-datatable-table > .p-datatable-thead,
.landing-themes .p-datatable.p-datatable-scrollable > .p-datatable-wrapper > .p-scroller-viewport > .p-scroller > .p-datatable-table > .p-datatable-tfoot {
  background-color: #1f2937;
}
.landing-themes .p-datatable .p-datatable-loading-icon {
  font-size: 2rem;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-header {
  border-width: 1px 1px 0 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-footer {
  border-width: 0 1px 1px 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-paginator-top {
  border-width: 0 1px 0 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-paginator-bottom {
  border-width: 0 1px 1px 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
  border-width: 1px 0 1px 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th:last-child {
  border-width: 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
  border-width: 1px 0 0 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td:last-child {
  border-width: 1px 1px 0 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr:last-child > td {
  border-width: 1px 0 1px 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr:last-child > td:last-child {
  border-width: 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td {
  border-width: 1px 0 1px 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td:last-child {
  border-width: 1px 1px 1px 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-thead + .p-datatable-tfoot > tr > td {
  border-width: 0 0 1px 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines .p-datatable-thead + .p-datatable-tfoot > tr > td:last-child {
  border-width: 0 1px 1px 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody > tr > td {
  border-width: 0 0 1px 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody > tr > td:last-child {
  border-width: 0 1px 1px 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines:has(.p-datatable-tbody):has(.p-datatable-tfoot) .p-datatable-tbody > tr:last-child > td {
  border-width: 0 0 0 1px;
}
.landing-themes .p-datatable.p-datatable-gridlines:has(.p-datatable-tbody):has(.p-datatable-tfoot) .p-datatable-tbody > tr:last-child > td:last-child {
  border-width: 0 1px 0 1px;
}
.landing-themes .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background: #1c2532;
}
.landing-themes .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight {
  background: rgba(96, 165, 250, 0.16);
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight .p-row-toggler {
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight .p-row-toggler:hover {
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-datatable.p-datatable-sm .p-datatable-header {
  padding: 0.5rem 0.5rem;
}
.landing-themes .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.5rem 0.5rem;
}
.landing-themes .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem;
}
.landing-themes .p-datatable.p-datatable-sm .p-datatable-tfoot > tr > td {
  padding: 0.5rem 0.5rem;
}
.landing-themes .p-datatable.p-datatable-sm .p-datatable-footer {
  padding: 0.5rem 0.5rem;
}
.landing-themes .p-datatable.p-datatable-lg .p-datatable-header {
  padding: 1.25rem 1.25rem;
}
.landing-themes .p-datatable.p-datatable-lg .p-datatable-thead > tr > th {
  padding: 1.25rem 1.25rem;
}
.landing-themes .p-datatable.p-datatable-lg .p-datatable-tbody > tr > td {
  padding: 1.25rem 1.25rem;
}
.landing-themes .p-datatable.p-datatable-lg .p-datatable-tfoot > tr > td {
  padding: 1.25rem 1.25rem;
}
.landing-themes .p-datatable.p-datatable-lg .p-datatable-footer {
  padding: 1.25rem 1.25rem;
}
.landing-themes .p-paginator {
  background: #1f2937;
  color: rgba(255, 255, 255, 0.6);
  border: solid #424b57;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
.landing-themes .p-paginator .p-paginator-first,
.landing-themes .p-paginator .p-paginator-prev,
.landing-themes .p-paginator .p-paginator-next,
.landing-themes .p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: rgba(255, 255, 255, 0.6);
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 6px;
}
.landing-themes .p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.landing-themes .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.landing-themes .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.landing-themes .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
  background: rgba(255, 255, 255, 0.03);
  border-color: transparent;
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-paginator .p-paginator-first {
  border-start-start-radius: 6px;
  border-end-start-radius: 6px;
}
.landing-themes .p-paginator .p-paginator-last {
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
}
.landing-themes .p-paginator .p-dropdown {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  height: 3rem;
}
.landing-themes .p-paginator .p-dropdown .p-dropdown-label {
  padding-inline-end: 0;
}
.landing-themes .p-paginator .p-paginator-page-input {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
}
.landing-themes .p-paginator .p-paginator-page-input .p-inputtext {
  max-width: 3rem;
}
.landing-themes .p-paginator .p-paginator-current {
  background-color: transparent;
  border: 0 none;
  color: rgba(255, 255, 255, 0.6);
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  padding: 0 0.5rem;
}
.landing-themes .p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: rgba(255, 255, 255, 0.6);
  min-width: 3rem;
  height: 3rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 6px;
}
.landing-themes .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: rgba(96, 165, 250, 0.16);
  border-color: rgba(96, 165, 250, 0.16);
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: rgba(255, 255, 255, 0.03);
  border-color: transparent;
  color: rgba(255, 255, 255, 0.87);
}
.landing-themes .p-tag {
  background: #60a5fa;
  color: #030712;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.25rem 0.4rem;
  border-radius: 6px;
}
.landing-themes .p-tag.p-tag-success {
  background-color: #4ade80;
  color: #052e16;
}
.landing-themes .p-tag.p-tag-info {
  background-color: #38bdf8;
  color: #082f49;
}
.landing-themes .p-tag.p-tag-warning {
  background-color: #fb923c;
  color: #431407;
}
.landing-themes .p-tag.p-tag-danger {
  background-color: #f87171;
  color: #450a0a;
}
.landing-themes .p-tag .p-tag-icon {
  margin-inline-end: 0.25rem;
  font-size: 0.75rem;
}
.landing-themes .p-tag .p-icon {
  width: 0.75rem;
  height: 0.75rem;
}
.landing-themes .p-progressbar {
  border: 0 none;
  height: 1.5rem;
  background: #424b57;
  border-radius: 6px;
}
.landing-themes .p-progressbar .p-progressbar-value {
  border: 0 none;
  margin: 0;
  background: #60a5fa;
}
.landing-themes .p-progressbar .p-progressbar-label {
  color: #030712;
  line-height: 1.5rem;
}
