
.layout-footer {
	color: #707070;
    font-weight: bold;
    background-color: #f5f7f8;
    border-top: 1px solid #dcdedf;

	.footer-links {
		float: right;
        font-size: 24px;
        
		a {
			color: #707070;
			margin-left: 16px;
		}
	}
}

.content-section {
	display: block;
	padding: 30px;
    overflow: hidden;
    
	&:first-of-type {
		> div {
			> span {
                line-height: 1.5em;
                
				&:last-child {
					font-size: 16px;
				}
			}
		}
    }
    
	h2 {
		margin-top: 0;
	}
}

.content-section.introduction {
	background: #378fe7;
    color: #ffffff;
    
	a {
		color: #ffffff;
        font-weight: 700;
        
        &:hover {
            text-decoration: underline;
        }
    }

    .subitem {
        font-weight: normal;
        color: rgba(255,255,255,0.7);
    }

    + .content-section {
        border-top: 0 none;
    }
}
.feature-title {
	font-size: 30px;
	margin-bottom: 20px;
    display: block;
}


/* Demos */
.implementation {
	background-color: #FFFFFF;
	overflow: visible;
	h3 {
		margin-top: 30px;
		color: #333333;
		font-weight: 400;
        font-size: 1.5em;
    }

    > h3:first-child {
        margin-top: 0px;
    }
    
	h3.first {
		margin-top: 0px !important;
    }
    
	h4 {
		color: #333333;
	}
}
.implementation-charts {
	background-color: #FFFFFF;
	overflow: visible;
}

i:not([class~="pi"]) {
	background-color: var(--layer-0);
	color: #2196f3;
	font-family: Monaco, courier, monospace;
	font-style: normal;
	font-size: 12px;
	font-weight: 500;
	padding: 2px 4px;
	letter-spacing: .5px;
	border-radius: 3px;
	font-weight: 600;
	margin: 0 2px;
}


/* Dark Theme such as luna-amber, luna-blue, luna-green and luna-pink */
.dark-theme {
	.implementation {
		background-color: #3f3f3f;
		color: #dedede;
		>h3 {
			color: #dedede;
		}
		>h4 {
			color: #dedede;
		}
	}
	.carousel-demo {
		.ui-carousel {
			.ui-carousel-content {
				.ui-carousel-item {
					.car-details {
						>.p-grid {
							border: 1px solid #191919;
							background-color: #323232;
						}
					}
				}
			}
		}
	}
}