html {
    height: 100%;
    font-size: 14px;
}
body {
	margin: 0px;
	min-height: 100%;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: normal;
	color: #333333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
}

.layout-wrapper {
    .ui-toast-top-right,
    .ui-toast-top-left,
    .ui-toast-top-center {
        top: 80px;
    }

    &.layout-news-active {
        .layout-topbar {
            top: 64px;
        }

        .layout-sidebar {
            top: 140px;
            height: calc(100% - 140px);
		}
		
		.layout-config {
            top: 140px;
            height: calc(100% - 140px);
        }

        .layout-content {
            padding-top: 140px;
        }

        .ui-toast-top-right,
        .ui-toast-top-left,
        .ui-toast-top-center {
            top: 150px;
        }
    }
}

.theme-badge {
	padding: 2px 4px;
	border-radius: 3px;
	color: #ffffff;
	font-weight: 700;
    font-size: 11px;
    margin-left: .25rem;

    &.material {
        background: #2196F3;
    }

    &.bootstrap {
        background: #563D7C;
    }
}

.layout-content {
	margin-left: 250px;
	padding-top: 64px;
	background-color: #ffffff;
}

.layout-mask {
	z-index: 9998;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background-color: #4c5254;
	opacity: .7;
}

@keyframes pulse {
	0% {
		background-color: rgba(165, 165, 165, 0.1);
	}
	50% {
		background-color: rgba(165, 165, 165, 0.3);
	}
	100% {
		background-color: rgba(165, 165, 165, 0.1);
	}
}

/* Animations */
@-webkit-keyframes customSlide {
    0% {
        left: 0;
        bottom:-40%;
    }
    20% {
        left: 20%;
        bottom:-20%;
    }
    40% {
        left: 40%;
        bottom:0%;
    }
    60% {
        left: 60%;
        bottom:20%;
    }
    80% {
        left: 80%;
        bottom:40%;
    }
    100% {
        left: 100%;
        bottom: 60%;
    }
}
@keyframes customSlide {
    0% {
        left: 0;
        bottom:-40%;
    }
    20% {
        left: 20%;
        bottom:-20%;
    }
    40% {
        left: 40%;
        bottom:0%;
    }
    60% {
        left: 60%;
        bottom:20%;
    }
    80% {
        left: 80%;
        bottom:40%;
    }
    100% {
        left: 100%;
        bottom: 60%;
    }
}

@-webkit-keyframes snowSlide {
    from { background-position: 0 0; }
    to { background-position: 0 400px; }
}
@keyframes snowSlide {
    from { background-position: 0 0; }
    to { background-position: 0 400px; }
}

.ui-tabview-left {
	>.ui-tabview-nav {
		height: 150px;
	}
}
.col-button {
	width: 10%;
	text-align: center;
}
.col-icon {
	width: 38px;
	text-align: center;
}
.whouses {
	background: #ffffff;
	img {
		width: 100%;
	}
}
a {
	text-decoration: none;
	color: #1b82d7;
}

@media (max-width: 450px) {
	.notification-topbar {
		.notification-topbar-image {
			display: none;
		}
		.notification-topbar-image-mobile {
			display: block;
		}
	}
}
