@mixin shadow($value...) {
    box-shadow: $value;
}

@mixin transition($transition...) {
    transition:         $transition;
}

@mixin rotate($deg) {    
    transform: rotate($deg);
}

@mixin border-radius($val) {
    border-radius: $val;
}

@mixin border-radius-bottom($val) {
    border-bottom-right-radius: $val;
}

@mixin border-radius-left($val) {
    border-bottom-left-radius: $val;
}

@mixin scale($deg) {    
    transform: scale($deg);
}

