@mixin shadow($value...) {
    box-shadow: $value;
}

@mixin transition($transition...) {
    transition:         $transition;
}

@mixin rotate($deg) {    
    transform: rotate($deg);
}

@mixin border-radius($val) {
    border-radius: $val;
}

@mixin border-radius-bottom($val) {
    border-bottom-right-radius: $val;
}

@mixin border-radius-left($val) {
    border-bottom-left-radius: $val;
}

@mixin scale($deg) {    
    transform: scale($deg);
}

@mixin submenuList() {
	position: absolute;
	top: 40px;
	background-color: #ffffff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	overflow: auto;
	margin: 0;
	border-radius: 3px;
	animation-name: fadeInDown;
    animation-duration: .3s;
    padding: .5rem;
    
	> li.topbar-submenu-header {
		padding: .5rem;
		font-weight: 700;
		text-align: left;
		background-color: #f8f9fa;
        color: #6c757c;
        margin: .5rem 0;
        border-radius: 3px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
    
	a {
		user-select: none;
		text-decoration: none;
		color: #404C51;
        display: flex;
        align-items: center;
		cursor: pointer;
        transition: all 0.5s ease;
        padding: .5rem;
        border-radius: 3px;
        
		&:hover {
			background-color: #e9ecef;
			cursor: pointer;
		}
		img {
			width: 32px;
			vertical-align: middle;
        }
        
		.topbar-submenu-icon {
            font-size: 18px;
            margin-right: .25rem;
        }
        
		.ui-text {
			line-height: 1;
			margin-left: .5rem;
		}
	}
}