.layout-topbar {
	background-color: #1976d2;
	box-sizing: border-box;
	display: block;
	padding: 0;
	height: 64px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9997;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    
	.menu-button {
		display: none;
		color: #ffffff;
		font-size: 24px;
		position: absolute;
		left: 0;
		top: 0;
		width: 60px;
		height: 60px;
		line-height: 58px;
		text-align: center;
        transition: background-color .2s;
        
		&:hover {
			background-color: rgba(255,255,255,0.2);
        }

        &:focus {
			background-color: rgba(255,255,255,0.2);
        }
        
		i {
			line-height: inherit;
		}
    }
    
	.logo {
		margin-left: 25px;
		margin-top: 11px;
        display: inline-block;
        
		img {
			height: 42px;
		}
	}
}

.topbar-menu {
	display: inline-block;
	list-style-type: none;
	margin: 15px 60px 0 0;
	padding: 0;
    
	> li {
        display: inline-block;
        position: relative;
        margin-left: .25rem;

		> a {
			text-decoration: none;
			color: #ffffff;
			transition: background-color .2s;
			min-width: 120px;
			display: block;
			text-align: center;
			font-size: 16px;
            user-select: none;
            padding: 6px;
            border-radius: 3px;
            height: 34px;
            cursor: pointer;
            
			&:hover{
                background-color: rgba(255,255,255,0.1);
            }

            &:focus {
                background-color: rgba(255,255,255,0.2);
                outline: 0 none;
            }
        }

        > ul {
            position: absolute;
            top: 40px;
            background-color: #ffffff;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            overflow: auto;
            margin: 0;
            border-radius: 3px;
            padding: .5rem;
            right: 0;
            max-height: 366px;
            min-width: 250px;
            
            > li.topbar-submenu-header {
                padding: .5rem;
                font-weight: 700;
                text-align: left;
                background-color: #f8f9fa;
                color: #6c757c;
                margin: .5rem 0;
                border-radius: 3px;
        
                &:first-child {
                    margin-top: 0;
                }
        
                &:last-child {
                    margin-bottom: 0;
                }
            }
            
            a {
                user-select: none;
                text-decoration: none;
                color: #404C51;
                display: flex;
                align-items: center;
                transition: all 0.5s ease;
                padding: .5rem;
                border-radius: 3px;
                cursor: pointer;
                
                &:hover {
                    background-color: #e9ecef;
                    cursor: pointer;
                }

                img {
                    width: 32px;
                    vertical-align: middle;
                }
                
                .topbar-submenu-icon {
                    font-size: 18px;
                    margin-right: .25rem;
                }
                
                .ui-text {
                    line-height: 1;
                    margin-left: .5rem;
                }
            }

            &.topbar-submenu-versions {
                min-width: 100%;
            }
        }
        
		a {
			cursor: pointer;
			&.topbar-submenu-versions-header {
				min-width: 40px;
			}
		}
		&.topbar-menu-active {
			>ul {
				display: block;
			}
		}
    }
}