.ui-picklist > div {
    float: left;
}

.ui-picklist .ui-picklist-buttons {
    height: 12.5em;
    padding: 0 .25em;
}

.ui-picklist .ui-picklist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:auto;
    height: 12.5em;
    width: 12.5em;
}

.ui-picklist .ui-picklist-list li {
    margin: 1px;
    padding: .125em;
}

.ui-picklist .ui-button {
    display:block;
    margin-bottom: 0.25em;
}

.ui-picklist .ui-button-text-icon-left {
    width: 100%;
}

.ui-picklist .ui-picklist-item {
    cursor: pointer;
    border: 0 none;
    font-weight: inherit;
}

.ui-picklist .ui-picklist-caption {
    text-align: center;
	padding: .5em .75em;
    border-bottom:0 none;
}

.ui-picklist table {
    width: 100%;
    border-collapse:collapse;
}

.ui-picklist .ui-picklist-filter {
    padding-right: 1em;
    width: 100%;
    box-sizing: border-box;
}

.ui-picklist .ui-picklist-filter-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.ui-picklist .ui-picklist-filter-container .fa {
    position: absolute;
    top: .25em;
    right: .125em;
}

.ui-picklist {
    display: table;
}

.ui-picklist > div {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.ui-picklist .ui-picklist-buttons {
    vertical-align: middle;
}

/* Vertical */
.ui-picklist.ui-picklist-vertical {
    display: table;
}

.ui-picklist.ui-picklist-vertical > div {
    float: none;
    display: table-row;
    vertical-align: top;
}

.ui-picklist.ui-picklist-vertical .ui-picklist-buttons {
    text-align:center;
    height: auto;
}

.ui-picklist.ui-picklist-vertical .ui-picklist-buttons .ui-button {
    display: inline-block;
}

.ui-picklist.ui-picklist-vertical .ui-button {
    margin-top: 0.25em;
}

.ui-picklist-outline {
    outline: 1px dotted black;
    z-index: 1;
}

.ui-picklist-list.ui-picklist-source,
.ui-picklist-list.ui-picklist-target {
    outline: none;
}

/* Responsive */
.ui-picklist.ui-picklist-responsive * {
    box-sizing: border-box;
}

.ui-picklist.ui-picklist-responsive {
    width: 100%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-listwrapper {
    width: 35%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-listwrapper.ui-picklist-listwrapper-nocontrols {
    width: 45%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
    width: 10%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
    width: 100%;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-list {
    width: auto;
}
        
/* Responsive */
@media (max-width: 40em) {
    .ui-picklist.ui-picklist-responsive {
        display: block;
    }
    
    .ui-picklist.ui-picklist-responsive > div {
        display: block;
        width: 100% !important;
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
        text-align: center;
        height: auto;
        padding: .4em 0;
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
        display: inline;
        width: 20%;
        margin-bottom: 0;
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-source-controls.ui-picklist-buttons {
        padding-bottom: .4em;
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-target-controls.ui-picklist-buttons {
        padding-top: .4em;
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .fa-angle-right:before {
        content: "\f107";
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .fa-angle-double-right:before {
        content: "\f103";
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .fa-angle-left:before {
        content: "\f106";
    }
    
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons .fa-angle-double-left:before {
        content: "\f102";
    }
}
