<div class="content-section introduction">
    <div class="feature-intro">
        <h1>AutoFocus</h1>
        <p>AutoFocus manages focus on the input component on load.</p>
    </div>
    <app-demoActions github="autofocus" stackblitz="autofocus-demo"></app-demoActions>
</div>

<div class="content-section implementation">
    <input type="text" pInputText [pAutoFocus]="true" placeholder="Automatically focused" /> 
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="Documentation">
            <h5>Import</h5>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;AutoFocusModule&#125; from 'primeng/autofocus';
</app-code>

            <h5>Getting Started</h5>
            <p>AutoFocus is applied to any focusable input element on initial load. It's disabled by default and needs to be enabled manually.</p>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;input [pAutoFocus]="true" &gt;
</app-code>

            <h5>Properties</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>pAutoFocus</td>
                            <td>boolean</td>
                            <td>null</td>
                            <td>When present, it specifies that the component should automatically get focus on load.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>Events</h5>
            <p>Directive has no events.</p>

            <h5>Styling</h5>
            <p>Directive does not apply any styling to host.</p>

            <h5>Dependencies</h5>
            <p>None.</p>
        </p-tabPanel>

        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/autofocus" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
            <a href="https://stackblitz.com/edit/primeng-autofocus-demo" class="btn-viewsource" style="margin-left: .5em;" target="_blank">
                <span>Edit in StackBlitz</span>
            </a>

<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;input type="text" pInputText [pAutoFocus]="true" placeholder="Automatically focused" &gt;
</app-code>

        </p-tabPanel>
     </p-tabView>
</div>

