:host ::ng-deep {
    .dock-window {
        width: 100%;
        height: 450px;
        position: relative;
        background-image: url('https://primefaces.org/cdn/primeng/images/dock/window.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .p-dock {
        z-index: 1000;
    }

    .dock-advanced {
        .p-dialog-mask,
        .p-toast {
            position: absolute;
        }

        .p-dialog {
            .p-dialog-header {
                padding: .2rem;
            }

            .p-dialog-content {
                padding: 0;
            }

            p {
                margin-block-start: 0;
            }

            .p-terminal {
                background-color: #212121;
                color: #ffffff;
                border: 0 none;
                min-height: 18rem;
                height: 100%;

                .p-terminal-command {
                    color: #80CBC4;
                }

                .p-terminal-prompt {
                    color: #FFD54F;
                }

                .p-terminal-response {
                    color: #9FA8DA;
                }
            }

            .p-tree {
                height: 100%;
                border-radius: 0;
                border-left-width: 0;
                border-right-width: 0;
                border-bottom-width: 0;
            }
        }

        .p-toast {
            top: 20px;
        }
    }

    .p-menubar {
        padding-block-start: 0;
        padding-block-end: 0;
        border-radius: 0;

        .menubar-root {
            font-weight: bold;
            padding: 0 1rem;
        }

        .p-menuitem-link {
            padding: 0.5rem .75rem;
        }

        .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
            padding: 0.5rem .75rem;

            > .p-submenu-icon {
                display: none;
            }
        }

        .p-menubar-end {
            span, i {
                padding: 0 .75rem;
            }
        }
    }
}

.dark-tooltip {
    .p-tooltip {
        .p-tooltip-arrow {
            border-top-color: var(--surface-900);
        }

        .p-tooltip-text {
            background-color: var(--surface-900);
        }
    }
}