.ui-datalist .ui-datalist-header,
.ui-datalist .ui-datalist-footer {
    text-align:center;
	padding: .5em .75em;
}

.ui-datalist .ui-datalist-header {
    border-bottom: 0 none;
}

.ui-datalist .ui-datalist-footer {
    border-top: 0 none;
}

.ui-datalist .ui-datalist-data {
    margin: 0;
    padding: 0;
}

.ui-datalist .ui-datalist-data > li {
    list-style-type: none;
    
}

.ui-datalist .ui-datalist-emptymessage {
    padding: .5em .75em;
}

.ui-datalist.ui-datalist-scrollable .ui-datalist-content {
    overflow: auto;
}

.ui-datalist .ui-paginator-top {
    border-bottom: 0 none;
}

.ui-datalist .ui-paginator-bottom {
    border-top: 0 none;
}
