<div class="content-section introduction">
    <div>
        <span class="feature-title">DataView</span>
        <span>DataView displays data in grid or list layout with pagination, sorting and filtering features.</span>
    </div>
</div>

<div class="content-section implementation">
    <p-dataView #dv [value]="cars" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="brand"
        [sortField]="sortField" [sortOrder]="sortOrder">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'140px'}"></p-dropdown>
                    </div>
                    <div class="ui-g-6 ui-md-4 filter-container">
                        <div style="position:relative">
                            <input type="search" pInputText placeholder="Search by brand" (keyup)="dv.filter($event.target.value)">
                        </div>
                    </div>
                    <div class="ui-g-6 ui-md-4" style="text-align:right">
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </div>
            </div>
        </p-header>
        <ng-template let-car pTemplate="listItem">
            <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                <div class="ui-g-12 ui-md-3" style="text-align:center">
                    <img src="assets/showcase/images/demo/car/{{car.brand}}.png">
                </div>
                <div class="ui-g-12 ui-md-8 car-details">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6">Vin: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{car.vin}}</b></div>

                        <div class="ui-g-2 ui-sm-6">Year: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{car.year}}</b></div>

                        <div class="ui-g-2 ui-sm-6">Brand: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{car.brand}}</b></div>

                        <div class="ui-g-2 ui-sm-6">Color: </div>
                        <div class="ui-g-10 ui-sm-6"><b>{{car.color}}</b></div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-1 search-icon">
                    <button pButton type="button" icon="fa-search" (click)="selectCar($event, car)"></button>
                </div>
            </div>
        </ng-template>
        <ng-template let-car pTemplate="gridItem">
            <div style="padding:.5em" class="ui-g-12 ui-md-3">
                <p-panel [header]="car.vin" [style]="{'text-align':'center'}">
                    <img src="assets/showcase/images/demo/car/{{car.brand}}.png" width="60">
                    <div class="car-detail">{{car.year}} - {{car.color}}</div>
                    <hr class="ui-widget-content" style="border-top:0">
                    <button pButton type="button" icon="fa-search" (click)="selectCar($event, car)" style="margin-top:0"></button>
                </p-panel>
            </div>
        </ng-template>
    </p-dataView>

    <p-dialog header="Car Details" [(visible)]="displayDialog" [minY]="70" [responsive]="true" showEffect="fade" [modal]="true" width="225" (onAfterHide)="onDialogHide()">
        <div class="ui-g" *ngIf="selectedCar">
            <div class="ui-g-12" style="text-align:center">
                <img src="assets/showcase/images/demo/car/{{selectedCar.brand}}.png">
            </div>
            <div class="ui-g-4">Vin: </div>
            <div class="ui-g-8">{{selectedCar.vin}}</div>

            <div class="ui-g-4">Brand: </div>
            <div class="ui-g-8">{{selectedCar.brand}}</div>

            <div class="ui-g-4">Year: </div>
            <div class="ui-g-8">{{selectedCar.year}}</div>

            <div class="ui-g-4">Color: </div>
            <div class="ui-g-8">{{selectedCar.color}}</div>
        </div>
    </p-dialog>
</div>

<div class="content-section documentation">
    <p-tabView effect="fade">
        <p-tabPanel header="Documentation">
            <h3>Import</h3>
<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;DataViewModule&#125; from 'primeng/dataview';
</code>
</pre>

            <h3>Getting Started</h3>
            <p>DataView requires a collection of items as its value and one or more templates depending on the layout mode e.g. list and grid.</p>

            <p>Throughout the samples, a car interface having vin, brand, year and color properties are used to define an object to be displayed by the dataview. Cars are loaded by a CarService that connects to a server to fetch the cars.</p>
<pre>
<code class="language-typescript" pCode ngNonBindable>
export interface Car &#123;
    vin;
    year;
    brand;
    color;
&#125;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;Injectable&#125; from 'angular2/core';
import &#123;Http, Response&#125; from 'angular2/http';
import &#123;Car&#125; from '../domain/car';

@Injectable()
export class CarService &#123;

    constructor(private http: Http) &#123;&#125;

    getCarsLarge() &#123;
        return this.http.get('/showcase/resources/data/cars-large.json')
                    .toPromise()
                    .then(res => &lt;Car[]&gt; res.json().data)
                    .then(data => &#123; return data; &#125;);
    &#125;
&#125;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class DataViewDemo implements OnInit &#123;

    cars: Car[];

    constructor(private carService: CarService) &#123; &#125;

    ngOnInit() &#123;
        this.carService.getCarsLarge().then(cars => this.cars = cars);
    &#125;
&#125;
</code>
</pre>

<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-dataView [value]="cars"&gt;
    &lt;ng-template let-car pTemplate="listItem"&gt;
        &lt;div&gt;
            &#123;&#123;car.id&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-dataView&gt;
</code>
</pre>

            <h3>Layouts</h3>
            <p>DataView has two layout modes; "list" and "grid" where a separate template is used to render an item in each mode. In list mode name of the template is "listItem" whereas
                in grid mode it is "gridItem". In grid mode, the ng-template element should contain a div element as a wrapper with <a [routerLink]="['/grid']">Grid CSS</a> style class of your choice.</p>
            <p>Note that there is no restriction to use both layouts at the same time, you may configure only one layout using the layout property with the corresponding ng-template.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-dataView [value]="cars"&gt;
    &lt;ng-template let-car pTemplate="listItem"&gt;
        &lt;div&gt;
            &#123;&#123;car.id&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
    &lt;ng-template let-car pTemplate="gridItem"&gt;
        &lt;div class="ui-g-12 ui-md-3"&gt;
            &#123;&#123;car.year&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-dataView&gt;
</code>
</pre>

            <h3>Sections</h3>
            <p>Header and Footer are the two sections that are capable of displaying custom content.</p>

<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-dataView [value]="cars"&gt;
    &lt;p-header&gt;List of Cars&lt;/p-header&gt;
    &lt;p-footer&gt;Choose from the list.&lt;/p-footer&gt;
    &lt;ng-template let-car pTemplate="listItem"&gt;
        &lt;div&gt;
            &#123;&#123;car.id&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
    &lt;ng-template let-car pTemplate="gridItem"&gt;
        &lt;div class="ui-g-12 ui-md-3"&gt;
            &#123;&#123;car.year&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-dataView&gt;
</code>
</pre>

            <h3>DataViewLayoutOptions</h3>
            <p>When both layout modes are enabled in DataView, a UI element would be necessary to let the user toggle between the view. p-dataViewLayoutOptions is a helper component
                to display a buttonset to choose the layout mode in DataView. Location of the p-dataViewLayoutOptions should be inside the DataView component. If you prefer a different UI element
                you can create your own that updates the layout property of the DataView.
            </p>

            <pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-dataView [value]="cars"&gt;
    &lt;p-header&gt;
        &lt;p-dataViewLayoutOptions&gt;&lt;/p-dataViewLayoutOptions&gt;
    &lt;/p-header&gt;
    &lt;p-footer&gt;
        &lt;p-dataViewLayoutOptions&gt;&lt;/p-dataViewLayoutOptions&gt;
    &lt;/p-footer&gt;

    &lt;ng-template let-car pTemplate="listItem"&gt;
        &lt;div&gt;
            &#123;&#123;car.id&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
    &lt;ng-template let-car pTemplate="gridItem"&gt;
        &lt;div class="ui-g-12 ui-md-3"&gt;
            &#123;&#123;car.year&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-dataView&gt;
</code>
</pre>

            <h3>Paginator</h3>
            <p>Pagination is enabled by setting paginator property to true, rows attribute defines the number of rows per page and pageLinks specify the the number
                of page links to display.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-dataView [value]="cars" [paginator="true" [rows]="10"&gt;
    &lt;ng-template let-car pTemplate="listItem"&gt;
        &lt;div&gt;
            &#123;&#123;car.id&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
    &lt;ng-template let-car pTemplate="gridItem"&gt;
        &lt;div class="ui-g-12 ui-md-3"&gt;
            &#123;&#123;car.year&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-dataView&gt;
</code>
</pre>

            <h3>Lazy Loading</h3>
            <p>Lazy mode is handy to deal with large datasets, instead of loading the entire data, small chunks of data is loaded by invoking
             onLazyLoad callback everytime paging happens. To implement lazy loading, enable lazy attribute and provide a method callback using onLazyLoad that actually loads the data from a remote datasource. onLazyLoad gets an event object
            that contains information about what to load. It is also important to assign the logical number of rows to totalRecords by doing a projection query for paginator configuration so that paginator
            displays the UI assuming there are actually records of totalRecords size although in reality they aren't as in lazy mode, only the records that are displayed on the current page exist.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-dataView [value]="cars" [paginator="true" [rows]="10"
    [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords"&gt;
    &lt;ng-template let-car pTemplate="listItem"&gt;
        &lt;div&gt;
            &#123;&#123;car.id&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
    &lt;ng-template let-car pTemplate="gridItem"&gt;
        &lt;div class="ui-g-12 ui-md-3"&gt;
            &#123;&#123;car.year&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-dataView&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
loadData(event) &#123;
    //event.first = First row offset
    //event.rows = Number of rows per page
&#125;
</code>
</pre>

            <h3>Sorting</h3>
            <p>sortField and sortOrder properties are available for sorting functionality, for flexibility there is no built-in UI available so that a custom UI can be used for the sorting element.
                Here is an example that uses a dropdown where simply updating the sortField-sortOrder bindings of the DataView initiates sorting.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-dataView [value]="cars" [sortField]="sortField" [sortOrder]="sortOrder"&gt;
    &lt;p-header&gt;
        &lt;p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
            (onChange)="onSortChange($event)" [autoWidth]="false" [style]="&#123;'min-width':'15em'&#125;"&gt;&lt;/p-dropdown&gt;
    &lt;/p-header&gt;
    &lt;ng-template let-car pTemplate="listItem"&gt;
        &lt;div&gt;
            &#123;&#123;car.id&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
    &lt;ng-template let-car pTemplate="gridItem"&gt;
        &lt;div class="ui-g-12 ui-md-3"&gt;
            &#123;&#123;car.year&#125;&#125;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-dataView&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class DataViewSortDemo implements OnInit &#123;

    cars: Car[];

    sortOptions: SelectItem[];

    sortKey: string;

    sortField: string;

    sortOrder: number;

    constructor(private carService: CarService) &#123; &#125;

    ngOnInit() &#123;
        this.carService.getCarsLarge().then(cars => this.cars = cars);

        this.sortOptions = [
            &#123;label: 'Newest First', value: '!year'&#125;,
            &#123;label: 'Oldest First', value: 'year'&#125;,
            &#123;label: 'Brand', value: 'brand'&#125;
        ];
    &#125;

    onSortChange(event) &#123;
        let value = event.value;

        if (value.indexOf('!') === 0) &#123;
            this.sortOrder = -1;
            this.sortField = value.substring(1, value.length);
        &#125;
        else &#123;
            this.sortOrder = 1;
            this.sortField = value;
        &#125;
    &#125;
&#125;
</code>
</pre>
            <h3>Filtering</h3>
            <p>Filtering is implemented by defining the filterBy property and  calling the filter function of the component, for flexibility there is no built-in UI available so that a custom UI can be used for the filter element.
                Here is an example that uses an input field. filterBy is a string and multiple fields can be defined with a comma separated list.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-dataView #dv [value]="cars" filterBy="brand"&gt;
    &lt;p-header&gt;
        &lt;input type="search" pInputText placeholder="Search by brand" (keyup)="dv.filter($event.target.value)"&gt;
    &lt;/p-header&gt;
    &lt;ng-template let-car pTemplate="listItem"&gt;
        &#123;&#123;car.id&#125;&#125;
    &lt;/ng-template&gt;
    &lt;ng-template let-car pTemplate="gridItem"&gt;
        &#123;&#123;car.year&#125;&#125;
    &lt;/ng-template&gt;
&lt;/p-dataView&gt;
</code>
</pre>
            <h3>Custom UI Elements</h3>
            <p>As mentioned above, layout options selector, sorting and filtering are baked-in and no strict UI is enforces to make it possible to come up with your own UI elements
                to enable these features.
            </p>

            <h3>Loading Status</h3>
            <p>DataView has a loading property, when enabled a spinner icon is displayed to indicate data load.
                An optional loadingIcon property can be passed in case you'd like a different loading icon.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-dataview [value]="cars" [loading]="loading"&gt;
    //content
&lt;/p-dataview&gt;
</code>
</pre>

            <h3>Properties</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>value</td>
                            <td>array</td>
                            <td>null</td>
                            <td>An array of objects to display.</td>
                        </tr>
                        <tr>
                            <td>layout</td>
                            <td>string</td>
                            <td>list</td>
                            <td>Layout of the items, valid values are "list" and "grid".</td>
                        </tr>
                        <tr>
                            <td>paginator</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>When specified as true, enables the pagination.</td>
                        </tr>
                        <tr>
                            <td>rows</td>
                            <td>number</td>
                            <td>null</td>
                            <td>Number of rows to display per page.</td>
                        </tr>
                        <tr>
                            <td>totalRecords</td>
                            <td>number</td>
                            <td>null</td>
                            <td>Number of total records, defaults to length of value when not defined.</td>
                        </tr>
                        <tr>
                            <td>pageLinks</td>
                            <td>number</td>
                            <td>5</td>
                            <td>Number of page links to display in paginator.</td>
                        </tr>
                        <tr>
                            <td>rowsPerPageOptions</td>
                            <td>array</td>
                            <td>null</td>
                            <td>Array of integer values to display inside rows per page dropdown of paginator</td>
                        </tr>
                        <tr>
                            <td>paginatorPosition</td>
                            <td>string</td>
                            <td>bottom</td>
                            <td>Position of the paginator, options are "top","bottom" or "both".</td>
                        </tr>
                        <tr>
                            <td>alwaysShowPaginator</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether to show it even there is only one page.</td>
                        </tr>
                        <tr>
                            <td>paginatorDropdownAppendTo</td>
                            <td>any</td>
                            <td>null</td>
                            <td>Target element to attach the paginator dropdown overlay, valid values are "body" or a local ng-template variable of another element.</td>
                        </tr>
                        <tr>
                            <td>lazy</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>Defines if data is loaded and interacted with in lazy manner.</td>
                        </tr>
                        <tr>
                            <td>emptyMessage</td>
                            <td>string</td>
                            <td>No records found.</td>
                            <td>Text to display when there is no data.</td>
                        </tr>
                        <tr>
                            <td>style</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Inline style of the component.</td>
                        </tr>
                        <tr>
                            <td>styleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Style class of the component.</td>
                        </tr>
                        <tr>
                            <td>trackBy</td>
                            <td>Function</td>
                            <td>null</td>
                            <td>Function to optimize the dom operations by delegating to ngForTrackBy, default algoritm checks for object identity.</td>
                        </tr>
                        <tr>
                            <td>filterBy</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Comma separated list of fields in the object graph to search against.</td>
                        </tr>
                        <tr>
                            <td>loading</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>Displays a loader to indicate data load is in progress.</td>
                        </tr>
                        <tr>
                            <td>loadingIcon</td>
                            <td>string</td>
                            <td>fa-circle-o-notch</td>
                            <td>The icon to show while indicating data load is in progress.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Events</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Parameters</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>onLazyLoad</td>
                            <td>event.first = First row offset <br>
                                event.rows = Number of rows per page <br></td>
                            <td>Callback to invoke when paging, sorting or filtering happens in lazy mode.</td>
                        </tr>
                        <tr>
                            <td>onPage</td>
                            <td>event.first: Index of first record in page<br>
                                event.rows: Number of rows on the page</td>
                            <td>Callback to invoke when pagination occurs.</td>
                        </tr>
                        <tr>
                            <td>onSort</td>
                            <td>event.field: Name of the sort field.<br>
                                event.order: Order of the sort.</td>
                            <td>Callback to invoke when sorting occurs.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Styling</h3>
            <p>Following is the list of structural style classes, for theming classes visit <a href="#" [routerLink]="['/theming']">theming page</a>.</p>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Element</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ui-dataview</td>
                            <td>Container element.</td>
                        </tr>
                        <tr>
                            <td>ui-dataview-header</td>
                            <td>Header section.</td>
                        </tr>
                        <tr>
                            <td>ui-dataview-footer</td>
                            <td>Footer section.</td>
                        </tr>
                        <tr>
                            <td>ui-dataview-content</td>
                            <td>Container of items.</td>
                        </tr>
                        <tr>
                            <td>ui-table-loading</td>
                            <td>Loader mask.</td>
                        </tr>
                        <tr>
                            <td>ui-table-loading-content</td>
                            <td>Loader content.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Dependencies</h3>
            <p>None.</p>
        </p-tabPanel>

        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/datagrid" class="btn-viewsource" target="_blank">
                <i class="fa fa-github"></i>
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-markup" pCode ngNonBindable>
    &lt;p-dataView #dv [value]="cars" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="brand"
    [sortField]="sortField" [sortOrder]="sortOrder"&gt;
    &lt;p-header&gt;
        &lt;div class="ui-helper-clearfix"&gt;
            &lt;div class="ui-g"&gt;
                &lt;div class="ui-g-12 ui-md-4"&gt;
                    &lt;p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="&#123;'min-width':'15em'&#125;"&gt;&lt;/p-dropdown&gt;
                &lt;/div&gt;
                &lt;div class="ui-g-6 ui-md-4 filter-container"&gt;
                    &lt;div style="position:relative"&gt;
                        &lt;input type="search" pInputText placeholder="Search by brand" (keyup)="dv.filter($event.target.value)"&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="ui-g-6 ui-md-4" style="text-align:right"&gt;
                    &lt;p-dataViewLayoutOptions&gt;&lt;/p-dataViewLayoutOptions&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/p-header&gt;
    &lt;ng-template let-car pTemplate="listItem"&gt;
        &lt;div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9"&gt;
            &lt;div class="ui-g-12 ui-md-3" style="text-align:center"&gt;
                &lt;img src="assets/showcase/images/demo/car/&#123;&#123;car.brand&#125;&#125;.png"&gt;
            &lt;/div&gt;
            &lt;div class="ui-g-12 ui-md-8 car-details"&gt;
                &lt;div class="ui-g"&gt;
                    &lt;div class="ui-g-2 ui-sm-6"&gt;Vin: &lt;/div&gt;
                    &lt;div class="ui-g-10 ui-sm-6"&gt;&lt;b&gt;&#123;&#123;car.vin&#125;&#125;&lt;/b&gt;&lt;/div&gt;

                    &lt;div class="ui-g-2 ui-sm-6"&gt;Year: &lt;/div&gt;
                    &lt;div class="ui-g-10 ui-sm-6"&gt;&lt;b&gt;&#123;&#123;car.year&#125;&#125;&lt;/b&gt;&lt;/div&gt;

                    &lt;div class="ui-g-2 ui-sm-6"&gt;Brand: &lt;/div&gt;
                    &lt;div class="ui-g-10 ui-sm-6"&gt;&lt;b&gt;&#123;&#123;car.brand&#125;&#125;&lt;/b&gt;&lt;/div&gt;

                    &lt;div class="ui-g-2 ui-sm-6"&gt;Color: &lt;/div&gt;
                    &lt;div class="ui-g-10 ui-sm-6"&gt;&lt;b&gt;&#123;&#123;car.color&#125;&#125;&lt;/b&gt;&lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="ui-g-12 ui-md-1 search-icon"&gt;
                &lt;button pButton type="button" icon="fa-search" (click)="selectCar($event, car)"&gt;&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/ng-template&gt;
    &lt;ng-template let-car pTemplate="gridItem"&gt;
        &lt;div style="padding:.5em" class="ui-g-12 ui-md-3"&gt;
            &lt;p-panel [header]="car.vin" [style]="&#123;'text-align':'center'&#125;"&gt;
                &lt;img src="assets/showcase/images/demo/car/&#123;&#123;car.brand&#125;&#125;.png" width="60"&gt;
                &lt;div class="car-detail"&gt;&#123;&#123;car.year&#125;&#125; - &#123;&#123;car.color&#125;&#125;&lt;/div&gt;
                &lt;hr class="ui-widget-content" style="border-top:0"&gt;
                &lt;button pButton type="button" icon="fa-search" (click)="selectCar($event, car)" style="margin-top:0"&gt;&lt;/button&gt;
            &lt;/p-panel&gt;
        &lt;/div&gt;
    &lt;/ng-template&gt;
&lt;/p-dataView&gt;

&lt;p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="225" (onAfterHide)="onDialogHide()"&gt;
    &lt;div class="ui-g" *ngIf="selectedCar"&gt;
        &lt;div class="ui-g-12" style="text-align:center"&gt;
            &lt;img src="assets/showcase/images/demo/car/&#123;&#123;selectedCar.brand&#125;&#125;.png"&gt;
        &lt;/div&gt;
        &lt;div class="ui-g-4"&gt;Vin: &lt;/div&gt;
        &lt;div class="ui-g-8"&gt;&#123;&#123;selectedCar.vin&#125;&#125;&lt;/div&gt;

        &lt;div class="ui-g-4"&gt;Brand: &lt;/div&gt;
        &lt;div class="ui-g-8"&gt;&#123;&#123;selectedCar.brand&#125;&#125;&lt;/div&gt;

        &lt;div class="ui-g-4"&gt;Year: &lt;/div&gt;
        &lt;div class="ui-g-8"&gt;&#123;&#123;selectedCar.year&#125;&#125;&lt;/div&gt;

        &lt;div class="ui-g-4"&gt;Color: &lt;/div&gt;
        &lt;div class="ui-g-8"&gt;&#123;&#123;selectedCar.color&#125;&#125;&lt;/div&gt;
    &lt;/div&gt;
&lt;/p-dialog&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class DataViewDemo implements OnInit &#123;

    cars: Car[];

    selectedCar: Car;

    displayDialog: boolean;

    sortOptions: SelectItem[];

    sortKey: string;

    sortField: string;

    sortOrder: number;

    constructor(private carService: CarService) &#123; &#125;

    ngOnInit() &#123;
        this.carService.getCarsLarge().then(cars => this.cars = cars);

        this.sortOptions = [
            &#123;label: 'Newest First', value: '!year'&#125;,
            &#123;label: 'Oldest First', value: 'year'&#125;,
            &#123;label: 'Brand', value: 'brand'&#125;
        ];
    &#125;

    selectCar(event: Event, car: Car) &#123;
        this.selectedCar = car;
        this.displayDialog = true;
        event.preventDefault();
    &#125;

    onSortChange(event) &#123;
        let value = event.value;

        if (value.indexOf('!') === 0) &#123;
            this.sortOrder = -1;
            this.sortField = value.substring(1, value.length);
        &#125;
        else &#123;
            this.sortOrder = 1;
            this.sortField = value;
        &#125;
    &#125;

    onDialogHide() &#123;
        this.selectedCar = null;
    &#125;
&#125;
</code>
</pre>


        </p-tabPanel>
    </p-tabView>
</div>
