@layer primeng {
    .p-sidebar {
        position: fixed;
        transition: transform 0.3s;
        display: flex;
        flex-direction: column;
    }

    .p-sidebar-content {
        position: relative;
        overflow-y: auto;
        flex-grow: 1;
    }

    .p-sidebar-header {
        display: flex;
        align-items: center;
    }

    .p-sidebar-footer {
        margin-top: auto;
    }

    .p-sidebar-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline-start: auto;
    }

    .p-sidebar-start {
        top: 0;
        inset-inline-start: 0;
        width: 20rem;
        height: 100%;
    }

    .p-sidebar-end {
        top: 0;
        inset-inline-end: 0;
        width: 20rem;
        height: 100%;
    }

    .p-sidebar-top {
        top: 0;
        inset-inline-start: 0;
        width: 100%;
        height: 10rem;
    }

    .p-sidebar-bottom {
        bottom: 0;
        inset-inline-start: 0;
        width: 100%;
        height: 10rem;
    }

    .p-sidebar-full {
        width: 100%;
        height: 100%;
        top: 0;
        inset-inline-start: 0;
        -webkit-transition: none;
        transition: none;
    }

    .p-sidebar-start.p-sidebar-sm,
    .p-sidebar-end.p-sidebar-sm {
        width: 20rem;
    }

    .p-sidebar-start.p-sidebar-md,
    .p-sidebar-end.p-sidebar-md {
        width: 40rem;
    }

    .p-sidebar-start.p-sidebar-lg,
    .p-sidebar-end.p-sidebar-lg {
        width: 60rem;
    }

    .p-sidebar-top.p-sidebar-sm,
    .p-sidebar-bottom.p-sidebar-sm {
        height: 10rem;
    }

    .p-sidebar-top.p-sidebar-md,
    .p-sidebar-bottom.p-sidebar-md {
        height: 20rem;
    }

    .p-sidebar-top.p-sidebar-lg,
    .p-sidebar-bottom.p-sidebar-lg {
        height: 30rem;
    }

    @media screen and (max-width: 64em) {
        .p-sidebar-start.p-sidebar-lg,
        .p-sidebar-start.p-sidebar-md,
        .p-sidebar-end.p-sidebar-lg,
        .p-sidebar-end.p-sidebar-md {
            width: 20rem;
        }
    }
}
