button {
    min-width: 10rem;
    margin-right: .5rem;
}

@media screen and (max-width: 960px) {
    button {
        width: 100%;
        margin-bottom: .5rem;
    }
}

:host ::ng-deep {
    .p-toast-message-custom {
        background-color: #E1CFE7;
        border: solid #8A427A;
        border-width: 0 0 0 6px;
        color: #2c1e30;
    }

    :host ::ng-deep .p-toast-icon-close {
        color: #2c1e30;
    }
}