.ui-password-panel {
    padding: 4px 10px;
    width: 150px;
    margin-top: 2px;
}

.ui-password-panel .ui-password-meter { 
    height: 10px; 
    background:transparent url("./images/password-meter.png") no-repeat left top; 
    padding: 0;
    margin: 0;
}

.ui-password-info { 
    margin-top: 4px;
}

.ui-password-panel-overlay { 
    position: absolute; 
}