.ui-password-panel {
    padding: .25em .5em;
    width: 10em;
    margin-top: 2px;
}

.ui-password-panel .ui-password-meter { 
    height: 10px; 
    background:transparent url("./images/password-meter.png") no-repeat left top; 
    padding: 0;
    margin: 0;
}

.ui-password-info { 
    margin-top: .25em;
}

.ui-password-panel-overlay { 
    position: absolute; 
}