@charset "UTF-8";
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../fonts/roboto-v15-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('../fonts/roboto-v15-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    
    url('../fonts/roboto-v15-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../fonts/roboto-v15-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}
/*  ----------------------------------------------------------------------------------------------------- */
html {
  height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Roboto', "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #404C51;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
}

#layout-topbar {
    background-color: #20272a;
    box-sizing: border-box;
    display: block;
    border-bottom: solid 1px #20272a;
    padding: 0;
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

#layout-topbar .menu-button {
    display: none;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    transition: background-color .3s;
}

#layout-topbar .menu-button:hover {
    background-color: #4a4f52;
}
    

#layout-topbar .menu-button i {
    line-height: inherit;
}

#layout-topbar .logo {
    margin-left: 45px;
    margin-top: 15px;
    display: inline-block;
}

#layout-topbar .logo img {
    height: 42px;
}

.topbar-menu {
    display: inline-block;
    list-style-type: none;
    float: right;
    margin: 25px 60px 0 0;
    padding: 0;
}

.topbar-menu > li {
    display: inline-block;
}

.topbar-menu > li > a {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
    transition: border-bottom-color .3s;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

.topbar-menu > li > a:hover {
    border-bottom-color: #ffffff;
}

.topbar-menu > li > ul {
    display: none;
}

.topbar-menu > li.topbar-menu-themes {
    position: relative;
}

.topbar-menu > li.topbar-menu-themes > ul {
    position: absolute;
    top: 28px;
    left: -50px;
    width: 200px;
    max-height: 300px;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    overflow: auto;
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
    border-radius: 3px;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: .5s;
}

.topbar-menu > li.topbar-menu-themes > ul > li.topbar-submenu-header {
    padding: 6px 12px;
    font-weight: bold;
    text-align: center;
}

.topbar-menu > li.topbar-menu-themes > ul a {
    text-decoration: none;
    color: #404C51;
    padding: 6px 12px;
    display: block;
    transition: all 0.5s ease;
}

.topbar-menu > li.topbar-menu-themes > ul a:hover {
    background-color: #eeeeee;
}

.topbar-menu > li.topbar-menu-themes > ul a img {
    width: 32px;
    vertical-align: middle;
}

.topbar-menu > li.topbar-menu-themes > ul a .ui-text {
    vertical-align: middle;
    margin-left: 8px;
}

.topbar-menu > li.topbar-menu-themes:hover > ul {
    display: block;
}

/* Sidebar */
#layout-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    width: 300px;
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#layout-sidebar .layout-menu > a {
    width: 100%;
    height: 50px;
    display: block;
    padding: 15px 0px 0px 25px;
    cursor: pointer;
    border-top: solid 1px #e3e9ea;
    box-sizing: border-box;
}

#layout-sidebar .layout-menu > a.active-menuitem {
    background-color: #ffffff !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#layout-sidebar .layout-menu > a.active-menuitem > span {
    color: #1b82d7;
}

#layout-sidebar .layout-menu > a.active-menuitem img.layout-menu-icon-active {
    display: inline;
}

#layout-sidebar .layout-menu > a.active-menuitem img.layout-menu-icon-inactive {
    display: none;
}

#layout-sidebar .layout-menu > a:hover {
    background-color: #eeeeee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#layout-sidebar .layout-menu > a img {
    width: 20px;
    height: auto;
    float: left;
}

#layout-sidebar .layout-menu > a img.layout-menu-icon-active {
    display: none;
}

#layout-sidebar .layout-menu > a img.layout-menu-icon-inactive {
    display: inline;
}

#layout-sidebar .layout-menu > a span {
    color: #7a8687;
    font-size: 16px;
    margin: 0px 0px 0px 30px;
    display: block;
}

#layout-sidebar .layout-menu > div {
    width: auto;
    padding: 20px 15px;
    overflow: hidden;
    background-color: #ffffff;
}

#layout-sidebar .layout-menu > div.submenuhide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

#layout-sidebar .layout-menu > div.submenushow {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    max-height: 500px;
}

#layout-sidebar .layout-menu > div a {
    width: 50%;
    float: left;
    padding: 6px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 14px;
    color: #7a8687;
}

#layout-sidebar .layout-menu > div a:hover {
    background-color: #eeeeee;
}

#layout-sidebar .layout-menu {
    overflow: auto;
    height: calc(100% - 70px);
}

#layout-content {
    margin-left: 300px;
    padding-top: 70px;
    background-color: #ffffff;
}

.layout-mask {
    z-index: 999997;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    background-color: #4c5254;
    opacity: .7;
}

.content-section {
    display: block;
    border-bottom: solid 1px #dde3e6;
    padding: 30px;
    overflow: hidden;
    background-color: #f5f7f8;
}

.content-section.introduction {
    background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
    color: #ffffff;
}

.content-section:first-of-type > div > span {
    line-height: 1.5em;
} 

.content-section h2 {
    margin-top: 0;
}

.feature-title {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

.property-box {
    height: 280px;
    float: left;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
}
.property-box img {
    width: 60%;
}
.property-box .property-topic {
    display: block;
    color: #25aae1;
    font-size: 18px;
    margin-bottom: 10px;
}
.property-box .property-text {
    display: block;
    color: #414D52;
    font-size: 14px;
    line-height: 22px;
}

.layout-footer {
    font-size: 14px;
    color: #84939f;
}

.layout-footer .footer-links {
    float: right;
    font-size: 24px;
}

.layout-footer .footer-links a {
    color: #000000;
    margin-left: 16px;
}

.intro-text {
    font-size: 16px;
    color: #404C51;
    line-height: 24px;
}
.intro-title {
    font-size: 46px;
    color: #DB2226;
    line-height: 46px;
    padding: 10px 0px 10px 0px;
}
/* buttons */
.intro-btn {
    width: 100%;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    transition: background-color .3s;
}

.download-btn {
    background-color: #ffd100;
    color: #404c51;
}

.download-btn:hover {
    background-color: #ffda32;
}

.download-btn:active {
    background-color: #e5bc00;
}

.github-btn {
    background-color: #404c51;
    color: #f8f8f8;
}

.github-btn:hover {
    background-color: #666f73;
}

.github-btn:active {
    background-color: #333c40;
}

.prosupport-btn {
    color: #f8f8f8;
    background-color: #26a9e0;
}

.prosupport-btn:hover {
    background-color: #51bae6;
}

.prosupport-btn:active {
    background-color: #1e87b3;
}

/* Demos */
.implementation {
    background-color: #FFFFFF;
    overflow: visible;
}
.implementation > h3 {
    margin-top: 30px;
    color: #5C666A;
}
.implementation h3.first {
    margin-top: 0px !important;
}
.implementation h4 {
    color: #5C666A;
}

.SubSubMenu {
    padding: 15px 30px;
}
.SubSubMenu ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.SubSubMenu ul li {
    list-style: none;
    width: 20%;
    float: left;
    margin-top: 5px;
}
.SubSubMenu ul li a:hover {
    color: #fdd106
}

/* Source Section */
.source .ui-tabview-panel {
    color: #404C51 !important;
}
.source h3 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: normal;
}
.source h4 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: normal;
}
.source p {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
    opacity: .90;
}
.source .doc-tablewrapper {
    margin: 10px 0;
}
.source a {
    color: #0273D4;
}
/* Tabs Source */
.source .ui-tabview {
    background: none;
    border: 0 none;
    color: #5C666A;
    font-weight: lighter;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}
.source .ui-tabview .ui-tabview-nav {
    background: #1976D2 !important;;
    margin-bottom: -1px;
    padding: 3px 3px 0px 3px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.source .ui-tabview .ui-tabview-nav li,
.source .ui-tabview .ui-tabview-nav li.ui-state-hover {
    border: 0px none !important;
    background: #3F94E9 !important;;
    border-color: #3F94E9 !important;;
    box-shadow: none !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
}
.source .ui-tabview .ui-tabview-nav li a {
    padding: .5em 1em !important;
}
.source .ui-tabview .ui-tabview-nav li.tab-doc {
    margin-right: 0;
}
.source .ui-tabview .ui-tabview-nav li.ui-state-default a {
    color: #fff !important;
    font-weight: normal !important;
    text-shadow: none ;
}
.source .ui-tabview .ui-tabview-nav li.ui-state-active a {
    color: #5C666A !important;
    font-weight: normal !important;
}
.source .ui-tabview .ui-tabview-nav li.ui-state-hover {
    box-shadow: none !important;;
}
.source .ui-tabview .ui-tabview-nav li.ui-tabview-selected {
    background: #F5F6F7 !important;
}
.source .ui-tabview .ui-tabview-panels {
    border-top: 1px solid #F5F6F7 !important;;
    color: #5C666A !important;
    background: #F5F6F7;
}
.source .ui-tabview.ui-tabview-top > .ui-tabview-nav li {
    top: 0px !important;
}

/* Docs Table */
.doc-table {
    border-collapse: collapse;
    width: 100%;
}
.doc-table th {
    background-color: #dae8ef;
    color: #404C51;
    border: solid 1px #C1D5DF;
    padding: 5px;
    font-size: 16px;
    text-align: left;
}
.doc-table tbody td {
    color: #404C51;
    padding: 4px 10px;
    border: 1px solid #E5EBF0;
    font-size: 15px;
    opacity: .90;
}
.doc-table tbody tr:nth-child(even) {
    background-color: #FBFCFD;
}
.doc-table tbody tr:nth-child(odd) {
    background-color: #F3F6F9;
}

@media screen and (max-width: 64em) {
    #layout-topbar {
        height: 100px;
        text-align: center;
    }
    
    #layout-topbar .menu-button {
        display: inline-block;
    }
    
    #layout-topbar .logo {
        margin: 7px 0 7px 0;
        
    }
    
    .topbar-menu {
        background-color: #363c3f; 
        float: none;
        width: 100%;
        padding: 10px 0; 
        margin: 0;
        text-align: center;
    }
    
    .topbar-menu > li > a {
        padding-bottom: 0;
    }
    
    #layout-sidebar {
        top: 100px;
        left: -300px;
        transition: left .3s;  
        z-index: 999998;
    }
    
    #layout-sidebar.active {
        left: 0;
    }
    
    #layout-content {
        margin-left: 0;
        padding-top: 100px;
    }
    
    .topbar-menu > li.topbar-menu-themes > ul {
        text-align: left;
    }
    
    .home .introduction > div {
        width: 100%;
    }
    
    .home .features > div {
        width: 100%;
    }
    
    .home .whouses > div {
        width: 100%;
    }
    
    .home .templates > div {
        width: 100%;
    }
    
    .home .prosupport > div {
        width: 100%;
    }
    
    .home .testimonials > div {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .doc-table tbody td {
        word-break: break-word;
    }
}

/* Code Styles */
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: Courier, 'New Courier', monospace;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1em;
    background-color: #CFD8DC;
    color: #404C51;
    margin: 10px 0px;
}
.ui-tabview-left > .ui-tabview-nav {
    height: 150px;
}
.col-button {
    width: 10%;
    text-align: center;
}
.col-icon {
    width: 38px;
    text-align: center;
}

.whouses {
    background: #ffffff;
}

.whouses img {
    width: 100%;
}

.ui-growl {
    top: 100px;
}

a {
    text-decoration: none;
    color: #1b82d7;
}

/* Animation */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}

/* Introduction */
.home .introduction {
    background-color: #1976d2;
    background: linear-gradient(145deg,#0d47a1,#42a5f5);
    color: #ffffff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 80px 30px 80px 50px;
}

.home .introduction > div {
    padding: 100px 100px 0 100px;
    height: 200px;
}

.home .introduction img {
    width: 480px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.home .introduction h1 {
    font-weight: normal;
    margin-bottom: 5px;
}

.home .introduction h2 {
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 0;
}

.home .introduction a {
    background-color: #FBD17B;
    color: #B27800;
    padding: 8px 14px;
    border-radius: 3px;
    transition: background-color .3s;
}

.home .introduction a:hover {
    background-color: #dfa42c;
}

/* Features */
.home .features {
    background-color: #f5f7f8;
    text-align: center;
    padding: 30px;
}

.home .features h3 {
    margin-bottom: 10px;
}

.home .features p {
    margin-bottom: 30px;
}

.home .features .feature-name {
    display: block;
    font-size: 18px;
    margin-top: 4px;
}

.home .features .ui-g p {
    color: #535d62;
    font-size: 14px;
    margin-bottom: 30px;
}

.home .features .ui-g > div {
    padding: .5em 2em;
}

.home .features img {
    width: 57px;
}

/* Who Uses */
.home .whouses {
    background-color: #20272a;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

.home .whouses h3 {
    margin-bottom: 10px;
}

.home .whouses p {
    margin-bottom: 30px;
}

.home .whouses .ui-g > div {
    padding: 1em .5em;
}

.home .whouses img {
    height: 30px;
}

/* Templates */
.home .templates {
    background-color: #f5f7f8;
    text-align: center;
    padding: 30px;
}

.home .templates h3 {
    margin-bottom: 10px;
}

.home .templates img {
    width: 100%;
}

.home .templates .ui-g > div {
    padding: 1em;
}

.home .templates .ui-g > div img {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    transition: all .5s;
}

.home .templates .ui-g > div a:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}




/* PRO */
.home .prosupport {
    background-color: #20272a;
    padding: 30px;
    color: #ffffff;
}

.home .prosupport p {
    font-size: 14px;
    line-height: 1.5;
}

.home .prosupport .ui-md-6:last-child {
    text-align: center;
}

/* testimonials */
.home .testimonials {
    background-color: #f5f7f8;
    padding: 30px;
    text-align: center;
}


.home .testimonials h3 {
    margin-bottom: 10px;
}

.home .testimonials p {
    font-size: 14px;
    line-height: 1.5;
}

/* footer */
.home .testimonials {
    background-color: #f5f7f8;
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #dcdedf;
}

.home .testimonials h3 {
    margin-bottom: 10px;
}

.home .testimonials p {
    font-size: 14px;
    line-height: 1.5;
}
    
    