@charset "UTF-8";

@mixin shadow($value...) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin rotate($deg) {    
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin border-radius($val) {
    -moz-border-radius: $val;
    -webkit-border-radius: $val;
    border-radius: $val;
}

@mixin border-radius-bottom($val) {
    -moz-border-radius-bottomleft: $val;
    -webkit-border-bottom-left-radius: $val;
    border-bottom-left-radius: $val;
    -moz-border-radius-bottomright: $val;
    -webkit-border-bottom-right-radius: $val;
    border-bottom-right-radius: $val;
}

@mixin border-radius-left($val) {
    -moz-border-radius-topleft: $val;
    -webkit-border-top-left-radius: $val;
    border-top-left-radius: $val;
    -moz-border-radius-bottomleft: $val;
    -webkit-border-bottom-left-radius: $val;
    border-bottom-left-radius: $val;
}

@mixin scale($deg) {    
    -webkit-transform: scale($deg);
    -moz-transform: scale($deg);
    -o-transform: scale($deg);
    -ms-transform: scale($deg);
    transform: scale($deg);
}

@mixin submenuList() {
	position: absolute;
	top: 70px;
	background-color: #ffffff;
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	overflow: auto;
	margin: 0;
	border-radius: 3px;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	animation-duration: .3s;
	>li.topbar-submenu-header {
		padding: 6px 12px;
		font-weight: bold;
		text-align: left;
		background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
		color: #ffffff;
	}
	a {
		user-select: none;
		text-decoration: none;
		color: #404C51;
		display: block;
		cursor: pointer;
		transition: all 0.5s ease;
		&:hover {
			background-color: #eeeeee;
			cursor: pointer;
		}
		img {
			width: 32px;
			vertical-align: middle;
		}
		.topbar-submenu-icon {
			font-size: 20px;
			width: 20px;
			vertical-align: middle;
			margin-right: 8px;
		}
		.ui-text {
			vertical-align: middle;
			margin-left: 8px;
		}
	}
}
html {
	height: 100%;
}
body {
	margin: 0px;
	min-height: 100%;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: normal;
	color: #333c40;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
}

.layout-wrapper {
    &.layout-news-active {
        .layout-topbar {
            top: 70px;
        }

        .layout-sidebar {
            top: 140px;
            height: calc(100% - 140px);
		}
		
		.layout-config {
            top: 140px;
            height: calc(100% - 140px);
        }

        .layout-content {
            padding-top: 140px;
        }
    }
}

.layout-news {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 70px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .layout-news-container {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        -webkit-animation: snowSlide 20s linear infinite;
        animation: snowSlide 20s linear infinite;

        .layout-news-details {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            z-index: 1;

            .rate {
                color: #f2b837;
                font-size: 25px;
                font-weight: bold;
                margin: 0 .25em;
            }

            .helper-text {
                background-color: #f2b837;
                color: #212121;
                padding: 0 0.2em;
                margin-right: 0.3em;
            }
        }

        img {
            height: 70px;
            position: absolute;
            -webkit-animation: customSlide 20s linear infinite;
            animation: customSlide 20s linear infinite;
        }
    }

    .layout-news-button {
        border: 1px solid #ffffff;
        color: #ffffff;
        font-size: 15px;
        padding: .3em .3em .5em 1em;
        font-weight: bold;
        border-radius: 3px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-shrink: 0;
        transition: background-color .15s;
        margin-left: 2em;
        position: relative;
        z-index: 1;

        i {
            font-size: 1.5em;
        }

        &:hover {
            background-color: rgba(255, 255, 255, .25);
        }
    }

    .layout-news-close {
        color: #ffffff;
        position: absolute;
        z-index: 2;
        right: 28px;
        background-color: rgba(0,0,0,.3);
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 23px;
        height: 23px;
    }
}

.layout-topbar {
	background-color: #20272a;
	box-sizing: border-box;
	display: block;
	padding: 0;
	height: 70px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9997;
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	.menu-button {
		display: none;
		color: #ffffff;
		font-size: 24px;
		position: absolute;
		left: 0;
		top: 0;
		width: 60px;
		height: 60px;
		line-height: 58px;
		text-align: center;
		transition: background-color .2s;
		&:hover {
			background-color: #4a4f52;
		}
		i {
			line-height: inherit;
		}
	}
	.logo {
		margin-left: 45px;
		margin-top: 15px;
		display: inline-block;
		img {
			height: 42px;
		}
	}

	>.topbar-submenu-mobile-version {
		display:none;
	}
}
.topbar-menu {
	display: inline-block;
	list-style-type: none;
	float: right;
	margin: 0 60px 0 0;
	padding: 0;
	height: 100%;
	>li {
		display: inline-block;
		height: 100%;
		>a {
			text-decoration: none;
			color: #ffffff;
			transition: background-color .2s;
			min-width: 120px;
			display: inline-block;
			text-align: center;
			box-sizing: border-box;
			height: 100%;
			line-height: 70px;
			font-size: 16px;
			user-select: none;
			&:hover {
				background-color: #4a4f52;
			}
		}
		>ul {
			display: none;
		}
	}
	>li.topbar-submenu {
		position: relative;
		>ul {
			@include submenuList();

			&.topbar-submenu-themes {
				right: 0px;
				width: 250px;
				max-height: 300px;
				list-style-type: none;
				padding: 0px;
				padding-bottom: 6px;
				a {
					padding: 6px 12px;
				}
			}

			&.topbar-submenu-versions {
				width: 40px;
				max-height: 300px;
				list-style-type: none;
				padding: 15px 0;
				a {
					padding: 6px 12px;
				}
			}

			&.topbar-submenu-resources {
				right: 0px;
				width: 275px;
				max-height: 400px;
				padding: 6px 12px;
				list-style: none;
				a {
					span {
						margin-left: 8px;
					}
					padding: 12px 6px;
					user-select: none;
					border-bottom: 1px solid #f4f4f4;
					&:before {
						content: '\25cf';
					}
				}
				li:last-child {
					a {
						border-bottom: 0 none;
					}
				}
			}
		}
		a {
			cursor: pointer;
			&.topbar-submenu-versions-header {
				min-width: 40px;
			}
		}
		&.topbar-menu-active {
			>ul {
				display: block;
			}
		}
	}
}

/* Sidebar */
.layout-sidebar {
	position: fixed;
	left: 0;
	top: 70px;
	height: calc(100% - 70px);
	background-color: #ffffff;
	overflow-x: hidden;
	overflow-y: auto;
	width: 300px;
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	.layout-menu {
		>a {
			width: 100%;
			height: 50px;
			display: block;
			padding: 15px 0px 0px 25px;
			background-color: #f4f4f4;
			border-top: solid 1px #e3e9ea;
			box-sizing: border-box;
			user-select: none;
			font-weight: 700;
			outline: none;
			img {
				width: 20px;
				height: auto;
				float: left;
			}
			img.layout-menu-icon-active {
				display: none;
			}
			img.layout-menu-icon-inactive {
				display: inline;
			}
			span {
				color: #767676;
				font-size: 16px;
				margin: -2px 0px 0px 30px;
				display: block;
			}
		}
		>div.layout-menu-search {
			padding: 1.5em;
			overflow: visible;
			position: relative;
		}
		>a.active-menuitem {
			background-color: #ffffff !important;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			>span {
				color: #1b82d7;
			}
			img.layout-menu-icon-active {
				display: inline;
			}
			img.layout-menu-icon-inactive {
				display: none;
			}
		}
		>div {
			padding: 12px 15px;
			overflow: hidden;
			background-color: #ffffff;
			a {
				width: 100%;
				float: left;
				padding: 6px;
				box-sizing: border-box;
				cursor: pointer;
				border-radius: 4px;
				-webkit-border-radius: 4px;
				font-size: 14px;
				color: #484848;
				&:focus {
					z-index: 1;
					outline: 0 none;
					-webkit-transition: -webkit-box-shadow .3s;
					transition: -webkit-box-shadow .3s;
					transition: box-shadow .3s;
					transition: box-shadow .3s,-webkit-box-shadow .3s;
					-webkit-box-shadow: inset 0 0 0 0.2em #1b82d7;
					box-shadow: inset 0 0 0 0.2em #1b82d7;
				}
				&:hover {
					background-color: #eeeeee;
				}
			}
		}
		overflow-y: auto;
		width: 300px;
	}
	.layout-menu-search {
		i {
			position: absolute;
			left: 1.6em;
			top: 1.65em;
		}
		input {
			text-indent: 1.7em;
		}
	}
}
.menuitem-badge {
	background: #00b09b;
	background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);
	background: linear-gradient(to bottom, #96c93d, #00b09b);
	padding: 2px 4px;
	vertical-align: middle;
	border-radius: 3px;
	color: #ffffff;
	font-weight: bold;
	font-size: 11px;
	position: relative;
	top: -1px;
}
.theme-badge {
	padding: 2px 4px;
	vertical-align: middle;
	border-radius: 3px;
	color: #ffffff;
	font-weight: bold;
	font-size: 11px;
	position: relative;
	top: -1px;
}
.theme-badge.material {
	background: #00b09b;
	background: -webkit-linear-gradient(to bottom, #202124, #404147);
	background: linear-gradient(to bottom, #202124, #404147);
}
.theme-badge.bootstrap {
	background: #563D7C;
	background: -webkit-linear-gradient(to bottom, #563D7C, #966BD8);
	background: linear-gradient(to bottom, #563D7C, #966BD8);
}
.layout-content {
	margin-left: 300px;
	padding-top: 70px;
	background-color: #ffffff;
}
.layout-mask {
	z-index: 9998;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 100px;
	left: 0;
	display: none;
	background-color: #4c5254;
	opacity: .7;
}
.content-section {
	display: block;
	padding: 30px;
	overflow: hidden;
	background-color: #f5f7f8;
	&:first-of-type {
		>div {
			>span {
				line-height: 1.5em;
				&:last-child {
					font-size: 16px;
				}
			}
		}
	}
	h2 {
		margin-top: 0;
	}
}
.content-section.introduction {
	background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
	color: #ffffff;
	a {
		color: #ffffff;
		font-weight: 700;
	}
}
.feature-title {
	font-size: 30px;
	margin-bottom: 20px;
	display: block;
}
.layout-footer {
	color: #000000;
	font-weight: bold;
	.footer-links {
		float: right;
		font-size: 24px;
		a {
			color: #000000;
			margin-left: 16px;
		}
	}
}

.layout-config {
    position: fixed;
    padding: 0;
    top: 70px;
    display: block;
    right: 0;
    width: 550px;
    z-index: 996;
    height: calc(100% - 70px);
    @include transition(transform .3s);
    transform: translate3d(550px,0,0);
    background-color: #ffffff;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
    &.layout-config-active {
        transform: translate3d(0,0,0);
        
        .layout-config-content-wrapper {
            .layout-config-button {
                i {
                    @include rotate(360deg);
                }
            }
        }
    }

    .layout-config-content-wrapper {
        position: relative;
        height: 100%;
        padding: 0;
        @include shadow(0 2px 10px 0 rgba(0, 0, 0, 0.24));
        
        .layout-config-button {
            display: block;
            position: absolute;
            width: 52px;
            height: 52px;
            line-height: 52px;
            background-color: #007ad9;
            text-align: center;
            color: #fafafa;
            top: 200px;
            left: -51px;
            z-index: -1;
            overflow: hidden;
            cursor: pointer;
            @include border-radius-left(3px);
            @include transition(background-color .2s, box-shadow .2s);
            box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
                        0 5px 22px 4px rgba(0, 0, 0, 0.12), 
                        0 12px 17px 2px rgba(0, 0, 0, 0.14);

            i {
                font-size: 42px;
                line-height: inherit;
                cursor: pointer;
                @include rotate(0deg);
                @include transition(transform 1s);
            }

            &:hover {
                background-color: #116fbf;
            }
        }
    }

    a {
        color: #638fb7;
        font-weight: 700;
        @include transition(color .2s);

        &:hover {
            color: #82a5c5;
        }
    }

    .layout-config-content {
        overflow: auto;
        height: 100%;
    }

    .layout-config-close {
        position: absolute;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        right: 20px;
        top: 20px;
        z-index: 999;
        background-color: #007ad9;
        @include border-radius(50%);
        @include transition(background-color .2s, box-shadow .2s);

        i {
            color: #ffffff;
            line-height: inherit;
            font-size: 16px;
        }

        &:hover {
            background-color: #116fbf;
        }

        &:focus {
            outline: 0 none;
            box-shadow: 0 0 0 0.2em #8dcdff;
        }
    }

    h1 {
        font-size: 18px;
        letter-spacing: .1px;
        margin: 0 0 .5em 0;
    }

    .p-grid > div {
        padding: 1em;
        text-align: center;

        span {
            display: block;
        }
    }

    p {
        margin: 0 0 2em 0;
    }

    .free-themes {
        padding: 2em;
        color: #484848;
        background-color: #ffffff;

        p {
            color: #727272;
		}
		
		a {
			text-align: center;
			position: relative;
			@include transition(box-shadow .2s);
	
			i {
				line-height: inherit;
				font-size: 28px;
				color: #007ad9;
				position: absolute;
				left: 50%;
				margin-left: -18px;
				margin-top: -18px;
				padding: .18em;
				box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
				background-color: #ffffff;
				border-radius: 50%;
				width: 36px;
				height: 36px;
			}
	
			&:focus {
				box-shadow: 0 0 0 0.2em #1b82d7;
			}
		}
    }

    .current-theme {
        box-shadow: 0 0 0 0.2em #1b82d7;
    }

    img {
        width: 100%;
    }

    .premium-themes {
        padding: 2em;
        background-color: #2c3135;
        color: #ffffff;

        p {
            color: #d8d8d8;
        }
    }
}

/* Demos */
.implementation {
	background-color: #FFFFFF;
	overflow: visible;
	h3 {
		margin-top: 30px;
		color: #5C666A;
		font-weight: 400;
		font-size: 1.5em;
		&:first-child {
			margin-top: 0px !important;
		}
	}
	h3.first {
		margin-top: 0px !important;
	}
	h4 {
		color: #5C666A;
	}
}
.implementation-charts {
	background-color: #FFFFFF;
	overflow: visible;
}
.content-submenu {
	background-image: linear-gradient(to left, #20272a, #20272a);
	padding: 15px 30px;
	border-bottom: 1px solid #1b81d7;
	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		li {
			list-style: none;
			width: 20%;
			display: inline-block;
			margin-top: 5px;
			a {
				color: #cac6c6;
				display: block;
				width: 90%;
				border: 1px solid transparent;
				transition: border-color .1s;
				padding: 6px 12px;
				border-radius: 3px;
				&:hover {
					border: 1px solid #ffffff;
					color: #ffffff;
				}
			}
		}
	}
}

/* Documentation Section */
.documentation {
	.ui-tabview-panel {
		color: #404C51 !important;
    }

    /* Tabs Source */
	.ui-tabview {
		.ui-tabview-panels {
			border: 0 none;
			border-top: 1px solid #F5F6F7 !important;
			color: #5C666A !important;
			background: #F5F6F7;
		}
		background: none;
		border: 0 none;
		color: #5C666A;
		-moz-border-radius: 4px !important;
		-webkit-border-radius: 4px !important;
		border-radius: 4px !important;
		.ui-tabview-nav {
			background: #1976D2 !important;
			margin-bottom: -1px;
			padding: 3px 3px 0px 3px !important;
			border-top-right-radius: 4px !important;
			border-top-left-radius: 4px !important;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
			li {
				border: 0px none !important;
				background: #3F94E9 !important;
				border-color: #3F94E9 !important;
				box-shadow: none !important;
				border-top-right-radius: 4px !important;
				border-top-left-radius: 4px !important;
				a {
					padding: .5em 1em !important;
				}
			}
			li.ui-state-hover {
				border: 0px none !important;
				background: #3F94E9 !important;
				border-color: #3F94E9 !important;
				box-shadow: none !important;
				border-top-right-radius: 4px !important;
				border-top-left-radius: 4px !important;
				box-shadow: none !important;
			}
			li.tab-doc {
				margin-right: 0;
			}
			li.ui-state-default {
				a {
					color: #fff !important;
					font-weight: normal !important;
					text-shadow: none;
				}
			}
			li.ui-state-active {
				a {
					color: #5C666A !important;
					font-weight: normal !important;
				}
			}
			li.ui-tabview-selected {
				background: #F5F6F7 !important;
			}
		}
	}
	h3 {
		margin-top: 25px;
		margin-bottom: 0px;
		font-size: 20px;
		font-weight: normal;
	}
	h4 {
		margin-top: 25px;
		margin-bottom: 0px;
		font-size: 16px;
		font-weight: normal;
	}
	p {
		line-height: 24px;
		margin: 10px 0 !important;
	}
	.doc-tablewrapper {
		margin: 10px 0;
	}
	a {
		color: #0273D4;
	}
	.btn-viewsource {
		background-color: #444444;
		padding: .5em;
		border-radius: 2px;
		color: #ffffff;
		font-weight: bold;
		margin: 1em 0;
		display: inline-block;
		transition: background-color .2s;
		i {
			margin-right: .25em;
		}
		&:hover {
			background-color: #595959;
		}
	}
	.ui-tabview.ui-tabview-top {
		>.ui-tabview-nav {
			li {
				top: 0px !important;
			}
		}
	}
}

/* Docs Table */
.doc-table {
	border-collapse: collapse;
	width: 100%;
	th {
		background-color: #dae8ef;
		color: #404C51;
		border: solid 1px #C1D5DF;
		padding: 8px 14px;
		text-align: left;
	}
	tbody {
		td {
			color: #404C51;
			padding: 8px 14px;
			border: 1px solid #E5EBF0;
			opacity: .90;
		}
		tr {
			&:nth-child(even) {
				background-color: #FBFCFD;
			}
			&:nth-child(odd) {
				background-color: #F3F6F9;
			}
		}
	}
}
@media screen and (max-width: 64em) {
    .layout-wrapper {
        &.layout-news-active {
            .layout-sidebar {
                top: 170px;
                height: calc(100% - 170px);
			}
			
			.layout-config {
				top: 170px;
                height: calc(100% - 170px);
			}

            .layout-mask {
                top: 170px;
            }
        }
    }

	.layout-mask {
		display: block;
	}
	.layout-topbar {
		text-align: center;
		.menu-button {
			display: inline-block;
		}
		.logo {
			margin: 7px 0 7px 0;
		}

		>.topbar-submenu-mobile-version {
			display: inline-block;
			height: 60px;
			position: absolute;
    		right: 0px;
			>a {
				color: #ffffff;
				padding-top: 19px;
				padding-bottom: 20px;
				transition: background-color .2s;
				display: inline-block;
				font-size: 16px;
				cursor: pointer;
				
				&.topbar-submenu-versions-header {
					min-width: 40px;
				}
				&:hover {
					background-color: #4a4f52;
				}
			}
			>ul {
				@include submenuList();

				display: none;
				top: 60px;

				&.topbar-submenu-versions {
					width: 40px;
					max-height: 300px;
					list-style-type: none;
					padding: 15px 0;
					a {
						padding: 6px 12px;
					}
				}
			}

			&.topbar-menu-active {
				>ul {
					display: block;
				}
			}
		}
	}
	.topbar-menu {
		background-color: #363c3f;
		float: none;
		width: 100%;
		height: 40px;
		margin: 0;
		text-align: center;
		>li {
			width: 25%;
			>a {
				min-width: 0px;
				width: 100%;
				padding-bottom: 0;
				line-height: 40px;
				font-size: 14px;
			}
		}
		>li.topbar-submenu {
			&:last-of-type {
				display: none;
			}

			>ul {
				top: 40px;
				text-align: left;

				&.topbar-submenu-themes, &.topbar-submenu-resources {
					width: 100vw;
					position: fixed;
					left: 0px;
					top: 100px;
					right: auto;
				}
			}
		}
	}
	.layout-sidebar {
		top: 100px;
		left: -300px;
		transition: left .2s;
		z-index: 9999;
	}
	.layout-sidebar.active {
		left: 0;
	}
	.layout-content {
		margin-left: 0;
		padding-top: 100px;
	}
	.layout-content .content-section.content-submenu ul li {
        width: 50%;
    }

    .layout-config {
        top: 100px;
        height: calc(100% - 100px);
        transform: translate3d(100%,0,0);
        
        .layout-config-button {
            left: auto;
            right: -52px;
        }

        &.layout-config-active {
            width: 100%;
            transform: translate3d(0,0,0);
        }
    }
	.home {
		.introduction {
			>div {
				width: 100%;
			}
		}
		.features {
			>div {
				width: 100%;
			}
		}
		.whouses {
			>div {
				width: 100%;
			}
		}
		.templates {
			>div {
				width: 100%;
			}
		}
		.prosupport {
			>div {
				width: 100%;
				text-align: center;
			}
		}
		.book {
			>div {
				width: 100%;
			}
			.ui-g-12 {
				&:last-child {
					text-align: center !important;
				}
				&:first-child {
					text-align: center !important;
				}
			}
		}
		.testimonials {
			>div {
				width: 100%;
			}
		}
	}
	.support {
		.support-image {
			text-align: center;
			.ui-md-6 {
				&:last-child {
					text-align: center;
					padding-top: 2em;
				}
			}
		}
	}
	.content-submenu {
		ul {
			li {
				width: 50%;
			}
		}
	}
}
@media (max-width: 768px) {
	.doc-table {
		tbody {
			td {
				word-break: break-word;
			}
		}
	}
	.layout-notification {
		a {
			font-size: 16px;
		}
	}
	.layout-notification-details {
		.rate {
			font-size: 21px;
		}
    }
    
    .layout-wrapper {
        .layout-news {
            display: block;

            .layout-news-details {
                display: block;
                font-size: 16px;
                padding: 0 55px;

                .rate {
                    margin: 0;
                    font-size: 21px;
                }
            }

            img {
                margin-left: 14px;
            }

            .layout-news-button {
                opacity: 0;
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                margin: 0;
                top: 0;
                left: 0;
            }

            .layout-news-close {
                top: 50%;
                margin-top: -.65em;
            }
        }
    }
}

/* Code Styles */
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-family: Courier, 'New Courier', monospace;
	font-size: 14px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 1em;
	background-color: #CFD8DC;
	color: #404C51;
	margin: 10px 0px;
}
.ui-tabview-left {
	>.ui-tabview-nav {
		height: 150px;
	}
}
.col-button {
	width: 10%;
	text-align: center;
}
.col-icon {
	width: 38px;
	text-align: center;
}
.whouses {
	background: #ffffff;
	img {
		width: 100%;
	}
}
.ui-growl {
	top: 100px;
}
a {
	text-decoration: none;
	color: #1b82d7;
}

/* Animation */
@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, 20px, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
@-webkit-keyframes fadeOutUp {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
}
@keyframes fadeOutUp {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
}
@keyframes pulse {
	0% {
		background-color: rgba(165, 165, 165, 0.1);
	}
	50% {
		background-color: rgba(165, 165, 165, 0.3);
	}
	100% {
		background-color: rgba(165, 165, 165, 0.1);
	}
}

/* Animations */
@-webkit-keyframes customSlide {
    0% {
        left: 0;
        bottom:-40%;
    }
    20% {
        left: 20%;
        bottom:-20%;
    }
    40% {
        left: 40%;
        bottom:0%;
    }
    60% {
        left: 60%;
        bottom:20%;
    }
    80% {
        left: 80%;
        bottom:40%;
    }
    100% {
        left: 100%;
        bottom: 60%;
    }
}
@keyframes customSlide {
    0% {
        left: 0;
        bottom:-40%;
    }
    20% {
        left: 20%;
        bottom:-20%;
    }
    40% {
        left: 40%;
        bottom:0%;
    }
    60% {
        left: 60%;
        bottom:20%;
    }
    80% {
        left: 80%;
        bottom:40%;
    }
    100% {
        left: 100%;
        bottom: 60%;
    }
}

@-webkit-keyframes snowSlide {
    from { background-position: 0 0; }
    to { background-position: 0 400px; }
}
@keyframes snowSlide {
    from { background-position: 0 0; }
    to { background-position: 0 400px; }
}

/* Introduction */
.home {
	p {
		line-height: 1.5;
		font-size: 16px;
	}
	h3 {
		font-size: 20px;
	}
	.introduction {
		background-color: #1976d2;
		background-image: url('assets/showcase/images/home/introduction.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		color: #ffffff;
		padding: 80px 30px 80px 50px;
		>div {
			padding: 100px 100px 0 100px;
			height: 200px;
		}
		img {
			width: 480px;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		h1 {
			font-weight: normal;
			margin-bottom: 5px;
		}
		h2 {
			font-weight: bold;
			margin-bottom: 40px;
			margin-top: 0;
		}
    }

    /* Features */
	.features {
		background-color: #f5f7f8;
		text-align: center;
		padding: 30px;

		.feature-card {
            background-color: #ffffff;
            @include shadow(0 0.8px 1.7px rgba(0, 0, 0, 0.008), 0 1.9px 4.2px rgba(0, 0, 0, 0.012),0 3.6px 7.9px rgba(0, 0, 0, 0.015),0 6.5px 14.1px rgba(0, 0, 0, 0.018),0 12.1px 26.3px rgba(0, 0, 0, 0.022),0 29px 63px rgba(0, 0, 0, 0.03));
            height: 100%;
            border-radius: 4px;
            
            .feature-card-detail {
                padding: 0 16px 16px 16px;
            }
		}
		img {
			width: 100%;
		}
		h3 {
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 30px;
		}
		p.features-tagline {
			margin-bottom: 0;
			margin-top: -5px;
		}
		p.features-description {
			text-align: left;
		}
		.feature-name {
			display: block;
			font-weight: bold;
			font-size: 18px;
			margin-top: 1em;
		}
		.ui-g {
			p {
				color: #535d62;
				font-size: 16px;
				margin-bottom: 30px;
				margin-top: 10px;
			}
		}
    }

    /* Who Uses */
	.whouses {
		background-color: #20272a;
		color: #ffffff;
		text-align: center;
		padding: 30px;
		h3 {
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 30px;
		}
		.ui-g {
			>div {
				padding: 1em 2em;
			}
		}
		img {
			height: 42px;
		}
	}
	.testimonials {
		border-top: 1px solid #4c5254;
		padding-top: 20px;
		margin-top: 30px;
		.ui-g {
			>div {
				margin-left: -1px;
				margin-top: -1px;
				border: 1px solid #333D41;
				&:nth-child(2n) {
					background-color: #283134;
				}
			}
		}
		p {
			font-size: 14px;
			line-height: 1.5;
			font-style: italic;
		}
		h3 {
			margin-bottom: 26px;
		}
		img {
			padding-top: 10px;
		}
		hr {
			width: 40px;
			color: #4c5254;
		}
		i {
			font-style: normal;
		}
    }

    /* Book */
	.book {
		background-color: #1976d2;
		padding: 30px;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
		color: #ffffff;
		.ui-g-12 {
			&:last-child {
				text-align: center;
			}
			&:first-child {
				text-align: left;
			}
		}
		img {
			width: 200px;
			-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.5);
			-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.5);
			box-shadow: 0 10px 20px rgba(0,0,0,0.5);
		}
	}
	.why-templates {
		background-color: #20272a;
		text-align: center;
		color: #ffffff;
		padding: 30px;
		h3 {
			margin: 10px 0;
			display: block;
		}
		hr {
			border: 1px dotted solid #262626;
			margin-bottom: 20px;
		}
		img {
			width: 100%;
			margin-bottom: 30px;
		}
		.ui-g {
			>div {
				padding: .5em 1em;
			}
		}
		ul {
			padding: 0;
			margin: 0;
			text-align: left;
			list-style-type: none;
			>li {
				padding-bottom: 10px;
				text-align: left;
				text-align: center;
			}
		}
    }

    /* Designer */
	.primeng-designer {
		background-color: #ffffff;
		padding: 30px;
		h3 {
			margin: 10px 0 20px 0;
			display: block;
			text-align: center;
		}
		img {
			width: 100%;
			margin-bottom: 30px;
		}
    }

    /* PRO */
	.prosupport {
		background-color: rgba(79,41,64,.8);
		padding: 30px;
		color: #ffffff;
		p {
			font-size: 16px;
			line-height: 1.5;
		}
		.ui-md-6 {
			&:last-child {
				text-align: center;
			}
		}
		.home-button {
			margin-top: 10px;
		}
	}
}
.home-button {
	font-weight: bold;
	background-color: #FBD17B;
	color: #B27800;
	padding: 8px 14px;
	border-radius: 3px;
	transition: background-color .2s;
	display: inline-block;
	min-width: 120px;
	text-align: center;
	&:hover {
		background-color: #f9c55a;
		color: #B27800;
	}
}

/* Templates */
.templates {
	background-color: #f5f7f8;
	text-align: center;
	padding: 30px;
	h3 {
		margin-bottom: 10px;
	}
	img {
		width: 100%;
	}
	.ui-g {
		>div {
			padding: 1em;
			img {
				box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
				transition: all .5s;
			}
			a {
				&:hover {
					img {
						-webkit-transform: scale(1.02);
						-moz-transform: scale(1.02);
						-o-transform: scale(1.02);
						-ms-transform: scale(1.2);
						transform: scale(1.02);
					}
				}
			}
		}
	}
}
.support-image {
	background-color: rgba(79,41,64,.8);
	padding: 30px;
	color: #ffffff;
	.ui-md-6 {
		&:last-child {
			text-align: right;
		}
	}
}
.support {
	li {
		line-height: 1.5;
	}
	p {
		line-height: 1.5;
	}
}
/* Dark Theme such as luna-amber, luna-blue, luna-green and luna-pink */
.dark-theme {
	.implementation {
		background-color: #3f3f3f;
		color: #dedede;
		>h3 {
			color: #dedede;
		}
		>h4 {
			color: #dedede;
		}
	}
	.carousel-demo {
		.ui-carousel {
			.ui-carousel-content {
				.ui-carousel-item {
					.car-details {
						>.p-grid {
							border: 1px solid #191919;
							background-color: #323232;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 450px) {
	.notification-topbar {
		.notification-topbar-image {
			display: none;
		}
		.notification-topbar-image-mobile {
			display: block;
		}
	}
}
