<div>
    <div class="doc-intro">
        <h1>Roadmap</h1>
        <p>
            At <a href="https://www.primetek.com.tr/" class="font-semibold hover:underline text-primary">PrimeTek</a>, we are passionate about improving PrimeNG and
            would like to share our ideas for 2023 with the community. These are planned to be implemented in
            parallel to the regular maintenance work of the library involving review of issue tickets, PRs and PrimeNG PRO support. This
            page is updated on changes so please visit it to learn more about what is coming up next.
        </p>
    </div>

    <div class="overflow-auto">
        <div style="min-width: 1200px">
            <div class="flex gap-3 mb-3">
                <div class="flex-shrink-0 w-14rem"></div>
                <div class="flex-1 bg-bluegray-500 text-white font-bold text-center p-3 text-xl border-round">Q1</div>
                <div class="flex-1 bg-bluegray-500 text-white font-bold text-center p-3 text-xl border-round">Q2</div>
                <div class="flex-1 bg-bluegray-500 text-white font-bold text-center p-3 text-xl border-round">Q3</div>
                <div class="flex-1 bg-bluegray-500 text-white font-bold text-center p-3 text-xl border-round">Q4</div>
            </div>
            <div class="flex flex-column gap-3">
                <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                    <div class="flex-shrink-0 p-3 bg-blue-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">COMPONENTS</div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-blue-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Typings</h2>
                            <p class="mt-0 mb-3 line-height-3">Improve codebase to utilize more strict types.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-blue-500 border-round" style="width: 15%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-blue-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Accessibility</h2>
                            <p class="mt-0 mb-3 line-height-3">Implement WCAG Level AA compliance using PrimeVue as the reference implementation.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-blue-500 border-round" style="width: 0; height: 4px"></div>
                            </div>
                        </div>
                        <div class="p-3 surface-card border-round border-blue-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Slot Props</h2>
                            <p class="mt-0 mb-3 line-height-3"> Initate the implementation of Slot Props to provide advanced control over component internals.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-blue-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-blue-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Unstyled Mode</h2>
                            <p class="mt-0 mb-3 line-height-3">Implementation of the Unstyled Mode to support libraries like Tailwind.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-blue-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                        <div class="p-3 surface-card border-round border-blue-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">CSS Variables</h2>
                            <p class="mt-0 mb-3 line-height-3">Migrate to CSS variables from SCSS variables.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-blue-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-blue-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">DragDrop Utils</h2>
                            <p class="mt-0 mb-3 line-height-3">Standalone Drag and Drop utilities that are also
                                integrated within certain components e.g. Tree.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-blue-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                        <div class="p-3 surface-card border-round border-blue-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Full Calendar</h2>
                            <p class="mt-0 mb-3 line-height-3">New Full Calendar / Scheduler component.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-blue-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                    <div
                        class="flex-shrink-0 p-3 bg-indigo-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">
                        Figma UI Kit</div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-indigo-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Tokens</h2>
                            <p class="mt-0 mb-3 line-height-3">Add support for Figma Tokens.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-indigo-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-bluegray-500"
                            style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Theme Generator</h2>
                            <p class="mt-0 mb-3 line-height-3">Create a Figma Plugin to generate themes from Figma.
                            </p>
                            <div class="surface-200 border-round">
                                <div class="bg-bluegray-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column"></div>
                    <div class="flex-1 flex gap-3 flex-column"></div>
                </div>
                <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                    <div class="flex-shrink-0 p-3 bg-teal-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">SHOWCASE</div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-teal-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Demos</h2>
                            <p class="mt-0 mb-3 line-height-3">Standalone demos for each component feature instead
                                of one demo page that demonstrates multiple features.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-teal-500 border-round" style="width: 100%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-teal-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Documentation</h2>
                            <p class="mt-0 mb-3 line-height-3">New component API docs generated by TSDoc.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-teal-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column"></div>
                    <div class="flex-1 flex gap-3 flex-column"></div>
                </div>
                <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                    <div
                        class="flex-shrink-0 p-3 bg-orange-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">
                        PrimeBlocks</div>
                    <div class="flex-1 flex gap-3 flex-column">
                        
                    </div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-orange-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Blocks Update</h2>
                            <p class="mt-0 mb-3 line-height-3">More UI Blocks.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-orange-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-orange-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Blocks Update</h2>
                            <p class="mt-0 mb-3 line-height-3">More UI Blocks.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-orange-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-orange-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Blocks Update</h2>
                            <p class="mt-0 mb-3 line-height-3">More UI Blocks.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-orange-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                    <div
                        class="flex-shrink-0 p-3 bg-pink-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">
                        Designer</div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-pink-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Open Source Designer</h2>
                            <p class="mt-0 mb-3 line-height-3">Open source theme designer to make it free to use.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-pink-500 border-round" style="width: 100%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-pink-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">New UI for Theme Designer</h2>
                            <p class="mt-0 mb-3 line-height-3">Create a new UI based theme designer with full contol over theming API to replace current Visual Editor.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-pink-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column"></div>
                    <div class="flex-1 flex gap-3 flex-column"></div>
                </div>
                <div class="flex gap-3 border-bottom-1 surface-border pb-3">
                    <div class="flex-shrink-0 p-3 bg-purple-500 text-white border-round font-bold text-lg flex align-items-center justify-content-center w-14rem">Templates</div>
                    <div class="flex-1 flex gap-3 flex-column">
                        <div class="p-3 surface-card border-round border-purple-500" style="border-left: 6px solid">
                            <h2 class="text-lg font-bold mt-0 mb-2">Next-Gen Templates</h2>
                            <p class="mt-0 mb-3 line-height-3">Update more templates to NextGen standards set by <a href="https://www.youtube.com/watch?v=yl2f8KKY204" class="text-primary hover:underline font-semibold">Apollo</a>.</p>
                            <div class="surface-200 border-round">
                                <div class="bg-purple-500 border-round" style="width: 0%; height: 4px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 flex gap-3 flex-column"></div>
                    <div class="flex-1 flex gap-3 flex-column"></div>
                    <div class="flex-1 flex gap-3 flex-column"></div>
                </div>
            </div>
        </div>
    </div>
</div>