<tree-submenu></tree-submenu>

<div class="content-section introduction">
    <div>
        <span class="feature-title">Tree - <span class="subitem">DragDrop</span></span>
        <span>.</span>
    </div>
</div>

<div class="content-section implementation">
    <h3>DragDrop</h3>
    <div class="p-grid ui-fluid">
        <div class="p-col-12 p-md-3">
            <h4>Files</h4>
            <p-tree [value]="files1" [draggableNodes]="true" [droppableNodes]="true" droppableScope="files" draggableScope="server2" ></p-tree>
        </div>

        <div class="p-col-12 p-md-3">
            <h4>Server 1</h4>
            <p-tree [value]="files2" [draggableNodes]="true" [droppableNodes]="true" droppableScope="server1" draggableScope="files"></p-tree>
        </div>

        <div class="p-col-12 p-md-3">
            <h4>Server 2</h4>
            <p-tree [value]="files3" [draggableNodes]="true" [droppableNodes]="true" droppableScope="server2" draggableScope="server1"></p-tree>
        </div>

        <div class="p-col-12 p-md-1">

        </div>
    </div>
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="treetemplatingdemo.ts">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/tree/treetemplatingdemo.ts" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-typescript" pCode ngNonBindable>

</code>
</pre>   
        </p-tabPanel>

        <p-tabPanel header="treetemplatingdemo.html">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/tree/treetemplatingdemo.html" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-markup" pCode ngNonBindable>

</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>