<div class="content-section introduction">
    <div>
        <span class="feature-title">Tree</span>
        <span>Tree is used to display hierarchical data.</span>
    </div>
</div>

<div class="content-section implementation">
    <p-toast [style]="{marginTop: '80px'}"></p-toast>

    <h3 class="first">Basic</h3>
    <p-tree [value]="filesTree0"></p-tree>

    <h3>Loader</h3>
    <p-tree [value]="filesTree1" [loading]="loading"></p-tree>

    <h3>Single Selection</h3>
    <p-tree [value]="filesTree2" selectionMode="single" [(selection)]="selectedFile"
        (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
    <div style="margin-top:8px">Selected Node: {{selectedFile ? selectedFile.label : 'none'}}</div>

    <h3>Multiple Selection with Metakey</h3>
    <p-tree [value]="filesTree3" selectionMode="multiple" [(selection)]="selectedFiles"
        (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
    <div>Selected Nodes: <span *ngFor="let file of selectedFiles">{{file.label}}</span></div>

    <h3>Multiple Selection with Checkbox</h3>
    <p-tree [value]="filesTree4" selectionMode="checkbox" [(selection)]="selectedFiles2"></p-tree>
    <div>Selected Nodes: <span *ngFor="let file of selectedFiles2">{{file.label}}</span></div>

    <h3>Lazy Loading</h3>
    <p-tree [value]="lazyFiles" (onNodeExpand)="nodeExpand($event)" [style]="{'max-height':'200px','overflow':'auto'}"></p-tree>

    <h3>Template</h3>
    <p-tree [value]="filesTree5">
        <ng-template let-node pTemplate="default">
            <input [(ngModel)]="node.label" type="text" style="width:100%" class="ui-inputtext">
        </ng-template>
    </p-tree>

    <h3>Context Menu</h3>
    <p-tree [value]="filesTree6" selectionMode="single" [(selection)]="selectedFile2" [contextMenu]="cm"></p-tree>
    <p-contextMenu #cm [model]="items"></p-contextMenu>

    <h3>DragDrop</h3>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <h4>Files</h4>
            <p-tree [value]="filesTree7" draggableNodes="true" droppableNodes="true" dragdropScope="files"></p-tree>
        </div>

        <div class="ui-g-12 ui-md-1" style="text-align:center">
            <i class="fa fa-exchange" style="font-size:36px;margin-top: 28px;"></i>
        </div>

        <div class="ui-g-12 ui-md-3">
            <h4>Server 1</h4>
            <p-tree [value]="filesTree8" draggableNodes="true" droppableNodes="true" dragdropScope="files"></p-tree>
        </div>

        <div class="ui-g-12 ui-md-1" style="text-align:center">
            <i class="fa fa-exchange" style="font-size:36px;margin-top: 28px;"></i>
        </div>

        <div class="ui-g-12 ui-md-3">
            <h4>Server 2</h4>
            <p-tree [value]="filesTree9" draggableNodes="true" droppableNodes="true" dragdropScope="other"></p-tree>
        </div>

        <div class="ui-g-12 ui-md-1">

        </div>
    </div>

    <h3>Programatic Tree Expansion</h3>
    <p-tree #expandingTree [value]="filesTree10"></p-tree>
    <div style="margin-top: 8px">
        <button pButton type="button" label="Expand all" (click)="expandAll()" style="margin-right: .25em"></button>
        <button pButton type="button" label="Collapse all" (click)="collapseAll()"></button>
    </div>

    <h3>Horizontal Tree</h3>
    <p-tree [value]="filesTree11" layout="horizontal" selectionMode="single" [(selection)]="selectedFile3" ></p-tree>
    <div style="margin-top:8px">Selected Node: {{selectedFile3 ? selectedFile3.label : 'none'&#125;&#125;</div>
</div>

<div class="content-section documentation">
    <p-tabView effect="fade">
        <p-tabPanel header="Documentation">
            <h3>Import</h3>
<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;TreeModule&#125; from 'primeng/tree';
import &#123;TreeNode&#125; from 'primeng/api';
</code>
</pre>

            <h3>Getting Started</h3>
            <p>Tree component requires an array of TreeNode objects as its value. Let's begin with the TreeNode api. Note that all of the properties are optional.</p>

            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>label</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Label of the node.</td>
                        </tr>
                        <tr>
                            <td>data</td>
                            <td>any</td>
                            <td>null</td>
                            <td>Data represented by the node.</td>
                        </tr>
                        <tr>
                            <td>icon</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Icon of the node to display next to content.</td>
                        </tr>
                        <tr>
                            <td>expandedIcon</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Icon to use in expanded state.</td>
                        </tr>
                        <tr>
                            <td>collapsedIcon</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Icon to use in collapsed state.</td>
                        </tr>
                        <tr>
                            <td>children</td>
                            <td>TreeNode[]</td>
                            <td>null</td>
                            <td>An array of treenodes as children.</td>
                        </tr>
                        <tr>
                            <td>leaf</td>
                            <td>boolean</td>
                            <td>null</td>
                            <td>Specifies if the node has children. Used in lazy loading.</td>
                        </tr>
                        <tr>
                            <td>style</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Inline style of the node.</td>
                        </tr>
                        <tr>
                            <td>styleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Style class of the node.</td>
                        </tr>
                        <tr>
                            <td>expanded</td>
                            <td>boolean</td>
                            <td>null</td>
                            <td>Whether the node is in an expanded or collapsed state.</td>
						</tr>
                        <tr>
                            <td>type</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Type of the node to match ng-template type.</td>
                        </tr>
                        <tr>
                            <td>parent</td>
                            <td>TreeNode</td>
                            <td>null</td>
                            <td>Parent of the node.</td>
                        </tr>
                        <tr>
                            <td>draggable</td>
                            <td>boolean</td>
                            <td>null</td>
                            <td>Whether to disable dragging for a particular node even if draggableNodes is enabled.</td>
                        </tr>
                        <tr>
                            <td>droppable</td>
                            <td>boolean</td>
                            <td>null</td>
                            <td>Whether to disable dropping for a particular node even if droppableNodes is enabled.</td>
                        </tr>
                        <tr>
                            <td>selectable</td>
                            <td>boolean</td>
                            <td>null</td>
                            <td>Used to disable selection of a particular node.</td>
                        </tr>
                        <tr>
                            <td>emptyMessage</td>
                            <td>string</td>
                            <td>No records found.</td>
                            <td>Text to display when there is no data.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p>Most of the time, nodes will be loaded from a remote datasoure, here is an example NodeService that fetches the data from a json file.</p>
<pre>
<code class="language-javascript" pCode ngNonBindable>
@Injectable()
export class NodeService &#123;

    constructor(private http: Http) &#123;&#125;

    getFiles() &#123;
        return this.http.get('showcase/resources/data/files.json')
                    .toPromise()
                    .then(res =&gt; &lt;TreeNode[]&gt; res.json().data);
    &#125;
&#125;
</code>
</pre>

        <p>The files.json file consists of sample data. In a real application, this should be a dynamic response generated from the remote call.</p>
<pre>
<code class="language-javascript" pCode ngNonBindable>
&#123;
    "data":
    [
        &#123;
            "label": "Documents",
            "data": "Documents Folder",
            "expandedIcon": "fa fa-folder-open",
            "collapsedIcon": "fa fa-folder",
            "children": [&#123;
                    "label": "Work",
                    "data": "Work Folder",
                    "expandedIcon": "fa fa-folder-open",
                    "collapsedIcon": "fa fa-folder",
                    "children": [&#123;"label": "Expenses.doc", "icon": "fa fa-file-word-o", "data": "Expenses Document"&#125;, &#123;"label": "Resume.doc", "icon": "fa fa-file-word-o", "data": "Resume Document"&#125;]
                &#125;,
                &#123;
                    "label": "Home",
                    "data": "Home Folder",
                    "expandedIcon": "fa fa-folder-open",
                    "collapsedIcon": "fa fa-folder",
                    "children": [&#123;"label": "Invoices.txt", "icon": "fa fa-file-word-o", "data": "Invoices for this month"&#125;]
                &#125;]
        &#125;,
        &#123;
            "label": "Pictures",
            "data": "Pictures Folder",
            "expandedIcon": "fa fa-folder-open",
            "collapsedIcon": "fa fa-folder",
            "children": [
                &#123;"label": "barcelona.jpg", "icon": "fa fa-file-image-o", "data": "Barcelona Photo"&#125;,
                &#123;"label": "logo.jpg", "icon": "fa fa-file-image-o", "data": "PrimeFaces Logo"&#125;,
                &#123;"label": "primeui.png", "icon": "fa fa-file-image-o", "data": "PrimeUI Logo"&#125;]
        &#125;,
        &#123;
            "label": "Movies",
            "data": "Movies Folder",
            "expandedIcon": "fa fa-folder-open",
            "collapsedIcon": "fa fa-folder",
            "children": [&#123;
                    "label": "Al Pacino",
                    "data": "Pacino Movies",
                    "children": [&#123;"label": "Scarface", "icon": "fa fa-file-video-o", "data": "Scarface Movie"&#125;, &#123;"label": "Serpico", "icon": "fa fa-file-video-o", "data": "Serpico Movie"&#125;]
                &#125;,
                &#123;
                    "label": "Robert De Niro",
                    "data": "De Niro Movies",
                    "children": [&#123;"label": "Goodfellas", "icon": "fa fa-file-video-o", "data": "Goodfellas Movie"&#125;, &#123;"label": "Untouchables", "icon": "fa fa-file-video-o", "data": "Untouchables Movie"&#125;]
                &#125;]
        &#125;
    ]
&#125;
</code>
</pre>

        <p>The component that uses this service makes a call to getFiles() and assigns them back to files property that is bound to the tree.</p>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class TreeDemoComponent implements OnInit &#123;

    files: TreeNode[];

    constructor(private nodeService: NodeService) &#123;&#125;

    ngOnInit() &#123;
        this.nodeService.getFiles().then(files => this.files = files);
    &#125;

&#125;
</code>
</pre>

<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files"&gt;&lt;/p-tree&gt;
</code>
</pre>

            <h3>Selection</h3>
            <p>Tree supports 3 selection methods, single, multiple and checkbox. Selection is enabled by setting selectionMode property and providing a single TreeNode or
            an array of TreeNodes to reference the selections depending on the selection mode.</p>
<pre>
<code class="language-typescript" pCode ngNonBindable>
export class TreeDemoComponent implements OnInit &#123;

    files: TreeNode[];

    selectedFile: TreeNode;

    constructor(private nodeService: NodeService) &#123;&#125;

    ngOnInit() &#123;
        this.nodeService.getFiles().then(files => this.files = files);
    &#125;

&#125;
</code>
</pre>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile"&gt;&lt;/p-tree&gt;
</code>
</pre>

        <p>In multiple mode or checkbox mode, selection property should be an array. In multiple mode, items can either be selected
        using metaKey or toggled individually depending on the value of metaKeySelection property value which is true by default. On touch enabled
        devices metaKeySelection is turned off automatically. In checkbox mode, when inititing a tree with preselections, also set partialSelected
        property on node so that minus icon can be displayed when necessary.</p>
<pre>
<code class="language-typescript" pCode ngNonBindable>
    export class TreeDemoComponent implements OnInit &#123;

        files: TreeNode[];

        selectedFiles: TreeNode[];

        constructor(private nodeService: NodeService) &#123;&#125;

        ngOnInit() &#123;
            this.nodeService.getFiles().then(files => this.files = files);
        &#125;

    &#125;
</code>
</pre>

<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files" selectionMode="single" [(selection)]="selectedFiles"&gt;&lt;/p-tree&gt;
</code>
</pre>

            <p>In checkbox mode, selections propagate up and down, if you prefer not to do so, propagation can be turned off by propagateSelectionDown and
            propagateSelectionUp properties.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files" selectionMode="checkbox" [(selection)]="selectedFiles"
                [propagateSelectionUp]="false" [propagateSelectionDown]="false"&gt;&lt;/p-tree&gt;
</code>
</pre>

            <p>Tree provides onNodeSelect and onNodeUnselect options as callbacks for selection feature.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files" selectionMode="single" [(selection)]="selectedFiles" (onNodeSelect)="nodeSelect($event)"&gt;&lt;/p-tree&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class TreeDemoComponent implements OnInit &#123;

    files: TreeNode[];

    selectedFiles: TreeNode[];

    constructor(private nodeService: NodeService) &#123;&#125;

    ngOnInit() &#123;
        this.nodeService.getFiles().then(files => this.files = files);
    &#125;

    nodeSelect(event) &#123;
        //event.node = selected node
    &#125;

&#125;
</code>
</pre>

            <p>Selection of a particular node can be disabled by setting the selectable property of the node to false.</p>

            <h3>Icons</h3>
            <p>Icon of a treenode is defined using the icon property, if you need an icon depending on the expand or collapse state, use
                expandedIcon and collapsedIcon instead.</p>

            <h3>Templating</h3>
            <p>By default label of a treenode is displayed inside a tree node, in case you need to place custom content define a pTemplate that gets
                the treenode as an implicit variable. Example below places an input field to create editable treenodes.</p>

<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files"&gt;
    &lt;ng-template let-node  pTemplate="default"&gt;
        &lt;input [(ngModel)]="node.label" type="text" style="width:100%"&gt;
    &lt;/ng-template&gt;
&lt;/p-tree&gt;
</code>
</pre>

            <p>Multiple templates are supported by matching the type property of the TreeNode with the type of pTemplate. If a node has no type,
            then default ng-template is used.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files"&gt;
    &lt;ng-template let-node  pTemplate="picture"&gt;
        &lt;img [attrs.src]="picture.path"&gt;
    &lt;/ng-template&gt;
    &lt;ng-template let-node  pTemplate="default"&gt;
        &lt;input [(ngModel)]="node.label" type="text" style="width:100%"&gt;
    &lt;/ng-template&gt;
&lt;/p-tree&gt;
</code>
</pre>

            <h3>ContextMenu</h3>
            <p>Tree has exclusive integration with context menu created by binding a menu instance to the tree.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile2" [contextMenu]="cm"&gt;&lt;/p-tree&gt;

&lt;p-contextMenu #cm [model]="items"&gt;&lt;/p-contextMenu&gt;
</code>
</pre>

            <h3>Lazy Loading</h3>
            <p>Lazy loading is handy to deal with large datasets. Instead of loading the whole tree, nodes can be loaded at onNodeExpand event.
            Important part of implementing lazy loading is defining leaf property of a node as false, this will instruct tree to display an arrow icon
            to indicate there are children of this node although they are not loaded yet. When the lazy node is expanded, onNodeExpand is called
            and a remote call can be made to add the children to the expanded node.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files" (onNodeExpand)="loadNode($event)"&gt;&lt;/p-tree&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class TreeDemoComponent implements OnInit &#123;

    files: TreeNode[];

    selectedFiles: TreeNode[];

    constructor(private nodeService: NodeService) &#123;&#125;

    ngOnInit() &#123;
        //initial nodes
        this.nodeService.getFiles().then(files => this.files = files);
    &#125;

    loadNode(event) &#123;
        if(event.node) &#123;
            //in a real application, make a call to a remote url to load children of the current node and add the new nodes as children
            this.nodeService.getLazyFiles().then(nodes => event.node.children = nodes);
        &#125;
    &#125;

&#125;
</code>
</pre>

            <p>Assume at ngOnInit tree is initialized with a data like below that has nodes having no actual children but leaf property is set false.</p>
<pre>
<code class="language-javascript" pCode ngNonBindable>
&#123;
    "data":
    [
        &#123;
            "label": "Lazy Node 0",
            "data": "Node 0",
            "expandedIcon": "fa fa-folder-open",
            "collapsedIcon": "fa fa-folder",
            "leaf": false
        &#125;,
        &#123;
            "label": "Lazy Node 1",
            "data": "Node 1",
            "expandedIcon": "fa fa-folder-open",
            "collapsedIcon": "fa fa-folder",
            "leaf": false
        &#125;,
        &#123;
            "label": "Lazy Node 1",
            "data": "Node 2",
            "expandedIcon": "fa fa-folder-open",
            "collapsedIcon": "fa fa-folder",
            "leaf": false
        &#125;
    ]
&#125;
</code>
</pre>

            <h3>Drag and Drop</h3>
            <p>Nodes can be reordered within a tree and also can be transferred between multiple trees. To enable dragging from a tree set draggableNodes to true and to allow
            dropping enable droppableNodes property. In addition, import TreeDragDropService and configure it as a provider at your component or module.</p>
<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;TreeDragDropService&#125; from 'primeng/api';
</code>
</pre>

<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files" draggableNodes="true" droppableNodes="true"&gt;&lt;/p-tree&gt;
</code>
</pre>
            <p>Multiple trees can be used in a drag drop operation, in order to add constraints like rejecting drags from a certain tree but allow from another use draggableScope
            and droppableScope properties which can be a string or an array. Following example uses 3 trees where second one only accepts drags from first tree and second one only
            accepts from second tree whereas first tree accepts drops from 3rd tree.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files" draggableNodes="true" droppableNodes="true" draggableScope="a" droppableScope="c"&gt;&lt;/p-tree&gt;
&lt;p-tree [value]="files" draggableNodes="true" droppableNodes="true" draggableScope="b" droppableScope="a"&gt;&lt;/p-tree&gt;
&lt;p-tree [value]="files" draggableNodes="true" droppableNodes="true" draggableScope="c" droppableScope="b"&gt;&lt;/p-tree&gt;
</code>
</pre>

            <p>In case, a drop should be accepted based on a condition, enable validateDrop property, define an event handler for onNodeDrop where the passed event and call the accept callback of the event
                to accept a drop. Simply omitting the call of accept() will reject the drop.
            </p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files" draggableNodes="true" droppableNodes="true" [validateDrop]="true" (onNodeDrop)="onDrop($event)"&gt;&lt;/p-tree&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
onDrop(event) {
    if (condition) {
        event.accept();
    }
}
</code>
</pre>

            <h3>Loading Status</h3>
            <p>Tree has a loading property, when enabled a spinner icon is displayed to indicate data load.</p>
            <p>An optional loadingIcon property can be passed in case you prefer a different icon.</p>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files" [loading]="loading"&gt;&lt;/p-tree&gt;
</code>
</pre>

            <h3>Horizontal Orientation</h3>
            <p>Horizontal mode is the alternative option for orientation.</p>

<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-tree [value]="files" layout="horizontal"&gt;&lt;/p-tree&gt;
</code>
</pre>

            <h3>Properties</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                            <td>value</td>
                            <td>array</td>
                            <td>null</td>
                            <td>An array of treenodes.</td>
                        </tr>
                        <tr>
                            <td>selectionMode</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Defines the selection mode, valid values "single", "multiple", and "checkbox".</td>
                        </tr>
                        <tr>
                            <td>selection</td>
                            <td>any</td>
                            <td>null</td>
                            <td>A single treenode instance or an array to refer to the selections.</td>
                        </tr>
                        <tr>
                            <td>style</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Inline style of the component.</td>
                        </tr>
                        <tr>
                            <td>styleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Style class of the component.</td>
                        </tr>
                        <tr>
                            <td>contextMenu</td>
                            <td>ContextMenu</td>
                            <td>null</td>
                            <td>Context menu instance.</td>
                        </tr>
                        <tr>
                            <td>layout</td>
                            <td>string</td>
                            <td>vertical</td>
                            <td>Defines the orientation of the tree, valid values are 'vertical' and 'horizontal'.</td>
                        </tr>
                        <tr>
                            <td>metaKeySelection</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Defines how multiple items can be selected, when true metaKey needs to be pressed to select or unselect an item and when set to false selection of each item
                            can be toggled individually. On touch enabled devices, metaKeySelection is turned off automatically.</td>
                        </tr>
                        <tr>
                            <td>propagateSelectionUp</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether checkbox selections propagate to ancestor nodes.</td>
                        </tr>
                        <tr>
                            <td>propagateSelectionDown</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether checkbox selections propagate to descendant nodes.</td>
                        </tr>
                        <tr>
                            <td>loading</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>Displays a loader to indicate data load is in progress.</td>
                        </tr>
                        <tr>
                            <td>loadingIcon</td>
                            <td>string</td>
                            <td>fa-circle-o-notch</td>
                            <td>The icon to show while indicating data load is in progress.</td>
                        </tr>
                        <tr>
                            <td>validateDrop</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>When enabled, drop can be accepted or rejected based on condition defined at onNodeDrop.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Events</h3>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Parameters</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>onNodeSelect</td>
                            <td>event.originalEvent: browser event <br>
                                event.node: Selected node instance.</td>
                            <td>Callback to invoke when a node is selected.</td>
                        </tr>
                        <tr>
                            <td>onNodeUnselect</td>
                            <td>event.originalEvent: browser event <br>
                                event.node: Unselected node instance.</td>
                            <td>Callback to invoke when a node is unselected.</td>
                        </tr>
                        <tr>
                            <td>onNodeExpand</td>
                            <td>event.originalEvent: browser event <br>
                                event.node: Expanded node instance.</td>
                            <td>Callback to invoke when a node is expanded.</td>
                        </tr>
                        <tr>
                            <td>onNodeCollapse</td>
                            <td>event.originalEvent: browser event <br>
                                event.node: Collapsed node instance.</td>
                            <td>Callback to invoke when a node is collapsed.</td>
                        </tr>
                        <tr>
                            <td>onNodeContextMenuSelect</td>
                            <td>event.originalEvent: browser event <br>
                                event.node: Selected node instance.</td>
                            <td>Callback to invoke when a node is selected with right click.</td>
                        </tr>
                        <tr>
                            <td>onNodeDrop</td>
                            <td>event.originalEvent: browser event <br>
                                event.dragNode: Dragged node instance <br>
                                event.dropNode: Dropped node instance.
                                event.index: Index of the dropped node within siblings.</td>
                            <td>Callback to invoke when a node is dropped.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Styling</h3>
            <p>Following is the list of structural style classes, for theming classes visit <a href="#" [routerLink]="['/theming']">theming page</a>.</p>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Element</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ui-tree</td>
                            <td>Main container element</td>
                        </tr>
                        <tr>
                            <td>ui-tree-horizontal</td>
                            <td>Main container element in horizontal mode</td>
                        </tr>
                        <tr>
                            <td>ui-tree-container</td>
                            <td>Container of nodes</td>
                        </tr>
                        <tr>
                            <td>ui-treenode</td>
                            <td>A treenode element</td>
                        </tr>
                        <tr>
                            <td>ui-treenode-content</td>
                            <td>Content of a treenode</td>
                        </tr>
                        <tr>
                            <td>ui-treenode-toggler</td>
                            <td>Toggle icon</td>
                        </tr>
                        <tr>
                            <td>ui-treenode-icon</td>
                            <td>Icon of a treenode</td>
                        </tr>
                        <tr>
                            <td>ui-treenode-label</td>
                            <td>Label of a treenode</td>
                        </tr>
                        <tr>
                            <td>ui-treenode-children</td>
                            <td>Container element for node children</td>
                        </tr>
                        <tr>
                            <td>ui-treenode-content-selected</td>
                            <td>Content of a selected node.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Dependencies</h3>
            <p>None.</p>
        </p-tabPanel>

        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/tree" class="btn-viewsource" target="_blank">
                <i class="fa fa-github"></i>
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;p-toast [style]="&#123;marginTop: '80px'&#125;"&gt;&lt;/p-toast&gt;

&lt;h3 class="first"&gt;Basic&lt;/h3&gt;
&lt;p-tree [value]="filesTree0"&gt;&lt;/p-tree&gt;

&lt;h3&gt;Loader&lt;/h3&gt;
&lt;p-tree [value]="filesTree1" [loading]="loading"&gt;&lt;/p-tree&gt;

&lt;h3&gt;Single Selection&lt;/h3&gt;
&lt;p-tree [value]="filesTree2" selectionMode="single" [(selection)]="selectedFile"
    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"&gt;&lt;/p-tree&gt;
&lt;div style="margin-top:8px"&gt;Selected Node: &#123;selectedFile ? selectedFile.label : 'none'&#125;&lt;/div&gt;

&lt;h3&gt;Multiple Selection with Metakey&lt;/h3&gt;
&lt;p-tree [value]="filesTree3" selectionMode="multiple" [(selection)]="selectedFiles"
    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"&gt;&lt;/p-tree&gt;
&lt;div&gt;Selected Nodes: &lt;span *ngFor="let file of selectedFiles"&gt;&#123;file.label&#125; &lt;/span&gt;&lt;/div&gt;

&lt;h3&gt;Multiple Selection with Checkbox&lt;/h3&gt;
&lt;p-tree [value]="filesTree4" selectionMode="checkbox" [(selection)]="selectedFiles2"&gt;&lt;/p-tree&gt;
&lt;div&gt;Selected Nodes: &lt;span *ngFor="let file of selectedFiles2"&gt;&#123;file.label&#125; &lt;/span&gt;&lt;/div&gt;

&lt;h3&gt;Lazy Loading&lt;/h3&gt;
&lt;p-tree [value]="lazyFiles" (onNodeExpand)="nodeExpand($event)" [style]="&#123;'max-height':'200px','overflow':'auto'&#125;"&gt;&lt;/p-tree&gt;

&lt;h3&gt;Template&lt;/h3&gt;
&lt;p-tree [value]="filesTree5"&gt;
    &lt;ng-template let-node pTemplate="default"&gt;
        &lt;input [(ngModel)]="node.label" type="text" style="width:100%" class="ui-inputtext"&gt;
    &lt;/ng-template&gt;
&lt;/p-tree&gt;

&lt;h3&gt;Context Menu&lt;/h3&gt;
&lt;p-tree [value]="filesTree6" selectionMode="single" [(selection)]="selectedFile2" [contextMenu]="cm"&gt;&lt;/p-tree&gt;
&lt;p-contextMenu #cm [model]="items"&gt;&lt;/p-contextMenu&gt;

&lt;h3&gt;DragDrop&lt;/h3&gt;
&lt;div class="ui-g ui-fluid"&gt;
    &lt;div class="ui-g-12 ui-md-3"&gt;
        &lt;h4&gt;Files&lt;/h4&gt;
        &lt;p-tree [value]="filesTree7" draggableNodes="true" droppableNodes="true" dragdropScope="files"&gt;&lt;/p-tree&gt;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-1" style="text-align:center"&gt;
        &lt;i class="fa fa-exchange" style="font-size:36px;margin-top: 28px;"&gt;&lt;/i&gt;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-3"&gt;
        &lt;h4&gt;Server 1&lt;/h4&gt;
        &lt;p-tree [value]="filesTree8" draggableNodes="true" droppableNodes="true" dragdropScope="files"&gt;&lt;/p-tree&gt;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-1" style="text-align:center"&gt;
        &lt;i class="fa fa-exchange" style="font-size:36px;margin-top: 28px;"&gt;&lt;/i&gt;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-3"&gt;
        &lt;h4&gt;Server 2&lt;/h4&gt;
        &lt;p-tree [value]="filesTree9" draggableNodes="true" droppableNodes="true" dragdropScope="other"&gt;&lt;/p-tree&gt;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-1"&gt;

    &lt;/div&gt;
&lt;/div&gt;

&lt;h3&gt;Programatic Tree Expansion&lt;/h3&gt;
&lt;p-tree #expandingTree [value]="filesTree10"&gt;&lt;/p-tree&gt;
&lt;div style="margin-top: 8px"&gt;
    &lt;button pButton type="button" label="Expand all" (click)="expandAll()" style="margin-right: .25em"&gt;&lt;/button&gt;
    &lt;button pButton type="button" label="Collapse all" (click)="collapseAll()"&gt;&lt;/button&gt;
&lt;/div&gt;

&lt;h3&gt;Horizontal Tree&lt;/h3&gt;
&lt;p-tree [value]="filesTree11" layout="horizontal" selectionMode="single" [(selection)]="selectedFile3" &gt;&lt;/p-tree&gt;
&lt;div style="margin-top:8px"&gt;Selected Node: &#123;selectedFile3 ? selectedFile3.label : 'none'&#125;&lt;/div&gt;
</code>
</pre>

<pre>
<code class="language-typescript" pCode ngNonBindable>
export class TreeDemo implements OnInit &#123;

    @ViewChild('expandingTree')
    expandingTree: Tree;

    filesTree1: TreeNode[];
    filesTree2: TreeNode[];
    filesTree3: TreeNode[];
    filesTree4: TreeNode[];
    filesTree5: TreeNode[];
    filesTree6: TreeNode[];
    filesTree7: TreeNode[];
    filesTree8: TreeNode[];
    filesTree9: TreeNode[];
    filesTree10: TreeNode[];
    filesTree11: TreeNode[];

    lazyFiles: TreeNode[];

    selectedFile: TreeNode;

    selectedFile2: TreeNode;

    selectedFile3: TreeNode;

    selectedFiles: TreeNode[];

    selectedFiles2: TreeNode[];

    items: MenuItem[];

    loading: boolean;

    constructor(private nodeService: NodeService, private messageService: MessageService) &#123; &#125;

    ngOnInit() &#123;
        this.loading = true;
        this.nodeService.getFiles().then(files => this.filesTree0 = files);
        setTimeout(() => {
            this.nodeService.getFiles().then(files => this.filesTree1 = files);
            this.loading = false;
        }, 3000);
        this.nodeService.getFiles().then(files => this.filesTree2 = files);
        this.nodeService.getFiles().then(files => this.filesTree3 = files);
        this.nodeService.getFiles().then(files => this.filesTree4 = files);
        this.nodeService.getFiles().then(files => this.filesTree5 = files);
        this.nodeService.getFiles().then(files => this.filesTree6 = files);
        this.nodeService.getFiles().then(files => this.filesTree7 = files);
        this.filesTree8 = [
            &#123;
                label: "Backup",
                data: "Backup Folder",
                expandedIcon: "fa fa-folder-open",
                collapsedIcon: "fa fa-folder"
            &#125;
        ];
        this.filesTree9 = [
            &#123;
                label: "Storage",
                data: "Storage Folder",
                expandedIcon: "fa fa-folder-open",
                collapsedIcon: "fa fa-folder"
            &#125;
        ];
        this.nodeService.getFiles().then(files => this.filesTree10 = files);
        this.nodeService.getFiles().then(files => &#123;
            this.filesTree11 = [&#123;
                label: 'Root',
                children: files
            &#125;];
        &#125;);

        this.nodeService.getLazyFiles().then(files => this.lazyFiles = files);

        this.items = [
            &#123;label: 'View', icon: 'fa fa-search', command: (event) => this.viewFile(this.selectedFile2)&#125;,
            &#123;label: 'Unselect', icon: 'fa fa-close', command: (event) => this.unselectFile()&#125;
        ];
    &#125;

    nodeSelect(event) &#123;
        this.messageService.add(&#123;severity: 'info', summary: 'Node Selected', detail: event.node.label&#125;);
    &#125;

    nodeUnselect(event) &#123;
        this.messageService.add(&#123;severity: 'info', summary: 'Node Unselected', detail: event.node.label&#125;);
    &#125;

    nodeExpandMessage(event) &#123;
        this.messageService.add(&#123;severity: 'info', summary: 'Node Expanded', detail: event.node.label&#125;);
    &#125;

    nodeExpand(event) &#123;
        if(event.node) &#123;
            //in a real application, make a call to a remote url to load children of the current node and add the new nodes as children
            this.nodeService.getLazyFiles().then(nodes => event.node.children = nodes);
        &#125;
    &#125;

    viewFile(file: TreeNode) &#123;
        this.messageService.add(&#123;severity: 'info', summary: 'Node Selected with Right Click', detail: file.label&#125;);
    &#125;

    unselectFile() &#123;
        this.selectedFile2 = null;
    &#125;

    expandAll()&#123;
        this.filesTree6.forEach( node => &#123;
            this.expandRecursive(node, true);
        &#125; );
    &#125;

    collapseAll()&#123;
        this.filesTree6.forEach( node => &#123;
            this.expandRecursive(node, false);
        &#125; );
    &#125;

    private expandRecursive(node:TreeNode, isExpand:boolean)&#123;
        node.expanded = isExpand;
        if(node.children)&#123;
            node.children.forEach( childNode => &#123;
                this.expandRecursive(childNode, isExpand);
            &#125; );
        &#125;
    &#125;
&#125;
</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>