<tree-submenu></tree-submenu>

<div class="content-section introduction">
    <div>
        <span class="feature-title">Tree - <span class="subitem">Templating</span></span>
        <span>.</span>
    </div>
</div>

<div class="content-section implementation">
    <p-tree [value]="files">
        <ng-template let-node pTemplate="default">
            <input [(ngModel)]="node.label" type="text" style="width:100%" class="ui-inputtext">
        </ng-template>
    </p-tree>
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="treetemplatingdemo.ts">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/tree/treetemplatingdemo.ts" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-typescript" pCode ngNonBindable>

</code>
</pre>   
        </p-tabPanel>

        <p-tabPanel header="treetemplatingdemo.html">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/tree/treetemplatingdemo.html" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-markup" pCode ngNonBindable>

</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>