<tree-submenu></tree-submenu>

<div class="content-section introduction">
    <div>
        <span class="feature-title">Tree - <span class="subitem">Filter</span></span>
        <span>Tree supports two types of filtering with different behaviors.</span>
    </div>
</div>

<div class="content-section implementation">
    <h3>Lenient Filter Mode</h3>
    <p-tree [value]="files1" [filter]="true"></p-tree>

    <h3>Strict Filter Mode</h3>
    <p-tree [value]="files2" [filter]="true" filterMode="strict"></p-tree>
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="treefilterdemo.ts">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/tree/treefilterdemo.ts" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-typescript" pCode ngNonBindable>
import &#123;Component,OnInit&#125; from '@angular/core';
import &#123;NodeService&#125; from '../../service/nodeservice';
import &#123;TreeNode&#125; from 'primeng/api';

@Component(&#123;
    templateUrl: './treefilterdemo.html'
&#125;)
export class TreeFilterDemo implements OnInit &#123;

    files1: TreeNode[];

    files2: TreeNode[];
    
    constructor(private nodeService: NodeService) &#123; &#125;

    ngOnInit() &#123;
        this.nodeService.getFiles().then(files => this.files1 = files);
        this.nodeService.getFiles().then(files => this.files2 = files);
    &#125;
&#125;
</code>
</pre>   
        </p-tabPanel>

        <p-tabPanel header="treefilterdemo.html">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/tree/treefilterdemo.html" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
<pre>
<code class="language-markup" pCode ngNonBindable>
&lt;h3&gt;Lenient Filter Mode&lt;/h3&gt;
&lt;p-tree [value]="files1" [filter]="true"&gt;&lt;/p-tree&gt;

&lt;h3&gt;Strict Filter Mode&lt;/h3&gt;
&lt;p-tree [value]="files2" [filter]="true" filterMode="strict"&gt;&lt;/p-tree&gt;
</code>
</pre>
        </p-tabPanel>
    </p-tabView>
</div>