.p-overlay-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-overlay-responsive {
    overflow: hidden;
    position: static;
    height: fit-content;
    width: inherit;
}

.p-overlay-panel-start {
    align-items: flex-start;
}

.p-overlay-panel-center {
    align-items: center;
}

.p-overlay-panel-end {
    align-items: flex-end;
}

.p-overlay {
    position: absolute;
}

.p-overlay-panel-static {
    position: static;
}