.layout-config {
    .grid {
        > div {
            padding: 1rem;
        }

    }
    img {
        transition: transform .2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}