.layout-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--surface-a);
    width: 250px;
    border-right: 1px solid var(--surface-d);
    user-select: none;
    transition: transform .4s cubic-bezier(.05,.74,.2,.99);
    display: flex;
    flex-direction: column;

    .logo {
        min-height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--surface-d);
        z-index: 1;
        border-right: 1px solid var(--surface-d);

        img {
            width: 180px;
        }

        &:focus {
            outline: 0 none;
            transition: box-shadow .2s;
            box-shadow: 0 0 0 0.2rem $focusBorderColor;
        }
    }

    .layout-menu {
        padding: 0 1rem;
        overflow-y: auto;
        flex-grow: 1;
        border-right: 1px solid var(--surface-d);

        .menu-category {
            display: block;
            color: var(--text-color-secondary);
            font-weight: 600;
            user-select: none;
            padding: 1.5rem 0 1rem 0;
            font-size: 0.857rem;
            text-transform: uppercase;
            border-top: 1px solid var(--surface-d);

            &:first-child {
                border-top: 0 none;
                padding-top: 1rem;
            }
        }

        .menu-items {
            padding: 0 0 1rem 0;
            display: flex;
            flex-direction: column;

            a {
                color: var(--text-color);
                display: flex;
                align-items: center;
                padding: .5rem;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    background-color: var(--surface-c);
                }

                &:focus {
                    z-index: 1;
                    outline: 0 none;
                    transition: box-shadow .2s;
                    box-shadow: 0 0 0 0.2em $focusBorderColor;
                }

                &.router-link-exact-active {
                    font-weight: 700;
                }

                .p-tag {
                    padding-top:.125rem;
                    padding-bottom: .125rem;
                    margin-left: .5rem;
                    line-height: 1.5;
                }
            }

            &.menu-banner {
                a {
                    padding: 0;

                    &:hover {
                        background-color: transparent;

                        img {
                            background-color: var(--surface-c);
                        }
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            div {
                &.router-link-exact-active {
                    > a {
                        font-weight: 700;
                    }

                    ul {
                        display: block;
                    }
                }

                ul {
                    padding: .5rem 0;
                    margin: 0;
                    list-style-type: none;

                    a {
                        font-size: .875rem;
                        padding: .475rem .5rem .475rem 2rem;
                    }
                }
            }
        }
    }

    .layout-sidebar-filter {
        padding: 1.25rem 1rem;
        border-bottom: 1px solid var(--surface-d);
        background-color: var(--surface-a);
    }
}
