.layout-news {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    background-image: url(../../../../assets/showcase/images/topbar-blackfriday-bg.png);

    .layout-news-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;

        img.layouts-news-mockup-image {
            height: 70px;
        }

        .layout-news-button {
            border: 2px solid #283738;
            color: #283738;
            font-size: 15px;
            padding: 0.4em .8em 0.4em 1em;
            font-weight: bold;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            transition: background-color 0.15s;
            margin-left: 1rem;
            position: relative;
            z-index: 1;

            > i {
                margin-left: .5em;
                font-weight: bold;
                position: relative;
                top: 1px;
            }

            &:hover {
                background-color: rgba(120, 144, 156, 0.4);
            }
        }
    }

    .layout-news-close {
        cursor: pointer;
        color: #fff;
        position: absolute;
        z-index: 2;
        right: 28px;
        background-color: rgba(0,0,0,.3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23px;
        height: 23px;
    }
}
