.layout-news {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    background-image: linear-gradient(197.37deg, rgba(0, 120, 227, 0.07) -0.38%, rgba(165, 72, 181, 0) 101.89%), linear-gradient(115.93deg, rgba(62, 136, 246, 0.15) 4.86%, rgba(62, 180, 246, 0.0495) 38.05%, rgba(62, 235, 246, 0) 74.14%), radial-gradient(56.47% 76.87% at 6.92% 7.55%, rgba(62, 136, 246, 0.05) 0%, rgba(62, 158, 246, 0.013) 52.16%, rgba(62, 246, 246, 0) 100%), linear-gradient(306.53deg, rgba(163, 171, 217, 0.1) 19.83%, rgba(163, 171, 217, 0) 97.33%);
    background-color: white;

    .layout-news-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;

        img.layouts-news-mockup-image {
            height: 70px;
        }

        .layout-news-button {
            border: 2px solid #283738;
            color: #283738;
            font-size: 15px;
            padding: 0.4em .8em 0.4em 1em;
            font-weight: bold;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            transition: background-color 0.15s;
            margin-left: 1rem;
            position: relative;
            z-index: 1;

            > i {
                margin-left: .5em;
                font-weight: bold;
                position: relative;
                top: 1px;
            }

            &:hover {
                background-color: rgba(120, 144, 156, 0.4);
            }
        }
    }

    .layout-news-close {
        cursor: pointer;
        color: #fff;
        position: absolute;
        z-index: 2;
        right: 28px;
        background-color: rgba(0,0,0,.3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23px;
        height: 23px;
    }
}
