.ui-terminal {
    height: 18em;
    overflow: auto;
    padding: .25em;
}

.ui-terminal-input {
    border: 0 none;
    background-color: transparent;
    color: inherit;
    padding: 0;
    margin: 0 0 0 .125em;
    width: 75%;
    outline: none;
    vertical-align: baseline;
}

.ui-terminal-command {
    margin-left: .125em;
    -moz-margin-start: .125em;
}

.ui-terminal-input::-ms-clear {
    display: none;
}