<p-sidebar 
    [visible]="isActive" 
    (visibleChange)="onVisibleChange($event)" 
    position="right"
    [modal]="false"
    styleClass="config-panel">
    <div class="config-panel-content">
        <div class="config-panel-colors">
            <span class="config-panel-label">Primary</span>
            <div>
                @for (primaryColor of primaryColors; track primaryColor){
                    <button 
                        type="button" 
                        [title]="primaryColor.name" 
                        (click)="updateColors('primary', primaryColor)"
                        [ngClass]="{'active-color': primaryColor.name === selectedPrimaryColor()}"
                        [style]="{'background-color': primaryColor.name === 'noir' ? 'var(--text-color)' : primaryColor?.palette['500']}">
                    </button>
                }
            </div>
        </div>

        <div class="config-panel-colors">
            <span class="config-panel-label">Surface</span>
            <div>
                @for (surface of surfaces; track surface){
                    <button 
                        type="button" 
                        [title]="surface.name" 
                        (click)="updateColors('surface', surface)"
                        [ngClass]="{'active-color': surface.name === selectedSurfaceColor()}"
                        [style]="{'background-color': surface.name === 'noir' ? 'var(--text-color)' : surface?.palette['500']}">
                    </button>
                }
            </div>
        </div>

        <div class="config-panel-settings">
            <span class="config-panel-label">Presets</span>
            @for(preset of presets; track preset) {
                <span class="flex items-center gap-2">
                    <p-radioButton
                        [value]="preset" 
                        [(ngModel)]="selectedPreset"
                        (ngModelChange)="onPresetChange($event)"
                        [inputId]="preset"
                    />
                    <label [for]="preset">{{preset}}</label>
                </span>
            }
        </div>

        <div class="config-panel-settings">
            <div class="config-panel-label">Ripple</div>
                <p-toggleButton 
                    [(ngModel)]="ripple" 
                    (onChange)="onRippleChange($event)"
                    onLabel="On" 
                    offLabel="Off" 
                />
        </div>
    </div>
</p-sidebar>