.ui-menubar {
    padding: .25em;
}

.ui-menubar .ui-menu-separator {
    border-width: 1px 0 0 0;
}

.ui-menubar:after {
    content: "";
    clear: both;
    display: table;
}

.ui-menubar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ui-menubar .ui-menuitem-link {
    display: block;
    padding: .25em;
    position: relative;
    text-decoration: none;
}

.ui-menubar .ui-menubar-root-list {
    display: inline-block;
}

.ui-menubar .ui-menubar-root-list > .ui-menuitem {
    display: inline-block;
    position: relative;
}

.ui-menubar .ui-menubar-root-list > .ui-menuitem > .ui-menuitem-link {
    padding: .5em;
}

.ui-menubar .ui-menubar-root-list > li ul {
    display: none;
}

.ui-menubar .ui-submenu-list {
    display: none;
    position: absolute;
    min-width: 12.5em;
    padding: .25em;
}

.ui-menubar .ui-submenu-list .ui-menuitem {
    margin: .125em 0;
}

.ui-menubar .ui-submenu-list .ui-menuitem-link .ui-submenu-icon {
    position: absolute;
    margin-top: -.5em;
    right: 0;
    top: 50%;
}

.ui-menubar .ui-menuitem-active > .ui-submenu > .ui-submenu-list {
    display: block;
}

.ui-menubar .ui-menubar-custom {
    float: right;
    padding: .25em;
}