<div class="content-section introduction">
    <div class="feature-intro">
        <h1>Password</h1>
        <p>Password displays strength indicator for password fields.</p>
    </div>
    <app-inputStyleSwitch></app-inputStyleSwitch>
</div>

<div class="content-section implementation">
    <div class="card">
        <h5>Password</h5>
        <input pPassword type="password"/>
    </div>

</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="Documentation">
            <h5>Import</h5>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;PasswordModule&#125; from 'primeng/password';
</app-code>

            <h5>Getting Started</h5>
            <p>Password is applied to an input field with pPassword directive.</p>
                    
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;input type="password" pPassword /&gt;
</app-code>

            <h5>Model Binding</h5>
            <p>A model can be bound using standard ngModel directive.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;input type="password" pPassword [(ngModel)]="property"/&gt;
</app-code>

            <h5>Properties</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>promptLabel</td>
                            <td>string</td>
                            <td>Please enter a password</td>
                            <td>Text to prompt password entry.</td>
                        </tr>
                        <tr>
                            <td>weakLabel</td>
                            <td>string</td>
                            <td>Weak</td>
                            <td>Text for a weak password.</td>
                        </tr>
                        <tr>
                            <td>mediumLabel</td>
                            <td>string</td>
                            <td>Medium</td>
                            <td>Text for a medium password.</td>
                        </tr>
                        <tr>
                            <td>strongLabel</td>
                            <td>string</td>
                            <td>Strong</td>
                            <td>Text for a strong password.</td>
                        </tr>
                        <tr>
                            <td>feedback</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether to show the strength indicator or not.</td>
                        </tr>
                        <tr>
                            <td>showPassword</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>When true, change the input type to text by displaying the password.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>Styling</h5>
            <p>Following is the list of structural style classes, for theming classes visit <a href="#" [routerLink]="['/theming']">theming page</a>.</p>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Element</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>p-password-panel</td>
                            <td>Container of password panel</td>
                        </tr>
                        <tr>
                            <td>p-password-meter</td>
                            <td>Meter element of password strength</td>
                        </tr>
                        <tr>
                            <td>p-password-info</td>
                            <td>Text to display strength</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>Dependencies</h5>
            <p>None.</p>
        </p-tabPanel>
        
        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/password" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
            <a href="https://stackblitz.com/edit/primeng-password-demo" class="btn-viewsource" style="margin-left: .5em;" target="_blank">
                <span>Edit in StackBlitz</span>
            </a>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;h5&gt;Password&lt;/h5&gt;
&lt;input pPassword type="password"/&gt;
</app-code>

        </p-tabPanel>
        <p-tabPanel header="StackBlitz">
            <ng-template pTemplate="content">
                <iframe src="https://stackblitz.com/edit/primeng-password-demo?embed=1" style="width: 100%; height: 768px; border: none;"></iframe>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>
