<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /primeng/
RewriteRule ^primeng/index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /primeng/index.php [L]
</IfModule>
<Files "*.json">
  Header set Access-Control-Allow-Origin "*"
</Files>