@import "assets/showcase/styles/layout/layout.scss";
@import "assets/showcase/styles/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";
//@import "prismjs/themes/prism-coy.css";
@import "assets/components/themes/smartops/theme.scss";
@import "quill/dist/quill.snow.css";
@import "assets/showcase/styles/flags.css";