.p-panel-header {
    display: flex;
    align-items: center;
}

.p-panel-title {
    line-height: 1;
    order:1;
}

.p-panel-header-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.p-panel-icons-end {
    order: 2;
    margin-left: auto;
}

.p-panel-icons-start {
    order: 0;
    margin-right: 1rem;
}

.p-panel-icons-center {
    order: 2;
    width:100%;
    text-align:center;
}