.landing.layout-dark {
    --home-highlight-color:#60a5fa;
    --home-highlight-darker-color:#93c5fd;
    --home-highlight-fore-color:#030712;
    --home-bg:#111827;
    --home-border-color:#424b57;
    --home-primary-text-color:#ffffff;
    --home-secondary-text-color:rgba(255,255,255,.6);
    --home-card-shadow:0px 50px 100px rgba(0, 0, 0, 0.25);
    --home-box-bg:#1f2937;
    --home-linkbox-bg:rgba(255, 255, 255, .05);
    --home-linkbox-border:1px solid rgba(255, 255, 255, .1);
    --home-linkbox-text-color:#ffffff;
    --home-linkbox-hover-bg:rgba(255, 255, 255, .1);
    --home-blocks-bg:transparent;
    --home-blocks-block-bg:#111827;
    --home-blocks-block-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.25) , 0px 4px 25px rgba(0, 0, 0, 0.25);
    --home-blocks-border-inline-start:5px solid #1f2937;
    --home-blocks-border-block-end:7px solid #1f2937;
    --home-blocks-border:1px solid #424b57;
    --home-blocks-sidebar-bg:#1f2937;
    --home-blocks-list-bg:#28323f;
    --home-blocks-main-bg:#111827;
    --home-blocks-main-border:1px solid #424b57;
    --home-blocks-item-bg:#1f2937;
    --home-blocks-image-bg:#28323f;
    --home-blocks-text-color:#4b5563;
    --home-blocks-active-shadow:0px 30px 50px 0px rgba(0, 0, 0, 0.25);
    --home-blocks-active-border-block-start:1px solid #424b57;
    --home-blocks-active-border-inline-end:1px solid #424b57;
    --home-blocks-active-border-block-end:6px solid #424b57;
    --home-blocks-active-border-inline-start:4px solid #424b57;
    --home-blocks-animation-shadow:0px 30px 50px 20px rgba(0, 0, 0, 0.25);
    --home-blocks-tablebar-bg:#4b5563;
    --home-blocks-bar-bg:#4b5563;
    --home-blocks-bar-button-bg:#ffffff;
    --home-blocks-circle-bg:#4b5563;
    --home-templates-bg:transparent;
    --home-templates-block-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    --home-templates-block-border-inline-start:5px solid #424b57;
    --home-templates-block-border-block-end:7px solid #424b57;
    --home-templates-line:rgba(255,255,255,.1);
    --home-templates-block-hover-bg:rgba(255,255,255,.1);
    --home-templates-btn-bg:#1f2937;
    --home-templates-btn-text-color:#ffffff;
    --home-templates-btn-shadow:0px 10px 15px 0px rgba(0, 0, 0, 0.25);
    --home-templates-btn-border-block-start:1px solid #424b57;
    --home-templates-btn-border-inline-end:1px solid #424b57;
    --home-templates-btn-border-block-end:4px solid #424b57;
    --home-templates-btn-border-inline-start:3px solid #424b57;
    --home-features-card-shadow: none;
    --home-box-ring-color: rgba(96, 165, 250, 0.3);
}