.deferred-demo-loading {
    border-radius: 10px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.deferred-demo-loading::after {
    content: '';
    animation: deferred-demo-loading 1.2s infinite;
    inset-inline-start: 0;
    position: absolute;
    inset-inline-end: 0;
    top: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 1;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--surface-100), rgba(255, 255, 255, 0));
}

@keyframes deferred-demo-loading {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}