.ui-dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    pointer-events: none;
}

.ui-dialog-mask.ui-widget-overlay {
    pointer-events: auto;
}

.ui-dialog-visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-dialog {
    padding: 0;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    position: relative;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .5em .75em;
    position: relative;
    border: 0;
    flex-shrink: 0;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em .75em;
    background: none;
    overflow-y: auto;
}

.ui-dialog-maximized {
    -webkit-transition: none;
    transition: none;
    transform: none;
    width: 100vw !important;
    max-height: 100%;
    height: 100%;
    left: 0px !important;
    top: 0px !important;
}

.ui-dialog-maximized .ui-dialog-content {
    flex-grow: 1;
}

.ui-dialog-resizable .ui-dialog-content {
    overflow: auto;
}

.ui-dialog-breakpoint {
    left: 0px;
    width: 100%;
}

.ui-dialog .ui-resizable-se {
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px;
    position: absolute;
    font-size: .1px;
    display: block;
    cursor: se-resize;
}

.ui-dialog-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-dialog .ui-dialog-titlebar-icons {
    float: right;
}
.ui-dialog .ui-dialog-titlebar-icons:after {
    content: "";
    display: table;
    clear: both;
}

.ui-dialog .ui-dialog-titlebar-icon {
    text-decoration: none;
    padding: .125em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
}

.ui-dialog .ui-dialog-titlebar-icon span {
    display: block;
    margin: 0;
}

.ui-dialog-footer {
    padding: 1em;
    border-width: 1px 0 0 0;
    text-align: right;
    flex-shrink: 0;
}

/* Position */
.ui-dialog-top .ui-dialog,
.ui-dialog-bottom .ui-dialog,
.ui-dialog-left .ui-dialog,
.ui-dialog-right .ui-dialog,
.ui-dialog-topleft .ui-dialog,
.ui-dialog-topright .ui-dialog,
.ui-dialog-bottomleft .ui-dialog,
.ui-dialog-bottomright .ui-dialog {
    margin: .75em;
    position: relative;
}

.ui-dialog-left {
    justify-content: flex-start;
}
.ui-dialog-right {
    justify-content: flex-end;
}
.ui-dialog-top {
    align-items: flex-start;
}
.ui-dialog-topleft {
    justify-content: flex-start;
    align-items: flex-start;
}
.ui-dialog-topright {
    justify-content: flex-end;
    align-items: flex-start;
}
.ui-dialog-bottom {
    align-items: flex-end;
}
.ui-dialog-bottomleft {
    justify-content: flex-start;
    align-items: flex-end;
}
.ui-dialog-bottomright {
    justify-content: flex-end;
    align-items: flex-end;
}

/* ConfirmDialog */
.ui-confirmdialog {
    width: 30em;
}

.ui-confirmdialog.ui-dialog .ui-dialog-content {
    padding: 1em 2em;
}
.ui-confirmdialog .ui-dialog-content .ui-confirmdialog-icon {
    font-size: 1.5em;
    margin-right: .5em;
    position: relative;
    top: .2em;
}

.ui-dialog-footer .ui-button {
    margin-right: .25em;
}

/* Fluid */
.ui-fluid .ui-dialog-footer .ui-button {
    width: auto;
}

/* RTL */
.ui-rtl .ui-dialog .ui-dialog-titlebar-close  {
    float: left;
}

.ui-rtl .ui-dialog .ui-dialog-buttonpane button {
    text-align: right;
}

@media screen and (max-width: 40em) {
    .ui-confirmdialog {
        width: 90%;
    }
}
