:host ::ng-deep .p-multiselect {
    min-width: 15rem;
    width: 18rem;
}

:host ::ng-deep .multiselect-custom {
    .p-multiselect-label {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }

    .country-item-value {
        padding: .25rem .5rem;
        border-radius: 3px;
        display: inline-flex;
        margin-right: .5rem;
        background-color: var(--primary-color);
        color: var(--primary-color-text);

        img.flag {
            width: 17px;
        }
    }

    .country-placeholder {
        padding: 0.25rem;
    }
}
:host ::ng-deep {
    @media screen and (max-width: 640px) {
        .p-multiselect {
            width: 100%;
        }
    }
}