.ui-table table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.ui-table th,
.ui-table td {
    padding: .25em .5em;
    border: 1px solid #d9d9d9;
}

.ui-table-scrollable-header,
.ui-table-scrollable-footer {
    overflow: hidden;
}

.ui-table-scrollable-body {
    overflow: auto;
}

.ui-table .ui-contextmenu-selected {
    background-color: #3c91f3;
}

.ui-table-responsive tbody td .ui-column-title {
    display: none;
}

@media screen and (max-width: 40em) {
    .ui-table-responsive thead th,
    .ui-table-responsive tfoot td {
        display: none !important;
    }

    .ui-table-responsive tbody > tr > td {
        text-align: left;
        display: block;
        border: 0 none;
        width: 100% !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		clear: left;
    }

    .ui-table-responsive tbody td .ui-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
    }
}