<div class="content-section introduction">
    <div class="feature-intro">
        <h1>ColorPicker</h1>
        <p>ColorPicker is an input component to select a color.</p>
    </div>
</div>

<div class="content-section implementation">
    <div class="card">
        <h5>Inline</h5>
        <p-colorPicker [(ngModel)]="color1" [inline]="true"></p-colorPicker>
        
        <h5>Overlay</h5>
        <p-colorPicker [(ngModel)]="color2"></p-colorPicker>
    </div>
</div>

<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header ="Documentation">
            <h5>Import</h5>
<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
import &#123;ColorPickerModule&#125; from 'primeng/colorpicker';
</app-code>

            <h5>Getting Started</h5>
            <p>ColorPicker uses ngModel directive to bind a value.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-colorPicker [(ngModel)]="color"&gt;&lt;/p-colorPicker&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class MyComponent &#123;

    color: string;

&#125;
</app-code>

            <h5>Formats</h5>
            <p>Default color format to use in value binding is "hex" and other possible values are "rgb" and "hsb". 
                Example below has 3 colorpickers having default values with different formats.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-colorPicker [(ngModel)]="color1"&gt;&lt;/p-colorPicker&gt;
&lt;p-colorPicker [(ngModel)]="color2" format="rgb"&gt;&lt;/p-colorPicker&gt;
&lt;p-colorPicker [(ngModel)]="color3" format="hsb"&gt;&lt;/p-colorPicker&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class MyComponent &#123;

    color1: string;
    
    color2: any = &#123;
        r: 100, g: 130, b: 150
    &#125;;
    
    color3: any = &#123;
        h: 100, s: 50, b: 50
    &#125;;

&#125;
</app-code>

            <h5>Overlay and Inline</h5>
            <p>ColorPicker can be displayed as inline or as an overlay (default) using the "inline" property.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-colorPicker [(ngModel)]="color1" &gt;&lt;/p-colorPicker&gt;
&lt;p-colorPicker [(ngModel)]="color2" [inline]="true"&gt;&lt;/p-colorPicker&gt;
</app-code>

            <h5>Model Driven Forms</h5>
            <p>Colorpicker can be used in a model driven form as well.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-colorPicker formControlName="color"&gt;&lt;/p-colorPicker&gt;
</app-code>
     
        <h5>Animation Configuration</h5>
        <p>Transition of the open and hide animations can be customized using the showTransitionOptions and hideTransitionOptions properties, 
            example below disables the animations altogether.</p>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;p-colorPicker [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" formControlName="color"&gt;&lt;/p-colorPicker&gt;
</app-code>       
    
            <h5>Properties</h5>
            <div class="doc-tablewrapper">
                <table class="doc-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>style</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Inline style of the component.</td>
                        </tr>
                        <tr>
                            <td>styleClass</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Style class of the component.</td>
                        </tr>
                        <tr>
                            <td>inline</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>Whether to display as an overlay or not.</td>
                        </tr>
                        <tr>
                            <td>format</td>
                            <td>string</td>
                            <td>hex</td>
                            <td>Format to use in value binding, supported formats are "hex", "rgb" and "hsb".</td>
                        </tr>
                        <tr>
                            <td>appendTo</td>
                            <td>any</td>
                            <td>null</td>
                            <td>Target element to attach the overlay, valid values are "body" or a local ng-template variable of another element (note: use binding with brackets for template variables, e.g. [appendTo]="mydiv" for a div element having #mydiv as variable name).</td>
                        </tr>
                        <tr>
                            <td>tabindex</td>
                            <td>number</td>
                            <td>null</td>
                            <td>Index of the element in tabbing order.</td>
                        </tr>
                        <tr>
                            <td>disabled</td>
                            <td>boolean</td>
                            <td>false</td>
                            <td>When present, it specifies that the component should be disabled.</td>
                        </tr>
                        <tr>
                            <td>inputId</td>
                            <td>string</td>
                            <td>null</td>
                            <td>Identifier of the focus input to match a label defined for the dropdown.</td>
                        </tr>
                        <tr>
                            <td>baseZIndex</td>
                            <td>number</td>
                            <td>0</td>
                            <td>Base zIndex value to use in layering.</td>
                        </tr>
                        <tr>
                            <td>autoZIndex</td>
                            <td>boolean</td>
                            <td>true</td>
                            <td>Whether to automatically manage layering.</td>
                        </tr>
                        <tr>
                            <td>showTransitionOptions</td>
                            <td>string</td>
                            <td>.12s cubic-bezier(0, 0, 0.2, 1)</td>
                            <td>Transition options of the show animation.</td>
                        </tr>
                        <tr>
                            <td>hideTransitionOptions</td>
                            <td>string</td>
                            <td>.1s linear</td>
                            <td>Transition options of the hide animation.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        <h5>Events</h5>
        <div class="doc-tablewrapper">
            <table class="doc-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Parameters</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>onChange</td>
                        <td>event.originalEvent: Browser event<br />
                            event.value: Selected color
                        </td>
                        <td>Callback to invoke when a color is selected.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h5>Styling</h5>
        <p>Following is the list of structural style classes, for theming classes visit <a href="#" [routerLink]="['/theming']">theming page</a>.</p>
        <div class="doc-tablewrapper">
            <table class="doc-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Element</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>p-colorpicker</td>
                        <td>Container element.</td>
                    </tr>
                    <tr>
                        <td>p-colorpicker-overlay</td>
                        <td>Container element in overlay mode.</td>
                    </tr>
                    <tr>
                        <td>p-colorpicker-preview </td>
                        <td>Preview input in overlay mode.</td>
                    </tr>
                    <tr>
                        <td>p-colorpicker-panel</td>
                        <td>Panel element of the colorpicker.</td>
                    </tr>
                    <tr>
                        <td>p-colorpicker-content</td>
                        <td>Wrapper that contains color and hue sections.</td>
                    </tr>
                    <tr>
                        <td>p-colorpicker-color-selector</td>
                        <td>Color selector container.</td>
                    </tr>
                    <tr>
                        <td>p-colorpicker-color</td>
                        <td>Color element.</td>
                    </tr>
                    <tr>
                        <td>p-colorpicker-color-handle</td>
                        <td>Handle of the color element.</td>
                    </tr>
                    <tr>
                        <td>p-colorpicker-hue</td>
                        <td>Hue slider.</td>
                    </tr>
                    <tr>
                        <td>p-colorpicker-hue-handle</td>
                        <td>Handle of the hue slider.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h5>Dependencies</h5>
        <p>None.</p>

        </p-tabPanel>

        <p-tabPanel header="Source">
            <a href="https://github.com/primefaces/primeng/tree/master/src/app/showcase/components/colorpicker" class="btn-viewsource" target="_blank">
                <span>View on GitHub</span>
            </a>
<app-code lang="markup" ngNonBindable ngPreserveWhitespaces>
&lt;h5&gt;Inline&lt;/h5&gt;
&lt;p-colorPicker [(ngModel)]="color1" [inline]="true"&gt;&lt;/p-colorPicker&gt;


&lt;h5&gt;Overlay&lt;/h5&gt;
&lt;p-colorPicker [(ngModel)]="color2"&gt;&lt;/p-colorPicker&gt;
</app-code>

<app-code lang="typescript" ngNonBindable ngPreserveWhitespaces>
export class ColorPickerDemo &#123;

    color1: string;
    
    color2: string = '#1976D2';
&#125;
</app-code>
        </p-tabPanel>
    </p-tabView>
</div>
