name: NodeJS CI

on:
  push:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'

    - name: Install pnpm
      run: |
        npm install -g pnpm
        
    - name: Build
      run: |
        pnpm install

    - name: Code Format
      if: ${{ success() }}
      run: |
        pnpm run format:check

    - name: Security Check
      if: ${{ success() }}
      run: |
        pnpm run security:check

    #- name: Test
    #  if: ${{ success() }}
    #  run: |
    #    pnpm run test:headless
