@layer primeng {
    .p-scrolltop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .p-scrolltop-sticky {
        position: sticky;
    }

    .p-scrolltop-sticky.p-link {
        margin-left: auto;
    }
    .p-scrolltop.p-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    
    .p-scrolltop-sticky.p-button {
        position: sticky;
        display: flex;
        margin-left: auto;
    }
    
    .p-scrolltop-enter-from {
        opacity: 0;
    }
    
    .p-scrolltop-enter-active {
        transition: opacity 0.15s;
    }
    
    .p-scrolltop.p-scrolltop-leave-to {
        opacity: 0;
    }
    
    .p-scrolltop-leave-active {
        transition: opacity 0.15s;
    }
}
