@layer primeng {
    .p-scrolltop {
        position: fixed;
        inset-block-end: 20px;
        inset-inline-end: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .p-scrolltop-sticky {
        position: sticky;
    }

    .p-scrolltop-sticky.p-link {
        margin-inline-start: auto;
    }
}
