.icon-filter {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0 1.5rem 0;
}

.icons-list {
    text-align: center;

    i {
        font-size: 1.5rem;
        color: var(--text-color-secondary);
        margin-bottom: .5rem;
    }

    .p-md-2 {
        padding-bottom: 2rem;
    }
}