<div class="flex card flex-col items-center justify-center gap-8 sm:p-20 h-screen">
    <div class="flex flex-col sm:flex-row items-center justify-center gap-4 text-primary">
        <span class="font-bold" style="font-size: 144px"> 4 </span>
        <div class="flex items-center justify-center bg-primary text-primary-contrast rounded-full w-32 h-32">
            <i class="pi pi-prime text-7xl"></i>
        </div>
        <span class="font-bold" style="font-size: 144px"> 4 </span>
    </div>
    <div class="font-bold text-surface-900 dark:text-surface-0 text-center text-6xl border-t border-surface pt-8">PAGE NOT FOUND</div>
    <p-button label="Go back to home" routerLink="/"></p-button>
</div>